<header class="uc-header">
  <div id="uc-global-topbar"></div>
  <nav class="uc-navbar">
    <!-- Menú para versión Escritorio -->
    <div class="container d-none d-lg-block">
      <div class="row">
        <div class="col-lg-3 col-xl-2">
          <a
            href="https://sustentable.uc.cl"
            class="custom-logo-link"
            rel="home"
            aria-current="page"
          >
            <img
              width="175"
              height="100"
              src="https://kit-digital-uc-desa.s3.amazonaws.com/img/logo-uc-azul.svg"
              class="custom-logo"
              alt="UC"
            />
          </a>
        </div>
        <div class="col-lg-8 col-xl-9 pl-60">
          <div class="h2 text-font--serif text-color--blue mt-24">
            Sustentabilidad en la UC
          </div>
          <div class="text-color--gray p-size--lg">
            Espacio de la Dirección de Sustentabilidad para la promoción de
            iniciativas sustentables
          </div>
        </div>
      </div>
      <ul class="uc-navbar_nav">
        <li class="nav-item">
          <a
            href="https://sustentable.uc.cl/"
            class="uc-btn btn-inline active"
            aria-current="page"
            >Inicio</a
          >
        </li>
        <li class="nav-item uc-navbar-dropdown">
          <a
            href="https://sustentable.uc.cl/iniciativas-sustentables/"
            class="uc-btn btn-inline"
            >Iniciativas Sustentables<i class="uc-icon">arrow_drop_down</i></a
          >
          <ul class="uc-navbar-dropdown_menu">
            <li class="dropdown_item--heading">
              <a href="#" class="uc-btn">DESTACADAS</a>
              <ul class="uc-navbar-dropdown_child">
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/carbono-neutralidad/"
                    class="uc-btn"
                    >Acción Climática</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/impacto/reporte-de-sustentabilidad/"
                    class="uc-btn"
                    >Reporte de sustentabilidad</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/iniciativas-sustentables/vinculacion/"
                    class="uc-btn"
                    >Vinculación con vecinos</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/oficina-verde/"
                    class="uc-btn"
                    >Oficina Verde</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/iniciativas-sustentables/residuos/"
                    class="uc-btn"
                    >Residuos</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/iniciativas-sustentables/flora-y-fauna-en-los-campus/"
                    class="uc-btn"
                    >Biodiversidad y Alimentación</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/impacto/contribucion-a-los-ods/"
                    class="uc-btn"
                    >Contribución a los ODS</a
                  >
                </li>
              </ul>
            </li>
            <li class="dropdown_item--heading">
              <a
                href="https://sustentable.uc.cl/iniciativas-sustentables/buscador-de-iniciativas-sustentables/"
                class="uc-btn"
                >Ver más iniciativas</a
              >
            </li>
            <li class="dropdown_item--heading">
              <a
                href="https://sustentable.uc.cl/iniciativas-sustentables/flora-y-fauna-en-los-campus/"
                class="uc-btn"
                >Biodiversidad y Alimentación</a
              >
              <ul class="uc-navbar-dropdown_child">
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/casinos-sustentables/"
                    class="uc-btn"
                    >Casinos sustentables</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/plan-de-biodiversidad/"
                    class="uc-btn"
                    >Plan de Biodiversidad</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/huerto-san-francisco/"
                    class="uc-btn"
                    >Huerto San Francisco</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/eficiencia-hidrica/"
                    class="uc-btn"
                    >Eficiencia hídrica</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/iniciativa-uc-frente-a-la-sequia/"
                    class="uc-btn"
                    >Iniciativa UC frente a la Sequía</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/alimentacion/"
                    class="uc-btn"
                    >Alimentación</a
                  >
                </li>
              </ul>
            </li>
            <li class="dropdown_item--heading">
              <a
                href="https://sustentable.uc.cl/iniciativas-sustentables/comunidad/"
                class="uc-btn"
                >Comunidad</a
              >
              <ul class="uc-navbar-dropdown_child">
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/estudiantes-comprometidos-con-la-sustentabilidad-ecos/"
                    class="uc-btn"
                    >Estudiantes Comprometidos con la Sustentabilidad (ECOS)</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/encuesta-de-sustentabilidad/"
                    class="uc-btn"
                    >Encuesta de Sustentabilidad</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/laudato-si/"
                    class="uc-btn"
                    >Laudato si’</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/embajadores-para-la-accion-climatica/"
                    class="uc-btn"
                    >Embajadores para la Acción Climática</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/oficina-verde/"
                    class="uc-btn"
                    >Oficina Verde</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/tours-y-visitas-por-campus/"
                    class="uc-btn"
                    >Tours y visitas por campus</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/tu-evento-sustentable/"
                    class="uc-btn"
                    >Tu evento Sustentable</a
                  >
                </li>
              </ul>
            </li>
            <li class="dropdown_item--heading">
              <a
                href="https://sustentable.uc.cl/iniciativas-sustentables/energia-y-construccion/"
                class="uc-btn"
                >Energía y Construcción</a
              >
              <ul class="uc-navbar-dropdown_child">
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/construccion-sustentable/"
                    class="uc-btn"
                    >Construcción sustentable</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/eficiencia-energetica/"
                    class="uc-btn"
                    >Eficiencia energética</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/fuentes-de-energia/"
                    class="uc-btn"
                    >Fuentes de energía</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/consumos-energeticos/"
                    class="uc-btn"
                    >Consumos energéticos</a
                  >
                </li>
              </ul>
            </li>
            <li class="dropdown_item--heading">
              <a href="https://sustentable.uc.cl/formacion/" class="uc-btn"
                >Formación</a
              >
              <ul class="uc-navbar-dropdown_child">
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://formaciongeneral.uc.cl/explora-los-cursos/cursos-de-ecologia-integral-y-sustentabilidad/"
                    class="uc-btn"
                    >Formación General en Sustentabilidad y Ecología Integral</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/cursos-enfocados-en-sustentabilidad/"
                    class="uc-btn"
                    >Cursos enfocados en sustentabilidad</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/formacion/#cursos"
                    class="uc-btn"
                    >Cursos de Sustentabilidad y Ecología Integral</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://desarrollosustentable.uc.cl/"
                    class="uc-btn"
                    target="_blank"
                    >Instituto para el Desarrollo Sustentable</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/capacitaciones-ambientales-y-sociales-en-sustentabilidad/"
                    class="uc-btn"
                    >Capacitaciones ambientales y sociales en sustentabilidad</a
                  >
                </li>
              </ul>
            </li>
            <li class="dropdown_item--heading">
              <a
                href="https://sustentable.uc.cl/iniciativas-sustentables/investigacion/"
                class="uc-btn"
                >Investigación</a
              >
              <ul class="uc-navbar-dropdown_child">
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/endowment-y-catedras-de-sustentabilidad/"
                    class="uc-btn"
                    >Endowment sustentabilidad</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/investigacion-en-medioambiente/"
                    class="uc-btn"
                    >Investigación en medioambiente</a
                  >
                </li>
              </ul>
            </li>
            <li class="dropdown_item--heading">
              <a
                href="https://sustentable.uc.cl/iniciativas-sustentables/residuos/"
                class="uc-btn"
                >Residuos</a
              >
              <ul class="uc-navbar-dropdown_child">
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/compras-sustentables/"
                    class="uc-btn"
                    >Programa de compras sustentables</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/compostaje-de-residuos-organicos/"
                    class="uc-btn"
                    >Vermicompostaje de residuos orgánicos</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/reciclaje-residuos-vegetales/"
                    class="uc-btn"
                    >Reciclaje residuos vegetales</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/reciclaje-inorganicos-puntos-verdes/"
                    class="uc-btn"
                    >Reciclaje de residuos inorgánicos</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/reduccion-y-reutilizacion/"
                    class="uc-btn"
                    >Reducción y Reutilización</a
                  >
                </li>
              </ul>
            </li>
            <li class="dropdown_item--heading">
              <a
                href="https://sustentable.uc.cl/iniciativas-sustentables/transporte/"
                class="uc-btn"
                >Transporte</a
              >
              <ul class="uc-navbar-dropdown_child">
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/sistema-de-bicicletas-compartidas-sibico/"
                    class="uc-btn"
                    >Sistema de Bicicletas Compartidas (SIBICO)</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/cicleteros/"
                    class="uc-btn"
                    >Cicleteros</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/auto-compartido/"
                    class="uc-btn"
                    >Auto compartido</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/transporte-publico/"
                    class="uc-btn"
                    >Transporte público</a
                  >
                </li>
              </ul>
            </li>
            <li class="dropdown_item--heading">
              <a
                href="https://sustentable.uc.cl/iniciativas-sustentables/vinculacion/"
                class="uc-btn"
                >Vinculación con vecinos</a
              >
              <ul class="uc-navbar-dropdown_child">
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/artifica-tu-barrio/"
                    class="uc-btn"
                    >Artifica tu Barrio</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/tarjeta-vecino/"
                    class="uc-btn"
                    >Tarjeta Vecino</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://vecinos.uc.cl/"
                    class="uc-btn"
                    target="_blank"
                    >Sitio vecinos</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a
                    href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/fondo-semilla-de-educacion-medioambiental/"
                    class="uc-btn"
                    >Fondo Semilla de Educación Medioambiental</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            href="https://sustentable.uc.cl/biblioteca-de-recursos/"
            class="uc-btn btn-inline"
            >Biblioteca de recursos</a
          >
        </li>
        <li class="nav-item uc-navbar-dropdown">
          <a href="https://sustentable.uc.cl/impacto/" class="uc-btn btn-inline"
            >Impacto<i class="uc-icon">arrow_drop_down</i></a
          >
          <ul class="uc-navbar-dropdown_menu">
            <li class="dropdown_item--heading">
              <a
                href="https://sustentable.uc.cl/impacto/reporte-de-sustentabilidad/"
                class="uc-btn"
                >Reporte de sustentabilidad</a
              >
            </li>
            <li class="dropdown_item--heading">
              <a href="https://sustentable.uc.cl/impacto/cifras/" class="uc-btn"
                >Cifras</a
              >
            </li>
            <li class="dropdown_item--heading">
              <a
                href="https://sustentable.uc.cl/impacto/contribucion-a-los-ods/"
                class="uc-btn"
                >Contribución a los ODS</a
              >
            </li>
            <li class="dropdown_item--heading">
              <a href="https://sustentable.uc.cl/impacto/alumni/" class="uc-btn"
                >Alumni</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item uc-navbar-dropdown">
          <a href="#" class="uc-btn btn-inline"
            >Actualidad<i class="uc-icon">arrow_drop_down</i></a
          >
          <ul class="uc-navbar-dropdown_menu">
            <li class="dropdown_item--heading">
              <a href="https://sustentable.uc.cl/noticias/" class="uc-btn"
                >Noticias</a
              >
            </li>
            <li class="dropdown_item--heading">
              <a href="https://sustentable.uc.cl/agenda/" class="uc-btn"
                >Agenda</a
              >
            </li>
            <li class="dropdown_item--heading">
              <a
                href="https://sustentable.uc.cl/proximas-actividades/"
                class="uc-btn"
                >Próximas actividades</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item uc-navbar-dropdown">
          <a
            href="https://sustentable.uc.cl/quienes-somos/"
            class="uc-btn btn-inline"
            >Quiénes Somos<i class="uc-icon">arrow_drop_down</i></a
          >
          <ul class="uc-navbar-dropdown_menu">
            <li class="dropdown_item--heading">
              <a
                href="https://sustentable.uc.cl/quienes-somos/historia/"
                class="uc-btn"
                >Historia</a
              >
            </li>
            <li class="dropdown_item--heading">
              <a
                href="https://sustentable.uc.cl/quienes-somos/compromiso/"
                class="uc-btn"
                >Compromiso</a
              >
            </li>
            <li class="dropdown_item--heading">
              <a href="https://sustentable.uc.cl/contacto/" class="uc-btn"
                >Contacto</a
              >
            </li>
            <li class="dropdown_item--heading">
              <a
                href="https://sustentable.uc.cl/quienes-somos/equipo/"
                class="uc-btn"
                >Equipo</a
              >
            </li>
            <li class="dropdown_item--heading">
              <a
                href="https://sustentable.uc.cl/quienes-somos/premios-y-reconocimientos/"
                class="uc-btn"
                >Premios y Reconocimientos</a
              >
            </li>
            <li class="dropdown_item--heading">
              <a
                href="https://sustentable.uc.cl/quienes-somos/unidades-participantes/"
                class="uc-btn"
                >Sustentabilidad en la UC</a
              >
            </li>
            <li class="dropdown_item--heading">
              <a
                href="https://sustentable.uc.cl/quienes-somos/somos-parte/"
                class="uc-btn"
                >Somos parte</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/carbono-neutralidad/"
            class="uc-btn btn-inline"
            >Acción Climática</a
          >
        </li>
        <li class="nav-item nav-search">
          <form
            role="search"
            class="uc-nav-search"
            method="get"
            action="https://sustentable.uc.cl/"
          >
            <input
              class="uc-input-style w-icon search"
              type="search"
              placeholder="Buscar"
              value=""
              name="s"
              title="Buscar"
            /><span class="uc-icon closed">search</span>
          </form>
        </li>
      </ul>
    </div>
    <!-- Menú para versión Móvil -->
    <div class="uc-navbar_mobile navbar_mobile-slide d-block d-lg-none">
      <div class="uc-navbar_mobile-bar navbar-brand">
        <div class="uc-navbar_mobile-logo navbar-light">
          <div class="h2 text-font--serif text-color--blue">
            Sustentabilidad en la UC
          </div>
        </div>
        <a href="javascript:void(0);" class="uc-navbar_mobile-button">
          <span class="uc-icon"></span>
        </a>
      </div>
      <div class="uc-navbar_mobile-content">
        <ul class="uc-navbar_mobile-list">
          <li class="list-item">
            <a href="https://sustentable.uc.cl/">Inicio</a>
          </li>
          <li
            class="list-item has-list-children flex-row flex-row-reverse justify-content-end"
          >
            <a class="list-open ml-auto" href="#"
              ><i class="uc-icon icon-size--sm">arrow_forward_ios</i></a
            ><a
              class="flex-grow-1"
              href="https://sustentable.uc.cl/iniciativas-sustentables/"
              >Iniciativas Sustentables</a
            >
            <ul class="list-item list-children">
              <li class="list-item">
                <a href="#" class="list-close"
                  ><div class="uc-icon icon-size--sm">arrow_back_ios</div>
                  Iniciativas Sustentables</a
                >
              </li>
              <li
                class="list-item has-list-children flex-row flex-row-reverse justify-content-end"
              >
                <a class="list-open ml-auto" href="#"
                  ><i class="uc-icon icon-size--sm">arrow_forward_ios</i></a
                ><a class="flex-grow-1" href="#">DESTACADAS</a>
                <ul class="list-children">
                  <li class="list-item">
                    <a href="#" class="list-close"
                      ><div class="uc-icon icon-size--sm">arrow_back_ios</div>
                      DESTACADAS</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/carbono-neutralidad/"
                      >Acción Climática</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/impacto/reporte-de-sustentabilidad/"
                      >Reporte de sustentabilidad</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/iniciativas-sustentables/vinculacion/"
                      >Vinculación con vecinos</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/oficina-verde/"
                      >Oficina Verde</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/iniciativas-sustentables/residuos/"
                      >Residuos</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/iniciativas-sustentables/flora-y-fauna-en-los-campus/"
                      >Biodiversidad y Alimentación</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/impacto/contribucion-a-los-ods/"
                      >Contribución a los ODS</a
                    >
                  </li>
                </ul>
              </li>
              <li class="list-item">
                <a
                  href="https://sustentable.uc.cl/iniciativas-sustentables/buscador-de-iniciativas-sustentables/"
                  >Ver más iniciativas</a
                >
              </li>
              <li
                class="list-item has-list-children flex-row flex-row-reverse justify-content-end"
              >
                <a class="list-open ml-auto" href="#"
                  ><i class="uc-icon icon-size--sm">arrow_forward_ios</i></a
                ><a
                  class="flex-grow-1"
                  href="https://sustentable.uc.cl/iniciativas-sustentables/flora-y-fauna-en-los-campus/"
                  >Biodiversidad y Alimentación</a
                >
                <ul class="list-children">
                  <li class="list-item">
                    <a href="#" class="list-close"
                      ><div class="uc-icon icon-size--sm">arrow_back_ios</div>
                      Biodiversidad y Alimentación</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/casinos-sustentables/"
                      >Casinos sustentables</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/plan-de-biodiversidad/"
                      >Plan de Biodiversidad</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/huerto-san-francisco/"
                      >Huerto San Francisco</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/eficiencia-hidrica/"
                      >Eficiencia hídrica</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/iniciativa-uc-frente-a-la-sequia/"
                      >Iniciativa UC frente a la Sequía</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/alimentacion/"
                      >Alimentación</a
                    >
                  </li>
                </ul>
              </li>
              <li
                class="list-item has-list-children flex-row flex-row-reverse justify-content-end"
              >
                <a class="list-open ml-auto" href="#"
                  ><i class="uc-icon icon-size--sm">arrow_forward_ios</i></a
                ><a
                  class="flex-grow-1"
                  href="https://sustentable.uc.cl/iniciativas-sustentables/comunidad/"
                  >Comunidad</a
                >
                <ul class="list-children">
                  <li class="list-item">
                    <a href="#" class="list-close"
                      ><div class="uc-icon icon-size--sm">arrow_back_ios</div>
                      Comunidad</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/estudiantes-comprometidos-con-la-sustentabilidad-ecos/"
                      >Estudiantes Comprometidos con la Sustentabilidad
                      (ECOS)</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/encuesta-de-sustentabilidad/"
                      >Encuesta de Sustentabilidad</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/laudato-si/"
                      >Laudato si’</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/embajadores-para-la-accion-climatica/"
                      >Embajadores para la Acción Climática</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/oficina-verde/"
                      >Oficina Verde</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/tours-y-visitas-por-campus/"
                      >Tours y visitas por campus</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/tu-evento-sustentable/"
                      >Tu evento Sustentable</a
                    >
                  </li>
                </ul>
              </li>
              <li
                class="list-item has-list-children flex-row flex-row-reverse justify-content-end"
              >
                <a class="list-open ml-auto" href="#"
                  ><i class="uc-icon icon-size--sm">arrow_forward_ios</i></a
                ><a
                  class="flex-grow-1"
                  href="https://sustentable.uc.cl/iniciativas-sustentables/energia-y-construccion/"
                  >Energía y Construcción</a
                >
                <ul class="list-children">
                  <li class="list-item">
                    <a href="#" class="list-close"
                      ><div class="uc-icon icon-size--sm">arrow_back_ios</div>
                      Energía y Construcción</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/construccion-sustentable/"
                      >Construcción sustentable</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/eficiencia-energetica/"
                      >Eficiencia energética</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/fuentes-de-energia/"
                      >Fuentes de energía</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/consumos-energeticos/"
                      >Consumos energéticos</a
                    >
                  </li>
                </ul>
              </li>
              <li
                class="list-item has-list-children flex-row flex-row-reverse justify-content-end"
              >
                <a class="list-open ml-auto" href="#"
                  ><i class="uc-icon icon-size--sm">arrow_forward_ios</i></a
                ><a
                  class="flex-grow-1"
                  href="https://sustentable.uc.cl/formacion/"
                  >Formación</a
                >
                <ul class="list-children">
                  <li class="list-item">
                    <a href="#" class="list-close"
                      ><div class="uc-icon icon-size--sm">arrow_back_ios</div>
                      Formación</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://formaciongeneral.uc.cl/explora-los-cursos/cursos-de-ecologia-integral-y-sustentabilidad/"
                      >Formación General en Sustentabilidad y Ecología
                      Integral</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/cursos-enfocados-en-sustentabilidad/"
                      >Cursos enfocados en sustentabilidad</a
                    >
                  </li>
                  <li class="list-item">
                    <a href="https://sustentable.uc.cl/formacion/#cursos"
                      >Cursos de Sustentabilidad y Ecología Integral</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://desarrollosustentable.uc.cl/"
                      target="_blank"
                      >Instituto para el Desarrollo Sustentable</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/capacitaciones-ambientales-y-sociales-en-sustentabilidad/"
                      >Capacitaciones ambientales y sociales en
                      sustentabilidad</a
                    >
                  </li>
                </ul>
              </li>
              <li
                class="list-item has-list-children flex-row flex-row-reverse justify-content-end"
              >
                <a class="list-open ml-auto" href="#"
                  ><i class="uc-icon icon-size--sm">arrow_forward_ios</i></a
                ><a
                  class="flex-grow-1"
                  href="https://sustentable.uc.cl/iniciativas-sustentables/investigacion/"
                  >Investigación</a
                >
                <ul class="list-children">
                  <li class="list-item">
                    <a href="#" class="list-close"
                      ><div class="uc-icon icon-size--sm">arrow_back_ios</div>
                      Investigación</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/endowment-y-catedras-de-sustentabilidad/"
                      >Endowment sustentabilidad</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/investigacion-en-medioambiente/"
                      >Investigación en medioambiente</a
                    >
                  </li>
                </ul>
              </li>
              <li
                class="list-item has-list-children flex-row flex-row-reverse justify-content-end"
              >
                <a class="list-open ml-auto" href="#"
                  ><i class="uc-icon icon-size--sm">arrow_forward_ios</i></a
                ><a
                  class="flex-grow-1"
                  href="https://sustentable.uc.cl/iniciativas-sustentables/residuos/"
                  >Residuos</a
                >
                <ul class="list-children">
                  <li class="list-item">
                    <a href="#" class="list-close"
                      ><div class="uc-icon icon-size--sm">arrow_back_ios</div>
                      Residuos</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/compras-sustentables/"
                      >Programa de compras sustentables</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/compostaje-de-residuos-organicos/"
                      >Vermicompostaje de residuos orgánicos</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/reciclaje-residuos-vegetales/"
                      >Reciclaje residuos vegetales</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/reciclaje-inorganicos-puntos-verdes/"
                      >Reciclaje de residuos inorgánicos</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/reduccion-y-reutilizacion/"
                      >Reducción y Reutilización</a
                    >
                  </li>
                </ul>
              </li>
              <li
                class="list-item has-list-children flex-row flex-row-reverse justify-content-end"
              >
                <a class="list-open ml-auto" href="#"
                  ><i class="uc-icon icon-size--sm">arrow_forward_ios</i></a
                ><a
                  class="flex-grow-1"
                  href="https://sustentable.uc.cl/iniciativas-sustentables/transporte/"
                  >Transporte</a
                >
                <ul class="list-children">
                  <li class="list-item">
                    <a href="#" class="list-close"
                      ><div class="uc-icon icon-size--sm">arrow_back_ios</div>
                      Transporte</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/sistema-de-bicicletas-compartidas-sibico/"
                      >Sistema de Bicicletas Compartidas (SIBICO)</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/cicleteros/"
                      >Cicleteros</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/auto-compartido/"
                      >Auto compartido</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/transporte-publico/"
                      >Transporte público</a
                    >
                  </li>
                </ul>
              </li>
              <li
                class="list-item has-list-children flex-row flex-row-reverse justify-content-end"
              >
                <a class="list-open ml-auto" href="#"
                  ><i class="uc-icon icon-size--sm">arrow_forward_ios</i></a
                ><a
                  class="flex-grow-1"
                  href="https://sustentable.uc.cl/iniciativas-sustentables/vinculacion/"
                  >Vinculación con vecinos</a
                >
                <ul class="list-children">
                  <li class="list-item">
                    <a href="#" class="list-close"
                      ><div class="uc-icon icon-size--sm">arrow_back_ios</div>
                      Vinculación con vecinos</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/artifica-tu-barrio/"
                      >Artifica tu Barrio</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/tarjeta-vecino/"
                      >Tarjeta Vecino</a
                    >
                  </li>
                  <li class="list-item">
                    <a href="https://vecinos.uc.cl/" target="_blank"
                      >Sitio vecinos</a
                    >
                  </li>
                  <li class="list-item">
                    <a
                      href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/fondo-semilla-de-educacion-medioambiental/"
                      >Fondo Semilla de Educación Medioambiental</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="list-item">
            <a href="https://sustentable.uc.cl/biblioteca-de-recursos/"
              >Biblioteca de recursos</a
            >
          </li>
          <li
            class="list-item has-list-children flex-row flex-row-reverse justify-content-end"
          >
            <a class="list-open ml-auto" href="#"
              ><i class="uc-icon icon-size--sm">arrow_forward_ios</i></a
            ><a class="flex-grow-1" href="https://sustentable.uc.cl/impacto/"
              >Impacto</a
            >
            <ul class="list-item list-children">
              <li class="list-item">
                <a href="#" class="list-close"
                  ><div class="uc-icon icon-size--sm">arrow_back_ios</div>
                  Impacto</a
                >
              </li>
              <li class="list-item">
                <a
                  href="https://sustentable.uc.cl/impacto/reporte-de-sustentabilidad/"
                  >Reporte de sustentabilidad</a
                >
              </li>
              <li class="list-item">
                <a href="https://sustentable.uc.cl/impacto/cifras/">Cifras</a>
              </li>
              <li class="list-item">
                <a
                  href="https://sustentable.uc.cl/impacto/contribucion-a-los-ods/"
                  >Contribución a los ODS</a
                >
              </li>
              <li class="list-item">
                <a href="https://sustentable.uc.cl/impacto/alumni/">Alumni</a>
              </li>
            </ul>
          </li>
          <li
            class="list-item has-list-children flex-row flex-row-reverse justify-content-end"
          >
            <a class="list-open ml-auto" href="#"
              ><i class="uc-icon icon-size--sm">arrow_forward_ios</i></a
            ><a class="flex-grow-1" href="#">Actualidad</a>
            <ul class="list-item list-children">
              <li class="list-item">
                <a href="#" class="list-close"
                  ><div class="uc-icon icon-size--sm">arrow_back_ios</div>
                  Actualidad</a
                >
              </li>
              <li class="list-item">
                <a href="https://sustentable.uc.cl/noticias/">Noticias</a>
              </li>
              <li class="list-item">
                <a href="https://sustentable.uc.cl/agenda/">Agenda</a>
              </li>
              <li class="list-item">
                <a href="https://sustentable.uc.cl/proximas-actividades/"
                  >Próximas actividades</a
                >
              </li>
            </ul>
          </li>
          <li
            class="list-item has-list-children flex-row flex-row-reverse justify-content-end"
          >
            <a class="list-open ml-auto" href="#"
              ><i class="uc-icon icon-size--sm">arrow_forward_ios</i></a
            ><a
              class="flex-grow-1"
              href="https://sustentable.uc.cl/quienes-somos/"
              >Quiénes Somos</a
            >
            <ul class="list-item list-children">
              <li class="list-item">
                <a href="#" class="list-close"
                  ><div class="uc-icon icon-size--sm">arrow_back_ios</div>
                  Quiénes Somos</a
                >
              </li>
              <li class="list-item">
                <a href="https://sustentable.uc.cl/quienes-somos/historia/"
                  >Historia</a
                >
              </li>
              <li class="list-item">
                <a href="https://sustentable.uc.cl/quienes-somos/compromiso/"
                  >Compromiso</a
                >
              </li>
              <li class="list-item">
                <a href="https://sustentable.uc.cl/contacto/">Contacto</a>
              </li>
              <li class="list-item">
                <a href="https://sustentable.uc.cl/quienes-somos/equipo/"
                  >Equipo</a
                >
              </li>
              <li class="list-item">
                <a
                  href="https://sustentable.uc.cl/quienes-somos/premios-y-reconocimientos/"
                  >Premios y Reconocimientos</a
                >
              </li>
              <li class="list-item">
                <a
                  href="https://sustentable.uc.cl/quienes-somos/unidades-participantes/"
                  >Sustentabilidad en la UC</a
                >
              </li>
              <li class="list-item">
                <a href="https://sustentable.uc.cl/quienes-somos/somos-parte/"
                  >Somos parte</a
                >
              </li>
            </ul>
          </li>
          <li class="list-item">
            <a
              href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/carbono-neutralidad/"
              >Acción Climática</a
            >
          </li>
        </ul>
        <div class="uc-navbar_mobile-direct">
          <div class="uc-subtitle mb-12">Accesos Directos</div>
          <a
            href="http://uc.cl/"
            target="_blank"
            rel="noopener noreferrer"
            class="uc-pill uc-pill-social mb-12"
          >
            <div class="uc-btn btn-inline">
              Ir al sitio UC
              <div class="uc-icon">launch</div>
            </div>
          </a>
          <a
            href="http://bibliotecas.uc.cl/"
            target="_blank"
            rel="noopener noreferrer"
            class="uc-pill uc-pill-social mb-12"
          >
            <div class="uc-btn btn-inline">
              Biblioteca
              <div class="uc-icon">launch</div>
            </div>
          </a>
          <a
            href="https://donaciones.uc.cl/"
            target="_blank"
            rel="noopener noreferrer"
            class="uc-pill uc-pill-social mb-12"
          >
            <div class="uc-btn btn-inline">
              Donaciones
              <div class="uc-icon">launch</div>
            </div>
          </a>
          <a
            href="https://sso.uc.cl/cas/login"
            target="_blank"
            rel="noopener noreferrer"
            class="uc-pill uc-pill-social mb-12"
          >
            <div class="uc-btn btn-inline">
              Mi Portal UC
              <div class="uc-icon">launch</div>
            </div>
          </a>
          <a
            href="https://correo.uc.cl"
            target="_blank"
            rel="noopener noreferrer"
            class="uc-pill uc-pill-social mb-12"
          >
            <div class="uc-btn btn-inline">
              Correo
              <div class="uc-icon">launch</div>
            </div>
          </a>
          <a
            href="https://www.facebook.com/UCsustentable/"
            target="_blank"
            rel="noopener noreferrer"
            class="uc-pill uc-pill-social mb-12"
          >
            <div class="uc-btn btn-inline">
              <img
                src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-facebook.svg"
                alt="Facebook"
              />
              Facebook
              <div class="uc-icon">launch</div>
            </div>
          </a>
          <a
            href="https://www.instagram.com/ucsustentable/"
            target="_blank"
            rel="noopener noreferrer"
            class="uc-pill uc-pill-social mb-12"
          >
            <div class="uc-btn btn-inline">
              <img
                src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-instagram.svg"
                alt="Instagram"
              />
              Instagram
              <div class="uc-icon">launch</div>
            </div>
          </a>
          <a
            href="https://www.youtube.com/user/SustentableUC"
            target="_blank"
            rel="noopener noreferrer"
            class="uc-pill uc-pill-social mb-12"
          >
            <div class="uc-btn btn-inline">
              <img
                src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-youtube.svg"
                alt="Youtube"
              />
              Youtube
              <div class="uc-icon">launch</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- Content here -->
<div class="container"></div>
<div class="container mb-60">
  <div
    class="uc-carousel uc-fullwidth-container mb-60"
    data-carousel="uc-primary-carousel"
    data-type="carousel"
    data-items="1"
    data-slideby="1"
    data-loop="true"
    data-nav="true"
    data-autoplay="true"
    data-controls="false"
    data-navcontainer="#carousel-nav"
    data-autoplaybutton="#carousel-autoplay"
    data-autoplay-text="true"
  >
    <div class="uc-primary-carousel">
      <div
        class="primary-carousel_item uc-card card-bg--image card-gradient--bottom-black card-radius--none card-border--none"
        style="
          background-image: url(&#039;https://sustentable.uc.cl/wp-content/uploads/2024/03/I8A9913-scaled.jpg&#039;);
        "
      >
        <div class="primary-carousel_item-content">
          <div class="container mt-auto">
            <div class="row">
              <div class="col-lg-7">
                <div class="h1 color-white mb-16">
                  Instalando una cultura de sustentabilidad en la UC con Oficina
                  Verde
                </div>
                <a
                  href="https://sustentable.uc.cl/2024/03/26/instalando-una-cultura-de-sustentabilidad-en-la-uc-con-oficina-verde/"
                  class="uc-btn btn-inline color-white mb-24"
                >
                  Ver más
                  <i class="uc-icon icon-shape--rounded">arrow_forward</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="primary-carousel_item uc-card card-bg--image card-gradient--bottom-black card-radius--none card-border--none"
        style="
          background-image: url(&#039;https://sustentable.uc.cl/wp-content/uploads/2024/01/La-sustentabilidad-como-parte-del-perfil-del-egresado-UC-01-slide.jpg&#039;);
        "
      >
        <div class="primary-carousel_item-content">
          <div class="container mt-auto">
            <div class="row">
              <div class="col-lg-7">
                <div class="h1 color-white mb-16">
                  La sustentabilidad como parte del perfil del egresado UC
                </div>
                <a
                  href="https://sustentable.uc.cl/2024/01/04/la-sustentabilidad-como-parte-del-perfil-del-egresado-uc/"
                  class="uc-btn btn-inline color-white mb-24"
                >
                  Ver más
                  <i class="uc-icon icon-shape--rounded">arrow_forward</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="primary-carousel_item uc-card card-bg--image card-gradient--bottom-black card-radius--none card-border--none"
        style="
          background-image: url(&#039;https://sustentable.uc.cl/wp-content/uploads/2023/12/San-Joaquin-QS-2024.jpg&#039;);
        "
      >
        <div class="primary-carousel_item-content">
          <div class="container mt-auto">
            <div class="row">
              <div class="col-lg-7">
                <div class="h1 color-white mb-16">
                  La UC lidera en Chile ranking mundial de sustentabilidad de
                  universidades
                </div>
                <a
                  href="https://sustentable.uc.cl/2023/12/06/la-uc-lidera-en-chile-ranking-mundial-de-sustentabilidad-de-universidades/"
                  class="uc-btn btn-inline color-white mb-24"
                >
                  Ver más
                  <i class="uc-icon icon-shape--rounded">arrow_forward</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="primary-carousel_item uc-card card-bg--image card-gradient--bottom-black card-radius--none card-border--none"
        style="
          background-image: url(&#039;https://sustentable.uc.cl/wp-content/uploads/2024/01/Comederos-portada-v3.jpg&#039;);
        "
      >
        <div class="primary-carousel_item-content">
          <div class="container mt-auto">
            <div class="row">
              <div class="col-lg-7">
                <div class="h1 color-white mb-16">
                  Proyecto San Francisco: Comederos para aves rapaces en campus
                  San Joaquín
                </div>
                <a
                  href="https://sustentable.uc.cl/2023/12/18/empresas-socialmente-responsables/"
                  class="uc-btn btn-inline color-white mb-24"
                >
                  Ver más
                  <i class="uc-icon icon-shape--rounded">arrow_forward</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="uc-carousel-nav primary-carousel-nav">
      <div class="container">
        <div class="carousel-nav-container">
          <ul class="carousel-nav-list" id="carousel-nav">
            <li class="carousel-nav-item">
              <div class="number">1</div>
              <div class="indicator"></div>
            </li>
            <li class="carousel-nav-item">
              <div class="number">2</div>
              <div class="indicator"></div>
            </li>
            <li class="carousel-nav-item">
              <div class="number">3</div>
              <div class="indicator"></div>
            </li>
            <li class="carousel-nav-item">
              <div class="number">4</div>
              <div class="indicator"></div>
            </li>
          </ul>
          <div class="autoplay-buttons" id="carousel-autoplay"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-between mb-24">
    <h2 class="uc-title decoration-green">En qué estamos</h2>
    <a
      class="d-none d-lg-block uc-title-more text-decoration-none"
      href="https://sustentable.uc.cl/noticias/"
      >Todas las noticias</a
    >
  </div>

  <p class="text-color--gray">
    <strong>Infórmate&nbsp;</strong>de lo que estamos realizando a diario para
    afrontar y mitigar las consecuencias del cambio climático.
  </p>

  <!-- UC undocumented slider, replace -X by something unique to the page -->
  <div class="container">
    <div
      class="uc-carousel-cards"
      data-carousel="carousel-identifier-n"
      data-items="3"
      data-sm-items="1"
      data-slideby="1"
      data-loop="false"
      data-gutter="32"
      data-controls="true"
      data-speed="500"
      data-autoplay-text="true"
      data-prev-button=".carousel-id-buttons-n .prev"
      data-next-button=".carousel-id-buttons-n .next"
      data-counter="true"
      data-track="true"
    >
      <div class="carousel-identifier-n d-flex">
        <div class="item">
          <div
            class="uc-card card-bg--image card-gradient--bottom-blue card-type--link"
            style="
              background-image: url(https://sustentable.uc.cl/wp-content/uploads/2024/08/Innovacion-social-economia-circular-y-desarrollo-sustentable-en-el-horizonte-HEADCET-para-la-UC-01.jpg);
            "
          >
            <a
              href="https://sustentable.uc.cl/2024/08/07/innovacion-social-economia-circular-y-desarrollo-sustentable-en-el-horizonte-headcet-para-la-uc/"
              class="uc-card_link"
            ></a>
            <!-- If multiple taxonomies -->
            <div class="uc-card_tags">
              <a href="https://sustentable.uc.cl/category/accion-climatica/"
                >Acción Climática</a
              >
              <a
                href="https://sustentable.uc.cl/category/alianzas-internacionales/"
                >Alianzas internacionales</a
              >
            </div>
            <div class="uc-card_body--lg">
              <div class="uc-card card-bg--white mt-auto">
                <div class="uc-card_body">
                  <p class="uc-card-date"></p>
                  <h3>
                    Innovación social, economía circular y desarrollo
                    sustentable en el horizonte HEADCET para la UC
                  </h3>
                  <div class="uc-text-divider divider-primary mt-12"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div
            class="uc-card card-bg--image card-gradient--bottom-blue card-type--link"
            style="
              background-image: url(https://sustentable.uc.cl/wp-content/uploads/2024/07/Columna-de-opinion-Parques-nacionales-conservacion-y-biodiversidad-01.jpg);
            "
          >
            <a
              href="https://sustentable.uc.cl/2024/08/07/columna-de-opinion-dia-internacional-de-los-parques-nacionales-2/"
              class="uc-card_link"
            ></a>
            <!-- If multiple taxonomies -->
            <div class="uc-card_tags">
              <a href="https://sustentable.uc.cl/category/academicosas-uc/"
                >Académicos(as) UC</a
              >
              <a href="https://sustentable.uc.cl/category/opinion/">Opinión</a>
            </div>
            <div class="uc-card_body--lg">
              <div class="uc-card card-bg--white mt-auto">
                <div class="uc-card_body">
                  <p class="uc-card-date"></p>
                  <h3>
                    Columna de opinión: Parques nacionales, conservación y
                    biodiversidad
                  </h3>
                  <div class="uc-text-divider divider-primary mt-12"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div
            class="uc-card card-bg--image card-gradient--bottom-blue card-type--link"
            style="
              background-image: url(https://sustentable.uc.cl/wp-content/uploads/2024/07/De-la-teoria-a-la-practica-capacitaciones-en-sustentabilidad-01.jpg);
            "
          >
            <a
              href="https://sustentable.uc.cl/2024/08/07/ciclo-de-capacitaciones-en-sustentabilidad/"
              class="uc-card_link"
            ></a>
            <!-- If multiple taxonomies -->
            <div class="uc-card_tags">
              <a href="https://sustentable.uc.cl/category/accion-climatica/"
                >Acción Climática</a
              >
              <a href="https://sustentable.uc.cl/category/comunidad/"
                >Comunidad</a
              >
            </div>
            <div class="uc-card_body--lg">
              <div class="uc-card card-bg--white mt-auto">
                <div class="uc-card_body">
                  <p class="uc-card-date"></p>
                  <h3>
                    De la teoría a la práctica: capacitaciones en
                    sustentabilidad
                  </h3>
                  <div class="uc-text-divider divider-primary mt-12"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div
            class="uc-card card-bg--image card-gradient--bottom-blue card-type--link"
            style="
              background-image: url(https://sustentable.uc.cl/wp-content/uploads/2024/07/Campus-Libre-de-Humo-la-politica-UC-comprometida-con-la-salud-y-el-medio-ambiente-01.jpeg);
            "
          >
            <a
              href="https://sustentable.uc.cl/2024/08/06/la-uc-impulsa-la-movilidad-sustentable/"
              class="uc-card_link"
            ></a>
            <!-- If multiple taxonomies -->
            <div class="uc-card_tags">
              <a href="https://sustentable.uc.cl/category/comunidad/"
                >Comunidad</a
              >
              <a href="https://sustentable.uc.cl/category/salud/">Salud</a>
            </div>
            <div class="uc-card_body--lg">
              <div class="uc-card card-bg--white mt-auto">
                <div class="uc-card_body">
                  <p class="uc-card-date"></p>
                  <h3>
                    “Campus Libre de Humo”, la política UC comprometida con la
                    salud y el medio ambiente
                  </h3>
                  <div class="uc-text-divider divider-primary mt-12"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div
            class="uc-card card-bg--image card-gradient--bottom-blue card-type--link"
            style="
              background-image: url(https://sustentable.uc.cl/wp-content/uploads/2024/08/117_Sello6_Huella_2023-1.png);
            "
          >
            <a
              href="https://sustentable.uc.cl/2024/08/06/sellos-de-cuantificacion/"
              class="uc-card_link"
            ></a>
            <!-- If multiple taxonomies -->
            <div class="uc-card_tags">
              <a href="https://sustentable.uc.cl/category/accion-climatica/"
                >Acción Climática</a
              >
            </div>
            <div class="uc-card_body--lg">
              <div class="uc-card card-bg--white mt-auto">
                <div class="uc-card_body">
                  <p class="uc-card-date"></p>
                  <h3>
                    El sello de excelencia que ratifica el compromiso UC con la
                    acción climática
                  </h3>
                  <div class="uc-text-divider divider-primary mt-12"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-track d-block d-lg-none">
        <div class="carousel-progress-indicator"></div>
      </div>
      <div class="carousel-id-buttons-n uc-carousel-controls d-none d-lg-flex">
        <div class="prev">
          <svg
            width="48px"
            height="16px"
            viewBox="0 0 48 16"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-272.000000, 0.000000)" fill="#0176DE">
                <path
                  d="M319.999999,7.99862356 C320,7.9990823 320,7.99954111 320,8 C320,8.00045889 320,8.0009177 319.999999,8.00137644 C319.999683,8.23695673 319.918232,8.47244231 319.755645,8.65920128 L313.646473,15.6766505 C313.296166,16.0790401 312.698312,16.1101069 312.311129,15.7460401 C311.923947,15.3819733 311.894054,14.7606376 312.244362,14.3582479 L316.909085,9 L273.088579,9 C272.487374,9 272,8.55228475 272,8 C272,7.44771525 272.487374,7 273.088579,7 L316.909085,7 L312.244362,1.64175206 C311.894054,1.23936242 311.923947,0.618026698 312.311129,0.253959882 C312.698312,-0.110106935 313.296166,-0.0790401485 313.646473,0.323349491 L319.755645,7.34079872 C319.918232,7.52755769 319.999683,7.76304327 319.999999,7.99862356 Z"
                  id="arrow-back-n"
                ></path>
              </g>
            </g>
          </svg>
        </div>
        <div class="uc-carousel_index">
          <span class="index-current current"></span> /
          <span class="index-total"></span>
        </div>
        <div class="next">
          <svg
            width="48px"
            height="16px"
            viewBox="0 0 48 16"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-272.000000, 0.000000)" fill="#0176DE">
                <path
                  d="M319.999999,7.99862356 C320,7.9990823 320,7.99954111 320,8 C320,8.00045889 320,8.0009177 319.999999,8.00137644 C319.999683,8.23695673 319.918232,8.47244231 319.755645,8.65920128 L313.646473,15.6766505 C313.296166,16.0790401 312.698312,16.1101069 312.311129,15.7460401 C311.923947,15.3819733 311.894054,14.7606376 312.244362,14.3582479 L316.909085,9 L273.088579,9 C272.487374,9 272,8.55228475 272,8 C272,7.44771525 272.487374,7 273.088579,7 L316.909085,7 L312.244362,1.64175206 C311.894054,1.23936242 311.923947,0.618026698 312.311129,0.253959882 C312.698312,-0.110106935 313.296166,-0.0790401485 313.646473,0.323349491 L319.755645,7.34079872 C319.918232,7.52755769 319.999683,7.76304327 319.999999,7.99862356 Z"
                  id="arrow-forward-n"
                ></path>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <hr class="uc-hr my-60" />

  <div class="d-flex d-lg-none align-items-center justify-content-center mb-24">
    <a class="uc-title-more" href="https://sustentable.uc.cl/noticias/"
      >Todas las noticias</a
    >
  </div>

  <div class="d-flex align-items-center justify-content-between mb-24">
    <h2 class="uc-title decoration-green">Te invitamos</h2>
    <a
      class="d-none d-lg-block uc-title-more text-decoration-none"
      href="https://sustentable.uc.cl/agenda/"
      >Ver Agenda</a
    >
  </div>

  <p class="text-color--gray">
    <strong>Revisa&nbsp;</strong>todas las actividades que tenemos para ti.
  </p>

  <div
    class="agenda-slider mb-32"
    data-base-url="https://sustentable.uc.cl/agenda"
    data-host="https://api.agenda.uc.cl/api"
    data-token="VMh3zjG0lx3onCzS0dewKshLo4a2e4clwO9b7h9I22gZ98UH08scyTMo2D1L3A3ZqKf6oDRgzeziLlHI"
    data-title-content=""
    data-types-of-activities=""
    data-organizers="170,274"
    data-audience=""
    data-from=""
    data-to=""
  ></div>
  <div class="mt-24 d-flex justify-content-center">
    <a
      href="https://sustentable.uc.cl/proximas-actividades/"
      class="uc-btn btn-secondary"
      style="width: 240px"
    >
      Próximas actividades
      <i class="uc-icon icon-shape--rounded">arrow_forward</i>
    </a>
  </div>

  <div class="d-flex d-lg-none align-items-center justify-content-center mb-24">
    <a class="uc-title-more" href="https://sustentable.uc.cl/agenda/"
      >Ver Agenda</a
    >
  </div>
  <hr class="uc-hr my-60" />

  <div class="d-flex align-items-center justify-content-between mb-32">
    <h2 class="uc-title decoration-green">Nuestras Iniciativas</h2>
    <a
      class="d-none d-lg-block uc-title-more text-decoration-none"
      href="https://sustentable.uc.cl/iniciativas-sustentables/buscador-de-iniciativas-sustentables/"
      >Ver todas las iniciativas</a
    >
  </div>

  <p class="text-color--gray">
    <strong>¡Participa y haz el cambio!</strong>
  </p>

  <p id="text-color--gray">
    Conoce las distintas formas en las que puedes involucrarte en nuestros
    proyectos de Sustentabilidad.
  </p>

  <div class="row mb-60">
    <div class="col-lg-4">
      <div
        class="uc-home-initiatives uc-card card-bg--image card-gradient--bottom-blue"
        style="
          background-image: url(https://sustentable.uc.cl/wp-content/uploads/2023/05/Proceso_de_carbono_neutralidad_03.png);
        "
      >
        <a
          href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/carbono-neutralidad/"
          class="uc-card_link"
        ></a>
        <div class="uc-card_body--lg">
          <div class="mt-auto">
            <h4>
              Acción Climática
              <span class="uc-icon">keyboard_arrow_right</span>
            </h4>
            <div class="uc-text-divider mt-12"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-12">
          <div
            class="uc-home-initiatives uc-card card-bg--image card-gradient--bottom-blue small"
            style="
              background-image: url(https://sustentable.uc.cl/wp-content/uploads/2023/05/Vecinos-UC.jpg);
            "
          >
            <a
              href="https://sustentable.uc.cl/iniciativas-sustentables/vinculacion/"
              class="uc-card_link"
            ></a>
            <div class="uc-card_body--lg">
              <div class="mt-auto">
                <h4>
                  Vinculación con Vecinos
                  <span class="uc-icon">keyboard_arrow_right</span>
                </h4>
                <div class="uc-text-divider mt-12"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div
            class="uc-home-initiatives uc-card card-bg--image card-gradient--bottom-blue small"
            style="
              background-image: url(https://sustentable.uc.cl/wp-content/uploads/2023/05/OFV-Iniciaticas-destacadas.jpg);
            "
          >
            <a
              href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/oficina-verde/"
              class="uc-card_link"
            ></a>
            <div class="uc-card_body--lg">
              <div class="mt-auto">
                <h4>
                  Oficina Verde
                  <span class="uc-icon">keyboard_arrow_right</span>
                </h4>
                <div class="uc-text-divider mt-12"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div
        class="uc-home-initiatives uc-card card-bg--image card-gradient--bottom-blue"
        style="
          background-image: url(https://sustentable.uc.cl/wp-content/uploads/2023/05/SIBICO-Iniciativas-sustentables-scaled.jpg);
        "
      >
        <a
          href="https://sustentable.uc.cl/buscador-de-iniciativas-sustentables/sibico/"
          class="uc-card_link"
        ></a>
        <div class="uc-card_body--lg">
          <div class="mt-auto">
            <h4>
              Sistema de bicicletas compartidas SIBICO
              <span class="uc-icon">keyboard_arrow_right</span>
            </h4>
            <div class="uc-text-divider mt-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex d-lg-none align-items-center justify-content-center mb-24">
    <a class="uc-title-more" href="#">Ver todas las iniciativas</a>
  </div>

  <div class="uc-grey-bg uc-fullwidth-container py-60 mb-24">
    <div class="container">
      <div class="row">
        <!-- Impacto -->
        <div class="col-lg-6 mb-32">
          <div class="uc-card card-height--same">
            <div class="uc-card_body">
              <h2 class="h1">Impacto</h2>
              <div class="uc-text-divider divider-primary my-12"></div>
              <p class="mt-24 mb-36 text-color--gray">
                <strong>Conoce</strong> las cifras de reportabilidad de las
                actividades
              </p>
              <div class="row">
                <div class="col-xl-4 mb-24">
                  <div class="uc-card uc-home-figures card-height--same">
                    <div class="uc-card_body text-center">
                      <h3 class="h1">10.961 CO2eq</h3>
                      <p class="no-margin text-size--sm">
                        <strong>Huella de Carbono 2021</strong>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-4 mb-24">
                  <div class="uc-card uc-home-figures card-height--same">
                    <div class="uc-card_body text-center">
                      <h3 class="h1">33,4 m³</h3>
                      <p class="no-margin text-size--sm">
                        <strong>Huella Hídrica per cápita 2021</strong>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-4 mb-24">
                  <div class="uc-card uc-home-figures card-height--same">
                    <div class="uc-card_body text-center">
                      <h3 class="h1">177</h3>
                      <p class="no-margin text-size--sm">
                        <strong>Oficinas Verdes</strong>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <p class="mt-24 mb-36 text-color--gray">
                También puedes revisar nuestro
                <a
                  href="https://sustentable.uc.cl/wp-content/uploads/2023/05/REPORTE_SUSTENTABILIDAD_2020.pdf"
                >
                  <strong style="text-decoration: underline"
                    >Reporte de sustentablidad</strong
                  >
                </a>
              </p>
              <div class="d-flex justify-content-end mt-auto">
                <a
                  href="https://sustentable.uc.cl/impacto/cifras/"
                  class="uc-btn btn-primary"
                >
                  Ver todas las cifras
                  <i class="uc-icon ml-16">arrow_forward</i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Recursos -->
        <div class="col-lg-6 mb-32">
          <div class="uc-card card-height--same">
            <div class="uc-card_body">
              <h2 class="h1">Recursos</h2>
              <div class="uc-text-divider divider-primary my-12"></div>
              <p class="mt-24 mb-36 text-color--gray">
                Encuentra acá documentos, manuales, infografías, videos,
                fotografías, información sobre talleres y charlas, mapas,
                reportes en diferentes temáticas de sustentabilidad.
              </p>
              <div class="row">
                <div class="col-sm-6 mb-24">
                  <div class="uc-card uc-home-impact">
                    <div class="uc-card_body">
                      <video controls>
                        <source
                          src="https://sustentable.uc.cl/wp-content/uploads/2023/05/La-UC-prepara-su-estrategia-de-carbononeutralidad-sitio-V6.mp4"
                          type="video/mp4"
                        />
                      </video>
                      <p class="text-color--gray text-size--sm mt-12">
                        <strong
                          >Desarrollo de la Estrategia de Acción Climática
                          UC</strong
                        >
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 mb-24">
                  <div class="uc-card uc-home-impact">
                    <div class="uc-card_body">
                      <video controls>
                        <source
                          src="https://sustentable.uc.cl/wp-content/uploads/2023/05/Exitosa-forestacion-comunitaria-en-el-campus-San-Joaquin-UC-V2.mp4"
                          type="video/mp4"
                        />
                      </video>
                      <p class="text-color--gray text-size--sm mt-12">
                        <strong>Forestación campus San Joaquín 2022</strong>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-end mt-auto">
                <a
                  href="https://sustentable.uc.cl/biblioteca-de-recursos/"
                  class="uc-btn btn-primary"
                >
                  Ir a la Biblioteca de Recursos
                  <i class="uc-icon ml-16">arrow_forward</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2
    class="wp-block-heading uc-title decoration-green mb-32"
    id="sitios-de-interes"
  >
    Sitios de Interés
  </h2>

  <!-- UC undocumented slider, replace -X by something unique to the page -->
  <div class="container mb-60">
    <div
      class="uc-carousel-cards"
      data-carousel="carousel-identifier-i"
      data-items="3"
      data-sm-items="1"
      data-slideby="1"
      data-loop="false"
      data-gutter="32"
      data-controls="true"
      data-speed="500"
      data-autoplay-text="true"
      data-prev-button=".carousel-id-buttons-i .prev"
      data-next-button=".carousel-id-buttons-i .next"
      data-counter="true"
      data-track="true"
    >
      <div class="carousel-identifier-i d-flex">
        <div class="item">
          <div class="uc-card uc-home-links card-height--same">
            <a
              href="https://desarrollosustentable.uc.cl/"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                decoding="async"
                src="https://sustentable.uc.cl/wp-content/uploads/2023/05/IDS-portada.jpg"
                class="card-img"
                alt="Instituto para el Desarrollo Sustentable"
            /></a>
            <div class="uc-card_body">
              <a
                class="text-decoration-none"
                href="https://desarrollosustentable.uc.cl/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h3 class="h4">Instituto para el Desarrollo Sustentable</h3>
              </a>
              <div class="uc-text-divider divider-green my-12"></div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="uc-card uc-home-links card-height--same">
            <a
              href="https://formaciongeneral.uc.cl/explora-los-cursos/cursos-de-ecologia-integral-y-sustentabilidad/"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                decoding="async"
                src="https://sustentable.uc.cl/wp-content/uploads/2023/08/Proyecto-nuevo_clipdrop-cleanup.jpg"
                class="card-img"
                alt="Formación general en sustentabilidad"
            /></a>
            <div class="uc-card_body">
              <a
                class="text-decoration-none"
                href="https://formaciongeneral.uc.cl/explora-los-cursos/cursos-de-ecologia-integral-y-sustentabilidad/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h3 class="h4">Formación general en sustentabilidad</h3>
              </a>
              <div class="uc-text-divider divider-green my-12"></div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="uc-card uc-home-links card-height--same">
            <a
              href="https://sustentable.uc.cl/iniciativas-sustentables/investigacion/"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                decoding="async"
                src="https://sustentable.uc.cl/wp-content/uploads/2023/06/La-niebla-03.jpg"
                class="card-img"
                alt="Centros de Investigación en Sustentabilidad"
            /></a>
            <div class="uc-card_body">
              <a
                class="text-decoration-none"
                href="https://sustentable.uc.cl/iniciativas-sustentables/investigacion/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h3 class="h4">Centros de Investigación en Sustentabilidad</h3>
              </a>
              <div class="uc-text-divider divider-green my-12"></div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="uc-card uc-home-links card-height--same">
            <a
              href="https://www.uc.cl/laudato-si/"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                decoding="async"
                src="https://sustentable.uc.cl/wp-content/uploads/2022/06/papa-francisco-en-la-uc.jpg"
                class="card-img"
                alt="Laudato si"
            /></a>
            <div class="uc-card_body">
              <a
                class="text-decoration-none"
                href="https://www.uc.cl/laudato-si/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h3 class="h4">Laudato si</h3>
              </a>
              <div class="uc-text-divider divider-green my-12"></div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="uc-card uc-home-links card-height--same">
            <a
              href="http://ods.desarrollosustentable.uc.cl/"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                decoding="async"
                src="https://sustentable.uc.cl/wp-content/uploads/2023/05/Agenda-2030.jpg"
                class="card-img"
                alt="Contribución a la Agenda 2030"
            /></a>
            <div class="uc-card_body">
              <a
                class="text-decoration-none"
                href="http://ods.desarrollosustentable.uc.cl/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h3 class="h4">Contribución a la Agenda 2030</h3>
              </a>
              <div class="uc-text-divider divider-green my-12"></div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="uc-card uc-home-links card-height--same">
            <a
              href="https://iniciativasequia.uc.cl/"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                decoding="async"
                src="https://sustentable.uc.cl/wp-content/uploads/2023/08/slider_evento_junio2023.jpg"
                class="card-img"
                alt="Iniciativa UC contra la Sequía"
            /></a>
            <div class="uc-card_body">
              <a
                class="text-decoration-none"
                href="https://iniciativasequia.uc.cl/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h3 class="h4">Iniciativa UC contra la Sequía</h3>
              </a>
              <div class="uc-text-divider divider-green my-12"></div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="uc-card uc-home-links card-height--same">
            <a
              href="https://vecinos.uc.cl/"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                decoding="async"
                src="https://sustentable.uc.cl/wp-content/uploads/2023/08/2-Feed_Tarjeta-de-Vecino-UC-1-e1691695359555.jpg"
                class="card-img"
                alt="Vínculos con la comunidad vecina a los campus"
            /></a>
            <div class="uc-card_body">
              <a
                class="text-decoration-none"
                href="https://vecinos.uc.cl/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <h3 class="h4">
                  Vínculos con la comunidad vecina a los campus
                </h3>
              </a>
              <div class="uc-text-divider divider-green my-12"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-track d-block d-lg-none">
        <div class="carousel-progress-indicator"></div>
      </div>
      <div class="carousel-id-buttons-i uc-carousel-controls d-none d-lg-flex">
        <div class="prev">
          <svg
            width="48px"
            height="16px"
            viewBox="0 0 48 16"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-272.000000, 0.000000)" fill="#0176DE">
                <path
                  d="M319.999999,7.99862356 C320,7.9990823 320,7.99954111 320,8 C320,8.00045889 320,8.0009177 319.999999,8.00137644 C319.999683,8.23695673 319.918232,8.47244231 319.755645,8.65920128 L313.646473,15.6766505 C313.296166,16.0790401 312.698312,16.1101069 312.311129,15.7460401 C311.923947,15.3819733 311.894054,14.7606376 312.244362,14.3582479 L316.909085,9 L273.088579,9 C272.487374,9 272,8.55228475 272,8 C272,7.44771525 272.487374,7 273.088579,7 L316.909085,7 L312.244362,1.64175206 C311.894054,1.23936242 311.923947,0.618026698 312.311129,0.253959882 C312.698312,-0.110106935 313.296166,-0.0790401485 313.646473,0.323349491 L319.755645,7.34079872 C319.918232,7.52755769 319.999683,7.76304327 319.999999,7.99862356 Z"
                  id="arrow-back"
                ></path>
              </g>
            </g>
          </svg>
        </div>
        <div class="uc-carousel_index">
          <span class="index-current current"></span> /
          <span class="index-total"></span>
        </div>
        <div class="next">
          <svg
            width="48px"
            height="16px"
            viewBox="0 0 48 16"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-272.000000, 0.000000)" fill="#0176DE">
                <path
                  d="M319.999999,7.99862356 C320,7.9990823 320,7.99954111 320,8 C320,8.00045889 320,8.0009177 319.999999,8.00137644 C319.999683,8.23695673 319.918232,8.47244231 319.755645,8.65920128 L313.646473,15.6766505 C313.296166,16.0790401 312.698312,16.1101069 312.311129,15.7460401 C311.923947,15.3819733 311.894054,14.7606376 312.244362,14.3582479 L316.909085,9 L273.088579,9 C272.487374,9 272,8.55228475 272,8 C272,7.44771525 272.487374,7 273.088579,7 L316.909085,7 L312.244362,1.64175206 C311.894054,1.23936242 311.923947,0.618026698 312.311129,0.253959882 C312.698312,-0.110106935 313.296166,-0.0790401485 313.646473,0.323349491 L319.755645,7.34079872 C319.918232,7.52755769 319.999683,7.76304327 319.999999,7.99862356 Z"
                  id="arrow-forward"
                ></path>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="uc-footer">
  <div class="container pb-48">
    <div class="row">
      <div class="col-7 col-md-3 col-xl-2 mb-32">
        <img
          src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/logo-uc-blanco.svg"
          class="attachment-full size-full"
          alt=""
          loading="lazy"
          height="100"
          width="180"
        />
      </div>
      <div class="col-lg-6 offset-xl-1">
        <div class="h2 color-white text-font--serif mt-28">
          Sustentabilidad en la UC
        </div>
        <p class="my-4 p-size--lg">
          Espacio de la Dirección de Sustentabilidad para la promoción de
          iniciativas sustentables
        </p>
        <ul class="uc-footer_social">
          <!-- agregar enlaces a redes sociales correspondientes -->
          <li>
            <a
              href="https://www.facebook.com/UCsustentable/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-facebook.svg"
                alt="Facebook"
              />
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/ucsustentable/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-instagram.svg"
                alt="Instagram"
              />
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/user/SustentableUC"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-youtube.svg"
                alt="Youtube"
              />
            </a>
          </li>
        </ul>
        <p>
          <img
            src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/acreditaciones/acreditacion-01.svg"
            alt="Acreditación"
            class="img-fluid mt-32"
          />
        </p>
        <p>
          <a href="https://protecciondedatos.uc.cl/politicas" target="_blank"
            ><i class="uc-icon icon-shape--rounded mr-4">verified_user</i>
            Políticas de privacidad</a
          >
        </p>
      </div>
      <div class="col-lg-3">
        <p class="mt-24 mb-4">Hacia una UC Sustentable</p>
        <hr class="uc-hr" />
        <p class="my-8 p-size--sm">
          <a
            href="https://sustentable.uc.cl/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none"
          >
            Dirección de Sustentabilidad <i class="uc-icon">launch</i>
          </a>
        </p>
        <p class="my-8 p-size--sm">
          <a
            href="https://desarrollosustentable.uc.cl/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none"
          >
            Instituto para el Desarrollo Sustentable
            <i class="uc-icon">launch</i>
          </a>
        </p>
        <p class="my-8 p-size--sm">
          <a
            href="https://formaciongeneral.uc.cl/explora-los-cursos/cursos-de-ecologia-integral-y-sustentabilidad/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none"
          >
            Formación general en sustentabilidad
            <i class="uc-icon">launch</i>
          </a>
        </p>
        <p class="my-8 p-size--sm">
          <a
            href="https://www.uc.cl/laudato-si/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none"
          >
            Laudato si\' <i class="uc-icon">launch</i>
          </a>
        </p>
        <p class="my-8 p-size--sm">
          <a
            href="http://ods.desarrollosustentable.uc.cl/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none"
          >
            Contribución UC a la Agenda 2030
            <i class="uc-icon">launch</i>
          </a>
        </p>
        <p class="my-8 p-size--sm">
          <a
            href="https://iniciativasequia.uc.cl/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none"
          >
            Iniciativa UC frente a la Sequía
            <i class="uc-icon">launch</i>
          </a>
        </p>
        <p class="my-8 p-size--sm">
          <a
            href="https://vecinos.uc.cl/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none"
          >
            Vecinos UC
            <i class="uc-icon">launch</i>
          </a>
        </p>
        <p class="my-8 p-size--sm">
          <a
            href="https://sustentable.uc.cl/quienes-somos/unidades-participantes/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none"
          >
            Centros de Investigación en Sustentabilidad
            <i class="uc-icon">launch</i>
          </a>
        </p>
        <p class="my-8 p-size--sm">
          <a
            href="https://sustentable.uc.cl/wp-content/uploads/2023/09/Estrategia-de-Accion-Climatica-UC-2023-VF.pdf"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none"
          >
            Estrategia de Acción Climática
            <i class="uc-icon">launch</i>
          </a>
        </p>
      </div>
    </div>
  </div>
  <div id="uc-global-footer"></div>
</footer>
<div class="uc-dev-footer">
  <div class="container">
    <ul class="uc-footer-dev_content">
      <li>
        Diseño:
        <a
          href="https://digital.uc.cl/"
          target="_blank"
          rel="noopener noreferrer"
          class="external"
          >Dirección Digital</a
        >, Prorrectoría
      </li>
      <li>
        Desarrollo:
        <a
          href="https://www.urantiacos.cl/"
          target="_blank"
          rel="noopener noreferrer"
          class="external"
          >Urantiacos</a
        >
      </li>
      <li>Sitio administrado por equipo Sustentabilidad UC</li>
      <li>
        Utilizando el
        <a
          href="https://kitdigital.uc.cl/"
          target="_blank"
          rel="noopener noreferrer"
          class="external"
          >Kit Digital UC</a
        >
      </li>
    </ul>
  </div>
</div>
