<section>
  <!-- Header global -->
  <header class="uc-header">
 
    <nav class="uc-navbar navbar-transparent">
      <!-- Menú para versión Escritorio -->
      <div class="container d-none d-lg-block">
    
        <ul class="uc-navbar_nav" style="position: relative; z-index: 99">
          <li class="nav-item uc-navbar-dropdown">
            <a href="#" class="uc-btn btn-inline">
              Programas de estudio<i class="uc-icon icon-color--white"
                >arrow_drop_down</i
              >
            </a>
            <ul class="uc-navbar-dropdown_menu uc-navbar-dropdown_menu--footer">
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Pregrado</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Busca una carrera</a>
                  </li>

                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Major y Minor</a>
                  </li>

                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Formación general</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Vías de admisión para pregrado</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Financiamiento, Matrícula y Pago de Arancel</a
                    >
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Magíster</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Elige un magíster</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Magísteres online con Coursera</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Admisión de Postgrado</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Financiamiento</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Doctorado</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Elige un doctorado</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Admisión de doctorados</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Financiamiento</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Sitio de la Escuela de Graduados</a
                    >
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Especialidad Médica</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn"
                      >Elige una especialidad primaria</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn"
                      >Elige una especialidad derivada (subespecialidad)</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Proceso de postulación</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Financiamiento</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Especialidad Odontológica</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Elige una especialidad odontológica</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Financiamiento</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Postítulo</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Elige un postítulo</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Proceso de postulación</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Resultados de postulación</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Proceso de matrícula</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Financiamiento</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Educación Continua</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Portal Educación Continua</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Diplomados</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Cursos y talleres</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Cursos de Capacitación</a
                    >
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Cursos online</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Portal UC Online</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Moocs /Coursera</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Clase ejecutiva</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Teleduc</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">English Online</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Buscador de cursos</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Catálogo de todos los cursos</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Buscador de cursos de pregrado y postgrado</a
                    >
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Idiomas</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Cursos de inglés</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Cursos de chino</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Alemán, Catalán, Francés, Italiano, Japonés,
                      Portugués,Mapuzugun, Quechua, Coreano y Sánscrito</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Certificación internacional Cambridge</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Certificación internacional IELTS launch</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Examen HSK</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Examen HSKK</a>
                  </li>
                </ul>
              </li>
              <div class="dropdown_item--footer">
                <a href="#" class="uc-btn">
                  Programas de estudio
                  <i class="uc-icon uc-icon--arrow-forward ml-4"></i>
                </a>
              </div>
            </ul>
          </li>
          <li class="nav-item uc-navbar-dropdown">
            <a href="#" class="uc-btn btn-inline">
              Investigación
              <i class="uc-icon icon-color--white">arrow_drop_down</i>
            </a>
            <ul class="uc-navbar-dropdown_menu uc-navbar-dropdown_menu--footer">
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Doctorado</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Escuela de Graduados</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Artes</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Ciencias Agrícolas</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Ciencias Biológicas</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Ciencias Médicas y de la Salud</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Ciencias Naturales y Matemática</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Ciencias Sociales</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Humanidades</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Ingeniería y Tecnología</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Interdisciplinarios</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Investigación</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Dirección de Investigación</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Concursos de Investigación</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Redes Internacionales</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Centros científicos de excelencia</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Centros UC</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Red de centros y estaciones regionales</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Red de centros y estaciones regionales</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Libro Ciencia en Terreno en Chile</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Postdoctorados</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Artes y Cultura</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Dirección de Artes y Cultura</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Catálogo de proyectos de creación e investigación
                      artística</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Catálogo patrimonial</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Guía para las artes</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Artifica la UC (Festival de las artes)</a
                    >
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Transferencia y Desarrollo</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Dirección de Transferencia y Desarrollo</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Innovaciones UC</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Apoyo a Investigadores</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Protege tu investigación</a
                    >
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Innovación</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Centro de Innovación</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">I+D con la Industria</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Red Semilla</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Brain Chile</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Jump Chile</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Brain</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Sin Límites</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Red de Mentores</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Incuba UC</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Colab: Innovación Social UC</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Red de Laboratorios de Fabricación</a
                    >
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Internacionalización</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Redes institucionales y foros académicos</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Redes internacionales</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Convenios internacionales</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Opciones de movilidad para académicos extranjeros</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Partnership in International Management (PIM)</a
                    >
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Ética y Seguridad</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Unidad de Ética y Seguridad de la Investigación</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Comité Ético Científico de Ciencias de la Salud</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Comité Ético Científico en Ciencias Sociales, Artes
                      yHumanidades</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Comité Ético Científico Para el Cuidado de Animales y
                      Ambiente</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Comité Institucional de Seguridad en Investigación</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Programa Cuidado Animal UC</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Programa Laboratorio Seguro</a
                    >
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Financiamiento, concursos y becas</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Concursos de investigación</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Concursos de Doctorado</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Concursos de Artes y Cultura</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Concursos de I+D</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Programas de apoyo para I+D</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">I+D con la Industria</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Becas y concursos para internacionalización</a
                    >
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Producción y divulgación</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Repositorio de publicaciones</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Revistas UC</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Catálogo de proyectos de creación e investigación
                      artística</a
                    >
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn external"
                  >Vicerrectoría de Investigación</a
                >
              </li>
              <div class="dropdown_item--footer">
                <a href="#" class="uc-btn">
                  Investigación
                  <i class="uc-icon uc-icon--arrow-forward ml-4"></i>
                </a>
              </div>
            </ul>
          </li>
          <li class="nav-item nochildren">
            <a href="#" class="uc-btn btn-inline"> Facultades</a>
          </li>
          <li class="nav-item nochildren">
            <a href="#" class="uc-btn btn-inline external"
              >Internacionalización</a
            >
          </li>
          <li class="nav-item uc-navbar-dropdown">
            <a href="#" class="uc-btn btn-inline">
              Extensión
              <i class="uc-icon icon-color--white">arrow_drop_down</i>
            </a>
            <ul
              class="uc-navbar-dropdown_menu uc-navbar-dropdown_menu--footer cols-4"
            >
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Agenda pública</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Publicaciones del Centro de Políticas Públicas</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn"
                      >La UC en el Proceso Constituyente</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Academia en los medios</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Panel de Políticas Públicas</a
                    >
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Compromiso público</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn"
                      >Iniciativas de Compromiso público</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Libro de Compromiso Público</a
                    >
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Servicios y asesorías</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Servicios profesionales</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Eventos y espacios</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Librerías UC</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Almacén UC</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Cultura y arte</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Dirección de Extensión Cultural</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Cine UC</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Teatro UC</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Exhibiciones de artes visuales</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Espacio Vilches</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Bazart, feria de arte contemporáneo</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Festival Artifica</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Galería Macchina</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Guía para las Artes</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Catálogo Patrimonial</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Muestra de artesanía</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Museo de Artes Visuales, MAVI UC</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Museo Leandro Penchulef</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Museo de la Escuela de Ingeniería</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Agenda cultural complejo Andrónico Luksic Abaroa</a
                    >
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Encuestas y estudios</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Encuesta Bicentenario UC</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Centro de Encuestas y Estudios Longitudinales</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Centro Mide UC</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Encuesta Calidad de Vida en la Vejez</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Indicadores del Centro CLAPES UC</a
                    >
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn external">Ediciones UC</a>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Medios de la UC</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Media UC</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Radio Beethoven</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Revista Universitaria</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Visión</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Centro de Políticas Públicas</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Centro de Políticas Públicas UC</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Áreas de trabajo</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Elige educar</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Tenemos que hablar de Chile</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Puentes UC</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Encuesta Bicentenario UC</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">UC Propone</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Laboratorio de Innovación pública</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Concurso de políticas públicas</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Sociedad en acción</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Ciudad con todos</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Educación financiera</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Observatorio laboral de la Región Metropolitana</a
                    >
                  </li>
                </ul>
              </li>
              <div class="dropdown_item--footer">
                <a href="#" class="uc-btn">
                  Extensión
                  <i class="uc-icon uc-icon--arrow-forward ml-4"></i>
                </a>
              </div>
            </ul>
          </li>
          <li class="nav-item uc-navbar-dropdown">
            <a href="#" class="uc-btn btn-inline">
              Vinculación
              <i class="uc-icon icon-color--white">arrow_drop_down</i>
            </a>
            <ul
              class="uc-navbar-dropdown_menu uc-navbar-dropdown_menu--footer cols-2"
            >
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Ítem 1</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Ítem 2</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Ítem 3</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Ítem 4</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Ítem 5</a>
                  </li>
                </ul>
              </li>
              <div class="dropdown_item--footer">
                <a href="#" class="uc-btn">
                  Vinculación
                  <i class="uc-icon uc-icon--arrow-forward ml-4"></i>
                </a>
              </div>
            </ul>
          </li>
          <li class="nav-item uc-navbar-dropdown">
            <a href="#" class="uc-btn btn-inline">
              Universidad
              <i class="uc-icon icon-color--white">arrow_drop_down</i>
            </a>
            <ul class="uc-navbar-dropdown_menu uc-navbar-dropdown_menu--footer">
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Historia</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Nuestra historia</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Nuestra historia</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Premios nacionales</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Identidad</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Encíclica Ex Corde Ecclesiae</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Principios</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Pastoral UC</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Observatorio Nueva Evangelización</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Proyecto Educativo</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Símbolos identitarios</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Laudato Si</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Código de Honor</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Integridad académica</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Nuestras cifras</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Anuario 2019 - 2020</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Anuario 2018 - 2019</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Anuario 2016 - 2017</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Organización</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Gran Cancillería</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Vice Gran Cancillería</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Rectoría</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Prorrectoría</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn"
                      >Prorrectoría de Gestión Institucional</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Secretaría General</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Vicerrectoría Académica</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn"
                      >Vicerrectoría de Investigación</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn"
                      >Vicerrectoría de Asuntos Internacionales</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Vicerrectoría Económica</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn"
                      >Vicerrectoría de Comunicaciones y Extensión Cultural</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Honorable Consejo Superior</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Ombuds universitario</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Nuestros profesores</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn"
                      >Facultades, escuelas e institutos</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Nuestros campus</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Autoridades</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn"
                      >Gran Canciller / Monseñor Celestino Aós</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn"
                      >Vice Gran Canciller / Padre Tomás Scherz</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Rector / Ignacio Sánchez</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn"
                      >Prorrector / Guillermo Marshall</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn"
                      >Prorrector de Gestión Institucional / Patricio Donoso</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn"
                      >Secretaria General / Cristina Fernández</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn"
                      >Vicerrector Académico / Fernando Purcell</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn"
                      >Vicerrector de Investigación / Pedro Bouchon</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn"
                      >Vicerrectora de Asuntos Internacionales / Lilian
                      Ferrer</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn"
                      >Vicerrectora Económica / María Loreto Massanés</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn"
                      >Vicerrectora de Comunicaciones y Extensión Cultural /
                      Rosa María Lazo</a
                    >
                  </li>
                </ul>
              </li>

              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Documentos</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Principios</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Estatutos</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Plan de desarrollo</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Normas generales</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Cuenta de Rectoría</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Discursos del rector</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">UC Transparente</a>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Sustentabilidad</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Dirección de Sustentabilidad</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Instituto para el Desarrollo Sustentable</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Formación general en sustentabilidad</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Centros de Investigación en Sustentabilidad </a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Laudato si'</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Contribución UC a la Agenda 2030</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Iniciativa UC contra la Sequía</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Vínculos con la comunidad vecina a los campus</a
                    >
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Organizaciones vinculadas</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Iglesia</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Fundación Vida Rural</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Club Deportivo Universidad Católica</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">DICTUC</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">DUOC UC</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Fundación Copec UC</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Instituto Catequístico Universidad Católica</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Red de Salud UC Christus</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external"
                      >Hospital Josefina Martínez</a
                    >
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn external">Friends UC</a>
                  </li>
                </ul>
              </li>
              <div class="dropdown_item--footer">
                <a href="#" class="uc-btn">
                  Universidad
                  <i class="uc-icon uc-icon--arrow-forward ml-4"></i>
                </a>
              </div>
            </ul>
          </li>
          <!--<li class="nav-item uc-navbar-dropdown">
                          <a href="#programas-de-estudio/" class="uc-btn btn-inline ">
                              Información para
                              <i class="uc-icon icon-color--white">arrow_drop_down</i>
                          </a>
                          <ul class="uc-navbar-dropdown_menu">
                              <li class="dropdown_item--heading">
                                  <a href="#" class="uc-btn">Futuros estudiantes</a>
                              </li>
                              <li class="dropdown_item--heading">
                                  <a href="#" class="uc-btn">Estudiantes</a>
                              </li>
                              <li class="dropdown_item--heading">
                                  <a href="#" class="uc-btn external">Alumni</a>
                              </li>
                              <li class="dropdown_item--heading">
                                  <a href="#" class="uc-btn">Académicos</a>
                              </li>
                              <li class="dropdown_item--heading">
                                  <a href="#" class="uc-btn">Personal</a>
                              </li>
                              <li class="dropdown_item--heading">
                                  <a href="#" class="uc-btn">Padres y familia</a>
                              </li>
                              <li class="dropdown_item--heading">
                                  <a href="#" class="uc-btn">Vecinos</a>
                              </li>

                          </ul>
                      </li>-->
          <!--<li class="nav-item"><a href="#" class="uc-link"><i
                                  class="uc-icon color-white uc-search-icon">search</i></a></li>-->
        </ul>
      </div>
      <!-- Menú para versión Móvil -->
      <div class="uc-navbar_mobile navbar_mobile-slide d-block d-lg-none">
        <div class="uc-navbar_mobile-bar navbar-brand">
          <div class="uc-navbar_mobile-logo navbar-light">
            <div class="uc-form-group mt-12">
              <input
                id="ucsearch"
                type="text"
                class="uc-input-style w-icon search search--white uc-input-style--alpha"
                placeholder="Buscar por"
              />
            </div>
          </div>
          <a href="javascript:void(0);" class="uc-navbar_mobile-button">
            <span class="uc-icon"></span>
          </a>
        </div>
        <div class="uc-navbar_mobile-content">
          <ul class="uc-navbar_mobile-list">
            <li class="list-item has-list-children">
              <a class="list-open" href="#">
                Pregrado
                <i class="uc-icon icon-size--sm">arrow_forward_ios</i>
              </a>
              <ul class="list-item list-children">
                <li class="list-item">
                  <a href="#" class="list-close">
                    <div class="uc-icon icon-size--sm">arrow_back_ios</div>
                    Pregrado
                  </a>
                </li>
                <!-- loop de elementos -->
                <li class="list-item has-list-children">
                  <a href="#" class="list-open">
                    Item 1
                    <i class="uc-icon icon-size--sm">arrow_forward_ios</i>
                  </a>
                  <ul class="list-children">
                    <li class="list-item">
                      <a href="#" class="list-close text-color--gray">
                        <span class="uc-icon">arrow_back_ios</span>
                        Item child
                      </a>
                    </li>
                    <li class="list-item">
                      <a href="/">Item child</a>
                    </li>
                    <li class="list-item">
                      <a href="/">Item child</a>
                    </li>
                  </ul>
                </li>
                <li class="list-item">
                  <a href="/">
                    Item child
                    <i class="uc-icon">launch</i>
                  </a>
                </li>
                <li class="list-item">
                  <a href="/">Item child</a>
                </li>
                <li class="list-item">
                  <a href="/">Item child</a>
                </li>
              </ul>
            </li>
            <li class="list-item">
              <a href="#">Item 2</a>
            </li>
            <li class="list-item has-list-children">
              <a class="list-open" href="#">
                Desplegable 2
                <i class="uc-icon icon-size--sm">arrow_forward_ios</i>
              </a>
              <ul class="list-item list-children">
                <li class="list-item">
                  <a href="#" class="list-close">
                    <div class="uc-icon icon-size--sm">arrow_back_ios</div>
                    Desplegable 2
                  </a>
                </li>
                <!-- loop de elementos -->
                <li class="list-item">
                  <a href="#">Item 1</a>
                </li>
                <li class="list-item">
                  <a href="#">Item 2</a>
                </li>
                <li class="list-item">
                  <a href="#">Item 3</a>
                </li>
              </ul>
            </li>
            <li class="list-item">
              <a href="#">Item 4</a>
            </li>
            <li class="list-item">
              <a href="#">Item 5</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</section>
<section class="empty-block"></section>
