<ol class="uc-breadcrumb">
  <li class="uc-breadcrumb_item">
    <a href="#">uc.cl</a>
    <i class="uc-icon">keyboard_arrow_right</i>
  </li>
  <li class="uc-breadcrumb_item">
    <a href="#">La Universidad</a>
    <i class="uc-icon">keyboard_arrow_right</i>
  </li>
  <li class="uc-breadcrumb_item current">Noticias UC</li>
</ol>
