<header class="uc-header">
  <div id="uc-global-topbar"></div>
  <nav class="uc-navbar">
    <!-- Menú para versión Escritorio -->
    <div class="container d-none d-lg-block">
      <div class="row">
        <div class="col-lg-6">
          <img
            src="https://dummyimage.com/700x100/edeaed/0076de.png"
            alt="Pontificia Universidad Católica de Chile"
            class="img-fluid"
          />
        </div>
      </div>
      <ul class="uc-navbar_nav">
        <li class="nav-item">
          <a href="#" class="uc-btn btn-inline">Item 1</a>
        </li>
        <li class="nav-item">
          <a href="#" class="uc-btn btn-inline">Item 2</a>
        </li>
        <li class="nav-item">
          <a href="#" class="uc-btn btn-inline">Item 3</a>
        </li>
        <li class="nav-item">
          <a href="#" class="uc-btn btn-inline">Item 4</a>
        </li>
        <li class="nav-item">
          <a href="#" class="uc-btn btn-inline">Item 5</a>
        </li>
        <li class="nav-item">
          <a href="#" class="uc-btn btn-inline">Item 6</a>
        </li>
      </ul>
    </div>
    <!-- Menú para versión Móvil -->
    <div class="uc-navbar_mobile d-block d-lg-none">
      <div class="uc-navbar_mobile-bar navbar-brand">
        <div class="uc-navbar_mobile-logo navbar-light">
          <div class="h1 text-font--serif text-color--blue">
            Nombre de Facultad
          </div>
        </div>
        <a
          href="javascript:void(0);"
          class="uc-navbar_mobile-button"
          data-collapse="collapseMobileNav"
        >
          <span class="uc-icon"></span>
          Menú
        </a>
      </div>
      <div
        class="uc-navbar_mobile-content"
        data-toggle="collapseMobileNav"
        data-open="false"
        style="height: 0"
      >
        <div class="uc-navbar_mobile-list">
          <a href="#" class="list-item">Item 1</a>
          <a href="#" class="list-item">Item 2</a>
          <a href="#" class="list-item">Item 3</a>
          <a href="#" class="list-item">Item 4</a>
        </div>
      </div>
    </div>
  </nav>
</header>
