<header class="uc-header">
  <div id="uc-global-topbar"></div>
  <nav class="uc-navbar navbar-dark">
    <div class="container d-none d-lg-block">
      <div class="row">
        <div class="col-lg-3 col-xl-2">
          <img
            src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/logo-uc-blanco.svg"
            alt="Pontificia Universidad Católica de Chile"
            class="img-fluid"
          />
        </div>
        <div class="col-lg-8 col-xl-9 pl-60">
          <div class="h2 text-font--serif color-white mt-24">Título</div>
          <div class="color-white p-size--lg">
            Slogan o bajada que describe la propuesta de valor del sitio
          </div>
        </div>
      </div>
      <ul class="uc-navbar_nav">
        <li class="nav-item">
          <a href="#" class="uc-btn btn-inline">Item 1</a>
        </li>
        <li class="nav-item">
          <a href="#" class="uc-btn btn-inline">Item 2</a>
        </li>
        <li class="nav-item">
          <a href="#" class="uc-btn btn-inline">Item 3</a>
        </li>
        <li class="nav-item">
          <a href="#" class="uc-btn btn-inline">Item 4</a>
        </li>
        <li class="nav-item">
          <a href="#" class="uc-btn btn-inline">Item 5</a>
        </li>
        <li class="nav-item">
          <a href="#" class="uc-btn btn-inline">Item 6</a>
        </li>
      </ul>
    </div>
    <div class="uc-navbar_mobile d-block d-lg-none">
      <div class="uc-navbar_mobile-bar navbar-brand">
        <div class="uc-navbar_mobile-logo navbar-light">
          <div class="h2 text-font--serif color-white">Título</div>
        </div>
        <a
          href="javascript:void(0);"
          class="uc-navbar_mobile-button"
          data-collapse="collapseMobileNav7"
        >
          <span class="uc-icon"></span>
          Menú
        </a>
      </div>
      <div
        class="uc-navbar_mobile-content"
        data-toggle="collapseMobileNav7"
        data-open="false"
        style="height: 0"
      >
        <div class="uc-navbar_mobile-list">
          <a href="#" class="list-item">Item 1</a>
          <a href="#" class="list-item">Item 2</a>
          <a href="#" class="list-item">Item 3</a>
          <a href="#" class="list-item">Item 4</a>
        </div>
      </div>
    </div>
  </nav>
</header>
