<div class="uc-header-denominacion-internacional-alpha__example-container">
  <!-- la clase "uc-header-denominacion-internacional-alpha-example-container" agregado al div contenedor para que se muestre correctamente el ejemplo, 
  al ocupar el un header alpha (semi-transparente), no deberia llevarla para que así el contenido 
  se coloque debajo correctamente -->
  <header class="uc-header">
    <div id="uc-global-topbar-ucchile" class="uc-top-bar--bg-primary"></div>
    <nav class="uc-navbar navbar-transparent navbar--absolute">
      <div class="container d-none d-lg-block">
        <div class="row">
          <div class="col-lg-3 col-xl-3">
            <img
              src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/logo-uc-chile-blanco.svg"
              alt="Pontificia Universidad Católica de Chile"
              class="img-fluid"
            />
          </div>
          <div class="col-auto pl-60">
            <div class="h2 text-font--serif color-white mt-24">
              Facultad de Ciencias Sociales
            </div>
            <div class="color-white p-size--lg">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
              aliquami
            </div>
          </div>
        </div>
        <ul
          class="uc-navbar_nav color-black"
          style="position: relative; z-index: 99"
        >
          <li class="nav-item">
            <a href="/" class="uc-btn btn-inline">item 1</a>
          </li>
          <li class="nav-item uc-navbar-dropdown">
            <a href="#" class="uc-btn btn-inline"
              >item 2
              <i class="uc-icon icon-color--white">arrow_drop_down</i>
            </a>
            <ul class="uc-navbar-dropdown_menu">
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Section</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 1</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 2</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 3</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 4</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 5</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 6</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Página padre 2</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 7</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 8</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 9</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 10</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="nav-item uc-navbar-dropdown">
            <a href="#programas-de-estudio/" class="uc-btn btn-inline"
              >item 3 <i class="uc-icon icon-color--white">arrow_drop_down</i>
            </a>
            <ul class="uc-navbar-dropdown_menu">
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Página padre</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 1</a>
                  </li>

                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 2</a>
                  </li>

                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 3</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 4</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 5</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 6</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Página padre 2</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 7</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 8</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 9</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 10</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="uc-btn btn-inline">item 4</a>
          </li>
          <li class="nav-item">
            <a href="#" class="uc-btn btn-inline">item 5</a>
          </li>
        </ul>
      </div>
      <div class="uc-navbar_mobile d-block d-lg-none">
        <div class="uc-navbar_mobile-bar navbar-brand">
          <div class="uc-navbar_mobile-logo navbar-light">
            <div class="h2 text-font--serif color-white">
              Facultad de Ciencias Sociales
            </div>
          </div>
          <a
            href="javascript:void(0);"
            class="uc-navbar_mobile-button"
            data-collapse="collapseMobileNav7"
          >
            <span class="uc-icon"></span>
            Menú
          </a>
        </div>
        <div
          class="uc-navbar_mobile-content"
          data-toggle="collapseMobileNav7"
          data-open="false"
          style="height: 0"
        >
          <div class="uc-navbar_mobile-list">
            <a href="#" class="list-item">Item 1</a>
            <a href="#" class="list-item">Item 2</a>
            <a href="#" class="list-item">Item 3</a>
            <a href="#" class="list-item">Item 4</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>

<style>
  /* only for this example */
  .uc-header-denominacion-internacional-alpha__example-container {
    position: relative;
    min-height: 170px;
  }
  @media (min-width: 992px) {
    .uc-header-denominacion-internacional-alpha__example-container {
      position: relative;
      min-height: 240px;
    }
  }
</style>
