<header class="uc-header">
  <div id="uc-global-topbar"></div>
  <nav class="uc-navbar navbar-dark">
    <!-- Menú para versión Escritorio -->
    <div class="container d-none d-lg-block">
      <div class="row">
        <div class="col-lg-3">
          <img
            src="https://dummyimage.com/300x80/edeaed/0076de.png"
            alt="Logo"
            class="img-fluid"
          />
        </div>
        <div class="col-lg-9">
          <ul class="uc-navbar_nav">
            <li class="nav-item">
              <a href="#" class="uc-btn btn-inline">Item 1</a>
            </li>
            <li class="nav-item">
              <a href="#" class="uc-btn btn-inline">Item 2</a>
            </li>
            <li class="nav-item">
              <a href="#" class="uc-btn btn-inline">Item 3</a>
            </li>
            <li class="nav-item">
              <a href="#" class="uc-btn btn-inline">Item 4</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Menú para versión Móvil -->
    <div class="uc-navbar_mobile d-block d-lg-none">
      <div class="uc-navbar_mobile-bar navbar-brand">
        <div class="uc-navbar_mobile-logo navbar-light">
          <img
            src="https://dummyimage.com/260x75/edeaed/0076de.png"
            alt="Logo"
            class="img-fluid"
          />
        </div>
        <a
          href="javascript:void(0);"
          class="uc-navbar_mobile-button"
          data-collapse="collapseMobileNav5"
        >
          <span class="uc-icon"></span>
          Menú
        </a>
      </div>
      <div
        class="uc-navbar_mobile-content"
        data-toggle="collapseMobileNav5"
        data-open="false"
        style="height: 0"
      >
        <div class="uc-navbar_mobile-list">
          <a href="#" class="list-item">Item 1</a>
          <a href="#" class="list-item">Item 2</a>
          <a href="#" class="list-item">Item 3</a>
          <a href="#" class="list-item">Item 4</a>
        </div>
      </div>
    </div>
  </nav>
</header>
