<header class="uc-header">
  <nav class="uc-navbar">
    <!-- Menú para versión Escritorio -->
    <div class="container d-none d-lg-block">
      <div class="row align-items-center">
        <div class="col-lg-3 col-xl-2">
          <img
            src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/logo-uc-azul.svg"
            alt="Pontificia Universidad Católica de Chile"
            class="img-fluid"
          />
        </div>
        <div class="col-lg-8 col-xl-9">
          <div class="h2 text-font--serif text-color--blue mt-24">Nombre</div>
          <div class="text-color--gray p-size--lg">Bajada</div>
        </div>
      </div>
      <ul class="uc-navbar_nav">
        <li class="nav-item uc-navbar-dropdown">
          <a href="#" class="uc-btn btn-inline"
            >Ítem del menú <i class="uc-icon">arrow_drop_down</i></a
          >
          <ul class="uc-navbar-dropdown_menu">
            <li class="dropdown_item--heading">
              <a href="" class="uc-btn">Item 1</a>
            </li>
            <li class="dropdown_item--heading">
              Radiología
              <ul class="uc-navbar-dropdown_child">
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Radiología</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Anatomía Patólogica</a>
                </li>
              </ul>
            </li>
            <li class="dropdown_item--heading">
              <a href="#" class="uc-btn">Anatomía Patólogica</a>
              <ul class="uc-navbar-dropdown_child">
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Radiología</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Anatomía Patólogica</a>
                </li>
              </ul>
            </li>
            <li class="dropdown_item--heading">
              <a href="#" class="uc-btn">Laboratorios Clínicos</a>
            </li>
            <li class="dropdown_item--heading">
              <a href="#" class="uc-btn">Medicina</a>
            </li>
            <li class="dropdown_item--heading">
              <a href="#" class="uc-btn">Dermatología</a>
            </li>
            <li class="dropdown_item--heading">
              <a href="#" class="uc-btn">Enfermedades Respiratorias</a>
            </li>
            <li class="dropdown_item--heading">
              <a href="#" class="uc-btn">Gastroenterología</a>
            </li>
            <li class="dropdown_item--heading">
              <a href="#" class="uc-btn">Especialidades Médicas</a>
            </li>
          </ul>
        </li>
        <li class="nav-item uc-navbar-dropdown">
          <a href="#" class="uc-btn btn-inline"
            >Ítem 1 <i class="uc-icon">arrow_drop_down</i></a
          >
          <ul class="uc-navbar-dropdown_menu">
            <li class="dropdown_item--heading">
              <a href="#" class="uc-btn">Anatomía Patólogica</a>
              <ul class="uc-navbar-dropdown_child">
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Radiología</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Anatomía Patólogica</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Anatomía Patólogica</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Anatomía Patólogica</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="http://google.com" class="uc-btn btn-inline">Item 3</a>
        </li>
        <li class="nav-item">
          <a href="#" class="uc-btn btn-inline">Item 4</a>
        </li>
        <li class="nav-item uc-navbar-dropdown">
          <a href="#" class="uc-btn btn-inline"
            >Ítem del menú <i class="uc-icon">arrow_drop_down</i></a
          >
          <ul class="uc-navbar-dropdown_menu">
            <li class="dropdown_item--heading">
              <a href="#" class="uc-btn">Anatomía Patólogica</a>
              <ul class="uc-navbar-dropdown_child">
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn"
                    >Imágenes, Laboratorios y Patologías</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Radiología</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Anatomía Patólogica</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Laboratorios Clínicos</a>
                </li>
              </ul>
            </li>
            <li class="dropdown_item--heading">
              <a href="#" class="uc-btn">Medicina</a>
              <ul class="uc-navbar-dropdown_child">
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Dermatología</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Endrocrinología</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn"
                    >Enfermedades Infecciosas del Adulto</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Enfermedades Respiratorias</a>
                </li>
              </ul>
            </li>
            <li class="dropdown_item--heading">
              <a href="#" class="uc-btn">Especialidades Derivadas</a>
              <ul class="uc-navbar-dropdown_child">
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Cómo Postular</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Residentes</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Reglamento e instructivos</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Programas de Magíster</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Magíster en Bioética</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Magíster en Educación</a>
                </li>
              </ul>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Médica y Ciencias de la Salud</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Imágenes, Laboratorios y Patologías</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Radiología</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Anatomía Patólogica</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Laboratorios Clínicos</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Medicina</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Dermatología</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Endrocrinología</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Enfermedades Infecciosas del Adulto</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Enfermedades Respiratorias</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Gastroenterología</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Especialidades Médicas</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Especialidades Primarias</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Especialidades Derivadas</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Cómo Postular</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Residentes</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Reglamento e instructivos</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Programas de Magíster</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Magíster en Bioética</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Magíster en Educación</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Médica y Ciencias de la Salud</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Menú para versión Móvil -->
    <div class="uc-navbar_mobile d-block d-lg-none">
      <div class="uc-navbar_mobile-bar navbar-brand">
        <div class="uc-navbar_mobile-logo navbar-light">
          <div class="h2 text-font--serif text-color--blue">Título</div>
        </div>
        <a
          href="javascript:void(0);"
          class="uc-navbar_mobile-button js-accordion-title"
          data-collapse="collapseMobileNav3"
        >
          <span class="uc-icon"></span>
          Menú
        </a>
      </div>
      <div
        class="uc-navbar_mobile-content js-accordion-content"
        data-toggle="collapseMobileNav3"
        data-open="false"
        style="height: 0"
      >
        <div class="uc-navbar_mobile-list">
          <a href="#" class="list-item">Item 1</a>
          <a href="#" class="list-item">Item 2</a>
          <a href="#" class="list-item">Item 3</a>
          <a href="#" class="list-item">Item 4</a>
        </div>
      </div>
    </div>
  </nav>
</header>
