<div class="uc-card">
  <div class="uc-card_body--xl">
    <a href="#" class="uc-tag mb-20">Texto Tag</a>
    <div class="uc-quote mb-20">
      “Lo que más me gusta de la Universidad es la diversidad que tiene de
      personas.”
    </div>
    <p class="no-mar text-weight--bold no-margin">Daniela Arellano</p>
    <p
      class="p-size--sm p-color--gray text-weight--medium p-text--condensed no-margin"
    >
      Estudiante UC
    </p>
  </div>
</div>
