<div class="d-flex flex-row">
  <div class="mr-16">
    <div class="avatar avatar--circle avatar--bg avatar--md">
      <img src="https://dummyimage.com/60x60/edeaed/0076de.png" />
    </div>
  </div>
  <div class="">
    <p class="no-mar text-weight--bold no-margin">Daniela Arellano</p>
    <p
      class="p-size--sm p-color--gray text-weight--medium p-text--condensed no-margin"
    >
      Periodista. Organización de las Naciones Unidas
    </p>
  </div>
</div>
<div class="uc-rank icon-color--yellow my-20">
  <i class="uc-icon">star</i>
  <i class="uc-icon">star</i>
  <i class="uc-icon">star</i>
  <i class="uc-icon">star_border</i>
  <i class="uc-icon">star_border</i>
</div>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam eos sed,
  eaque laborum assumenda harum eveniet maiores similique itaque voluptatum,
  debitis ipsum eius rerum. Totam corporis repudiandae minima ducimus quae.
</p>
