<div class="uc-card">
  <div class="uc-card_body--xl">
    <div class="uc-quote mb-20">
      “Lo que más me gusta de la Universidad es la diversidad que tiene: de
      personas y campos de estudio. Uno sale al patio y se encuentra con gente
      que está estudiando el Major en asde personas y campos de estudio. Uno
      sale al patio y se encuentra con gente que está estudiando el Major en
      asdsae personas y campos de estudio. Uno
    </div>
    <p class="no-mar text-weight--bold no-margin">Daniela Arellano</p>
    <p
      class="p-size--sm p-color--gray text-weight--medium p-text--condensed no-margin"
    >
      Estudiante UC
    </p>
  </div>
</div>
