<div class="uc-card">
  <div class="uc-card_body--lg">
    <p class="uc-quote mb-16">
      “Lo que más me gusta de la Universidad es la diversidad que tiene: de
      personas y campos de estudio. Uno sale al patio y se encuentra con gente
      que está estudiando el Major en Ciencias de la Ingeniería, mientras yo
      estoy en el de Letras. Ese encuentro de gente tan distinta, es lo que más
      me atrae.”
    </p>
    <p class="no-margin"><strong>Javier Cristómo</strong></p>
    <p class="gray no-margin">Estudiante UC</p>
  </div>
</div>
