<div class="uc-card">
  <div class="uc-card_body--lg">
    <span class="mb-16">
      <i class="uc-icon uc-icon-quote">format_quote</i>
    </span>
    <p>
      “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula orci
      turpis at penatibus consequat enim. Enim risus luctus lectus leo placerat
      eu. Lobortis risus gravida commodo suspendisse ultrices lectus. Eu, dolor
      et, non, viverra. Pharetra leo venenatis, ut proin quis massa, amet duis
      ultricies. Odio libero nam vitae, eget leo ultricies”
    </p>
    <div class="mt-auto">
      <a href="#" class="uc-btn btn-inline">
        Link básico
        <i class="uc-icon">keyboard_arrow_right</i>
      </a>
    </div>
  </div>
  <div class="uc-card_footer d-flex flex-row">
    <div class="mr-16">
      <div class="avatar avatar--circle avatar--bg avatar--md">
        <img src="https://dummyimage.com/60x60/edeaed/0076de.png" />
      </div>
    </div>
    <div class="">
      <p class="no-mar text-weight--bold no-margin">Daniela Arellano</p>
      <p
        class="p-size--sm p-color--gray text-weight--medium p-text--condensed no-margin"
      >
        Periodista. Organización de las Naciones Unidas
      </p>
    </div>
  </div>
</div>
