<div class="uc-card">
  <div class="uc-card_body--xl">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc justo,
      bibendum in non blandit in in mattis id. Egestas pellentesque id
      adipiscing convallis turpis risus, nullam. Varius velit dui, velit,
      fermentum, malesuada duis quam neque velit. Dignissim euismod nulla id
      vel. Risus praesent eleifend consectetur in maecenas. Turpis libero amet,
      ipsum erat eu mattis maecenas ac. Egestas amet in non arcu facilisis
      consequat praesent. Ut neque aenean hendrerit mauris, egestas eu pretium.
      Lorem est placerat accumsan eu in elit, rhoncus nisl. Tellus pellentesque
      ut commodo nibh id sed purus. Fusce etiam in consequat risus consequat
      gravida fermentum. Duis ac senectus nisl, id nulla quis quis. Amet massa
      consequat, nulla ullamcorper ullamcorper ut. Senectus sit sit rhoncus
      morbi sapien rhoncus nullam condimentum. Vitae vel platea aliquet eu
      gravida nisi hendrerit nunc maecenas. Mattis amet sed ut aliquam maecenas
      mi. Magna varius libero adipiscing aliquet aliquam phasellus. Hac.
    </p>
    <div class="mt-auto">
      <a href="#" class="uc-btn btn-inline">
        Link básico
        <i class="uc-icon">keyboard_arrow_right</i>
      </a>
    </div>
    <div class="mt-48 d-flex flex-row align-items-center">
      <div class="">
        <div class="mr-16 avatar avatar--circle avatar--bg avatar--lg">
          <img src="https://dummyimage.com/100x100/edeaed/0076de.png" />
        </div>
      </div>
      <div class="flex-grow-1">
        <p class="p-size--lg no-mar text-weight--bold no-margin">
          Daniela Arellano
        </p>
        <p class="p-size--sm p-color--gray no-margin">
          Periodista. Organización de las Naciones Unidas
        </p>
        <div class="mt-8 uc-text-divider divider-secondary"></div>
      </div>
    </div>
  </div>
</div>
