<div class="uc-image-quote image-right">
  <div class="row align-items-center">
    <div class="col-md-5 order-last order-md-first">
      <div class="uc-card">
        <div class="uc-card_body--lg">
          <a href="#" class="uc-tag">Texto tag</a>
          <p class="uc-quote my-16">
            "Nuestra vacuna contra el virus sincicial pretende una protección
            que dure toda la vida"
          </p>
          <p class="no-margin"><strong>Alexis Calergis</strong></p>
          <p class="gray no-margin">
            Director Instituto Milenio en Inmunología e Inmunoterapia
          </p>
        </div>
      </div>
    </div>
    <div class="uc-image-quote_image col-md-7">
      <img
        src="https://dummyimage.com/800x600/e0e0e0/b8b8b8.jpg"
        alt="Dummy image"
        draggable="false"
      />
    </div>
  </div>
</div>
<div class="uc-image-quote image-right mt-40">
  <div class="row align-items-center">
    <div class="col-md-5 order-last order-md-first">
      <div class="uc-card">
        <div class="uc-card_body--lg">
          <p class="uc-subtitle mb-24">
            Ciclo "Mujeres en Ciencia"/Ciencia 2030 y VRI
          </p>
          <p class="uc-quote mb-16">
            “Algunas alumnas se repitieron el plato y vinieron a todas las
            charlas. Muchas quieren ser científicas y esta interacción con las
            investigadoras es una gran ayuda para confirmar sus decisiones de
            dedicarse a las ciencias”.
          </p>
          <div class="row align-items-center">
            <div class="col-lg-6">
              <p class="no-margin"><strong>María Fernanda Fuentes</strong></p>
              <p class="p-color--gray no-margin">
                Profesora Liceo Nuestra Señora María Inmaculada de El Bosque
              </p>
            </div>
            <div class="col-lg-6 text-right">
              <a
                href="https://ciencia2030.uc.cl/ciclo-de-conversaciones-reunio-a-estudiantes-secundarias-con-destacadas-cientificas-uc"
                target="_blank"
                class="uc-btn btn-inline"
              >
                Ir al sitio del programa <i class="uc-icon">launch</i></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div
        class="uc-image-quote_image"
        style="
          background-image: url('https://dummyimage.com/1112x540/e0e0e0/b8b8b8.jpg');
        "
      ></div>
    </div>
  </div>
</div>

<div class="uc-image-quote image-left mt-40">
  <div class="row align-items-center">
    <div class="col-md-6 order-first">
      <div class="uc-image-quote_image">
        <img
          src="https://dummyimage.com/800x600/e0e0e0/b8b8b8.jpg"
          alt="Dummy image"
          draggable="false"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="uc-card">
        <div class="uc-card_body--lg">
          <a href="#" class="uc-tag">Texto tag</a>
          <p class="uc-quote my-16">
            "Nuestra vacuna contra el virus sincicial pretende una protección
            que dure toda la vida"
          </p>
          <p class="no-margin"><strong>Alexis Calergis</strong></p>
          <p class="gray no-margin">
            Director Instituto Milenio en Inmunología e Inmunoterapia
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="uc-image-quote image-left mt-40">
  <div class="row align-items-center">
    <div class="col-md-6 order-first">
      <a
        href="https://www.uc.cl/noticias/descubren-valiosos-hallazgos-arqueologicos-en-la-araucania/"
        target="_blank"
        ><div
          class="uc-image-quote_image"
          style="
            background-image: url('https://dummyimage.com/1112x540/e0e0e0/b8b8b8.jpg');
          "
        ></div
      ></a>
    </div>
    <div class="col-md-6">
      <div class="uc-card">
        <div class="uc-card_body--lg">
          <a href="/temas/arqueologia/" class="uc-tag">Arqueología</a>
          <a
            href="https://www.uc.cl/noticias/descubren-valiosos-hallazgos-arqueologicos-en-la-araucania/"
            target="_blank"
            class="uc-quote my-16 color-black uc-btn"
          >
            Descubren valiosos hallazgos arqueológicos en la Araucanía
          </a>
          <p class="no-margin"><strong>Roberto Campbell</strong></p>
          <p class="p-color--gray no-margin">
            Profesor Escuela de Antropología
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
