<div class="uc-image-quote image-right">
  <div class="row align-items-center">
    <div class="col-md-5 order-last order-md-first">
      <div class="uc-card">
        <div class="uc-card_body--lg">
          <a href="#" class="uc-tag">Texto tag</a>
          <p class="uc-quote my-16">
            "Nuestra vacuna contra el virus sincicial pretende una protección
            que dure toda la vida"
          </p>
          <p class="no-margin"><strong>Alexis Calergis</strong></p>
          <p class="gray no-margin">
            Director Instituto Milenio en Inmunología e Inmunoterapia
          </p>
        </div>
      </div>
    </div>
    <div class="uc-image-quote_image col-md-7">
      <img
        src="https://dummyimage.com/800x600/e0e0e0/b8b8b8.jpg"
        alt="Dummy image"
        draggable="false"
      />
    </div>
  </div>
</div>
