<div class="uc-filters">
  <div class="uc-form-group no-margin">
    <input
      id="ucsearch3"
      type="text"
      class="uc-input-style w-icon search"
      placeholder="Buscar por"
    />
    <span class="w-icon search"></span>
  </div>
  <div class="ml-auto">
    <div class="uc-form-group label-inline no-margin">
      <ul class="uc-filters_alphabetic mr-16">
        <li>
          <button type="button" class="letter-filter">A</button>
        </li>
        <li>
          <button type="button" class="letter-filter">B</button>
        </li>
        <li>
          <button type="button" class="letter-filter">C</button>
        </li>
        <li>
          <button type="button" class="letter-filter">D</button>
        </li>
        <li>
          <button type="button" class="letter-filter">E</button>
        </li>
        <li>
          <button type="button" class="letter-filter">F</button>
        </li>
        <li>
          <button type="button" class="letter-filter">G</button>
        </li>
        <li>
          <button type="button" class="letter-filter">H</button>
        </li>
        <li>
          <button type="button" class="letter-filter">I</button>
        </li>
        <li>
          <button type="button" class="letter-filter">J</button>
        </li>
      </ul>
      <div class="uc-form-group label-inline no-margin">
        <label>Filtrar por:</label>
        <select class="uc-input-style">
          <option selected="">Ordenar por</option>
          <option value="1">Uno</option>
          <option value="2">Dos</option>
          <option value="3">Tres</option>
        </select>
      </div>
    </div>
  </div>
</div>
