<div class="uc-filters">
  <div class="uc-form-group no-margin">
    <input
      id="ucsearch2"
      type="text"
      class="uc-input-style w-icon search"
      placeholder="Buscar por"
    />
    <span class="w-icon search"></span>
  </div>
  <div class="ml-auto">
    <div class="uc-form-group label-inline no-margin">
      <label>Filtrar por:</label>
      <select class="uc-input-style">
        <option selected="">Ordenar por</option>
        <option value="1">Uno</option>
        <option value="2">Dos</option>
        <option value="3">Tres</option>
      </select>
    </div>
  </div>
</div>
