<div class="row">
  <div class="col-md-4">
    <div class="uc-card card-height--same">
      <img
        src="https://dummyimage.com/300x190/edeaed/0076de.png"
        class="uc-card-img"
        alt=""
      />
      <a href="#" class="uc-tag tag-fixed">Carrera de Pregrado</a>
      <div class="uc-card_body">
        <p class="text-size--sm text-color--gray text--condensed">
          18 Marzo 2018
        </p>
        <h3 class="h4">
          Ejemplo de título de card con etiqueta HTML h3 y clase del Kit .h4
        </h3>
        <div class="uc-text-divider divider-primary my-12"></div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta
          pellentesque finibus. Donec viverra enim eget lacus consectetur.
        </p>
        <div class="text-right mt-auto">
          <a href="#" class="uc-btn btn-inline">
            Ver más
            <i class="uc-icon">keyboard_arrow_right</i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="uc-card card-height--same">
      <img
        src="https://dummyimage.com/300x190/edeaed/0076de.png"
        class="uc-card-img"
        alt=""
      />
      <a href="#" class="uc-tag tag-fixed">Carrera de Pregrado</a>
      <div class="uc-card_body">
        <p class="text-size--sm text-color--gray text--condensed">
          18 Marzo 2018
        </p>
        <h3 class="h4">
          Ejemplo de título de card con etiqueta HTML h3 y clase del Kit .h4
        </h3>
        <div class="uc-text-divider divider-primary my-12"></div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu
          scelerisque metus congue. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Nullam porta pellentesque finibus. Nullam porta
          pellentesque finibus.
        </p>
        <a href="#" class="uc-btn btn-primary mt-auto">
          Más información
          <i class="uc-icon icon-shape--rounded">arrow_forward</i>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="uc-card uc-card--no-interaction card-height--same">
      <img
        src="https://dummyimage.com/300x190/edeaed/0076de.png"
        class="uc-card-img"
        alt=""
      />
      <div class="uc-card_body">
        <p class="text-size--sm text-color--gray text--condensed">
          18 Marzo 2018
        </p>
        <h3 class="h4">Card sin enlace</h3>
        <div class="uc-text-divider divider-primary my-12"></div>
        <p>
          Nullam porta pellentesque finibus. In porttitor est augue, at aliquet
          massa tristique in. Donec viverra enim eget lacus consectetur, eu
          scelerisque metus congue.
        </p>
        <div class="text-right mt-auto">
          <a href="#" class="uc-btn btn-primary btn-disabled">
            No disponible
            <i class="uc-icon icon-shape--rounded">arrow_forward</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
