<div class="d-flex" style="gap: 12px">
  <div class="uc-card card-type--horizontal" style="max-width: 500px">
    <img
      src="https://dummyimage.com/200x160/edeaed/0076de.png"
      class="img-fluid"
      alt="Imagen"
    />
    <div class="uc-card_body">
      <a href="#" class="uc-tag">Texto</a>
      <h3 class="h4">
        Ejemplo de título de card con etiqueta HTML h3 y clase del Kit .h4
      </h3>
      <div class="text-right">
        <a href="#" class="uc-btn btn-inline"
          >Ver más
          <i class="uc-icon icon-shape--rounded">keyboard_arrow_right</i></a
        >
      </div>
    </div>
  </div>
  <div
    class="uc-card card-type--horizontal uc-card--no-interaction"
    style="max-width: 500px"
  >
    <img
      src="https://dummyimage.com/200x160/edeaed/0076de.png"
      class="img-fluid"
      alt="Imagen"
    />
    <div class="uc-card_body">
      <a href="#" class="uc-tag">Texto</a>
      <h3 class="h4">
        Ejemplo de título de card con etiqueta HTML h3 y clase del Kit .h4
        <br />
        (sin enlace)
      </h3>
    </div>
  </div>
</div>
