<div class="uc-card">
  <h3 class="uc-card_header">Comunidad UC</h3>
  <div class="uc-card_body">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque
      consequatur cumque debitis dicta distinctio iusto labore, libero minus
      necessitatibus nihil nisi perspiciatis placeat recusandae suscipit
      temporibus voluptas. Autem, rerum?
    </p>
    <div class="mt-auto">
      <a href="#" class="uc-btn btn-inline"
        >Ver más
        <i class="uc-icon icon-shape--rounded">keyboard_arrow_right</i></a
      >
    </div>
  </div>
  <div class="uc-card_footer text-right">
    <p class="text-color--gray no-margin">Fuente: UC</p>
  </div>
</div>
