<div
  class="uc-card card-type--event card-height--same mt-60"
  style="max-width: 380px"
>
  <img
    src="https://dummyimage.com/378x210/e0e0e0/b8b8b8.jpg"
    class="d-none d-lg-block img-fluid"
    loading="lazy"
    height="100"
    width="100%"
  />
  <div class="uc-card_body">
    <div class="uc-card card-type--date">
      <div class="day">7</div>
      <div class="month">Nov</div>
    </div>
    <span class="uc-subtitle mt-20 mb-16">Teatro</span>
    <div class="d-flex h-full flex-column">
      <a
        href="#"
        target="_blank"
        class="d-flex h4 color-black uc-card-link mb-16"
      >
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, minus.
      </a>
    </div>
    <div class="uc-card_event--content">
      <div class="date">1 de Diciembre</div>
      <div class="time">15:00 a 20:30 hrs.</div>
      <div class="venue"><p class="no-margin">Teatro UC</p></div>
    </div>
  </div>
</div>
