<div class="uc-card" style="max-width: 300px">
  <img
    src="https://dummyimage.com/300x190/edeaed/0076de.png"
    class="uc-card-img"
    alt=""
  />
  <a href="#" class="uc-tag tag-fixed">Carrera de Pregrado</a>
  <div class="uc-card_body">
    <h3 class="h4">
      Ejemplo de título de card con etiqueta HTML h3 y clase del Kit .h4
    </h3>
    <div class="text-right mt-auto">
      <a href="#" class="uc-btn btn-inline">
        Ver más
        <i class="uc-icon">keyboard_arrow_right</i>
      </a>
    </div>
  </div>
</div>
