<div class="uc-card" style="max-width: 300px">
  <div class="uc-card_body">
    <h3 class="h4">
      Ejemplo de título de card con etiqueta HTML h3 y clase del Kit .h4
    </h3>
    <div class="uc-text-divider divider-primary my-12"></div>
    <p class="no-margin">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta
      pellentesque finibus. In porttitor est augue, at aliquet massa tristique
      in. Donec viverra enim eget lacus consectetur, eu scelerisque metus
      congue.
    </p>
    <div class="text-right mt-auto">
      <a href="#" class="uc-btn btn-inline">
        Ver más
        <i class="uc-icon">keyboard_arrow_right</i>
      </a>
    </div>
  </div>
</div>
