<div class="uc-card card-type--horizontal card-border--top mb-60">
  <div class="row no-gutters">
    <div class="col-lg-3">
      <img
        src="https://dummyimage.com/330x330/edeaed/0076de.png"
        class="uc-card-img"
        alt="imagen de card"
      />
    </div>
    <div class="col-lg-9">
      <div class="uc-card_body--xl h-full">
        <a href="#" class="uc-tag">Tag UC</a>
        <div class="h3 my-16">
          <div class="uc-icon mr-12">notifications_active</div>
          Título de la contingencia
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          adipisci alias autem est eum illum ipsum laudantium maxime minus nobis
          odio officiis omnis perferendis quos reprehenderit similique, suscipit
          vel voluptate.
        </p>
        <div class="mt-auto">
          <a href="#" class="uc-btn btn-inline">
            Ver más<i class="uc-icon icon-shape--rounded">arrow_forward</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
