<div class="d-flex" style="gap: 12px">
  <div class="uc-card card-type--horizontal" style="max-width: 470px">
    <div class="row no-gutters">
      <div class="col-6">
        <img
          src="https://dummyimage.com/400x400/edeaed/0076de.png"
          class="uc-card-img"
          alt="Imagen de card"
        />
      </div>
      <div class="col-6">
        <div class="uc-card_body">
          <a href="#" class="uc-tag"> Texto </a>
          <h3 class="h4">
            Ejemplo de título de card con etiqueta HTML h3 y clase del Kit .h4
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <div class="text-right">
            <a href="#" class="uc-btn btn-inline"
              >Ver más
              <i class="uc-icon icon-shape--rounded">keyboard_arrow_right</i></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="uc-card card-type--horizontal uc-card--no-interaction"
    style="max-width: 470px; height: fit-content"
  >
    <div class="row no-gutters">
      <div class="col-4">
        <img
          src="https://dummyimage.com/190x260/edeaed/0076de.png"
          class="uc-card-img"
          alt="Imagen de card"
        />
      </div>
      <div class="col-8">
        <div class="uc-card_body">
          <a href="#" class="uc-tag"> Texto </a>
          <h3 class="h4">
            Ejemplo de título de card con etiqueta HTML h3 y clase del Kit .h4
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. (Ejemplo
            sin enlace)
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
