<div class="uc-card" style="max-width: 300px">
  <img
    src="https://dummyimage.com/300x190/edeaed/0076de.png"
    class="uc-card-img"
    alt="imagen de card"
  />
  <div class="uc-card_body">
    <h3 class="h4">
      Ejemplo de título de card con etiqueta HTML h3 y clase del Kit .h4
    </h3>
    <div class="uc-text-divider divider-primary my-12"></div>
    <p class="">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta
      pellentesque finibus. In porttitor est augue, at aliquet massa tristique
      in.
    </p>
    <div class="text-right">
      <a href="#" class="uc-btn btn-inline"
        >Ver más
        <i class="uc-icon icon-shape--rounded">keyboard_arrow_right</i></a
      >
    </div>
  </div>
</div>
