<div
  class="uc-card card-hoverable card-bg--image card-gradient--bottom-blue uc-card--type-square"
>
  <img
    class="uc-card-img uc-card-img--type-square"
    src="https://dummyimage.com/370x390/edeaed/0076de.png"
    alt="Dummy image"
  />

  <div class="uc-card_body--lg uc-card_body--absolute">
    <div class="mt-auto">
      <h3 class="color-white h4 external">
        Título de card con etiqueta HTML h3, clase del Kit .h4 y enlace externo
      </h3>
      <div class="uc-text-divider divider-primary mt-12"></div>
    </div>
  </div>
  <div class="uc-card card-hovered">
    <div class="uc-card_body--lg">
      <h4 class="color-white">Innovación</h4>
      <div class="uc-text-divider divider-primary my-12"></div>
      <p class="color-white">
        Impulsamos iniciativas multidisciplinarias de innovación a través de
        proyectos y programas de emprendimiento de alto impacto.
      </p>
      <a href="#" class="uc-btn btn-primary mt-auto">
        Más información
        <i class="uc-icon icon-shape--rounded">arrow_forward</i>
      </a>
    </div>
  </div>
</div>
