<div class="row">
  <div class="col-lg-6 my-16">
    <div class="uc-card card-height--same">
      <div class="uc-card_body">
        <h3>
          <a href="#" class="uc-btn color-black"> Card con enlace </a>
        </h3>
        <div class="uc-text-divider divider-primary my-12"></div>
        <p>
          Es aquel que en su interior incluye un botón, un tag o etiqueta u otro
          elemento con enlace (un título o una imagen clicable, por ejemplo).
        </p>
        <div class="text-right mt-auto">
          <a href="#" class="uc-btn btn-inline">
            Ver más
            <i class="uc-icon">keyboard_arrow_right</i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg my-16">
    <div class="uc-card uc-card--no-interaction card-height--same">
      <div class="uc-card_body">
        <h3>Card sin enlace</h3>
        <div class="uc-text-divider divider-primary my-12"></div>
        <p class="no-margin">
          No incluye ningún enlace o el enlace está deshabilitado.<br />
          Utiliza la misma estructura HTML que un card con enlace (<code
            class="uc-class"
            >.uc-card</code
          >), pero se agrega la siguiente clase para que se visualice el estilo
          correcto: <br />
          <code class="uc-class">.uc-card--no-interaction</code>.
        </p>
      </div>
    </div>
  </div>
</div>
