<div
  class="uc-card card-type--event card-height--same"
  style="height: fit-content"
>
  <div class="uc-card card-type--date">
    <div class="day">7</div>
    <div class="month">Nov</div>
  </div>
  <div class="uc-card_body">
    <span class="uc-subtitle mt-20 mb-16">Teatro</span>
    <h4>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, minus.
    </h4>
    <div class="uc-card_event--content">
      <div class="date">1 de Diciembre</div>
      <div class="time">15:00 a 20:30 hrs.</div>
      <div class="venue">Teatro UC</div>
    </div>
  </div>
</div>
