<div
  class="uc-card card-bg--image card-gradient--bottom-blue"
  style="max-width: 380px"
>
  <a href="#prueba1">
    <img
      class="uc-card-img"
      src="https://dummyimage.com/800x700/e0e0e0/b8b8b8.jpg"
      alt="Dummy image"
    />

    <div class="uc-card_body uc-card_body--absolute">
      <div class="uc-card card-bg--white mt-auto">
        <div class="uc-card_body">
          <h3 class="color-black">
            Sol Serrano: la primera mujer galardonada con el Premio Nacional de
            Historia.
          </h3>
        </div>
      </div>
    </div>
  </a>
  <a href="#prueba2" class="uc-tag tag-fixed">Carrera de Pregrado</a>
</div>
