<section class="d-flex flex-column" style="gap: 40px">
  <div class="uc-card uc-card--no-interaction" style="max-width: 300px">
    <div class="uc-card_body">
      <h3 class="h4">
        Ejemplo de título de card con etiqueta HTML h3 y clase del Kit .h4
      </h3>
      <div class="uc-text-divider divider-primary my-12"></div>
      <p class="no-margin">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta
        pellentesque finibus. In porttitor est augue, at aliquet massa tristique
        in. Donec viverra enim eget lacus consectetur, eu scelerisque metus
        congue.
      </p>
    </div>
  </div>

  <div class="uc-hero">
    <img
      class="uc-hero__bg-img"
      src="https://dummyimage.com/1440x508/e0e0e0/b8b8b8.jpg"
      alt="Dummy image"
      loading="lazy"
    />

    <div class="uc-hero__content uc-hero__content--right container">
      <div class="col-md-6 col-lg-5 uc-hero__card-container">
        <div class="uc-card uc-card--no-interaction">
          <div class="uc-card_body">
            <h1 class="color-black mb-16 uc-hero__content--no-padding">
              Consectetur adipiscing elit urna mi diam
            </h1>

            <p class="no-margin uc-hero__card-bajada">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna mi
              diam bibendum vitae, molestie eu diam aliquam, suscipit.
            </p>
            <a
              href="#"
              class="uc-btn btn-inline btn-inline--bold btn-inline--icon-adjacent mt-16 no-margin-on-mobile"
            >
              <span>Más información</span>
              <i class="uc-icon icon-shape--rounded">arrow_forward</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="uc-card card-type--horizontal uc-card--no-interaction"
    style="max-width: 500px"
  >
    <img
      src="https://dummyimage.com/200x160/edeaed/0076de.png"
      class="img-fluid"
      alt="Imagen"
    />
    <div class="uc-card_body">
      <a href="#" class="uc-tag">Texto</a>
      <h3 class="h4">
        Ejemplo de título de card con etiqueta HTML h3 y clase del Kit .h4
      </h3>
      <div class="text-right mt-auto"></div>
    </div>
  </div>

  <div class="uc-card uc-card--no-interaction">
    <h3 class="uc-card_header">Comunidad UC</h3>
    <div class="uc-card_body">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
        atque consequatur cumque debitis dicta distinctio iusto labore, libero
        minus necessitatibus nihil nisi perspiciatis placeat recusandae suscipit
        temporibus voluptas. Autem, rerum?
      </p>
    </div>
    <div class="uc-card_footer text-right">
      <p class="text-color--gray no-margin">Fuente: UC</p>
    </div>
  </div>
</section>
