<div
  class="uc-card card-bg--image card-gradient--bottom-blue uc-card--type-square"
>
  <a href="#prueba">
    <img
      class="uc-card-img uc-card-img--type-square"
      src="https://dummyimage.com/500x500/edeaed/0076de.png"
      alt="Dummy image"
    />

    <div class="uc-card_body--lg uc-card_body--absolute">
      <div class="mt-auto">
        <h3 class="color-white h4 external">
          Título de card con etiqueta HTML h3, clase del Kit .h4 y enlace
          externo
        </h3>
        <div class="uc-text-divider divider-primary mt-12"></div>
      </div>
    </div>
  </a>
</div>
