<div class="uc-card card-special card-quote" style="max-width: 600px">
  <h4>Arriendo de espacios</h4>
  <div class="uc-text-divider divider-primary"></div>
  <p class="no-margin">
    Encuentra el espacio para tu evento, ya sea una actividad académica,
    gubernamental, corporativa o personal.
  </p>
</div>
