<section>
  <!-- START - CARRUSEL CON CARDS -->
  <div class="container">
    <div
      class="uc-carousel-cards"
      data-carousel="uc-carousel-cards_content"
      data-type="cards"
      data-items="3"
      data-sm-items="2"
      data-slideby="1"
      data-loop="false"
      data-controls="true"
      data-speed="500"
      data-autoplay-text="true"
      data-prev-button=".carousel-controls .prev"
      data-next-button=".carousel-controls .next"
      data-counter="true"
      data-track="true"
    >
      <!-- los atributos data-carousel, data-prev-button y data-next-button deben ser clases únicas 
      (seguidas de .prev/.next en el caso de los controles), si se repiten en el DOM puede 
      ocasionar errores cuando hay mas de un carousel-->
      <div class="uc-carousel-cards_content">
        <div class="item">
          <div
            class="uc-card card-bg--image card-gradient--bottom-blue"
            style="max-width: 380px"
          >
            <a href="#prueba1">
              <img
                class="uc-card-img"
                src="https://dummyimage.com/800x700/e0e0e0/b8b8b8.jpg"
                alt="Dummy image"
              />

              <div class="uc-card_body uc-card_body--absolute">
                <div class="uc-card card-bg--white mt-auto">
                  <div class="uc-card_body">
                    <h3 class="color-black">
                      Sol Serrano: la primera mujer galardonada con el Premio
                      Nacional de Historia.
                    </h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="#prueba2" class="uc-tag tag-fixed">Carrera de Pregrado</a>
          </div>
        </div>
        <div class="item">
          <div
            class="uc-card card-bg--image card-gradient--bottom-blue"
            style="max-width: 380px"
          >
            <a href="#prueba1">
              <img
                class="uc-card-img"
                src="https://dummyimage.com/800x700/e0e0e0/b8b8b8.jpg"
                alt="Dummy image"
              />

              <div class="uc-card_body uc-card_body--absolute">
                <div class="uc-card card-bg--white mt-auto">
                  <div class="uc-card_body">
                    <h3 class="color-black">
                      Sol Serrano: la primera mujer galardonada con el Premio
                      Nacional de Historia.
                    </h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="#prueba2" class="uc-tag tag-fixed">Carrera de Pregrado</a>
          </div>
        </div>
        <div class="item">
          <div
            class="uc-card card-bg--image card-gradient--bottom-blue"
            style="max-width: 380px"
          >
            <a href="#prueba1">
              <img
                class="uc-card-img"
                src="https://dummyimage.com/800x700/e0e0e0/b8b8b8.jpg"
                alt="Dummy image"
              />

              <div class="uc-card_body uc-card_body--absolute">
                <div class="uc-card card-bg--white mt-auto">
                  <div class="uc-card_body">
                    <h3 class="color-black">
                      Sol Serrano: la primera mujer galardonada con el Premio
                      Nacional de Historia.
                    </h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="#prueba2" class="uc-tag tag-fixed">Carrera de Pregrado</a>
          </div>
        </div>
        <div class="item">
          <div
            class="uc-card card-bg--image card-gradient--bottom-blue"
            style="max-width: 380px"
          >
            <a href="#prueba1">
              <img
                class="uc-card-img"
                src="https://dummyimage.com/800x700/e0e0e0/b8b8b8.jpg"
                alt="Dummy image"
              />

              <div class="uc-card_body uc-card_body--absolute">
                <div class="uc-card card-bg--white mt-auto">
                  <div class="uc-card_body">
                    <h3 class="color-black">
                      Sol Serrano: la primera mujer galardonada con el Premio
                      Nacional de Historia.
                    </h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="#prueba2" class="uc-tag tag-fixed">Carrera de Pregrado</a>
          </div>
        </div>
        <div class="item">
          <div
            class="uc-card card-bg--image card-gradient--bottom-blue"
            style="max-width: 380px"
          >
            <a href="#prueba1">
              <img
                class="uc-card-img"
                src="https://dummyimage.com/800x700/e0e0e0/b8b8b8.jpg"
                alt="Dummy image"
              />

              <div class="uc-card_body uc-card_body--absolute">
                <div class="uc-card card-bg--white mt-auto">
                  <div class="uc-card_body">
                    <h3 class="color-black">
                      Sol Serrano: la primera mujer galardonada con el Premio
                      Nacional de Historia.
                    </h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="#prueba2" class="uc-tag tag-fixed">Carrera de Pregrado</a>
          </div>
        </div>
        <div class="item">
          <div
            class="uc-card card-bg--image card-gradient--bottom-blue"
            style="max-width: 380px"
          >
            <a href="#prueba1">
              <img
                class="uc-card-img"
                src="https://dummyimage.com/800x700/e0e0e0/b8b8b8.jpg"
                alt="Dummy image"
              />

              <div class="uc-card_body uc-card_body--absolute">
                <div class="uc-card card-bg--white mt-auto">
                  <div class="uc-card_body">
                    <h3 class="color-black">
                      Sol Serrano: la primera mujer galardonada con el Premio
                      Nacional de Historia.
                    </h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="#prueba2" class="uc-tag tag-fixed">Carrera de Pregrado</a>
          </div>
        </div>
      </div>
      <div class="carousel-track d-block d-lg-none">
        <div class="carousel-progress-indicator"></div>
      </div>
      <div class="carousel-controls d-none d-lg-flex">
        <div class="prev">
          <svg
            width="48px"
            height="16px"
            viewBox="0 0 48 16"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-272.000000, 0.000000)" fill="#0176DE">
                <path
                  d="M319.999999,7.99862356 C320,7.9990823 320,7.99954111 320,8 C320,8.00045889 320,8.0009177 319.999999,8.00137644 C319.999683,8.23695673 319.918232,8.47244231 319.755645,8.65920128 L313.646473,15.6766505 C313.296166,16.0790401 312.698312,16.1101069 312.311129,15.7460401 C311.923947,15.3819733 311.894054,14.7606376 312.244362,14.3582479 L316.909085,9 L273.088579,9 C272.487374,9 272,8.55228475 272,8 C272,7.44771525 272.487374,7 273.088579,7 L316.909085,7 L312.244362,1.64175206 C311.894054,1.23936242 311.923947,0.618026698 312.311129,0.253959882 C312.698312,-0.110106935 313.296166,-0.0790401485 313.646473,0.323349491 L319.755645,7.34079872 C319.918232,7.52755769 319.999683,7.76304327 319.999999,7.99862356 Z"
                  id="arrow-forward"
                ></path>
              </g>
            </g>
          </svg>
        </div>
        <div class="uc-carousel_index">
          <span class="index-current current"></span> /
          <span class="index-total"></span>
        </div>
        <div class="next">
          <svg
            width="48px"
            height="16px"
            viewBox="0 0 48 16"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-272.000000, 0.000000)" fill="#0176DE">
                <path
                  d="M319.999999,7.99862356 C320,7.9990823 320,7.99954111 320,8 C320,8.00045889 320,8.0009177 319.999999,8.00137644 C319.999683,8.23695673 319.918232,8.47244231 319.755645,8.65920128 L313.646473,15.6766505 C313.296166,16.0790401 312.698312,16.1101069 312.311129,15.7460401 C311.923947,15.3819733 311.894054,14.7606376 312.244362,14.3582479 L316.909085,9 L273.088579,9 C272.487374,9 272,8.55228475 272,8 C272,7.44771525 272.487374,7 273.088579,7 L316.909085,7 L312.244362,1.64175206 C311.894054,1.23936242 311.923947,0.618026698 312.311129,0.253959882 C312.698312,-0.110106935 313.296166,-0.0790401485 313.646473,0.323349491 L319.755645,7.34079872 C319.918232,7.52755769 319.999683,7.76304327 319.999999,7.99862356 Z"
                  id="arrow-forward"
                ></path>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <!-- END - CARRUSEL CON CARDS -->

  <!-- START - CARRUSEL CON FEATURED CARDS -->
  <div class="container">
    <div
      class="uc-carousel mb-80"
      data-carousel="uc-featured-carousel"
      data-type="carousel"
      data-items="1"
      data-slideby="1"
      data-loop="true"
      data-nav="true"
      data-autoplay="true"
      data-controls="false"
      data-navcontainer="#carousel-fetured-nav"
      data-autoplaybutton="#carousel-featured-autoplay"
      data-autoplay-text="true"
      data-speed="1500"
      data-autoplay-timeout="8000"
      data-prev-button=".uc-featured-carousel .prev"
      data-next-button=".uc-featured-carousel .next"
    >
      <!-- los atributos data-carousel, data-prev-button y data-next-button deben ser clases únicas 
                (seguidas de .prev/.next en el caso de los controles), si se repiten en el DOM puede 
                ocasionar errores cuando hay mas de un carousel-->
      <div class="uc-featured-carousel d-flex">
        <div class="item uc-card">
          <div class="row no-gutters h-full">
            <div class="col-lg-5">
              <div class="uc-card_body--lg">
                <a href="#" class="uc-tag mb-16">Texto tag</a>
                <div class="h2">
                  Sol Serrano: la primera mujer galardonada con el Premio
                  Nacional de Historia.
                </div>
                <p class="mt-16">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
                  sed purus et leo consequat pellentesque blandit nec augue. In
                  at pellentesque risus. Sed luctus neque in dui feugiat
                  gravida. Nunc efficitur faucibus orci, nec imperdiet dolor
                  posuere scelerisque. Sed vitae egestas dui, et commodo velit.
                  Quisque lobortis congue ex, vestibulum fringilla magna
                  suscipit sit amet. Vivamus quis augue eu dolor auctor lacinia
                  non vel est.
                </p>
                <div class="text-right mt-16">
                  <a href="#" class="uc-link">Ver detalle</a>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <div
                class="uc-card card-bg--image card-gradient--bottom-blue card-shadow--none card-border--none card-radius--none"
              >
                <img
                  class="carousel-img"
                  src="https://dummyimage.com/680x530/e0e0e0/b8b8b8.jpg"
                  alt="Dummy image"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="item uc-card">
          <div class="row no-gutters h-full">
            <div class="col-lg-5">
              <div class="uc-card_body--lg">
                <a href="#" class="uc-tag mb-16">Texto tag</a>
                <div class="h2">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
                <p class="mt-16">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
                  sed purus et leo consequat pellentesque blandit nec augue. In
                  at pellentesque risus. Sed luctus neque in dui feugiat
                  gravida. Nunc efficitur faucibus orci, nec imperdiet dolor
                  posuere scelerisque. Sed vitae egestas dui, et commodo velit.
                  Quisque lobortis congue ex, vestibulum fringilla magna
                  suscipit sit amet. Vivamus quis augue eu dolor auctor lacinia
                  non vel est.
                </p>
                <div class="text-right">
                  <a href="#" class="uc-link">Ver detalle</a>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <div
                class="uc-card card-bg--image card-gradient--bottom-blue card-shadow--none card-border--none card-radius--none"
              >
                <img
                  class="carousel-img"
                  src="https://dummyimage.com/680x530/e0e0e0/b8b8b8.jpg"
                  alt="Dummy image"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="item uc-card">
          <div class="row no-gutters h-full">
            <div class="col-lg-5">
              <div class="uc-card_body--lg">
                <a href="#" class="uc-tag mb-16">Texto tag</a>
                <div class="h2">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit etiam
                  urna est facilisis
                </div>
                <p class="mt-16">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
                  sed purus et leo consequat pellentesque blandit nec augue. In
                  at pellentesque risus. Sed luctus neque in dui feugiat
                  gravida. Nunc efficitur faucibus orci, nec imperdiet dolor
                  posuere scelerisque. Sed vitae egestas dui, et commodo velit.
                  Quisque lobortis congue ex, vestibulum fringilla magna
                  suscipit sit amet. Vivamus quis augue eu dolor auctor lacinia
                  non vel est.
                </p>
                <div class="text-right">
                  <a href="#" class="uc-link">Ver detalle</a>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <div
                class="uc-card card-bg--image card-gradient--bottom-blue card-shadow--none card-border--none card-radius--none"
              >
                <img
                  class="carousel-img"
                  src="https://dummyimage.com/680x530/e0e0e0/b8b8b8.jpg"
                  alt="Dummy image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uc-carousel-nav primary-carousel-nav">
        <div class="container">
          <div class="carousel-nav-container">
            <ul class="carousel-nav-list" id="carousel-fetured-nav">
              <li class="carousel-nav-item">
                <div class="number">01</div>
                <div class="indicator"></div>
              </li>
              <li class="carousel-nav-item">
                <div class="number">02</div>
                <div class="indicator"></div>
              </li>
              <li class="carousel-nav-item">
                <div class="number">03</div>
                <div class="indicator"></div>
              </li>
            </ul>
            <div class="autoplay-buttons" id="carousel-featured-autoplay"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END - CARRUSEL CON FEATURED CARDS -->
</section>
