<div
  class="uc-carousel uc-carousel--home-card"
  data-carousel="uc-primary-carousel--home-card"
  data-type="carousel"
  data-items="1"
  data-slideby="1"
  data-loop="true"
  data-nav="true"
  data-autoplay="true"
  data-controls="false"
  data-navcontainer="#carousel-home-card-nav"
  data-autoplaybutton="#carousel-home-card-autoplay"
  data-autoplay-text="true"
>
  <!-- los atributos data-carousel, data-navcontainer y data-autoplaybutton deben ser clases/ids únicas,
     si se repiten en el DOM puede ocasionar errores cuando hay mas de un carousel-->
  <div class="uc-primary-carousel--home-card">
    <div class="primary-carousel_item" style="overflow: visible">
      <div class="uc-hero">
        <img
          class="uc-hero__bg-img carousel-img--focus-right"
          src="https://dummyimage.com/1440x508/e0e0e0/b8b8b8.jpg"
          alt="Dummy image"
          loading="lazy"
        />
        <div class="uc-hero__black-bottom-gradient"></div>
        <div class="uc-hero__content container">
          <div
            class="col-12 col-md-7 col-xl-6 uc-hero__card-container uc-hero__card-container--with-controls--home"
          >
            <div class="uc-card">
              <div class="uc-card_body">
                <a href="#" class="uc-tag mb-12">Texto tag</a>

                <h1 class="color-black mb-16 uc-hero__content--no-padding">
                  Consectetur adipiscing elit urna mi diam
                </h1>

                <p class="no-margin d-none d-md-block">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna
                  mi diam bibendum vitae, molestie eu diam aliquam, suscipit.
                </p>
                <a
                  href="#"
                  class="uc-btn btn-inline btn-inline--icon-adjacent mt-16 no-margin-on-mobile"
                >
                  <span>Más información</span>
                  <i class="uc-icon icon-shape--rounded">arrow_forward</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="primary-carousel_item">
      <div class="uc-hero">
        <img
          class="uc-hero__bg-img carousel-img--focus-right"
          z
          src="https://dummyimage.com/1440x508/e0e0e0/b8b8b8.jpg"
          alt="Dummy image"
          loading="lazy"
        />
        <div class="uc-hero__black-bottom-gradient"></div>
        <div class="uc-hero__content container">
          <div
            class="col-12 col-md-8 col-xl-6 uc-hero__card-container uc-hero__card-container--with-controls--home"
          >
            <div class="uc-card">
              <div class="uc-card_body">
                <h1 class="color-black mb-16 uc-hero__content--no-padding">
                  Consectetur adipiscing elit urna mi diam
                </h1>
                <p class="no-margin d-none d-md-block uc-hero__card-bajada">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna
                  mi diam bibendum vitae, molestie eu diam aliquam, suscipit.
                </p>
                <a
                  href="#"
                  class="uc-btn btn-inline btn-inline--icon-adjacent mt-16 no-margin-on-mobile"
                >
                  <span>Más información</span>
                  <i class="uc-icon icon-shape--rounded">arrow_forward</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="primary-carousel_item">
      <div class="uc-hero">
        <img
          class="uc-hero__bg-img carousel-img--focus-right"
          src="https://dummyimage.com/1440x508/e0e0e0/b8b8b8.jpg"
          alt="Dummy image"
          loading="lazy"
        />
        <div class="uc-hero__black-bottom-gradient"></div>

        <div class="uc-hero__content container">
          <div
            class="col-12 col-md-8 col-xl-6 uc-hero__card-container uc-hero__card-container--with-controls--home"
          >
            <div class="uc-card">
              <div class="uc-card_body">
                <h1 class="color-black mb-16 uc-hero__content--no-padding">
                  Consectetur adipiscing elit urna mi diam
                </h1>

                <p class="no-margin d-none d-md-block">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna
                  mi diam bibendum vitae, molestie eu diam aliquam, suscipit.
                </p>
                <a
                  href="#"
                  class="uc-btn btn-inline btn-inline--icon-adjacent mt-16 no-margin-on-mobile"
                >
                  <span>Más información</span>
                  <i class="uc-icon icon-shape--rounded">arrow_forward</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="uc-carousel-nav primary-carousel-nav">
    <div class="container">
      <div class="carousel-nav-container">
        <ul class="carousel-nav-list" id="carousel-home-card-nav">
          <li class="carousel-nav-item">
            <div class="number">01</div>
            <div class="indicator"></div>
          </li>
          <li class="carousel-nav-item">
            <div class="number">02</div>
            <div class="indicator"></div>
          </li>
          <li class="carousel-nav-item">
            <div class="number">03</div>
            <div class="indicator"></div>
          </li>
        </ul>
        <div class="autoplay-buttons" id="carousel-home-card-autoplay"></div>
      </div>
    </div>
  </div>
</div>
