<div
  class="uc-carousel"
  data-carousel="uc-primary-carousel--text-centered"
  data-type="carousel"
  data-items="1"
  data-slideby="1"
  data-loop="true"
  data-nav="true"
  data-autoplay="true"
  data-controls="false"
  data-navcontainer="#carousel-text-ceneted-nav"
  data-autoplaybutton="#carousel-text-ceneted-autoplay"
  data-autoplay-text="true"
>
  <!-- los atributos data-carousel, data-navcontainer y data-autoplaybutton deben ser clases/ids únicas,
     si se repiten en el DOM puede ocasionar errores cuando hay mas de un carousel-->
  <div class="uc-primary-carousel--text-centered">
    <div class="primary-carousel_item">
      <div class="uc-hero">
        <img
          class="uc-hero__bg-img"
          src="https://dummyimage.com/1440x508/e0e0e0/b8b8b8.jpg"
          alt="Dummy image"
          loading="lazy"
        />
        <div class="uc-hero__dark-gradient"></div>
        <div
          class="uc-hero__content uc-hero__content--center uc-hero__text--center"
        >
          <div class="col-lg-8">
            <a href="#" class="uc-tag">Texto tag</a>
            <h1 class="color-white my-20">
              Estrategias de comunicación en redes sociodigitales
            </h1>
            <p class="mb-28 color-white d-none d-lg-block">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
              aliquam, purus sit amet luctus venenatis, lectus magna fringilla
              urna, porttitor rhoncus dolor purus non enim
            </p>
            <a href="#" class="uc-btn btn-inline">
              <span class="color-white">Ir al artículo</span>
              <i class="uc-icon icon-shape--rounded">arrow_forward</i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="primary-carousel_item">
      <div class="uc-hero">
        <img
          class="uc-hero__bg-img"
          src="https://dummyimage.com/1440x508/e0e0e0/b8b8b8.jpg"
          alt="Dummy image"
          loading="lazy"
        />
        <div class="uc-hero__dark-gradient"></div>
        <div
          class="uc-hero__content uc-hero__content--center uc-hero__text--center"
        >
          <div class="col-lg-8">
            <a href="#" class="uc-tag">Texto tag</a>
            <h1 class="color-white my-20">
              Estrategias de comunicación en redes sociodigitales
            </h1>
            <p class="mb-28 color-white d-none d-lg-block">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
              aliquam, purus sit amet luctus venenatis, lectus magna fringilla
              urna, porttitor rhoncus dolor purus non enim
            </p>
            <a href="#" class="uc-btn btn-inline">
              <span class="color-white">Ir al artículo</span>
              <i class="uc-icon icon-shape--rounded">arrow_forward</i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="primary-carousel_item">
      <div class="uc-hero">
        <img
          class="uc-hero__bg-img"
          src="https://dummyimage.com/1440x508/e0e0e0/b8b8b8.jpg"
          alt="Dummy image"
          loading="lazy"
        />
        <div class="uc-hero__dark-gradient"></div>
        <div
          class="uc-hero__content uc-hero__content--center uc-hero__text--center"
        >
          <div class="col-lg-8">
            <a href="#" class="uc-tag">Texto tag</a>
            <h1 class="color-white my-20">
              Estrategias de comunicación en redes sociodigitales
            </h1>
            <p class="mb-28 color-white d-none d-lg-block">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
              aliquam, purus sit amet luctus venenatis, lectus magna fringilla
              urna, porttitor rhoncus dolor purus non enim
            </p>
            <a href="#" class="uc-btn btn-inline">
              <span class="color-white">Ir al artículo</span>
              <i class="uc-icon icon-shape--rounded">arrow_forward</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="uc-carousel-nav primary-carousel-nav">
    <div class="container">
      <div class="carousel-nav-container">
        <ul class="carousel-nav-list" id="carousel-text-ceneted-nav">
          <li class="carousel-nav-item">
            <div class="number">01</div>
            <div class="indicator"></div>
          </li>
          <li class="carousel-nav-item">
            <div class="number">02</div>
            <div class="indicator"></div>
          </li>
          <li class="carousel-nav-item">
            <div class="number">03</div>
            <div class="indicator"></div>
          </li>
        </ul>
        <div class="autoplay-buttons" id="carousel-text-ceneted-autoplay"></div>
      </div>
    </div>
  </div>
</div>
