<div class="container my-60">
  <div
    class="uc-carousel-cards"
    data-carousel="uc-carousel-events"
    data-type="cards"
    data-items="4"
    data-slideby="1"
    data-loop="false"
    data-controls="true"
    data-speed="500"
    data-autoplayText="true"
    data-prev-button=".events-controls .prev"
    data-next-button=".events-controls .next"
    data-counter="true"
    data-track="true"
  >
    <!-- los atributos data-carousel, data-prev-button y data-next-button deben ser clases únicas 
      (seguidas de .prev/.next en el caso de los controles), si se repiten en el DOM puede 
      ocasionar errores cuando hay mas de un carousel-->
    <div class="uc-carousel-events d-flex">
      <div class="item">
        <div class="featured-image-container">
          <div class="uc-card-event-featured_image">
            <img
              class="carousel-img"
              src="https://dummyimage.com/410x530/e0e0e0/b8b8b8.jpg"
              alt="Dummy image"
            />
          </div>
        </div>
      </div>
      <div class="item">
        <div class="uc-card card-type--event card-height--same">
          <div class="uc-card card-type--date">
            <div class="day">7</div>
            <div class="month">Nov</div>
          </div>
          <div class="uc-card_body">
            <span class="uc-subtitle mt-20 mb-16">Teatro</span>
            <a class="h3 color-black"
              >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore,
              minus.</a
            >
            <div class="uc-card_event--content">
              <div class="date">1 de Diciembre</div>
              <div class="time">15:00 a 20:30 hrs.</div>
              <div class="venue">
                <span>Teatro UC</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="uc-card card-type--event card-height--same">
          <div class="uc-card card-type--date">
            <div class="day">7</div>
            <div class="month">Nov</div>
          </div>
          <div class="uc-card_body">
            <span class="uc-subtitle mt-20 mb-16">Teatro</span>
            <a class="h3 color-black">Lorem ipsum dolor sit amet</a>
            <div class="uc-card_event--content">
              <div class="date">1 de Diciembre</div>
              <div class="time">15:00 a 20:30 hrs.</div>
              <div class="venue"><span>Teatro UC</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="uc-card card-type--event card-height--same">
          <div class="uc-card card-type--date">
            <div class="day">7</div>
            <div class="month">Nov</div>
          </div>
          <div class="uc-card_body">
            <span class="uc-subtitle mt-20 mb-16">Teatro</span>
            <a class="h3 color-black"
              >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore,
              minus.</a
            >
            <div class="uc-card_event--content">
              <div class="date">1 de Diciembre</div>
              <div class="time">15:00 a 20:30 hrs.</div>
              <div class="venue"><span>Teatro UC</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="uc-card card-type--event card-height--same">
          <div class="uc-card card-type--date">
            <div class="day">7</div>
            <div class="month">Nov</div>
          </div>
          <div class="uc-card_body">
            <span class="uc-subtitle mt-20 mb-16">Teatro</span>
            <a class="h3 color-black"
              >Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a
            >
            <div class="uc-card_event--content">
              <div class="date">1 de Diciembre</div>
              <div class="time">15:00 a 20:30 hrs.</div>
              <div class="venue"><span>Teatro UC</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="uc-card card-type--event card-height--same">
          <div class="uc-card card-type--date">
            <div class="day">7</div>
            <div class="month">Nov</div>
          </div>
          <div class="uc-card_body">
            <span class="uc-subtitle mt-20 mb-16">Teatro</span>
            <a class="h3 color-black"
              >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore,
              minus.</a
            >
            <div class="uc-card_event--content">
              <div class="date">1 de Diciembre</div>
              <div class="time">15:00 a 20:30 hrs.</div>
              <div class="venue"><span>Teatro UC</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-track d-block d-lg-none">
      <div class="carousel-progress-indicator"></div>
    </div>
    <div class="carousel-controls d-none d-lg-flex events-controls">
      <div class="prev">
        <svg
          width="48px"
          height="16px"
          viewBox="0 0 48 16"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-272.000000, 0.000000)" fill="#0176DE">
              <path
                d="M319.999999,7.99862356 C320,7.9990823 320,7.99954111 320,8 C320,8.00045889 320,8.0009177 319.999999,8.00137644 C319.999683,8.23695673 319.918232,8.47244231 319.755645,8.65920128 L313.646473,15.6766505 C313.296166,16.0790401 312.698312,16.1101069 312.311129,15.7460401 C311.923947,15.3819733 311.894054,14.7606376 312.244362,14.3582479 L316.909085,9 L273.088579,9 C272.487374,9 272,8.55228475 272,8 C272,7.44771525 272.487374,7 273.088579,7 L316.909085,7 L312.244362,1.64175206 C311.894054,1.23936242 311.923947,0.618026698 312.311129,0.253959882 C312.698312,-0.110106935 313.296166,-0.0790401485 313.646473,0.323349491 L319.755645,7.34079872 C319.918232,7.52755769 319.999683,7.76304327 319.999999,7.99862356 Z"
                id="arrow-forward"
              ></path>
            </g>
          </g>
        </svg>
      </div>
      <div class="uc-carousel_index">
        <span class="index-current current"></span> /
        <span class="index-total"></span>
      </div>
      <div class="next">
        <svg
          width="48px"
          height="16px"
          viewBox="0 0 48 16"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-272.000000, 0.000000)" fill="#0176DE">
              <path
                d="M319.999999,7.99862356 C320,7.9990823 320,7.99954111 320,8 C320,8.00045889 320,8.0009177 319.999999,8.00137644 C319.999683,8.23695673 319.918232,8.47244231 319.755645,8.65920128 L313.646473,15.6766505 C313.296166,16.0790401 312.698312,16.1101069 312.311129,15.7460401 C311.923947,15.3819733 311.894054,14.7606376 312.244362,14.3582479 L316.909085,9 L273.088579,9 C272.487374,9 272,8.55228475 272,8 C272,7.44771525 272.487374,7 273.088579,7 L316.909085,7 L312.244362,1.64175206 C311.894054,1.23936242 311.923947,0.618026698 312.311129,0.253959882 C312.698312,-0.110106935 313.296166,-0.0790401485 313.646473,0.323349491 L319.755645,7.34079872 C319.918232,7.52755769 319.999683,7.76304327 319.999999,7.99862356 Z"
                id="arrow-forward"
              ></path>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>
