<div style="position: relative">
  <header class="uc-header">
    <div id="uc-global-topbar" class="uc-top-bar--bg-primary"></div>
    <nav class="uc-navbar navbar-transparent navbar--absolute">
      <div class="container d-none d-lg-block">
        <div class="row">
          <div class="col-lg-3 col-xl-2">
            <img
              src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/logo-uc-blanco.svg"
              alt="Pontificia Universidad Católica de Chile"
              class="img-fluid"
            />
          </div>
          <div class="col-lg-9 col-xl-7 pl-60">
            <div class="h2 text-font--serif color-white mt-24">
              Facultad de Ciencias Sociales
            </div>
            <div class="color-white p-size--lg">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
              aliquami
            </div>
          </div>
          <div class="d-none d-xl-block col-lg-2">
            <div class="uc-form-group mt-24" style="max-width: 360px">
              <input
                id="ucsearch"
                type="text"
                class="uc-input-style w-icon search search--white uc-input-style--alpha"
                placeholder="Buscar por"
              />
            </div>
          </div>
        </div>
        <ul
          class="uc-navbar_nav color-black"
          style="position: relative; z-index: 99"
        >
          <li class="nav-item">
            <a href="/" class="uc-btn btn-inline">Inicio </a>
          </li>
          <li class="nav-item uc-navbar-dropdown">
            <a href="#" class="uc-btn btn-inline"
              >Quienes somos
              <i class="uc-icon icon-color--white">arrow_drop_down</i>
            </a>
            <ul class="uc-navbar-dropdown_menu">
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Página padre</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 1</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 2</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 3</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 4</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 5</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 6</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Página padre 2</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 7</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 8</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 9</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 10</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="nav-item uc-navbar-dropdown">
            <a href="#programas-de-estudio/" class="uc-btn btn-inline"
              >Paginas <i class="uc-icon icon-color--white">arrow_drop_down</i>
            </a>
            <ul class="uc-navbar-dropdown_menu">
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Página padre</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 1</a>
                  </li>

                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 2</a>
                  </li>

                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 3</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 4</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 5</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 6</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Página padre 2</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 7</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 8</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 9</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 10</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="uc-btn btn-inline">Calendario</a>
          </li>
          <li class="nav-item">
            <a href="#" class="uc-btn btn-inline">Contacto</a>
          </li>
        </ul>
      </div>
      <div class="uc-navbar_mobile d-block d-lg-none">
        <div class="uc-navbar_mobile-bar navbar-brand">
          <div class="uc-navbar_mobile-logo navbar-light">
            <div class="h2 text-font--serif color-white">Título</div>
          </div>
          <a
            href="javascript:void(0);"
            class="uc-navbar_mobile-button"
            data-collapse="collapseMobileNav7"
          >
            <span class="uc-icon"></span>
            Menú
          </a>
        </div>
        <div
          class="uc-navbar_mobile-content"
          data-toggle="collapseMobileNav7"
          data-open="false"
          style="height: 0"
        >
          <div class="uc-navbar_mobile-list">
            <a href="#" class="list-item">Item 1</a>
            <a href="#" class="list-item">Item 2</a>
            <a href="#" class="list-item">Item 3</a>
            <a href="#" class="list-item">Item 4</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div
    class="uc-carousel"
    data-carousel="uc-primary-carousel"
    data-type="carousel"
    data-items="1"
    data-slideby="1"
    data-loop="true"
    data-nav="true"
    data-autoplay="true"
    data-controls="false"
    data-navcontainer="#carousel-nav"
    data-autoplaybutton="#carousel-autoplay"
    data-prev-button=".carousel-c1 .prev"
    data-next-button=".carousel-c1 .next"
    data-autoplay-text="true"
  >
    <!-- los atributos data-carousel, data-prev-button y data-next-button deben ser clases únicas 
      (seguidas de .prev/.next en el caso de los controles), si se repiten en el DOM puede 
      ocasionar errores cuando hay mas de un carousel-->
    <div class="uc-primary-carousel uc-primary-carousel--hero">
      <div class="primary-carousel_item primary-carousel_item--md-660">
        <div class="uc-hero uc-hero--md-660">
          <img
            class="uc-hero__bg-img"
            src="https://dummyimage.com/1440x508/e0e0e0/b8b8b8.jpg"
            alt="Dummy image"
            loading="lazy"
          />
          <div class="uc-hero__dark-gradient--bottom"></div>
          <div
            class="uc-hero__content uc-hero__content--bottom container uc-hero__content--no-padding"
          >
            <div class="col-md-8 uc-hero__low-wide-container">
              <a href="#" class="uc-tag">Cuadernos.info</a>
              <h1 class="color-white my-24">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
                aliquam, purus sit.
              </h1>

              <a href="#" class="uc-btn btn-inline btn-inline--bold">
                <span class="color-white">Más información</span>
                <i class="uc-icon icon-shape--rounded">arrow_forward</i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="primary-carousel_item primary-carousel_item--md-660">
        <div class="uc-hero uc-hero--md-660">
          <img
            class="uc-hero__bg-img"
            src="https://dummyimage.com/1440x508/e0e0e0/b8b8b8.jpg"
            alt="Dummy image"
            loading="lazy"
          />
          <div class="uc-hero__dark-gradient--bottom"></div>
          <div
            class="uc-hero__content uc-hero__content--bottom container uc-hero__content--no-padding"
          >
            <div class="col-md-8 uc-hero__low-wide-container">
              <a href="#" class="uc-tag">Cuadernos.info</a>
              <h1 class="color-white my-24">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
                aliquam, purus sit.
              </h1>

              <a href="#" class="uc-btn btn-inline btn-inline--bold">
                <span class="color-white">Más información</span>
                <i class="uc-icon icon-shape--rounded">arrow_forward</i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="primary-carousel_item primary-carousel_item--md-660">
        <div class="uc-hero uc-hero--md-660">
          <img
            class="uc-hero__bg-img"
            src="https://dummyimage.com/1440x508/e0e0e0/b8b8b8.jpg"
            alt="Dummy image"
            loading="lazy"
          />
          <div class="uc-hero__dark-gradient--bottom"></div>
          <div
            class="uc-hero__content uc-hero__content--bottom container uc-hero__content--no-padding"
          >
            <div class="col-md-8 uc-hero__low-wide-container">
              <a href="#" class="uc-tag">Cuadernos.info</a>
              <h1 class="color-white my-24">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
                aliquam, purus sit.
              </h1>

              <a href="#" class="uc-btn btn-inline btn-inline--bold">
                <span class="color-white">Más información</span>
                <i class="uc-icon icon-shape--rounded">arrow_forward</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="uc-carousel-nav primary-carousel-nav">
      <div class="container">
        <div class="carousel-nav-container">
          <ul class="carousel-nav-list" id="carousel-nav">
            <li class="carousel-nav-item">
              <div class="number">01</div>
              <div class="indicator"></div>
            </li>
            <li class="carousel-nav-item">
              <div class="number">02</div>
              <div class="indicator"></div>
            </li>
            <li class="carousel-nav-item">
              <div class="number">03</div>
              <div class="indicator"></div>
            </li>
          </ul>
          <div class="autoplay-buttons" id="carousel-autoplay"></div>
        </div>
      </div>
    </div>
    <div class="uc-carousel__progress-bar"></div>
  </div>
</div>
