<div
  class="uc-carousel"
  data-carousel="uc-primary-carousel"
  data-type="carousel"
  data-items="1"
  data-slideby="1"
  data-loop="true"
  data-nav="true"
  data-autoplay="true"
  data-controls="false"
  data-navcontainer="#carousel-nav"
  data-autoplaybutton="#carousel-autoplay"
  data-autoplay-text="true"
>
  <!-- los atributos data-carousel, data-prev-button y data-next-button deben ser clases únicas 
      (seguidas de .prev/.next en el caso de los controles), si se repiten en el DOM puede 
      ocasionar errores cuando hay mas de un carousel-->
  <div class="uc-primary-carousel">
    <div
      class="primary-carousel_item uc-card card-bg--image card-gradient--bottom-black card-radius--none card-border--none"
    >
      <img
        class="carousel-img"
        src="https://dummyimage.com/1440x508/e0e0e0/b8b8b8.jpg"
        alt="Dummy image"
      />
      <div class="primary-carousel_item-content">
        <div class="container mt-auto">
          <div class="row">
            <div class="col-lg-7">
              <a href="#" class="uc-tag">Tag UC</a>
              <div class="h1 color-white">Slide #1</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="primary-carousel_item uc-card card-bg--image card-gradient--bottom-black card-radius--none card-border--none"
    >
      <img
        class="carousel-img carousel-img--focus-center"
        src="https://dummyimage.com/1440x508/e0e0e0/b8b8b8.jpg"
        alt="Dummy image"
      />
      <div class="primary-carousel_item-content">
        <div class="container mt-auto">
          <div class="row">
            <div class="col-lg-7">
              <a href="#" class="uc-tag">Tag UC</a>
              <div class="h1 color-white">Slide #2</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="primary-carousel_item uc-card card-bg--image card-gradient--bottom-black card-radius--none card-border--none"
    >
      <img
        class="carousel-img carousel-img--focus-left"
        src="https://dummyimage.com/1440x508/e0e0e0/b8b8b8.jpg"
        alt="Dummy image"
      />
      <div class="primary-carousel_item-content">
        <div class="container mt-auto">
          <div class="row">
            <div class="col-lg-7">
              <a href="#" class="uc-tag">Tag UC</a>
              <div class="h1 color-white">Slide #3</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="uc-carousel-nav primary-carousel-nav">
    <div class="container">
      <div class="carousel-nav-container">
        <ul class="carousel-nav-list" id="carousel-nav">
          <li class="carousel-nav-item">
            <div class="number">01</div>
            <div class="indicator"></div>
          </li>
          <li class="carousel-nav-item">
            <div class="number">02</div>
            <div class="indicator"></div>
          </li>
          <li class="carousel-nav-item">
            <div class="number">03</div>
            <div class="indicator"></div>
          </li>
        </ul>
        <div class="autoplay-buttons" id="carousel-autoplay"></div>
      </div>
    </div>
  </div>
</div>
