<div class="uc-table-list">
  <div class="uc-table-list_title">
    <h6>Título</h6>
  </div>
  <div class="uc-table-list_content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis
      doloremque doloribus exercitationem facere fugit, id magnam minima nam
      nihil nulla obcaecati officia qui quibusdam ratione, repudiandae rerum
      sunt unde.
    </p>
  </div>
</div>
