<div class="uc-table-list">
  <div class="uc-table-list_title">
    <h6>Título</h6>
  </div>
  <ul class="uc-table-list_content">
    <li>
      <a href="#" class="uc-btn btn-listed">
        Acreditación UC
        <i class="uc-icon icon-small">launch</i>
      </a>
    </li>
    <li>
      <a href="#" class="uc-btn btn-listed">
        Campo Audiovisual
        <i class="uc-icon icon-small">launch</i>
      </a>
    </li>
    <li>
      <a href="#" class="uc-btn btn-listed">
        Campo Audiovisual
        <i class="uc-icon icon-small">launch</i>
      </a>
    </li>
    <li>
      <a href="#" class="uc-btn btn-listed">
        Acreditación UC
        <i class="uc-icon icon-small">launch</i>
      </a>
    </li>
    <li>
      <a href="#" class="uc-btn btn-listed">
        Campo Audiovisual
        <i class="uc-icon icon-small">launch</i>
      </a>
    </li>
  </ul>
</div>
