// for previous version 1.34.3 and lower
:root {
  --lightgraya: var(--lightgray-a);
  --lightgrayb: var(--lightgray-b);
  --lightgrayc: var(--lightgray-c);
  --gray: var(--darkgray-a);
  --darkgraya: var(--lightgray-b);
  --darkgrayb: var(--lightgray-c);
  --darkgray: var(--lightgray-c);
}

$lightgraya: $lightgray-a;
$lightgrayb: $lightgray-b;
$lightgrayc: $lightgray-c;
$gray: $darkgray-a;
$darkgraya: $darkgray-b;
$darkgrayb: $darkgray-c;
$darkgray: $darkgray-c;
