/*
*
* All color variables
* is definied in reference to
* https://www.figma.com/file/GdjLVIIMPF9NnjXOhHmkdq/UC-Librer%C3%ADa-Desktop?node-id=198%3A9820
*
*/

:root {
  --primary: #0176de;
  --blue: #173f8a;
  --darkblue: #03122e;
  --yellow: #fec60d;
  --darkyellow: #e3ae00;
  --white: #ffffff;
  --black: #000000;

  --error: #f24f4f;
  --info: var(--primary);
  --warning: #fec60d;
  --success: #00aa00;

  --darkgray-a: #707070;
  --darkgray-b: #9c9c9c;
  --darkgray-c: #c6c6c6;
  --lightgray-a: #eaeaea;
  --lightgray-b: #f0f0f0;
  --lightgray-c: #f6f6f6;
}

$primary: #0176de;
$blue: #173f8a;
$darkblue: #03122e;
$yellow: #fec60d;
$darkyellow: #e3ae00;

$white: #ffffff;
$black: #000000;

$lightgray-a: #eaeaea;
$lightgray-b: #f0f0f0;
$lightgray-c: #f6f6f6;
$darkgray-a: #707070;
$darkgray-b: #9c9c9c;
$darkgray-c: #c6c6c6;

$info: $primary;
$error: #f24f4f;
$warning: #e3ae00;
$success: #00aa00;

// will be deprecated
@import "colors_legacy";
