.uc-icon,
.uc-svg-icon {
  display: inline;
  color: $primary;
  vertical-align: middle;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  transition: transform 0.2s ease;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
  &.icon-color--gray {
    color: $darkgray-a;
  }
  &.icon-color--white {
    color: #fff;
  }

  &.icon-background--white {
    color: $darkgray-a !important;
    background-color: white !important;
  }

  &.icon-shape--rounded {
    background-color: $primary;
    color: #fff;
    border-radius: 50%;
    padding: 4px;
    font-size: 16px;
    &.icon-size--sm {
      padding: 3px 3.5px;
      font-size: 11px !important;
    }
  }
  &.icon-size--sm {
    font-size: 16px;
    line-height: 1.1;
  }
  &.icon-size--lg {
    font-size: 42px;
  }
  &.icon-size--xl {
    font-size: 57px;
  }
  &.uc-icon-quote {
    transform: scale(-1, -1);
    font-size: 64px;
    margin-left: -8px;
    margin-bottom: -8px;
  }
  &.uc-icon--disabled {
    color: $darkgray-a;
  }
}

.uc-svg-icon {
  vertical-align: baseline;
  fill: $primary;
  color: $primary;

  &.icon-size--sm {
    width: 16px;
    height: 16px;
    line-height: 1.1;
  }
  &.icon-size--lg {
    width: 42px;
    height: 42px;
  }
  &.icon-size--xl {
    width: 57px;
    height: 57px;
  }
}

.uc-rank {
  &.icon-color--yellow {
    .uc-icon {
      color: $yellow;
    }
  }
}

.uc-social-icons-container {
  display: flex;
  justify-content: center;
  @include media-breakpoint-up(lg) {
    justify-content: flex-end;
  }
}
.uc-social-icons {
  padding: 0;
  margin: 0;
  display: inline-flex;
  list-style-type: none;
  align-items: center;
  li {
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
    @include media-breakpoint-up(lg) {
      margin-left: 36px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.uc-icon--rotate-180 {
  transform: rotate(180deg) !important;
}

.uc-icon::before {
  display: inline-block;
}

// icons as ::before pseudo elements
.uc-icon {
  &--launch::before {
    content: "\e895";
  }
  &--arrow-drop-down::before {
    content: "\e5c5";
  }

  &--arrow-forward::before {
    content: "\e5c8";
  }
}
