$primary-shadow: 0 0 8px 0 rgba(136, 136, 136, 0.18);
$secondary-shadow: 0 0 8px 0 rgba(136, 136, 136, 0.5);
$large-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.18);
$message-shadow: 0 -1px 24px 0 rgba(0, 0, 0, 0.18);
$menu-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
