.no-margin,
.m-0 {
  margin: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}

.no-padding,
.p-0 {
  padding: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}

@for $i from 1 through 12 {
  .m-#{$i*4} {
    margin: #{$i * 4}px;
  }
  .mt-#{$i*4},
  .my-#{$i*4} {
    margin-top: #{$i * 4}px;
  }
  .mb-#{$i*4},
  .my-#{$i*4} {
    margin-bottom: #{$i * 4}px;
  }
  .ml-#{$i*4},
  .mx-#{$i*4} {
    margin-left: #{$i * 4}px;
  }
  .mr-#{$i*4},
  .mx-#{$i*4} {
    margin-right: #{$i * 4}px;
  }
}
.m-60 {
  margin: 60px;
}
.mt-60,
.my-60 {
  margin-top: 60px;
}
.mb-60,
.my-60 {
  margin-bottom: 60px;
}
.ml-60,
.mx-60 {
  margin-left: 60px;
}
.mr-60,
.mx-60 {
  margin-right: 60px;
}
.m-80 {
  margin: 80px;
}
.mt-80,
.my-80 {
  margin-top: 80px;
}
.mb-80,
.my-80 {
  margin-bottom: 80px;
}
.ml-80,
.mx-80 {
  margin-left: 80px;
}
.mr-80,
.mx-80 {
  margin-right: 80px;
}
.m-160 {
  margin: 160px;
}
.mt-160,
.my-160 {
  margin-top: 160px;
}
.mb-160,
.my-160 {
  margin-bottom: 160px;
}
.ml-160,
.mx-160 {
  margin-left: 160px;
}
.mr-160,
.mx-160 {
  margin-right: 160px;
}
.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.mr-auto {
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}

@for $i from 1 through 12 {
  .p-#{$i*4} {
    padding: #{$i * 4}px;
  }
  .pt-#{$i*4},
  .py-#{$i*4} {
    padding-top: #{$i * 4}px;
  }
  .pb-#{$i*4},
  .py-#{$i*4} {
    padding-bottom: #{$i * 4}px;
  }
  .pl-#{$i*4},
  .px-#{$i*4} {
    padding-left: #{$i * 4}px;
  }
  .pr-#{$i*4},
  .px-#{$i*4} {
    padding-right: #{$i * 4}px;
  }
}
.p-60 {
  padding: 60px;
}
.pt-60,
.py-60 {
  padding-top: 60px;
}
.pb-60,
.py-60 {
  padding-bottom: 60px;
}
.pl-60,
.px-60 {
  padding-left: 60px;
}
.pr-60,
.px-60 {
  padding-right: 60px;
}
.p-80 {
  padding: 80px;
}
.pt-80,
.py-80 {
  padding-top: 80px;
}
.pb-80,
.py-80 {
  padding-bottom: 80px;
}
.pl-80,
.px-80 {
  padding-left: 80px;
}
.pr-80,
.px-80 {
  padding-right: 80px;
}
.p-160 {
  padding: 160px;
}
.pt-160,
.py-160 {
  padding-top: 160px;
}
.pb-160,
.py-160 {
  padding-bottom: 160px;
}
.pl-160,
.px-160 {
  padding-left: 160px;
}
.pr-160,
.px-160 {
  padding-right: 160px;
}

.no-margin-on-mobile {
  @include media-breakpoint-down(sm) {
    margin: 0 !important;
  }
}
