@import url("https://fonts.googleapis.com/css?family=Material+Icons|Roboto+Slab|Roboto:300,400,500,500i,700");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

a {
  @extend .uc-link;
  text-decoration: underline;
  &.link-inline {
    text-decoration: underline;
    color: $primary;
  }
  .uc-icon {
    font-size: 16px;
    vertical-align: middle;
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: "Roboto", sans-serif;
    margin: 0;
  }
}

h1,
.h1,
.uc-h1 {
  font-size: 2em;
  line-height: 1.1875;
  font-weight: 700;
  @include media-breakpoint-up(lg) {
    font-size: 2.5em;
    line-height: 1.3;
  }
  &.mobile {
    font-size: 2em;
    line-height: 1.1875;
  }
}

h2,
.h2,
.uc-h2 {
  font-size: 1.5em;
  line-height: 1.16;
  letter-spacing: 0.18px;
  font-weight: 500;
  @include media-breakpoint-up(lg) {
    font-size: 2em;
    line-height: 1.2;
  }
  &.mobile {
    font-size: 1.5em;
    line-height: 1.16;
  }
}

h3,
.h3,
.uc-h3 {
  font-size: 1.25em;
  letter-spacing: 0.18px;
  font-weight: 700;
  @include media-breakpoint-up(lg) {
    font-size: 1.5em;
    line-height: 1.2;
  }
  &.mobile {
    font-size: 1.25em;
  }
}

h4,
.h4,
.uc-h4 {
  font-size: 1.125em;
  letter-spacing: 0.25px;
  line-height: 1.2;
  font-weight: 700;
  @include media-breakpoint-up(lg) {
    font-size: 1.25em;
  }
  .mobile {
    font-size: 1.125em;
  }
}

h5,
.h5,
.uc-h5 {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.1px;
  @include media-breakpoint-up(lg) {
    line-height: 1.3;
    font-size: 1.125em;
  }
  .mobile {
    font-size: 1em;
    line-height: 1.7;
  }
}

h6,
.h6,
.uc-h6 {
  font-size: 0.875em;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.1px;
  @include media-breakpoint-up(lg) {
    font-size: 1em;
    line-height: 1.5;
  }
  .mobile {
    font-size: 0.875em;
    line-height: 1.7;
  }
}

p,
.p,
.uc-p {
  font-size: 1em;
  line-height: 1.6;
  letter-spacing: 0.5px;
  @include media-breakpoint-up(lg) {
    line-height: 1.5;
  }
  &.mobile {
    line-height: 1.6;
  }
}

.p-size--sm,
.text-size--sm {
  font-size: 0.875em;
  line-height: 1.5;
  &.mobile {
    line-height: 1.5;
  }
}
.p-size--lg,
.text-size--lg {
  font-size: 1.125em;
  line-height: 1.7;
}
.p-size--xl,
.text-size--xl {
  font-size: 1.25em;
  line-height: 1.4;
  letter-spacing: 0.6px;
  @include media-breakpoint-up(lg) {
    font-size: 1.5em;
    line-height: 1.6;
    letter-spacing: 0.18px;
  }
  &.mobile {
    font-size: 1.25em;
    line-height: 1.4;
    letter-spacing: 0.6px;
  }
}

.p-color--primary,
.text-color--primary {
  color: $primary;
}
.p-color--blue,
.text-color--blue {
  color: $blue;
}
.p-color--gray,
.text-color--gray {
  color: $darkgray-a;
}
.p-text--condensed,
.text--condensed {
  letter-spacing: 0;
}
.p-text--extended,
.text--extended {
  letter-spacing: 1px;
}

.text-weight--regular {
  font-weight: 400;
}
.text-weight--medium {
  font-weight: 500;
}

.text-weight--bold {
  font-weight: 700;
}

.text-font--serif {
  font-family: "Roboto Slab", serif;
}

.external,
.uc-external {
  &::after {
    content: "launch";
    font-family: "Material Icons";
    font-size: 10px;
    vertical-align: text-top;
    display: inline;
  }
}

.uc-quote,
%uc-quote {
  font-family: "Roboto Slab", serif;
  font-size: 1.125em;
  line-height: 1.33333;
  letter-spacing: 0.2px;
  @include media-breakpoint-up(lg) {
    font-size: 1.5em;
    letter-spacing: 0.18px;
  }
  &.mobile {
    font-size: 1.125em;
    letter-spacing: 0.2px;
  }
  &.quote-lg,
  &.quote-size--lg {
    font-size: 1.5em;
    font-weight: bold;
    @include media-breakpoint-up(lg) {
      font-size: 2.125em;
      line-height: 1.47;
    }
    &.mobile {
      font-size: 1.5em;
    }
  }
}

.uc-subtitle {
  font-size: 0.75em;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 1.5px;
  color: $darkgray-a;
  font-weight: 500;
  &.subtitle-extended {
    letter-spacing: 2px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 0.875em;
    line-height: 1.1;
    letter-spacing: 1px;
  }
  &.mobile {
    font-size: 0.75em;
    line-height: 1.5;
    letter-spacing: 1.5px;
  }
}

code {
  &.uc-class {
    color: $primary;
    background-color: $lightgray-c;
    border: 1px solid $lightgray-b;
    border-radius: 3px;
    padding: 3px;
  }
}

mark {
  background-color: #ffefa8;
}

.text-start {
  text-align: left;
}

.text-end {
  text-align: right;
}

.text-center {
  text-align: center;
}
