$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1248px,
);

$grid-gutter-width: 32px;


// https://getbootstrap.com/docs/4.6/content/reboot/#native-font-stack
$font-family-sans-serif: 'Roboto', sans-serif;