<div class="uc-tabpanel" data-tabpanel>
  <div class="row">
    <div class="col-lg-4">
      <!-- Tabs mobile se muestran como Select -->
      <div
        class="uc-card card-bg--gray card-radius--none card-border--none d-block d-lg-none mb-32"
      >
        <div class="uc-card_body">
          <label for="tabSelect"><strong>Seleccione tab</strong></label>
          <select
            name="tabSelect"
            id="tabSelect"
            class="uc-input-style"
            data-tabselect
          >
            <option value="tab-10">Tab 1</option>
            <option value="tab-11">Tab 2</option>
          </select>
        </div>
      </div>
      <!-- Tabs en desktop se muestran como botones -->
      <ul class="uc-vertical-tabs d-none d-lg-flex">
        <li class="uc-vertical-tabs_item">
          <button
            class="uc-vertical-tabs_item-button"
            data-tabtarget="tab-10"
            data-tabactive
          >
            Tab 01
          </button>
        </li>
        <li class="uc-vertical-tabs_item">
          <button class="uc-vertical-tabs_item-button" data-tabtarget="tab-11">
            Tab 02
          </button>
        </li>
      </ul>
    </div>
    <div class="col-lg-8">
      <div class="uc-tab-body">
        <div data-tab="tab-10">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
            asperiores assumenda, atque, culpa cumque dicta dolor fugiat magni
            molestiae officia quam qui repellendus repudiandae sint tempora
            velit veritatis voluptas voluptatibus.
          </p>
        </div>
        <div data-tab="tab-11">
          <p>Lorem ipsum dolor sit amet, consectetur.</p>
        </div>
      </div>
    </div>
  </div>
</div>
