<footer class="uc-footer">
  <div class="container pb-80">
    <div class="row no-gutters" data-accordion>
      <div class="col-lg-3">
        <div>
          <a href="/" class="nabvar-brand">
            <!-- <img
              src="/site/templates/dist/images/logo-uc-wh.svg"
              alt="Logo UC Footer"
              class="img-fluid"
              style="width: 180px"
            /> -->
          </a>
          <p class="my-24 mr-28">
            Avda. Libertador Bernardo O’Higgins 340, Santiago - Chile
          </p>
          <ul class="uc-footer_list">
            <li>
              <a href="/universidad/nuestros-campus/casa-central/">
                Casa Central
              </a>
            </li>
            <li>
              <a href="/universidad/nuestros-campus/oriente/">
                Campus Oriente
              </a>
            </li>
            <li>
              <a href="/universidad/nuestros-campus/san-joaquin/">
                San Joaquín
              </a>
            </li>
            <li>
              <a href="/universidad/nuestros-campus/lo-contador/">
                Lo Contador
              </a>
            </li>
            <li>
              <a href="/universidad/nuestros-campus/villarrica/">
                Campus Villarrica
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg">
            <div
              class="uc-footer_list-title footer-collapse-title"
              data-collapse="footerNav0"
            >
              La Universidad
            </div>
            <ul class="uc-footer_list footer-collapse" data-toggle="footerNav0">
              <li class="">
                <a href="/programas-de-estudio">Programas de estudio</a>
              </li>
              <li class=""><a href="/investigacion">Investigación</a></li>
              <li class="">
                <a href="/universidad/facultades-escuelas-institutos"
                  >Facultades, escuelas e institutos</a
                >
              </li>
              <li class=""><a href="/extension">Extensión</a></li>
              <li class=""><a href="/universidad">Universidad</a></li>
              <li class=""><a href="/codigo-de-honor/">Código de Honor</a></li>
              <li class="">
                <a href="https://donaciones.uc.cl/">Donaciones</a>
              </li>
              <li class=""><a href="/transparencia">UC Transparente</a></li>
              <li class=""><a href="https://admision.uc.cl/">Admisión</a></li>
              <li class=""><a href="/informacion-para">Información Para</a></li>
            </ul>
          </div>
          <div class="col-lg">
            <div
              class="uc-footer_list-title footer-collapse-title"
              data-collapse="footerNav1"
            >
              Comunicación UC
            </div>
            <ul class="uc-footer_list footer-collapse" data-toggle="footerNav1">
              <li class=""><a href="/noticias/">Noticias</a></li>
              <li class=""><a href="https://www.uc.cl/agenda/?">Agenda</a></li>
              <li class=""><a href="/redes-sociales">Redes sociales</a></li>
              <li class="">
                <a href="/la-uc-en-los-medios">UC en los medios</a>
              </li>
              <li class=""><a href="/vision-uc">Visión</a></li>
              <li class="">
                <a href="https://revistauniversitaria.uc.cl/"
                  >Revista Universitaria</a
                >
              </li>
              <li class=""><a href="https://media.uc.cl/">Media UC</a></li>
              <li class="">
                <a href="https://www.beethovenfm.cl/">Radio Beethoven</a>
              </li>
              <li class=""><a href="/glosario">Glosario UC</a></li>
              <li class=""><a href="/uso-de-la-marca/">Uso de marca</a></li>
              <li class="">
                <a href="/uc-contra-el-coronavirus/">Especial Coronavirus</a>
              </li>
            </ul>
          </div>
          <div class="col-lg">
            <div
              class="uc-footer_list-title footer-collapse-title"
              data-collapse="footerNav2"
            >
              Servicios
            </div>
            <ul class="uc-footer_list footer-collapse" data-toggle="footerNav2">
              <li class="">
                <a href="https://www.ucchristus.cl/">Red Salud UC Christus</a>
              </li>
              <li class=""><a href="https://almacen.uc.cl/">Almacén UC</a></li>
              <li class="">
                <a href="https://librerias.uc.cl/">Librerías UC</a>
              </li>
              <li class="">
                <a href="https://ediciones.uc.cl/">Ediciones UC</a>
              </li>
              <li class="">
                <a href="https://uccatolica.trabajando.cl/">Trabaja en la UC</a>
              </li>
              <li class="">
                <a
                  href="https://sso.uc.cl/cas/login?service=http%3A%2F%2Fportal.alumni.uc.cl%2F"
                  >Mi Portal Alumni UC</a
                >
              </li>
              <li class="">
                <a href="https://registrosacademicos.uc.cl/certificados/"
                  >Solicitud de Certificados</a
                >
              </li>
              <li class="">
                <a href="https://creditouniversitario.uc.cl/"
                  >Pago de créditos</a
                >
              </li>
              <li class="">
                <a href="https://www12.uc.cl/MediosDePagos/jsp/mdp_inicio.jsp"
                  >Pago de arancel</a
                >
              </li>
            </ul>
          </div>
          <div class="col-lg">
            <div
              class="uc-footer_list-title footer-collapse-title"
              data-collapse="footerNav3"
            >
              Contáctanos
            </div>
            <ul class="uc-footer_list footer-collapse" data-toggle="footerNav3">
              <li class=""><a href="/telefonos">Teléfonos</a></li>
              <li class="">
                <a href="https://consultasenlinea.uc.cl/">Consultas en línea</a>
              </li>
              <li class="">
                <a href="/directorio-de-sitios/"
                  >Directorio de sitios de la UC</a
                >
              </li>
              <li class="">
                <a href="/contactos-de-prensa">Contactos de prensa</a>
              </li>
            </ul>
          </div>
          <div class="col-lg">
            <div
              class="uc-footer_list-title footer-collapse-title js-accordion-title"
            >
              Acreditación
            </div>
            <a href="https://acreditacion.uc.cl/" target="_blank">
              <!-- <img
                src="/site/templates/dist/images/acreditacion.png"
                alt="Logo de la Comisión Nacional de Acreditación"
                class="img-fluid mt-20"
                style="max-width: 135px"
              /> -->
            </a>
            <br />
            <a href="https://redg9.cl/" target="_blank">
              <!-- <img
                src="/site/templates/dist/images/logo-g9_blanco.svg"
                alt="Logo G9"
                class="img-fluid mt-20"
                style="max-width: 135px"
              /> -->
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-lg-2 mt-12">
        <div class="d-flex">
          <a
            style="white-space: nowrap"
            class="external"
            href="https://protecciondedatos.uc.cl/politicas"
            target="_blank"
          >
            <i class="uc-icon icon-shape--rounded mr-4">verified_user</i
            >Políticas de Privacidad
          </a>
        </div>
      </div>
      <div class="col-6 col-lg-2 mt-12 ml-16">
        <a href="/mapa-del-sitio/">
          <i class="uc-icon icon-shape--rounded mr-4">account_tree</i>Mapa del
          sitio
        </a>
      </div>
    </div>
  </div>
  <div id="uc-global-footer"></div>
  <div class="uc-dev-footer">
    <div class="container">
      <ul class="uc-footer-dev_content">
        <li>
          Diseño y desarrollo
          <a href="https://asimov.cl" target="_blank"> Asimov Consultores</a>
          junto a la
          <a href="https://digital.uc.cl/" target="_blank">
            Dirección Digital UC</a
          >
        </li>
        <li>
          Sitio administrado por la
          <a href="https://digital.uc.cl/#contacto" target="_blank">
            Dirección Digital UC</a
          >
          , Prorrectoría
        </li>
        <li>
          Utilizando el
          <a href="https://kitdigital.uc.cl/" target="_blank">
            Kit Digital UC</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
