<div data-accordion="" class="uc-accordion mt-40">
  <div class="uc-collapse uc-card">
    <a
      href="javascript:void(0)"
      data-collapse="links"
      class="uc-collapse_heading js-accordion-title"
      tabindex="0"
      ><h4>Tabla con enlaces a documentos</h4>
      <span class="uc-btn btn-inline ml-auto">
        Ver más
        <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i></span
      ></a
    >
    <div
      data-toggle="links"
      class="uc-collapse_body js-accordion-content"
      data-open="false"
      style="height: 0px"
    >
      <table class="uc-table" style="width: 100%">
        <thead>
          <tr>
            <th style="width: 70%">Nombre de la unidad</th>
            <th style="width: 30%">Enlace</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Facultad de Agronomía y Sistemas Naturales</td>
            <td>
              <a
                href="https://uccl0.sharepoint.com/:f:/s/uc365_ManualesMarca/EpwBA4F_hFlNr1ThhHEYo3cBOvYndUm1CqzvSCxS4UaANA?e=cFuCmX"
                target="_blank"
                rel="nofollow noopener noreferrer"
                tabindex="-1"
                >Ver recursos</a
              >
            </td>
          </tr>
          <tr>
            <td>Facultad de Arquitectura, Diseño y Estudios Urbanos</td>
            <td>
              <a
                href="https://uccl0.sharepoint.com/:f:/s/uc365_ManualesMarca/ErFqZY-qXttEmOlOTNXHUuQBoAezkHKuTHpAY41H7rgs7Q?e=fIYweX"
                target="_blank"
                rel="nofollow noopener noreferrer"
                tabindex="-1"
                >Ver recursos</a
              >
            </td>
          </tr>
          <tr>
            <td>Facultad de Artes</td>
            <td>
              <a
                href="https://uccl0.sharepoint.com/:f:/s/uc365_ManualesMarca/EnbXEsPztWFNkq1kCiZ8D3IBbtLi8PAwFjlaYcHmzaL0Xg?e=q4JOVa"
                target="_blank"
                rel="nofollow noopener noreferrer"
                tabindex="-1"
                >Ver recursos</a
              >
            </td>
          </tr>
          <tr>
            <td>Facultad de Ciencias Biológicas</td>
            <td>
              <a
                href="https://uccl0.sharepoint.com/:f:/s/uc365_ManualesMarca/EoKZBY_JvQtOhXh-1bivwY8BBERfwwlYyQEv95jwnfzdcA?e=m9RAuu"
                target="_blank"
                rel="nofollow noopener noreferrer"
                tabindex="-1"
                >Ver recursos</a
              >
            </td>
          </tr>
          <tr>
            <td>Facultad de Ciencias Sociales</td>
            <td>
              <a
                href="https://uccl0.sharepoint.com/:f:/s/uc365_ManualesMarca/EoN0_e3KYpdFmMkmYZrNwC0Bi46JlIX2UH-yH3YzHYlVOw?e=dIxvbo"
                target="_blank"
                rel="nofollow noopener noreferrer"
                tabindex="-1"
                >Ver recursos</a
              >
            </td>
          </tr>
          <tr>
            <td>Facultad de Comunicaciones</td>
            <td>
              <a
                href="https://uccl0.sharepoint.com/:f:/s/uc365_ManualesMarca/EhFit2-B4K5BogA8_3IcVIkBL8nY95zrLdUJOg4AC5MZdw?e=EtJFIw"
                target="_blank"
                rel="nofollow noopener noreferrer"
                tabindex="-1"
                >Ver recursos</a
              >
            </td>
          </tr>
          <tr>
            <td>Facultad de Derecho</td>
            <td>
              <a
                href="https://uccl0.sharepoint.com/:f:/s/uc365_ManualesMarca/EqMtHv-PQoFBq5u1s5mpBUoBB_-IxFW1C7vYackC0QBUQA?e=SPHVW5"
                target="_blank"
                rel="nofollow noopener noreferrer"
                tabindex="-1"
                >Ver recursos</a
              >
            </td>
          </tr>
          <tr>
            <td>Facultad de Economía y Administración</td>
            <td>
              <a
                href="https://uccl0.sharepoint.com/:f:/s/uc365_ManualesMarca/EjPt0zOZU6hFruxEzdDjWIEBTpCtDjya8397kcg6bRyYdQ?e=t4Unxt"
                target="_blank"
                rel="nofollow noopener noreferrer"
                tabindex="-1"
                >Ver recursos</a
              >
            </td>
          </tr>
          <tr>
            <td>Facultad de Educación</td>
            <td>
              <a
                href="https://uccl0.sharepoint.com/:f:/s/uc365_ManualesMarca/EqLyFH-HAphJgRssfSrlWf0BFIEFG1mHYs932sIjMsCNHA?e=QHPa5O"
                target="_blank"
                rel="nofollow noopener noreferrer"
                tabindex="-1"
                >Ver recursos</a
              >
            </td>
          </tr>
          <tr>
            <td>Facultad de Filosofía</td>
            <td>
              <a
                href="https://uccl0.sharepoint.com/:f:/s/uc365_ManualesMarca/Eqtv-15JpC5Dvw3Fi8byQ-4BeUQJEGUtOE5aRaK2HUGkpg?e=1y9uuX"
                target="_blank"
                rel="nofollow noopener noreferrer"
                tabindex="-1"
                >Ver recursos</a
              >
            </td>
          </tr>
          <tr>
            <td>Facultad de Física</td>
            <td>
              <a
                href="https://uccl0.sharepoint.com/:f:/s/uc365_ManualesMarca/EkRe_rC2eG5EoyX5PU3HTiQBLifwVCnCACcBCgK4rB7Bow?e=HQBA03"
                target="_blank"
                rel="nofollow noopener noreferrer"
                tabindex="-1"
                >Ver recursos</a
              >
            </td>
          </tr>
          <tr>
            <td>Facultad de Historia, Geografía y Ciencia Política</td>
            <td>
              <a
                href="https://uccl0.sharepoint.com/:f:/s/uc365_ManualesMarca/EmBpMHXxQMtCkUS8CPYTvyQBrvpPHCANOL6h58H9VN8e8Q?e=CCUzVp"
                target="_blank"
                rel="nofollow noopener noreferrer"
                tabindex="-1"
                >Ver recursos</a
              >
            </td>
          </tr>
          <tr>
            <td>Facultad de Ingeniería</td>
            <td>
              <a
                href="https://uccl0.sharepoint.com/:f:/s/uc365_ManualesMarca/Eu38ko4w2f5Nu1_SemV7lWYB3EZtD_IhB4_nxAhpBdCj1g?e=w1fwpJ"
                target="_blank"
                rel="nofollow noopener noreferrer"
                tabindex="-1"
                >Ver recursos</a
              >
            </td>
          </tr>
          <tr>
            <td>Facultad de Letras</td>
            <td>
              <a
                href="https://uccl0.sharepoint.com/:f:/s/uc365_ManualesMarca/EifLpDbEkzJFhfFNV25UpL4BdHQaw-BdAHQIAR8n3s-flw?e=SNfJ99"
                target="_blank"
                rel="nofollow noopener noreferrer"
                tabindex="-1"
                >Ver recursos</a
              >
            </td>
          </tr>
          <tr>
            <td>Facultad de Matemáticas</td>
            <td>
              <a
                href="https://uccl0.sharepoint.com/:f:/s/uc365_ManualesMarca/El0j355CxUNLq9CQ99VkYXIBHa3mQj6YGSkhrVF0emRPmQ?e=9wCg3d"
                target="_blank"
                rel="nofollow noopener noreferrer"
                tabindex="-1"
                >Ver recursos</a
              >
            </td>
          </tr>
          <tr>
            <td>Facultad de Medicina</td>
            <td>
              <a
                href="https://uccl0.sharepoint.com/:f:/s/uc365_ManualesMarca/EpjN40kl9sxKjECp9NwlFC0Blq5d7i7VtWzIGxvlLqdwEw?e=dpHWM6"
                target="_blank"
                rel="nofollow noopener noreferrer"
                tabindex="-1"
                >Ver recursos</a
              >
            </td>
          </tr>
          <tr>
            <td>Facultad de Química y de Farmacia</td>
            <td>
              <a
                href="https://uccl0.sharepoint.com/:f:/s/uc365_ManualesMarca/EuwCpuzSnh9OhLaY3R7VkEUB2w83yE1t3V5jeU3DwbPnaA?e=VvbyTw"
                target="_blank"
                rel="nofollow noopener noreferrer"
                tabindex="-1"
                >Ver recursos</a
              >
            </td>
          </tr>
          <tr>
            <td>Facultad de Teología</td>
            <td>
              <a
                href="https://uccl0.sharepoint.com/:f:/s/uc365_ManualesMarca/Epv4o32STn1HgfLZ836AyGwBhXuSWFRuWov8MSm0mPe38A?e=VFb7Ds"
                target="_blank"
                rel="nofollow noopener noreferrer"
                tabindex="-1"
                >Ver recursos</a
              >
            </td>
          </tr>
          <tr>
            <td>College</td>
            <td>
              <a
                href="https://uccl0.sharepoint.com/:f:/s/uc365_ManualesMarca/EqCExAE_wkBKp5iiCO64dSQBQwh2AmIy1MRS7TTjayr1uw?e=GB79Us"
                target="_blank"
                rel="nofollow noopener noreferrer"
                tabindex="-1"
                >Ver recursos</a
              >
            </td>
          </tr>
          <tr>
            <td>Campus Villarrica</td>
            <td>
              <a
                href="https://uccl0.sharepoint.com/:f:/s/uc365_ManualesMarca/EuIQw1pv35JCodQTRzHn6m4BoHCiwyO-7FYrIvVGNoSj6w"
                target="_blank"
                rel="nofollow noopener noreferrer"
                tabindex="-1"
                >Ver recursos</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
