<div class="uc-accordion" data-accordion>
  <div class="uc-collapse uc-card">
    <button
      id="test"
      class="uc-collapse_heading"
      data-collapse="collapseExample01"
    >
      <h4>Título primer acordeón</h4>
      <span class="uc-btn btn-inline ml-auto">
        <span class="d-none d-lg-block">Ver más</span>
        <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i>
      </span>
    </button>
    <div class="uc-collapse_body" data-toggle="collapseExample01">
      <div class="uc-card_body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad aspernatur at consectetur eius eos fuga hic, maiores maxime modi
          mollitia obcaecati perspiciatis quam quas quis repellendus tenetur
          vitae voluptas?
        </p>
      </div>
    </div>
  </div>
  <div class="uc-collapse uc-card">
    <button class="uc-collapse_heading" data-collapse="collapseExample02">
      <h4>Título segundo acordeón</h4>
      <span class="uc-btn btn-inline ml-auto">
        <span class="d-none d-lg-block">Ver más </span>
        <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i>
      </span>
    </button>
    <div class="uc-collapse_body" data-toggle="collapseExample02">
      <div class="uc-card_body">
        <p>
          <button class="uc-btn btn-primary">
            <span>boton</span>
          </button>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad aspernatur at consectetur eius eos fuga hic, maiores maxime modi
          mollitia obcaecati perspiciatis quam quas quis repellendus tenetur
          vitae voluptas?
        </p>
      </div>
    </div>
  </div>
  <div class="uc-collapse uc-card">
    <button class="uc-collapse_heading" data-collapse="collapseExample03">
      <h4>Título tercer acordeón</h4>
      <span class="uc-btn btn-inline ml-auto">
        <span class="d-none d-lg-block">Ver más</span>
        <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i>
      </span>
    </button>
    <div class="uc-collapse_body" data-toggle="collapseExample03">
      <div class="uc-card_body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad aspernatur at consectetur eius eos fuga hic, maiores maxime modi
          mollitia obcaecati perspiciatis quam quas quis repellendus tenetur
          vitae voluptas?
        </p>
      </div>
    </div>
  </div>
  <div class="uc-collapse uc-card">
    <button class="uc-collapse_heading" data-collapse="collapseExample04">
      <h4>Título cuarto acordeón</h4>
      <span class="uc-btn btn-inline ml-auto">
        <span class="d-none d-lg-block">Ver más</span>
        <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i>
      </span>
    </button>
    <div class="uc-collapse_body" data-toggle="collapseExample04">
      <div class="uc-card_body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad aspernatur at consectetur eius eos fuga hic, maiores maxime modi
          mollitia obcaecati perspiciatis quam quas quis repellendus tenetur
          vitae voluptas?
        </p>
      </div>
    </div>
  </div>
</div>
