<div class="uc-collapse uc-card">
  <a href="#" class="uc-collapse_heading" data-collapse="collapseExample">
    <h4>Título Colapsable</h4>
    <span class="uc-btn btn-inline ml-auto">
      Ver más
      <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i>
    </span>
  </a>
  <div class="uc-collapse_body" data-toggle="collapseExample">
    <div class="uc-card_body">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad
        aspernatur at consectetur eius eos fuga hic, maiores maxime modi
        mollitia obcaecati perspiciatis quam quas quis repellendus tenetur vitae
        voluptas?
      </p>
    </div>
  </div>
</div>
