<nav class="uc-pagination">
  <button class="uc-pagination_prev mr-12">
    <i class="uc-icon">keyboard_arrow_left</i>
  </button>
  <ul class="uc-pagination_pages">
    <li class="page-item active">
      <a href="#" class="page-link">1</a>
    </li>
    <li class="page-item">
      <a href="#" class="page-link">2</a>
    </li>
    <li class="page-item">
      <a href="#" class="page-link">...</a>
    </li>
    <li class="page-item">
      <a href="#" class="page-link">30</a>
    </li>
    <li class="page-item">
      <a href="#" class="page-link">133</a>
    </li>
    <li class="page-item">
      <a href="#" class="page-link">153</a>
    </li>
  </ul>
  <button class="uc-pagination_next ml-12">
    <i class="uc-icon">keyboard_arrow_right</i>
  </button>
</nav>
