.uc-accordion-v2 {
  box-shadow: $primary-shadow;
  &__item /* .uc-accordion-v2__item */ {
    border-radius: 0;
    box-shadow: none;
    border-top: 0;
    &-heading /* .uc-accordion-v2__item-heading */ {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 22px;
      text-decoration: none;
      border-left: 4px solid #0176de !important;
      width: 100%;
      border: none;
      background: white;
      border-top: 1px solid $lightgray-a;
      &-title  /* .uc-accordion-v2__item-heading-title */ {
        font-size: 18px;
        font-weight: 600;
        color: #03122e;
        margin: 0;
      }

      &:hover /* .uc-accordion-v2__item-heading:hover */ {
        text-decoration: none;
        // TODO: rename class: to uc-icon uc-icon--round-bg
        .uc-icon.icon-shape--rounded {
          color: #173f8a;
          background-color: #fec60d;
        }
      }
    }
    &-content /* .uc-accordion-v2__item-content */ {
      padding: 0;
      &-body /* .uc-accordion-v2__item-content-body */ {
        border-top: 1px solid $lightgray-a;
        padding: 20px;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        position: relative;
        z-index: auto;
        @include media-breakpoint-up(lg) {
          padding: 24px;
        }
      }
    }
  }
}
