.uc-carousel-v2 {
  margin-bottom: 4px;
  position: relative;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-inner-padding-mobile: 0.75rem;
  --slide-size: 100%;

  &__viewport {
    overflow: hidden;
  }
  &__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  &__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
  &__controls {
    padding-inline: 32px;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  &__shortcuts {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  &__shortcut {
    --slide-index: "";
    appearance: none;
    background-color: transparent;
    border: 0;
    padding: 4px 2px;
    &::after {
      content: var(--slide-index);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      font-weight: 600;
      padding-inline: 6px;
      color: #eaeaea;
      border-bottom: 2px solid #eaeaea;
      opacity: 0.6;
    }
    &--active {
      &:after {
        color: white;
        border-bottom: 5px solid white;
        opacity: 1;
      }
    }
  }
  &__prev,
  &__next,
  &__play {
    width: 32px !important;
    height: 32px !important;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    appearance: none;
    border-radius: 50%;
    width: fit-content;
    padding: 0px;

    &[disabled] {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__skip-navigation,
  &__skip-to-end-button,
  &__skip-to-start-button {
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    &:focus {
      pointer-events: all;
      opacity: 1;
      width: fit-content;
      height: fit-content;
    }
  }

  &__skip-navigation-button,
  &__skip-to-end-button {
    top: 0;
  }

  &__skip-to-start-button {
    bottom: 0;
  }

  &__progress-indicator {
    &--stripe {
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: var(--lightgray-a);
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: var(--progress, 100%);
        height: 4px;
        background-color: var(--primary);
      }
    }

    &--circle {
      --size: 25px;
      --thickness: calc(var(--size) / 4);
      position: absolute;
      bottom: 10px;
      right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--size, 100px);
      height: var(--size, 100px);
      border-radius: 50%;
      border: 1px solid white;
      background: conic-gradient(
        var(--primary) var(--progress, 0%),
        var(--lightgray-a) 0
      );
    }
  }
}

.uc-carousel-v2[data-uc-carousel-type="cards"] {
  padding-top: 40px;
  padding-bottom: 80px;
  border: 1px solid red;
  // position: absolute;

  --slide-size: fit-content;
  --carousel-offset: 30%;

  // overflow-x: visible !important;

  .uc-carousel-v2__viewport {
    padding-left: var(--carousel-offset);
    padding-right: var(--carousel-offset);
  }

  .uc-carousel-v2__controls {
    bottom: 32px;
  }

  .uc-carousel-v2__prev,
  .uc-carousel-v2__next,
  .uc-carousel-v2__play {
    // width: 32px !important;
    // height: 32px !important;
    // aspect-ratio: 1/1;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // background: transparent;
    // border: none;
    // appearance: none;
    // border-radius: 50%;
    // width: fit-content;
    // padding: 0px;
    fill: $primary;
    background-color: $primary !important;

    &[disabled] {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.test-slide {
  margin: 0px;
  width: 100%;
  height: 200px;
  background-color: var(--lightgray);
  color: black;
  border: 2px solid red;
  padding: 40px;
}

.uc-focus--outline-white {
  *:focus {
    outline: 2px solid white;
  }
}
