[data-uc-collapsable-id] {
  --animation-duration: 0.25s;

  @media (prefers-reduced-motion: reduce) {
    --animation-duration: 0s;
  }

  transition: height var(--animation-duration) linear;
  overflow: hidden;
}
[data-uc-collapsable-id][data-uc-collapsable-open="false"] {
  height: 0;
}

[data-uc-collapsable-id][data-uc-collapsable-open="true"] {
  // set the height to the value of the custom property in the JS class
  height: var(--uc-collapsable-height, 100%);
}

[data-uc-collapsable-trigger-for][aria-expanded="false"] {
  [data-uc-collapsable-hide-when-closed] {
    display: none;
  }
}

[data-uc-collapsable-trigger-for][aria-expanded="true"] {
  [data-uc-collapsable-hide-when-opened] {
    display: none;
  }
  [data-uc-collapsable-rotate-when-opened] {
    transform: rotate(180deg);
  }
}
