.uc-tabs-v2 {
  &__tablist {
    min-width: 100%;
    border-bottom: 2px solid $lightgray-b;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  &__tab {
    //remove button style
    border: none;
    outline: none;
    background-color: transparent;
    // dont wrap text
    white-space: nowrap;
    border-bottom: 4px solid transparent;

    &,
    &:focus,
    &:hover {
      display: inline-block;
      position: relative;
      z-index: 2;
      top: 2px;
      margin: 0;
      padding: 12px 8px;
      outline: none;
      font-weight: 500;
      text-align: left;
      cursor: pointer;
    }

    &[aria-selected="false"] {
      color: $darkgray-a;
    }

    &[aria-selected="true"] {
      margin-top: 0;
      border-bottom: 4px solid $primary;
    }
    &:focus {
      span.focus {
        padding: 2px 4px;
        border: 2px solid $primary;
        border-radius: 3px;
      }
    }
  }

  span.focus {
    display: inline-block;
    // margin: 2px;
    padding: 4px 6px;
  }

  &__tabpanel {
    padding: 5px;
    // border: 2px solid hsl(219deg 1% 72%);
    // border-radius: 0 5px 5px;
    // background: hsl(220deg 43% 99%);
    min-height: 10em;
    width: 100%;
    overflow: auto;

    &.is-hidden {
      display: none;
    }
  }
  &__tabpanel p {
    margin: 0;
  }
}

.uc-tabs-v2--manual {
  display: flex;
}

// .uc-tabs-v2--vertical {
    // TODO: add vertical styles
// }
