[data-uc-tooltip-content-id] {
  position: absolute;
  background-color: white;
  padding: 16px 24px;
  border: 1px solid #e0e0e0;
  z-index: 2;
  box-shadow: $large-shadow;
}

[data-uc-tooltip-arrow] {
  position: absolute;
  background: inherit;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}
