.uc-avatars-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1px;
  .avatar {
    margin: 0 -20px;
    border: 10px solid $white;
    &.avatar--md {
      margin: 0 -12px;
      border: 6px solid $white;
    }
    &.avatar--s {
      margin: 0 -8px;
      border: 4px solid $white;
    }
    &.avatar--xs {
      margin: 0 -6px;
      border: 3px solid $white;
    }
  }
}

.avatar {
  --size: 100px;
  width: var(--size);
  height: var(--size);
  background: var(--primaryblue);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  border-radius: 4px;
  font-size: 36px;
  overflow: hidden;
  &.avatar--md {
    --size: 60px;
    font-size: 24px;
  }
  &.avatar--s {
    --size: 40px;
    font-size: 20px;
  }
  &.avatar--xs {
    --size: 32px;
    font-size: 15px;
  }
  &.avatar--grey {
    background: $darkgray-b;
  }
  &.avatar--yellow {
    background: var(--yellow);
    color: var(--darkblue);
  }
  &.avatar--blank {
    background-image: url("data:image/svg+xml;utf8,<svg width='78' height='85' viewBox='0 0 78 85' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M60.6666 20C60.6666 31.0457 51.7123 40 40.6666 40C29.6209 40 20.6666 31.0457 20.6666 20C20.6666 8.9543 29.6209 0 40.6666 0C51.7123 0 60.6666 8.9543 60.6666 20Z' fill='white'/><path d='M77.3333 85.0003C77.3333 74.8337 73.2946 65.0835 66.1057 57.8946C58.9168 50.7057 49.1666 46.667 39 46.667C28.8333 46.667 19.0831 50.7057 11.8942 57.8946C4.70531 65.0835 0.666628 74.8337 0.666626 85.0003L39 85.0003H77.3333Z' fill='white'/></svg>");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 80%;
  }
  &.avatar--circle {
    border-radius: 50%;
  }
  &.avatar--bg {
    background-color: transparent;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .avatar--initials {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
