.uc-background-video {
  z-index: -2;
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.uc-background-video__control {
  color: $white;
  display: flex;
  gap: 5px;
  padding: 5px;
  cursor: pointer;
  // remove button default styles
  background: none;
  border: none;
}
