.uc-badge {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  color: $black;
  font-weight: 600;
  line-height: 10px;
  display: inline-block;

  text-align: center;
  vertical-align: middle;

  transform: translate(50%, -50%);
  padding: 5px;
  background-color: $primary;
  //   border: 1px solid $light;
  border-radius: 8px;
  &.uc-badge--inline {
    display: inline-flex;
    position: relative !important;
    transform: translate(0px, 0px) !important;
  }

  &.uc-badge--bottom-right {
    top: 100% !important;
  }

  &.uc-badge--avatar {
    border: 2px solid $white;
    transform: translate(-12px, 12px);
  }
  &.uc-badge--avatar-md {
    border: 2px solid $white;
    transform: translate(-10px, 10px);
  }
  &.uc-badge--avatar-s {
    border: 2px solid $white;
    transform: translate(-10px, 10px);
  }
  &.uc-badge--avatar-xs {
    border: 2px solid $white;
    transform: translate(-10px, 10px);
  }

  &.uc-badge--avatar-circle {
    border: 2px solid $white;
    transform: translate(-23px, 23px);
  }
  &.uc-badge--avatar-circle-md {
    border: 2px solid $white;
    transform: translate(-17px, 17px);
  }
  &.uc-badge--avatar-circle-s {
    border: 2px solid $white;
    transform: translate(-14px, 14px);
  }
  &.uc-badge--avatar-circle-xs {
    border: 2px solid $white;
    transform: translate(-12px, 12px);
  }
  &.uc-badge--number {
    transform: translate(55%, -55%);
    background-color: $yellow;

    font-size: 12px;
    font-weight: 500;
    padding: 4px 6px;

    border-radius: 10px;
  }
  &.uc-badge--text {
    transform: translate(25%, -55%);
    background-color: $yellow;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.5px;

    width: fit-content;
    padding: 4px 4px 3px 6px;
    border-radius: 4px;
    text-transform: uppercase;
  }
  &.uc-badge--icon {
    > .uc-icon {
      font-size: 14px;
      position: absolute;
      //   transform: translate(-50%, -50%);
    }
    width: 22px;
    height: 22px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 50%;
    border: 2px solid $primary;
  }
}
//badge position top-left
.uc-badge--number {
  &.uc-badge--avatar {
    border: 2px solid $white;
    transform: translate(-8px, 8px);
  }
  &.uc-badge--avatar-md {
    border: 2px solid $white;
    transform: translate(-6px, 6px);
  }
  &.uc-badge--avatar-s {
    border: 2px solid $white;
    transform: translate(-4px, 4px);
  }
  &.uc-badge--avatar-xs {
    border: 2px solid $white;
    transform: translate(-2px, 2px);
  }

  &.uc-badge--avatar-circle {
    border: 2px solid $white;
    transform: translate(-20px, 20px);
  }
  &.uc-badge--avatar-circle-md {
    border: 2px solid $white;
    transform: translate(-12px, 12px);
  }
  &.uc-badge--avatar-circle-s {
    border: 2px solid $white;
    transform: translate(-8px, 8px);
  }
  &.uc-badge--avatar-circle-xs {
    border: 2px solid $white;
    transform: translate(-4px, 6px);
  }
}
.uc-badge--text {
  &.uc-badge--avatar {
    top: 0;
    right: 0;
    border: 2px solid $white;
    transform: translate(0px, 6px);
  }
  &.uc-badge--avatar-md {
    top: 0;
    right: 0;
    border: 2px solid $white;
    transform: translate(4px, 4px);
  }
  &.uc-badge--avatar-s {
    top: 0;
    right: 0;
    border: 2px solid $white;
    transform: translate(8px, 2px);
  }
  &.uc-badge--avatar-xs {
    top: 0;
    right: 0;
    border: 2px solid $white;
    transform: translate(14px, 0px);
  }

  &.uc-badge--avatar-circle {
    top: 0;
    right: 0;
    border: 2px solid $white;
    transform: translate(0px, 18px);
  }
  &.uc-badge--avatar-circle-md {
    top: 0;
    right: 0;
    border: 2px solid $white;
    transform: translate(8px, 10px);
  }
  &.uc-badge--avatar-circle-s {
    top: 0;
    right: 0;
    border: 2px solid $white;
    transform: translate(10px, 6px);
  }
  &.uc-badge--avatar-circle-xs {
    top: 0;
    right: 0;
    border: 2px solid $white;
    transform: translate(20px, 4px);
  }
}
.uc-badge--icon {
  &.uc-badge--avatar {
    transform: translate(-10px, 8px);
  }
  &.uc-badge--avatar-md {
    transform: translate(-6px, 6px);
  }
  &.uc-badge--avatar-s {
    transform: translate(-4px, 4px);
  }
  &.uc-badge--avatar-xs {
    transform: translate(-4px, 4px);
  }

  &.uc-badge--avatar-circle {
    transform: translate(-20px, 20px);
  }
  &.uc-badge--avatar-circle-md {
    transform: translate(-12px, 12px);
  }
  &.uc-badge--avatar-circle-s {
    transform: translate(-8px, 8px);
  }
  &.uc-badge--avatar-circle-xs {
    transform: translate(-4px, 6px);
  }
}

.uc-badge--bottom-right {
  border: 2px solid $white;

  &.uc-badge--avatar {
    transform: translate(-10px, -25px);
  }
  &.uc-badge--avatar-md {
    transform: translate(-10px, -22px);
  }
  &.uc-badge--avatar-s {
    transform: translate(-10px, -23px);
  }
  &.uc-badge--avatar-xs {
    transform: translate(-10px, -20px);
  }

  &.uc-badge--avatar-circle {
    transform: translate(-23px, -38px);
  }
  &.uc-badge--avatar-circle-md {
    transform: translate(-17px, -32px);
  }
  &.uc-badge--avatar-circle-s {
    transform: translate(-14px, -28px);
  }
  &.uc-badge--avatar-circle-xs {
    transform: translate(-12px, -26px);
  }
  &.uc-badge--number {
    &.uc-badge--avatar {
      transform: translate(-8px, -28px);
    }
    &.uc-badge--avatar-md {
      transform: translate(-6px, -28px);
    }
    &.uc-badge--avatar-s {
      transform: translate(-6px, -26px);
    }
    &.uc-badge--avatar-xs {
      transform: translate(-6px, -26px);
    }

    &.uc-badge--avatar-circle {
      transform: translate(-20px, -38px);
    }
    &.uc-badge--avatar-circle-md {
      transform: translate(-12px, -34px);
    }
    &.uc-badge--avatar-circle-s {
      transform: translate(-10px, -30px);
    }
    &.uc-badge--avatar-circle-xs {
      transform: translate(-8px, -28px);
    }
  }
  &.uc-badge--text {
    &.uc-badge--avatar {
      transform: translate(0px, -28px);
    }
    &.uc-badge--avatar-md {
      transform: translate(-6px, -28px);
    }
    &.uc-badge--avatar-s {
      transform: translate(8px, -28px);
    }
    &.uc-badge--avatar-xs {
      transform: translate(14px, -28px);
    }

    &.uc-badge--avatar-circle {
      transform: translate(-10px, -38px);
    }
    &.uc-badge--avatar-circle-md {
      transform: translate(-6px, -36px);
    }
    &.uc-badge--avatar-circle-s {
      transform: translate(10px, -30px);
    }
    &.uc-badge--avatar-circle-xs {
      transform: translate(16px, -28px);
    }
  }
  &.uc-badge--icon {
    border: 2px solid $primary;
    &.uc-badge--avatar {
      transform: translate(-10px, -32px);
    }
    &.uc-badge--avatar-md {
      transform: translate(-6px, -28px);
    }
    &.uc-badge--avatar-s {
      transform: translate(-8px, -26px);
    }
    &.uc-badge--avatar-xs {
      transform: translate(-6px, -26px);
    }

    &.uc-badge--avatar-circle {
      transform: translate(-20px, -38px);
    }
    &.uc-badge--avatar-circle-md {
      transform: translate(-12px, -36px);
    }
    &.uc-badge--avatar-circle-s {
      transform: translate(-8px, -30px);
    }
    &.uc-badge--avatar-circle-xs {
      transform: translate(-8px, -28px);
    }
  }
}
