.uc-breadcrumb {
  padding: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  list-style-type: none;
  .uc-breadcrumb_item {
    margin-right: 8px;
    display: flex;
    align-items: center;
    a {
      color: $darkgray-a;
      text-decoration: none;
      margin-right: 8px;
    }
    .uc-icon {
      color: $primary;
    }
    &.current {
      font-weight: 700;
      color: #000;
    }
  }
}
