// Componente Botón UC
.uc-btn {
  position: relative;
  line-height: 1;
  border: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: $small-radius;
  background-color: transparent;
  justify-content: space-between;
  transition: background-color 0.2s ease;
  &.btn-primary {
    color: $primary;
    display: flex;
    padding: 12px 16px;
    line-height: 1.5;
    text-align: left;
    font-weight: 500;
    background-color: #fff;
    border: $primary-border;
    box-shadow: $primary-shadow;
    &:hover,
    &.hover {
      border-color: $primary;
      text-decoration: none;
    }
    &:active,
    &.active {
      background-color: $lightgray-c;
    }
  }
  &.btn-secondary,
  &.uc-btn-secondary {
    color: #fff;
    padding: 12px 16px;
    line-height: 1.5;
    font-weight: 500;
    background-color: $primary;
    box-shadow: $primary-shadow;
    .uc-icon {
      color: #fff;
    }
    &:hover,
    &.hover {
      background-color: $blue;
      text-decoration: none;
    }
  }
  &.btn-featured {
    width: 100%;
    color: #000;
    background: #fff;
    padding: 24px 16px;
    border: $primary-border;
    border-radius: 0 4px 4px 0;
    box-shadow: $primary-shadow;
    border-left: 2px solid $yellow;
    .uc-icon {
      font-size: 16px;
    }
    &:hover,
    &.hover {
      text-decoration: none;
      border: 1px solid $yellow;
      border-left: 2px solid $yellow;
    }
  }
  &.btn-cta {
    display: block;
    padding: 12px 16px;
    font-weight: 500;
    text-align: center;
    color: $blue;
    background-color: $yellow;
    &:hover,
    &.hover {
      text-decoration: none;
      background-color: #e3ae00;
    }
  }
  &.btn-admission {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 10px;
    border: 2px solid $yellow;
    .uc-icon {
      font-size: 10px;
    }
    &:hover,
    &.hover {
      text-decoration: none;
      color: $primary;
      background-color: #fff;
    }
  }
  &.btn-filter {
    padding: 8px;
    color: #000;
    border: $primary-border;
    box-shadow: $primary-shadow;
    border-radius: $medium-radius;
    .uc-icon {
      font-size: 12px;
      vertical-align: middle;
    }
    &:hover,
    &.hover {
      text-decoration: none;
      background-color: $lightgray-c;
    }
  }
  &.btn-listed {
    width: 100%;
    color: #000;
    font-size: 14px;
    border-radius: 0;
    font-weight: 500;
    padding: 12px 16px;
    border-bottom: 1px solid $lightgray-a;
    &:hover,
    &.hover {
      text-decoration: none;
      background-color: $lightgray-c;
    }
    &:first-child {
      border-top: 1px solid $lightgray-a;
    }
    &--small {
      padding: 8px !important;
    }

    &--border-top {
      border-top: 1px solid $lightgray-a !important;
    }
  }
  &.btn-inline {
    display: inline-flex;
    .uc-icon {
      margin-left: 12px;
      transition: 0.2s ease;
    }
    &:hover,
    &.hover {
      text-decoration: none;
      .uc-icon.icon-shape--rounded {
        color: $blue;
        background-color: $yellow;
      }
    }
    &.btn-inline--icon-adjacent {
      justify-content: flex-start;
    }
    &.btn-inline--bold {
      font-weight: 700;
    }
  }
  &.btn-disabled,
  &:disabled {
    pointer-events: none;
    color: $darkgray-b;
    cursor: not-allowed;
    background-color: $lightgray-c;
    .uc-icon {
      color: $darkgray-b;
    }
    .uc-icon.icon-shape--rounded {
      color: #fff;
      background-color: $darkgray-b;
    }
    &:hover,
    &.hover {
      border-color: inherit;
      background-color: $lightgray-c;
    }
    &.btn-featured {
      border-left-color: $darkgray-b;
    }
    &.btn-inline {
      background-color: inherit;
    }
    &.btn-admission {
      border-color: $darkgray-b;
    }
    &.btn-ghost {
      user-select: none;
      border-color: $darkgray-a;
      color: $darkgray-c;
      background-color: rgba(0, 0, 0, 0.3);
      &:hover,
      &.hover,
      &:active,
      &.active {
        color: $darkgray-c;
        border-color: $darkgray-a;
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0.3);
        outline: none;
      }
      .uc-icon {
        color: $darkgray-c !important;
        &.icon-shape--rounded {
          color: $white !important;
        }
      }
      .icon-background--white {
        background-color: $darkgray-b !important;
      }
    }
  }
  &.btn-ghost {
    color: $white;
    display: flex;
    padding: 10px 16px;
    line-height: 24px;
    text-align: left;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.5);

    border: 2px solid $darkgray-c;
    box-shadow: $primary-shadow;
    &:hover,
    &.hover {
      border-color: $darkgray-c;
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.8);
    }
    &:active,
    &.active {
      background-color: rgba(0, 0, 0, 0.5);
      border-color: $white;
      color: $white;
    }
  }
  &.btn-underline {
    text-decoration: underline;
    .uc-icon {
      text-decoration: none !important;
    }
  }
}
