$card-bg-height: 532px;

.uc-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  text-decoration: none;
  color: inherit;
  border: 1px solid $lightgray-a;
  border-radius: $small-radius;
  box-shadow: $primary-shadow;
  /*
  * Modificadores
  */
  // background

  &.card-bg--white {
    background-color: #fff;
  }
  &.card-bg--blue {
    background-color: $primary;
  }
  &.card-bg--gray {
    background-color: $lightgray-c;
  }
  &.card-bg--image {
    background-size: cover;
    background-position: center center;
    height: $card-bg-height;

    a:focus {
      .uc-card_body {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          outline: 2px solid $primary;
          outline-offset: 4px;
          border-radius: 2px;
        }
      }
    }

    > .card-img, //old class
    .uc-card-img  /* new class*/ {
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;

      pointer-events: none;
    }

    > a > img.card-img, //old class
    > a > img.uc-card-img {
      // new class
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;
      min-height: $card-bg-height;
      max-height: $card-bg-height;
      pointer-events: none;
      &.card-img--type-square, // old class
      &.uc-card-img--type-square /* new class */ {
        min-height: 370px;
        max-height: 370px;
      }
    }
  }

  &--no-interaction {
    border: 1px solid var(--darkgray-c) !important;
    box-shadow: none !important;
  }

  // border
  &.card-border--none {
    border: none;
  }
  &.card-border--top {
    border-top: 4px solid $primary;
  }
  &.card-border--bottom {
    border-bottom: 8px solid $primary;
  }
  // border radius
  &.card-radius--md {
    border-radius: $medium-radius;
  }
  &.card-radius--none {
    border-radius: 0;
  }
  // shadows
  &.card-shadow--md {
    box-shadow: $primary-shadow;
  }
  &.card-shadow--none {
    box-shadow: none;
  }
  // gradients
  &.card-gradient--bottom-blue {
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 50%;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(-180deg, transparent, #08275c 96%);
      pointer-events: none;
    }
  }
  &.card-gradient--top-black {
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 70%;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        0deg,
        rgba(43, 76, 137, 0) 30%,
        rgba(0, 0, 0, 0.7) 90%
      );
    }
  }
  &.card-gradient--bottom-black {
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 70%;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(
        180deg,
        rgba(43, 76, 137, 0) 30%,
        rgba(0, 0, 0, 0.7) 90%
      );
    }
  }
  &.uc-card--type-square {
    max-width: 370px;
    max-height: 370px;
  }
  &.card-type--link {
    transition: all 0.2s ease-in;
    border: none;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.4);
    }
  }
  // card same height
  &.card-height--same {
    @include media-breakpoint-up(md) {
      height: 100%;
    }
  }
  // card horizontal
  &.card-type--horizontal {
    > .card-img, //old class
    .uc-card-img  /* new class*/ {
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;

      pointer-events: none;
    }
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }
  // card in grids
  &.card-type--grid {
    width: 100%;
    height: 100%;
  }
  // card event
  &.card-type--event {
    overflow: visible;
    .card-type--date {
      position: absolute;
      top: -24px;
      left: 24px;
    }
    img {
      height: 210px;
      object-fit: cover;
    }

    .uc-card-link {
      display: -webkit-box !important;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;

      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &.card-type--date {
    border: transparent;
    border-top: 4px solid $primary;
    display: flex;
    flex-direction: row;
    padding: 4px 12px;
    align-items: center;
    border-radius: 0 0 4px 4px;
    align-self: flex-start;
    &.middle-date {
      position: relative;
      top: unset;
      margin-top: -24px;
      margin-bottom: -24px;
      width: fit-content;
    }
    .day {
      font-size: 34px;
      font-weight: bold;
      line-height: 1.1;
      margin-right: 12px;
    }
    .month {
      font-size: 17px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
  .uc-card_event--content {
    div:last-child {
      margin-bottom: 0;
    }
    .date,
    .time,
    .venue,
    .also-online {
      margin: 0;
      margin-bottom: 6px;
      padding-left: 20px;
      position: relative;
      &:before {
        font-family: "Material Icons";
        font-size: 14px;
        vertical-align: middle;
        position: absolute;
        left: 0;
      }
    }
    .date {
      &:before {
        content: "date_range";
      }
    }
    .time {
      &:before {
        content: "access_time";
      }
    }
    .venue {
      &:before {
        content: "location_on";
      }
    }
    .also-online {
      &:before {
        content: "cast";
      }
    }
  }
  .uc-card_event--footer {
    display: block;
    padding: 16px 24px;
    width: 100%;
    height: fit-content;
    background: #f6f6f6;
    @media (max-width: 768px) {
      padding-top: 12px !important;
    }
  }
  /*
  * Hijos
  */

  // card header
  // todo: documentar

  .uc-card_header {
    @extend .uc-subtitle;
    letter-spacing: 2px;
    color: #000;
    padding: 20px 24px;
    text-transform: uppercase;
    border-bottom: 1px solid $lightgray-a;
  }
  // card body
  .uc-card_body {
    padding: 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    position: relative;
    z-index: auto;
    @include media-breakpoint-up(lg) {
      padding: 24px;
    }
  }
  .uc-card_body--absolute {
    @extend .uc-card_body;
    width: 100%;
    position: absolute;
    bottom: 0px;
    pointer-events: none;
    > * {
      pointer-events: auto;
    }
  }
  .uc-card_body--sm {
    @extend .uc-card_body;
    padding: 16px;
  }
  .uc-card_body--lg {
    @extend .uc-card_body;
    padding: 16px;
    @include media-breakpoint-up(lg) {
      padding: 36px;
    }
  }
  .uc-card_body--xl {
    @extend .uc-card_body;
    padding: 36px;
    @include media-breakpoint-up(lg) {
      padding: 48px;
    }
  }
  // uc card footer
  .uc-card_footer {
    padding: 20px 24px;
    background-color: $lightgray-c;
    .uc-card_footer--color-white {
      @extend .uc-card_footer;
      background-color: $white;
    }
  }
  // card tag fixed
  // todo: documentar
  .tag-fixed {
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 20px;
    @include media-breakpoint-up(lg) {
      top: 24px;
      left: 24px;
    }
  }
  // todo: documentar
  .uc-card_link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    left: 0;
  }
}

a.uc-card {
  &:hover {
    color: inherit;
    text-decoration: none;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-decoration: underline;
    }
  }
}

/* cards superpuestas uc.cl */
.card-hoverable {
  position: relative;
  .card-hovered {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    transition: 0.2s ease;
    opacity: 0;
  }
  &:hover {
    .card-hovered {
      opacity: 1;
    }
  }
}
.card-hovered {
  background-color: $primary;
  color: #fff;
  height: 100%;
  width: 100%;
  border: 0;
  .uc-text-divider.divider-primary {
    background-color: #fff;
  }
}

.card-example {
  background-color: #cdcdcd;
}

/* Helper card-img de Bootstrap 4 */
.card-img,
.card-img-top,
.card-img-bottom, //old classes
.uc-card-img,
.uc-card-img-top,
.uc-card-img-bottom  /* new classes */ {
  flex-shrink: 0; // For IE: https://github.com/twbs/bootstrap/issues/29396
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
}
