.uc-carousel {
  position: relative;
  overflow: hidden;
  .hero-carousel_item,
  .primary-carousel_item {
    width: 100%;
    margin-bottom: 0;
    overflow: visible;
    background-size: cover;
    background-position: center center;
    > .carousel-img {
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;
      pointer-events: none;
      // object-position: right;
    }
  }

  .carousel-img--focus-right {
    object-position: right !important;
  }
  .carousel-img--focus-center {
    object-position: center !important;
  }
  .carousel-img--focus-left {
    object-position: left !important;
  }
  .uc-primary-carousel {
    &.uc-primary-carousel--hero {
      .primary-carousel_item {
        min-height: 480px;
        @include media-breakpoint-up(lg) {
          height: 200%;
        }
        &.primary-carousel_item--md-660 {
          min-height: 480px;
          @include media-breakpoint-up(md) {
            height: 660px;
          }
        }
        .primary-carousel_item-content {
          width: 100%;
          bottom: 40px;
          position: absolute;
        }
      }
    }
    .primary-carousel_item {
      min-height: 400px;
      @include media-breakpoint-up(lg) {
        height: 508px;
      }
      .primary-carousel_item-content {
        width: 100%;
        bottom: 40px;
        position: absolute;
      }
    }
  }
  .uc-hero-carousel {
    .hero-carousel_item {
      height: 540px;
      @include media-breakpoint-up(lg) {
        height: 660px;
        margin-bottom: 60px;
      }
    }
    .carousel-card {
      width: calc(100% - 40px);
      bottom: 80px;
      position: absolute;
      box-shadow: $large-shadow;
      @include media-breakpoint-up(md) {
        width: 80%;
        max-width: 640px;
      }
      .h1 {
        font-size: 24px;
        @include media-breakpoint-up(lg) {
          font-size: 2.5em;
        }
      }
      .uc-card_body--xl {
        padding: 24px;
        @include media-breakpoint-up(lg) {
          padding: 48px;
        }
      }
      @include media-breakpoint-up(lg) {
        bottom: -40px;
        margin-left: -48px;
      }
      a {
        text-decoration: none;
      }
    }
  }
  .uc-carousel-nav {
    width: 100%;
    height: fit-content;
    bottom: 0;
    position: absolute;
    text-align: center;
    @include media-breakpoint-up(lg) {
      bottom: 120px;
      text-align: right;
    }
    &.primary-carousel-nav {
      @include media-breakpoint-up(lg) {
        bottom: 40px;
      }
    }
    .carousel-nav-container {
      display: inline-flex;
    }
    .carousel-nav-list {
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style-type: none;
      @include media-breakpoint-up(lg) {
        margin: 0;
        margin-left: auto;
      }
    }
    .carousel-nav-item {
      cursor: pointer;
      font-size: 16px;
      text-align: center;
      font-weight: 700;
      margin-left: auto;
      color: rgba(255, 255, 255, 0.35);
      transition: 0.3s ease;
      &:not(:first-child) {
        margin-left: 24px;
      }
      .indicator {
        width: 32px;
        height: 2px;
        position: relative;
        background-color: rgba(255, 255, 255, 0.35);
        transition: 0.3s ease;
        /*
        &:after {
          content: '';
          width: 0;
          height: 100%;
          position: absolute;
          background-color: #fff;
        }
        */
      }
      &.tns-nav-active {
        color: #fff;
        .indicator {
          background-color: #fff;
          &:after {
            animation: CarouselNav 5s linear forwards;
          }
        }
        .indicator.paused:after {
          animation-play-state: paused;
        }
        .indicator.playing:after {
          animation-play-state: running;
        }
      }
    }
    .autoplay-buttons {
      margin-left: 24px;
      cursor: pointer;
      .uc-icon {
        color: #fff;
      }
    }
  }
}

.uc-carousel-cards {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  position: relative;
  width: 100vw;
  left: calc(-1 * (100vw - 100%) / 2);
  right: 0;
  padding: 30px;
  overflow-x: hidden;
  overflow-y: visible;
  @include media-breakpoint-up(lg) {
    padding: 50px calc((100vw - 100%) / 2);
  }
  .tns-ovh {
    overflow: visible;
  }
  .carousel-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex !important;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    @media (max-width: 576px) {
      justify-content: center !important;
    }
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 0 16px 0;
    .prev,
    .next {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      cursor: pointer;
      &[aria-disabled="true"] {
        svg g {
          fill: $darkgray-a;
        }
      }
    }
    .prev {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }
  }
}

//duplicado nueva clase '.uc-carousel-controls'

.uc-carousel-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 32px;
  .prev,
  .next {
    display: flex;
    cursor: pointer;
    &[aria-disabled="true"] {
      svg g {
        fill: $darkgray-a;
      }
    }
  }
  .prev {
    transform: rotate(-180deg);
  }
}

.uc-carousel_index {
  color: $darkgray-a;
  font-size: 1em;
  margin: 0 20px;
  .current {
    color: $primary;
  }
}

.prev[style*="display: none"] + .uc-carousel_index {
  display: none !important;
}


.carousel-track {
  display: none !important;
  width: calc(100% + 30px);
  height: 2px;
  margin-left: -15px;
  background-color: $lightgray-a;
  margin-top: 28px;
  position: relative;
  .carousel-progress-indicator {
    width: 24px;
    height: 6px;
    border-radius: 3px;
    background-color: $primary;
    position: absolute;
    top: -2px;
    transform: translateX(15px);
    transition: 0.2s ease;
  }
}

.uc-card-event-featured_image {
  height: calc(100% + 90px);
  width: 73%;
  margin-top: -50px;
  position: absolute;
  border-radius: $small-radius;
  background-position: center;
  overflow: hidden;
  > img.carousel-img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.uc-card-event-featured {
  float: right;
  max-width: 280px;
}

.item-carousel {
  width: 100%;
  height: 100px;
  background-color: black;
  margin: 5px 30px;
}

.featured-image-container,
.uc-featured-image-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  .uc-card-event-featured_image {
    width: 163%;
    background-size: cover;
  }
}

.uc-carousel__progress-bar {
  $height: 4px;
  --percentage: 0%;
  --duration: 0s;
  width: 100%;
  height: $height;

  background-color: $lightgray-a;
  position: relative;
  isolation: isolate;
  z-index: 1;

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--percentage);
    transition: width var(--duration) linear;
    height: $height;
    background-color: $primary;
  }
}

.uc-carousel--home-card {
  // height: 600px;
  overflow-x: hidden;
  .tns-ovh {
    overflow: visible;
  }
  .uc-carousel-nav {
    position: absolute;
    bottom: 0px;
  }
  // disable x scroll

  @include media-breakpoint-up(lg) {
    height: 560px;
    overflow: hidden;
    .tns-ovh {
      overflow: hidden;
    }
    .uc-carousel-nav {
      top: auto;
    }
  }
}
