// divisores

.uc-hr {
  border: 0;
  height: 1px;
  width: 100%;
  overflow: hidden;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjEiIHZpZXdCb3g9IjAgMCA4IDEiPiAgPHBvbHlnb24gZmlsbD0iZ3JheSIgZmlsbC1ydWxlPSJldmVub2RkIiBwb2ludHM9IjAgMSAwIDAgMyAwIDMgMSIvPjwvc3ZnPg==)
    center center repeat;
}

.uc-text-divider {
  width: 36px;
  height: 4px;
  &.divider-primary {
    background-color: $primary;
  }
  &.divider-secondary {
    background-color: $yellow;
  }
}

.heading-container,
.uc-heading-container {
  display: flex;
  align-items: center;
}

.uc-heading-decoration {
  display: inline-block;
  margin-left: 24px;
  width: 36px;
  height: 4px;
  background-color: $yellow;
}
