.uc-ecosistema {
  position: relative;
  border-top: 6px solid $primary;
  background: #fff;
  isolation: isolate;
  $radius: 8px;
  width: 80vw;
  max-width: 956px;
  box-shadow: (0px 0px 20px rgba(0, 0, 0, 0.18));
  border-radius: $radius;
  overflow: hidden;
  &__header {
    display: flex;
    justify-content: space-between;
    border-radius: $radius $radius 0 0;
    padding: 24px 16px;
  }
  &__body {
    border-radius: 0 0 $radius $radius;
    overflow-y: auto;
  }

  &__content {
    display: flex;
    gap: 24px 0px;
    flex-wrap: wrap;
    padding: 36px;
    overflow-y: auto;
    max-height: 60vh;
    &--tall {
      padding-top: 48px;
    }
  }
  &__absolute-close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
  }
  .uc-tabs-v2--manual {
    margin: 0px !important;
    overflow-x: auto;
    overflow-y: hidden;
    height: fit-content;
    display: flex;
    flex-wrap: nowrap;
  }
  .uc-tabs_item-link {
    // do not break lines
    padding-top: 0px !important;
    white-space: nowrap;
  }
  .btn-listed {
    font-weight: 400 !important;
  }
}
.uc-dropdown_ecosistema {
  top: 40px;
  z-index: 100;
  display: none;
  min-width: 210px;
  position: absolute;
  list-style-type: none;
  background-color: #fff;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  transform: translateX(-110px);

  &.show {
    display: block;
  }
}
