.uc-footer {
  padding: 28px 0;
  padding-bottom: 0;
  background-color: $darkblue;
  // font-size: 14px;
  color: #fff;
  @include media-breakpoint-up(lg) {
    padding-top: 60px;
  }
  a {
    color: #fff;
    text-decoration: underline;
  }

  .uc-footer_social {
    margin: 0;
    padding: 0;
    display: inline-flex;
    margin-top: 16px;
    list-style-type: none;
    > * + * {
      margin-left: 20px;
    }
    li {
      img {
        max-width: 18px;
        max-height: 18px;
      }
    }
  }
  .acreditado {
    img {
      max-width: 130px;
    }
  }
  .footer-collapse {
    overflow: hidden;
    transition: height 0.25s linear;
    @include media-breakpoint-up(lg) {
      height: auto !important;
    }
  }
  .uc-icon {
    color: #fff;
  }
}

.uc-footer_list-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  &.footer-collapse-title {
    border-top: 1px solid #fff;
    position: relative;
    padding: 17px 0;
    @include media-breakpoint-up(lg) {
      margin-top: 35px;
    }
    &:after {
      content: "keyboard_arrow_down";
      top: 9px;
      right: 0;
      font-size: 24px;
      position: absolute;
      text-transform: none;
      transition: 0.2s ease;
      font-family: "Material Icons";
    }
    &.js-accordion-active-element {
      &:after {
        transform: rotate(-180deg);
      }
    }
    @include media-breakpoint-up(lg) {
      border: 0;
      padding-top: 0;
      &:after {
        content: "";
      }
    }
  }
}
.uc-footer_list-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  &.footer-collapse-title {
    border-top: 1px solid #fff;
    position: relative;
    padding: 17px 0;
    @include media-breakpoint-up(lg) {
      margin-top: 35px;
    }
    &:after {
      content: "keyboard_arrow_down";
      top: 9px;
      right: 0;
      font-size: 24px;
      position: absolute;
      text-transform: none;
      transition: 0.2s ease;
      font-family: "Material Icons";
    }
    &.js-accordion-active-element {
      &:after {
        transform: rotate(-180deg);
      }
    }
    @include media-breakpoint-up(lg) {
      border: 0;
      padding-top: 0;
      &:after {
        content: "";
      }
    }
  }
}
.uc-footer_list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  li {
    margin-bottom: 8px;
    font-size: 14px;
    a {
      text-decoration: underline;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}

.uc-footer_help {
  background-color: $primary;
  padding: 48px 0;
  color: #fff;
  a {
    text-decoration: underline;
    color: #fff;
  }
  .uc-icon {
    color: #fff;
  }
  p {
    font-size: 14px;
    line-height: 1.5;
  }
}

.uc-dev-footer {
  a {
    color: $blue;
    &:hover {
      color: $darkblue;
    }
  }
  padding: 16px 0;
  color: $darkgray-a;
  background-color: $white;
  .uc-footer-dev_content {
    margin: 0;
    padding: 0;
    display: block;
    color: $darkgray-a;
    font-size: 14px;
    align-items: center;
    list-style-type: none;
    @include media-breakpoint-up(lg) {
      display: flex;
    }
    li:not(:last-child) {
      margin-bottom: 4px;
      padding-bottom: 4px;
      @include media-breakpoint-up(lg) {
        padding-bottom: 0;
        margin-bottom: 0;
        margin-right: 20px;
        padding-right: 20px;
        border-right: 1px solid $darkgray-a;
      }
    }
  }
}
