.uc-gallery {
  --duration: 0.1s;
  display: flex;
  flex-wrap: wrap;
  gap: 0.35rem;

  > a {
    border-radius: 4px;
    > img {
      &:hover {
        transform: scale(1.01) translateY(-5px);
        cursor: pointer;
      }
      transition: transform var(--duration) ease;

      border-radius: 4px;
      width: 140px;
      height: 140px;

      @include media-breakpoint-up(sm) {
        width: 160px;
        height: 160px;
      }
      @include media-breakpoint-up(md) {
        width: 190px;
        height: 190px;
      }

      aspect-ratio: 1/1;

      object-fit: cover;
    }
  }
}
//photoswipe elements
.pswp__bullets-indicator {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}
.pswp__bullet {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--lightgray-a);
  margin: 0 5px;
  &:hover {
    cursor: pointer;
  }
}
.pswp__bullet--active {
  background: var(--primary);
}
.pswp__button--arrow--prev {
  right: auto;
  left: 0px;
  overflow: visible;
  &::before {
    position: absolute;
    transform: translate(-70%, -50%);
    content: " ";
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  &:hover::before {
    opacity: 1;
  }
}
.pswp__button--arrow--next {
  left: auto;
  right: 0px;
  overflow: visible;
  &::before {
    position: absolute;
    transform: translate(-30%, -50%);
    content: " ";
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  &:hover::before {
    opacity: 1;
  }
}
.pswp__custom-caption {
  background: rgba(0, 0, 0, 0.65);
  font-size: 16px;
  color: #fff;
  width: calc(100% - 32px);
  max-width: 500px;
  padding: 12px;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  bottom: 60px;
  transform: translateX(-50%);
  //media query that puts the font size in 14px in mobile
  @media (max-width: 768px) {
    font-size: 14px;
  }
}
.pswp__custom-caption a {
  color: #fff;
  text-decoration: underline;
}
.hidden-caption-content {
  display: none;
}
