.uc-hero {
  isolation: isolate;
  position: relative;
  height: 480px;
  @include media-breakpoint-up(md) {
    height: 560px;
  }
}
.uc-hero--sm-600 {
  position: relative;
  height: 600px;
  @include media-breakpoint-up(md) {
    height: 560px;
  }
}
.uc-hero--sm-380 {
  position: relative;
  height: 380px;
  @include media-breakpoint-up(md) {
    height: 560px;
  }
}
.uc-hero--md-380 {
  position: relative;
  height: 380px;
  @include media-breakpoint-up(lg) {
    height: 560px;
  }
}
.uc-hero--md-660 {
  @include media-breakpoint-up(md) {
    height: 660px;
  }
}
.uc-hero__bg-img {
  z-index: -2;
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.uc-hero__dark-gradient {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(3, 18, 46, 0.5) 0%,
    rgba(2, 11, 28, 0.65) 46.28%,
    rgba(0, 0, 0, 0.65) 100%
  );
}
.uc-hero__dark-gradient--bottom {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(43, 76, 137, 0.0001) 40.07%,
    rgba(12, 21, 38, 0.504904) 60.02%,
    rgba(0, 0, 0, 0.7) 100%
  );
}
.uc-hero__black-bottom-gradient {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(43, 76, 137, 0) 30%,
    rgba(0, 0, 0, 0.7) 90%
  );
}
.uc-hero__black-top-gradient {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    rgba(43, 76, 137, 0) 65%,
    rgba(0, 0, 0, 0.7) 100%
  );
}
.uc-hero__blue-gradient--left {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    270deg,
    rgba(8, 39, 92, 0.578167) 0%,
    #03122e 100.76%
  );

  @include media-breakpoint-up(md) {
    background: linear-gradient(
      270deg,
      rgba(8, 39, 92, 0.0001) 0%,
      rgba(8, 39, 92, 0.578167) 38.84%,
      #03122e 100.76%
    );
  }
}
.uc-hero__blue-gradient--right {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    270deg,
    rgba(8, 39, 92, 0.578167) 0%,
    #03122e 100.76%
  );

  @include media-breakpoint-up(md) {
    background: linear-gradient(
      90deg,
      rgba(8, 39, 92, 0.0001) 0%,
      rgba(8, 41, 92, 0.7) 46.45%,
      rgba(3, 18, 46, 0.9) 100%
    );
  }
}
.uc-hero__blue-gradient--quote-left {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    180deg,
    rgba(8, 39, 92, 0.0001) 37.19%,
    #08275c 100%
  );

  @include media-breakpoint-up(md) {
    background: linear-gradient(
      270deg,
      rgba(8, 39, 92, 0.0001) 0%,
      rgba(8, 39, 92, 0.578167) 38.84%,
      #03122e 100.76%
    );
  }
}
.uc-hero__blue-gradient--quote-right {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    180deg,
    rgba(8, 39, 92, 0.0001) 37.19%,
    #08275c 100%
  );

  @include media-breakpoint-up(md) {
    background: linear-gradient(
      90deg,
      rgba(8, 39, 92, 0.0001) 0%,
      rgba(8, 41, 92, 0.7) 46.45%,
      rgba(3, 18, 46, 0.9) 100%
    );
  }
}
.uc-hero__content-margin {
  margin: 0px 0px;

  @include media-breakpoint-up(md) {
    margin: 0px 40px;
  }
  @include media-breakpoint-up(lg) {
    margin: 0px 70px;
  }
}

.uc-hero__content {
  gap: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0rem;
  text-align: start;
  z-index: 1;
  position: relative;
  @include media-breakpoint-up(md) {
    gap: 30px;
    padding: 0 1rem;
  }
}
.uc-hero__content--cards {
  align-items: flex-end;
}

.uc-hero__content--no-padding {
  padding: 0 0;
}
.uc-hero__content--center {
  justify-content: center;
}
.uc-hero__content--right {
  justify-content: flex-end;
}
.uc-hero__content--bottom {
  align-items: flex-end;
}
.uc-hero__text--center {
  text-align: center;
}
.uc-hero__card-container {
  padding: 0px 20px;
  position: absolute;
  bottom: 0px;
  margin-bottom: 2rem;
  @include media-breakpoint-up(lg) {
    padding: 0px;
    margin: 2rem;
  }
  &--with-controls {
    margin-bottom: 4rem;
    @include media-breakpoint-up(md) {
      padding: 0px;
      margin: 2rem;
    }
    &--home {
      margin-bottom: 4rem;
      @include media-breakpoint-up(lg) {
        padding: 0px;
        margin: 2rem;
      }
    }
  }
}
.uc-hero__card-bajada {
  display: none;
  @include media-breakpoint-up(md) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  &--visible-on-mobile {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    @include media-breakpoint-up(md) {
      -webkit-line-clamp: 5;
    }
  }
}

.uc-hero__card-container--carousel {
  padding: 0px 20px;
  transform: translateY(-60px);
  @include media-breakpoint-up(lg) {
    padding: 0px;
    margin: 2.5rem;
    transform: translateY(0px);
  }
  @include media-breakpoint-up(xl) {
    padding: 0px;
    margin: 2.5rem;

    transform: translateY(0px);
  }
}

.uc-hero__text--sm-center {
  text-align: center;
  @include media-breakpoint-up(md) {
    text-align: start;
  }
}
.uc-hero__content--sm-col-reverse {
  flex-direction: column-reverse;
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}
.uc-hero__content--sm-col {
  flex-direction: column;
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.uc-hero__video-container {
  margin: 0px;
  background-color: $black;
  border-radius: 4px;
  overflow: hidden;

  height: 192px;
  @include media-breakpoint-up(sm) {
    height: 280px;
  }
  @include media-breakpoint-up(md) {
    height: 280px;
  }
  @include media-breakpoint-up(lg) {
    height: 396px;
  }
}
.uc-hero__video {
  height: 100%;
  width: 100%;
  aspect-ratio: 7 / 4;
}
.uc-hero__video-control {
  z-index: 1;
  position: absolute;
  bottom: 10px;
  @include media-breakpoint-up(md) {
    bottom: 20px;
    right: 5%;
  }
  &--with-card {
    bottom: 1rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    @include media-breakpoint-up(md) {
      bottom: 24px;
      left: auto;
      right: 30px;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
}
.uc-hero__quote-container {
  display: none;
  margin: 0px 7%;
  max-width: 292px;
  @include media-breakpoint-up(md) {
    display: block;
    max-width: 392px;
  }
  @include media-breakpoint-up(lg) {
    display: block;
    max-width: 492px;
  }
  @include media-breakpoint-up(xl) {
    display: block;
    max-width: 592px;
  }
}

.uc-hero__quote-container--right {
  display: none;
  padding-left: 0%;
  max-width: 292px;
  @include media-breakpoint-up(md) {
    padding-left: 10%;
    display: block;
    max-width: 392px;
  }
  @include media-breakpoint-up(lg) {
    padding-left: 5%;
    display: block;
    max-width: 492px;
  }
  @include media-breakpoint-up(xl) {
    padding-left: 0%;
    display: block;
    max-width: 592px;
  }
}
.uc-hero__sm-card-container {
  display: block;
  padding: 0px 5%;
  transform: translateY(-100px);
  @include media-breakpoint-up(md) {
    display: none;
  }
}
.uc-hero__low-wide-container {
  margin-bottom: 4.5rem;
  @include media-breakpoint-up(md) {
    // padding-left: 10%;
    display: block;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 3rem;

    // padding-left: 5%;
    display: block;
  }
  @include media-breakpoint-up(xl) {
    // padding-left: 0%;
    display: block;
  }
}
