.uc-image-quote {
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    margin-left: auto;
    margin-right: auto;
  }
  .uc-image-quote_image {
    height: 300px;
    border-radius: $small-radius;
    overflow: hidden;
    > img.card-img, // old class
    > img.uc-card-img /* new class */{
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;
    }
  }
  // todo: documentar image-quote-size--sm
  &.image-left {
    .uc-image-quote_image {
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      > img {
        border-radius: 4px;
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
      }

      &[style*="background-image"] {
        background-size: cover;
        background-position: center;
      }

      @include media-breakpoint-up(md) {
        width: 180%;
        height: 600px;
        &.image-quote-size--sm {
          width: 130%;
          height: 400px;
        }
      }
    }
  }
  &.image-right {
    .uc-card {
      width: auto;
      z-index: 2;
      @include media-breakpoint-up(md) {
        width: 125%;
      }
    }

    .uc-image-quote_image {
      // width: auto;
      background-size: cover;
      background-repeat: no-repeat;

      > img {
        border-radius: 4px;
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
      }

      &[style*="background-image"] {
        background-size: center !important;
        background-position: center;
        @include media-breakpoint-up(md) {
          width: 100%;
          height: 600px;
          &.image-quote-size--sm {
            width: 130%;
            height: 400px;
          }
        }
      }

      @include media-breakpoint-up(md) {
        width: 100%;
        height: 600px;
        &.image-quote-size--sm {
          width: 130%;
          height: 400px;
        }
      }
    }
  }
  &.image-nested {
    margin-bottom: 200px;
    overflow: visible;
    @include media-breakpoint-up(md) {
      margin-bottom: auto;
    }
    .uc-image-quote_image {
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 32px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      overflow: visible;

      @include media-breakpoint-up(md) {
        height: 600px;
      }
      .uc-card {
        max-width: 590px;
        position: absolute;
        right: 0;
        top: 270px;
        @include media-breakpoint-up(lg) {
          right: 0px;
          top: auto;
          &.card-img--padding, // old class
          &.uc-card-img--padding /* new class */ {
            right: 32px;
            bottom: 32px;
          }
        }
      }
    }
  }
  &.image-left,
  &.image-right,
  &.image-nested {
    .uc-card {
      margin: 0 20px;
      margin-top: -60px;
      @include media-breakpoint-up(lg) {
        margin: auto;
      }
    }
  }
}
