.uc-table-list {
  display: flex;
  .uc-table-list_title {
    min-width: 280px;
    border-top: 4px solid $primary;
    padding-top: 24px;
  }
  .uc-table-list_content {
    list-style: none;
    border-top: 4px solid $lightgray-a;
    padding: 24px;
    flex-grow: 1;
    li:not(:first-child) > .btn-listed {
      border-top: 0;
    }
  }
}
