// menú desplegable uc.cl
.uc-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  box-shadow: $menu-shadow;
  border-radius: 4px;
  a {
    text-decoration: none;
  }
  .uc-menu_list {
    list-style: none;
    margin: 0;
    padding: 12px 24px;
    background-color: #fff;
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
    &.first-level {
      background-color: $blue;
      min-width: 310px;
      border-radius: 4px 0 0 4px;
      > .uc-menu_list-item .uc-btn {
        color: #fff;
      }
    }
    //IE 11 Fix
    &:nth-child(2) {
      -ms-grid-column: 1;
    }
    &:nth-child(3) {
      -ms-grid-column: 2;
    }
    &:nth-child(4) {
      -ms-grid-column: 3;
    }
    .uc-menu_list-item {
      .uc-btn {
        padding: 12px 0;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.45px;
        transition: 0.2s ease;
        .uc-icon {
          font-size: 16px;
          color: #fff;
        }
        &:hover,
        &.active {
          text-decoration: none;
          .title {
            text-decoration: underline;
          }
          .uc-icon {
            text-decoration: none;
            color: $yellow;
          }
        }
      }
    }
    &.second-level {
      .uc-menu_list-item {
        border-top: $primary-border;
        &:last-child {
          border-bottom: $primary-border;
        }
      }
      .uc-menu_list-item .uc-btn {
        color: black;
        font-weight: normal;
        border-radius: 0;
        padding: 12px;
        border-left: 2px solid transparent;
        transition: 0.2s ease;
        .uc-icon {
          color: $primary;
        }
        &:hover {
          border-left: 2px solid $yellow;
          .uc-icon {
            color: $primary;
          }
        }
      }
      &:first-child {
        padding: 12px 12px 12px 24px;
      }
      &:last-child {
        padding: 12px 24px 12px 12px;
      }
    }
    .dropdown-content {
      position: absolute;
      display: flex;
      top: 0;
      left: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 0 4px 4px 0;
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
    }
  }
  .triangle {
    width: 41px;
    height: 14px;
    position: absolute;
    overflow: hidden;
    top: -14px;
    &:after {
      content: "";
      position: absolute;
      top: 8px;
      left: 9px;
      width: 15px;
      height: 15px;
      background-color: #fff;
      z-index: 2;
      transform: rotate(45deg);
      box-shadow: $large-shadow;
      border-radius: $small-radius;
    }
    &.blue {
      &:after {
        background-color: $blue;
      }
    }
  }
}
