.uc-message {
  position: relative;
  background-color: #fff;
  border-radius: $small-radius;
  box-shadow: $message-shadow;
  &.warning {
    border-top: 4px solid $warning;
    .warning-icon {
      vertical-align: text-bottom;
      color: $warning;
      font-size: 34px;
    }
  }
  &.error {
    border-top: 4px solid $error;
    .warning-icon {
      vertical-align: text-bottom;
      color: $error;
      font-size: 34px;
    }
  }
  &.success {
    border-top: 4px solid $success;
    .warning-icon {
      vertical-align: text-bottom;
      color: $success;
      font-size: 34px;
    }
  }
  &.info {
    border-top: 4px solid $info;
    .warning-icon {
      vertical-align: text-bottom;
      color: $info;
      font-size: 34px;
    }
  }
  .uc-message_body {
    padding: 48px;
  }
  .uc-message_close-button {
    background: none;
    border: none;
    position: absolute;
    top: 24px;
    right: 24px;
    line-height: 0.6;
  }
}

.uc-modal {
  display: none;
  position: fixed;
  z-index: 99;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  .uc-modal_content {
    margin: auto;
    width: fit-content;
    max-width: 80%;
  }
}

.uc-alert {
  border: 1px solid;
  padding: 7px 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.tie-error {
    border: 0;
    .uc-icon {
      color: $error;
    }
  }
  &.tie-info {
    border: 0;
    .uc-icon {
      color: $info;
    }
  }
  &.tie-warning {
    border: 0;
    .uc-icon {
      color: $warning;
    }
  }
  &.error {
    border-color: $error;
    background-color: rgba($error, 0.1);
    .uc-icon {
      color: $error;
    }
  }
  &.warning {
    border-color: $warning;
    background-color: rgba($warning, 0.1);
    .uc-icon {
      color: $warning;
    }
  }
  &.info {
    border-color: $info;
    background-color: rgba($info, 0.05);
    .uc-icon {
      color: $info;
    }
  }
  &.success {
    border-color: $success;
    background-color: rgba($success, 0.1);
    .uc-icon {
      color: $success;
    }
  }
  &.primary {
    border-color: $primary;
    background-color: rgba($primary, 0.1);
    .uc-icon {
      color: $primary;
    }
  }
  .uc-alert_close .uc-icon {
    color: $darkgray-a;
  }
}

#tie {
  position: fixed;
  background: white;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
  left: 0;
  right: 0;
  z-index: 100 !important;
}

.tie-border-success {
  border-top: 3px solid $success;
}
.tie-border-info {
  border-top: 3px solid $info;
}
.tie-border-warning {
  border-top: 3px solid $warning;
}
.tie-border-error {
  border-top: 3px solid $error;
}
