.uc-dropdown {
  position: relative;
}

.uc-dropdown_list {
  top: 30px;
  z-index: 100;
  display: none;
  min-width: 210px;
  position: absolute;
  padding: 12px 24px;
  list-style-type: none;
  background-color: #fff;
  box-shadow: $menu-shadow;
  border-radius: $small-radius;
  .uc-btn {
    color: $blue;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
      > .uc-icon {
        text-decoration: none;
        display: block;
      }
    }
  }
  .uc-dropdown_list-item {
    border-bottom: 1px solid #ededed;
    .uc-btn {
      font-size: 14px;
      padding: 12px 0;
      border-bottom: 1px solid transparent;
    }
    &:last-child {
      border-bottom: 0;
    }
    *.flag-es::after {
      color: $darkgray-b;
    }
  }
  &.show {
    display: block;
  }
}
.uc-navbar-dropdown_menu--footer {
  padding-bottom: 64px !important;
}
.dropdown_item--footer {
  background-color: var(--lightgray-a);

  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.dropdown_item--footer .uc-btn {
  font-weight: 500;
}
.dropdown_item--footer .uc-btn .uc-icon {
  color: var(--blue);
}

//dropdown container
.uc-navbar-dropdown_menu {
  z-index: 999;
  padding: 24px;
  min-width: 240px;
  text-align: left;
  position: relative;
  list-style-type: none;
  background-color: #fff;
  box-shadow: $menu-shadow;
  border-radius: $small-radius;

  .uc-btn {
    line-height: 1.15em;
  }
  // top triangle
  // &::before {
  //   content: "";
  //   left: 0;
  //   top: -20px;
  //   width: 100%;
  //   height: 20px;
  //   position: absolute;
  //   background: transparent;
  // }
  // second level children title/button
  .dropdown_item--heading {
    color: $blue;
    font-size: 1.05rem !important; // Jano approved
    font-weight: bold;
    padding: 12px 8px 12px 0;
    margin-bottom: 16px;
    page-break-inside: avoid;
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    padding-top: 0;
    margin-bottom: 16px;

    > .uc-btn:hover {
      text-decoration: underline;
    }
  }

  .uc-navbar-dropdown_child {
    margin: 0;
    padding: 0;
    margin-top: 12px;
    list-style-type: none;
  }
  .uc-navbar-dropdown_item {
    padding: 8px;
    font-size: 14px;
    text-align: left;
    min-width: 200px;
    border-bottom: $primary-border;
    page-break-inside: avoid;
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    &:first-child {
      border-top: $primary-border;
    }
    .uc-btn {
      font-weight: normal;
      color: #000 !important;
    }
  }
  &.cols-2 {
    columns: 2;
    column-width: 210px;
    column-gap: 12px;
  }
  &.cols-3 {
    columns: 3;
    column-width: 210px;
    column-gap: 12px;
  }
  &.cols-4 {
    columns: 4;
    column-width: 210px;
    column-gap: 12px;
  }

  &.cols-5 {
    columns: 5;
    column-width: 210px;
    column-gap: 12px;
  }
}

.uc-navbar-dropdown_menu .active {
  border-bottom: none !important;
  text-decoration: underline;
}

.uc-navbar-dropdown_menu {
  display: none;
}

.uc-navbar-dropdown_menu[data-show] {
  display: block;
  &::before {
    content: "";
    height: 12px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background: transparent !important;
  }
}

.uc-navbar_arrow {
  background-color: transparent;
}
.uc-navbar_arrow,
.uc-navbar_arrow::before {
  position: absolute;
  content: "";
  translate: -50%;
  top: 50%;
  right: 50%;
  transform: rotate(45deg);
  background: #fff;
  border-radius: 4px;
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: -3px;
  right: -50%;
  z-index: -1;
  transform: rotate(45deg);
  background: #fff;
}
