/* Navbar Kit UC */
.uc-navbar {
  background-color: #fff;
  border-bottom: $primary-border;
  box-shadow: 0 0 8px 0 rgba(136, 136, 136, 0.18);
  @include media-breakpoint-up(lg) {
    padding: 24px 0;
  }
  .uc-navbar_nav {
    margin: 0;
    padding: 0;
    z-index: 10;
    display: flex;
    margin-top: 24px;
    position: relative;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    .nav-item {
      flex-grow: 1;
      padding: 1px 0;
      position: relative;
      text-align: center;
      border-right: $primary-border;
      &:first-child {
        border-left: $primary-border;
      }
      .btn-admission {
        color: $blue;
      }
      .uc-btn {
        color: $blue;
        &.active {
          border-bottom: 2px solid;
        }
      }
      > .uc-btn {
        border-radius: 0;
        padding-bottom: 2px;
        border-bottom: 2px solid transparent;
        transition: border-bottom-width 0.2s ease, border-bottom-color 0.2s ease;
        &:hover {
          border-bottom: 2px solid;
        }
      }
    }
  }
  &.navbar-dark {
    background-color: $primary;
    .uc-navbar_nav {
      .nav-item {
        border-color: #fff;
        .uc-btn {
          color: #fff;
        }
      }
    }
    .uc-navbar_mobile-bar {
      .uc-navbar_mobile-logo {
        background-color: $primary;
        color: #fff;
      }
    }
  }
  &.navbar-transparent {
    border-bottom: none;
    background: linear-gradient(
        180deg,
        rgba(3, 18, 46, 0.7) 0%,
        rgba(3, 18, 46, 0) 100%
      ),
      rgba(3, 18, 46, 0.6);
    &::before {
      z-index: -1;
      content: "";
      position: absolute;
      inset: 0;
      backdrop-filter: blur(2.5px);
    }
    .uc-navbar_nav {
      > .nav-item {
        border-color: #fff;
        > .uc-btn {
          color: #fff;
        }
      }
    }
    .uc-navbar_mobile-bar {
      .uc-navbar_mobile-logo,
      .uc-navbar_mobile-button {
        background-color: transparent;
      }
    }
  }
  &.navbar--absolute {
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

/* Navbar Portal UC */
.uc-portal-navbar {
  padding: 0;
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 0 8px 0 rgba(136, 136, 136, 0.18);
  @include media-breakpoint-up(lg) {
    padding: 80px 0;
  }
  .row {
    align-items: center;
    justify-content: space-between;
  }
  .uc-navbar_title {
    width: calc(100% - 75px);
    @include media-breakpoint-up(lg) {
      width: auto;
    }
    h1 {
      font-family: "Roboto Slab", serif;
      font-size: 32px;
      color: $blue;
      line-height: 1.2;
      @include media-breakpoint-up(lg) {
        font-size: 40px;
      }
    }
  }
  .uc-navbar_nav {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    align-items: center;
    font-weight: 500;
    a.uc-btn {
      border-radius: 0;
      text-decoration: none;
    }
    .nav-item {
      padding: 0 8px;
      &:first-child {
        padding-left: 0;
      }
      .uc-link {
        color: $blue;
      }
    }
  }
}

// mobile menu
.uc-navbar_mobile-bar {
  display: flex;
  justify-content: space-between;
  .uc-navbar_mobile-logo {
    flex-grow: 1;
    padding: 16px 20px;
    background-color: $blue;
    img {
      max-width: 184px;
      height: auto;
    }
    &.navbar-light {
      background-color: #fff;
    }
    &.navbar-dark {
      background-color: $darkblue;
    }
  }
  &.navbar-brand {
    .uc-navbar_mobile-logo {
      padding: 28px 20px;
    }
  }
}
.uc-navbar_mobile-button {
  color: #fff;
  min-width: 75px;
  display: flex;
  font-size: 12px;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  background-color: $primary;
  &:focus,
  &:hover {
    color: #fff;
  }
  .uc-icon {
    color: #fff;
    font-size: 35px;
    transition: 0.2s ease;
    &:before {
      content: "menu";
    }
  }
  &.js-accordion-active-element {
    .uc-icon {
      &:before {
        content: "close";
      }
    }
  }
  > * {
    pointer-events: none;
  }
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}
.uc-navbar_mobile-content {
  width: 100%;
  z-index: 20;
  height: auto;
  overflow: hidden;
  position: absolute;
  background-color: #fff;
  transition: height 0.25s linear;
  .uc-navbar_mobile-list {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $border-color;
    .list-item {
      padding: 12px;
      text-decoration: none;
      color: #000;
      border-top: 1px solid #dedede;
      font-weight: 500;
      &:last-child {
        border-bottom: 1px solid #dedede;
      }
    }
  }
}
// Collapse navbar from v1.0
.collapse-nav-mobile {
  overflow: hidden;
  background-color: #fff;
  .uc-collapse_heading,
  .uc-collapse_heading-mobile {
    display: flex;
    transition: 0.2s ease;
    .uc-icon {
      //font-size: 24px;
      transition: 0.2s ease;
      pointer-events: none;
    }
    &.js-accordion-active-element {
      box-shadow: inset 4px 0 0 0 $primary;
      .uc-icon {
        transform: rotate(180deg);
      }
    }
    &:focus {
      outline: none;
      background-color: #fff;
    }
  }
  .uc-collapse_body {
    transition: height 0.25s linear;
    background-color: $lightgray-c;
  }
}
.uc-accordion-mobile {
  border-top: $primary-border;
  .btn-listed {
    &:first-child {
      border-top: none;
    }
  }
}

// Mobile nav bar with slide function
.uc-navbar_mobile.navbar_mobile-slide {
  .uc-navbar_mobile-content {
    height: 100dvh;
    position: fixed;
    transition: 0.5s ease-in-out;
    transform: translateX(100%);
    overflow-y: scroll;
    .uc-navbar_mobile-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      .list-item {
        padding: 0;
        display: flex;
        flex-direction: column;
        a {
          padding: 12px;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #000;
        }
        .list-open {
        }
        .list-close {
          justify-content: flex-start;
          border-top: 0;
          background-color: #fff;
          color: $darkgray-a;
        }
      }
      .list-item.has-list-children {
        .list-children {
          position: absolute;
          background-color: $lightgray-c;
          margin: 0;
          padding: 0;
          list-style: none;
          left: 0;
          top: 0;
          width: calc(100% - 16px);
          min-height: 100%;
          transform: translateX(100%);
          transition: 0.5s ease-in-out;
          margin-left: 16px;
          box-shadow: $large-shadow;
          &.is-children-open {
            transform: translateX(0);
          }
        }
      }
    }
  }
  &.is-open {
    .uc-navbar_mobile-button .uc-icon {
      &:before {
        content: "close";
      }
    }
    .uc-navbar_mobile-content {
      transform: translateX(0);
    }
  }
}

.uc-navbar_mobile--open {
  overflow: hidden;
}

// Side navbar
.uc-navbar-side {
  list-style-type: none;
  font-size: 16px;
  line-height: 24px;
  vertical-align: top;
  letter-spacing: 0.5px;
  padding: 0;
  --padding: 12px 16px;
  &.uc-navbar-side-fit {
    height: 100%;
    overflow-y: auto;
  }
  li {
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
    a {
      color: inherit;
      text-decoration: none;
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;
      cursor: pointer;
      padding: var(--padding);
      &.active,
      &:hover {
        background-color: #f0f0f0;
        border-radius: 4px;
        // &::after {
        //   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='11' viewBox='0 0 7 11' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.158447 9.45L3.97511 5.625L0.158447 1.8L1.33345 0.625L6.33345 5.625L1.33345 10.625L0.158447 9.45Z' fill='%230176DE'/%3E%3C/svg%3E");
        // }
        .uc-icon {
          color: $primary;
        }
      }
      .uc-icon {
        align-self: center;
        color: #dedede;
      }
      &:hover:not(.active) {
        background-color: rgba(#f0f0f0, 0.4);
      }
      // &::after {
      //   content: '';
      //   display: block;
      //   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='11' viewBox='0 0 7 11' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.158447 9.45L3.97511 5.625L0.158447 1.8L1.33345 0.625L6.33345 5.625L1.33345 10.625L0.158447 9.45Z' fill='%239C9C9C'/%3E%3C/svg%3E");
      //   position: absolute;
      //   width: 100%;
      //   height: 100%;
      //   background-repeat: no-repeat;
      //   background-position: calc(100% - 20px) center;
      //   top: 0;
      //   left: 0;
      // }
    }
    padding: 0;
    li {
      a {
        padding-left: 32px;
      }
    }
  }
  .uc-navbar-side_label {
    line-height: 16px;
    font-size: 14px;
    font-weight: 700;
    padding: var(--padding);
  }
  .uc-navbar-side_padding {
    padding: var(--padding);
  }
  .uc-navbar-side {
    font-size: 14px;
    line-height: 16px;
  }
}
