.uc-collapse {
  border-radius: 0 4px 4px 0;
  overflow: hidden;
  border-left: 0;
  .uc-collapse_heading {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .uc-h1,
    .uc-h2,
    .uc-h3,
    .uc-h4,
    .uc-h5,
    .uc-h6 {
      text-align: left;
    }
    border: none;
    background-color: white;
    box-shadow: $primary-shadow;
    display: flex;
    align-items: center;
    line-height: 1;
    padding: 30px 22px;
    border-left: 4px solid $primary;
    color: inherit;
    text-decoration: none;
    > * {
      pointer-events: none;
    }
    .uc-icon.icon-shape--rounded {
      transition: 0.2s ease;
    }
    &:hover {
      text-decoration: none;
      .uc-icon.icon-shape--rounded {
        color: #173f8a;
        background-color: #fec60d;
      }
    }
    &:focus {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-top: 2px;
        border-left: 2px;
        border-right: 2px;
        border-bottom: 2px;
        border-style: solid;
        border-color: $primary;
      }
    }
    &.js-accordion-ac tive-element {
      .uc-icon.icon-shape--rounded {
        color: #173f8a;
        background-color: #fec60d;
        transform: rotate(180deg);
      }
    }
  }
  .uc-collapse_body {
    transition: height 0.25s linear;
  }
}

.uc-accordion {
  box-shadow: $primary-shadow;
  .uc-collapse {
    border-radius: 0;
    box-shadow: none;
    border-top: 0;
    &:first-child {
      border-top: 1px solid #eaeaea;
      border-top-right-radius: 4px;
    }
    &:last-child {
      border-bottom-right-radius: 4px;
    }
    .uc-collapse_heading {
      box-shadow: none;
    }
    .uc-collapse_body {
      border-left: 1px solid #eaeaea;
      box-shadow: inset 0 1px 0 #eaeaea;
    }
  }
}
