.uc-pagination {
  display: flex;
  justify-content: center;
  &_prev,
  &_next {
    background-color: transparent;
    color: #4a4a4a;
    border: 0;
    padding: 0;
    line-height: 1;
  }
  &_pages {
    margin: 15px 0;
    padding: 0;
    list-style-type: none;
    .page-item {
      display: inline-block;
      color: #4a4a4a;
      margin: 0 2px;
      font-weight: 500;
      &.active,
      &:hover {
        .page-link {
          box-shadow: $primary-shadow;
          color: $primary;
          text-decoration: none;
          border: 1px solid $primary;
        }
      }
    }
    .page-link {
      padding: 3px 2px;
      min-width: 24px;
      display: inline-block;
      text-align: center;
      line-height: 1;
      color: $black;
      text-decoration: none;
      border-radius: $small-radius;
      border: 1px solid transparent;
    }
  }
}
