.uc-pill {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 16px;
  border-radius: 18px;
  transition: background-color 0.2s ease, color 0.3s ease;
  display: inline-block;
  text-decoration: none;
  background-color: $lightgray-c;
  &:hover {
    text-decoration: none;
    background-color: $lightgray-b;
  }
}
