.uc-sidebar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  list-style: none;
  padding: 0px;
  margin: 0px;

  &__sublist {
    border-top: 1px solid #e5e5e5;
    list-style: none;
    padding-left: 0px;
  }

  &__item,
  &__subitem {
    height: min-content;
  }

  &__item {
    border-bottom: 1px solid #e5e5e5;
  }

  &__button {
    border: none;
  }

  &__link,
  &__sublink,
  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: inherit;
    padding: 6px 12px;

    font-size: 16px;
    font-weight: 600;
    color: black;
    text-decoration: none;
  }

  &__link,
  &__sublink {
    &:hover {
      // override the color and underline of the link when hovered
      color: black;
      text-decoration: none;
    }
  }

  &__sublink {
    padding-left: 24px;
  }
}
