.uc-skeleton {
  &.uc-skeleton--agenda {
    height: 300px;
  }
  .uc-skeleton-item {
    background-color: #f0f0f0;
    color: transparent;
    border-radius: 4px;
    display: inline-block;
    line-height: var(--height);
    width: fit-content;
    &::after {
      content: attr(placeholder);
    }
  }
  .uc-skeleton_h1 {
    --height: 48px;
  }
  .uc-skeleton_h2 {
    --height: 36px;
  }
  .uc-skeleton_h3 {
    --height: 28px;
  }
  .uc-skeleton_h4 {
    --height: 24px;
  }
  .uc-skeleton_h5 {
    --height: 24px;
  }
  .uc-skeleton_h6 {
    --height: 24px;
  }
  .uc-skeleton_p {
    --height: 24px;
  }
  .uc-skeleton_a {
    --height: 24px;
  }
  .uc-skeleton_p-lg {
    --height: 32px;
  }
  .uc-skeleton_p-sm {
    --height: 16px;
  }
  .uc-skeleton_span {
    --height: 16px;
  }
  .uc-skeleton_img {
    width: 100%;
    height: 0;
    padding-bottom: 75%;
  }
}
