@mixin border-bottom {
  border-bottom: 1px solid $darkgray-c;
}

.uc-table {
  thead {
    tr {
      th {
        color: #fff;
        padding: 14px 16px;
        background-color: $primary;
      }
    }
  }
  tbody {
    tr {
      td {
        @include border-bottom;
        padding: 20px 16px;
      }
      &:nth-child(odd) {
        background-color: $lightgray-c;
      }
    }
  }
  &.table-wide {
    width: 100%;
  }
}

// make a mixin for the table

.uc-table-secondary {
  thead {
    tr {
      @include border-bottom;
      th {
        color: $black;
        padding: 14px 16px;
        background-color: $lightgray-b;
      }
    }
  }
  tbody {
    tr {
      td {
        @include border-bottom;
        padding: 20px 16px;
      }
    }
  }
  &.table-wide {
    width: 100%;
  }
}

.uc-table,
.uc-table-secondary {
  tr:hover {
    background-color: #edf5fd;
    &:nth-child(odd) {
      background-color: #edf5fd;
    }
  }
}
