.uc-tabs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 24px;
  border-bottom: 2px solid $lightgray-b;
  color: $lightgray-a;
  .uc-tabs_item {
    transition: background-color 0.1s ease;
    &:active {
      background-color: $lightgray-c;
    }
  }
  .uc-tabs_item-link {
    font-size: 1em;
    padding: 16px;
    font-weight: 500;
    display: block;
    margin-bottom: -2px;
    text-decoration: none;
    color: $darkgray-a;
    transition: border 0.2s ease;
    &[role="tab"] {
      background: transparent;
      border: none;
    }
    // if it is a button tag  add the abobe classes

    &:focus {
      outline-color: rgba($primary, 0.7);
    }
    &:hover {
      color: $darkgray-a;
      text-decoration: none;
      border-bottom: 2px solid $primary;
    }
    &.active {
      color: #000;
      text-decoration: none;
      border-bottom: 2px solid $primary;
      &:hover {
        color: #000;
      }
    }
  }
}

.uc-vertical-tabs {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;
  list-style-type: none;
  flex-direction: column;
  .uc-vertical-tabs_item {
    border-bottom: 1px solid $darkgray-c;
  }
  .uc-vertical-tabs_item-link, .uc-vertical-tabs_item-button {
    // button classes
    width: 100%;
    border: none;
    display: flex;
    //  previous ones
    color: $darkgray-a;
    // display: block;
    font-size: 1em;
    padding: 20px 16px;
    transition: 0.2s ease;
    text-decoration: none;
    background-color: $lightgray-c;
    &:focus {
      outline-color: rgba($primary, 0.7);
    }
    &:hover {
      color: #000;
      text-decoration: none;
    }
    &.active {
      color: #000;
      font-weight: 600;
      text-decoration: none;
      background-color: #fff;
      border-left: 4px solid $primary;
      &:hover {
        color: #000;
      }
    }
  }
}

// --------------------------------------------------
