.uc-tag {
  color: #fff;
  font-size: 0.875em;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: $primary;
  display: inline-block;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.5px;
  align-self: flex-start;
  z-index: 10;
  transition: background-color 0.2s ease;
  text-decoration: none;
  &:hover {
    color: #fff;
    background-color: $blue;
    text-decoration: none;
  }
  &.tag-overlayed {
    box-shadow: $secondary-shadow;
  }
}

.uc-tags {
  .uc-tag {
    margin: 4px;
  }
}
