.tippy-tooltip.uc-theme {
  background-color: #fff;
  color: #000;
  box-shadow: $large-shadow;
  padding: 16px 24px;
}

.tippy-tooltip.uc-theme[x-placement^="top"] .tippy-arrow {
  border-top-color: #fff;
}
.tippy-tooltip.uc-theme[x-placement^="bottom"] .tippy-arrow {
  border-bottom-color: #fff;
}
.tippy-tooltip.uc-theme[x-placement^="left"] .tippy-arrow {
  border-left-color: #fff;
}
.tippy-tooltip.uc-theme[x-placement^="right"] .tippy-arrow {
  border-right-color: #fff;
}

.tippy-tooltip.uc-theme .tippy-roundarrow {
  fill: #fff;
}

.tippy-tooltip.uc-theme[data-animatefill] {
  background-color: transparent;
}

.tippy-tooltip.uc-theme .tippy-backdrop {
  background-color: #fff;
}
