.uc-top-bar {
  * > a:focus,
  * > button:focus {
    // outline color white
    outline: 1px solid white !important;
  }

  padding: 15px 0;
  color: #fff;
  background-color: $blue;
  @include media-breakpoint-up(lg) {
    padding: 9px 0;
  }
  .yellow {
    color: $yellow;
  }
  .uc-link {
    color: #fff;
    line-height: 1.1;
    text-decoration: none;
    font-weight: 500;
    &:hover {
      border-bottom: 1px solid #fff;
      &::after {
        text-decoration: none;
      }
    }
    .uc-icon {
      color: #fff;
    }
  }
  .top-bar_mobile-logo {
    width: 185px;
  }
  .mobile-logo img {
    min-width: 185px;
  }
  .top-bar_links-container {
    justify-content: space-between;
  }
  .top-bar_links {
    display: flex;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      line-height: 1;
      padding-right: 16px;
      &:not(:first-child) {
        border-left: 1px solid #8b9fc4;
        padding-left: 16px;
        padding-right: 16px;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
  .uc-dropdown {
    * > a:focus,
    * > button:focus {
      // outline color white
      outline: 1px solid var(--blue) !important;
    }
    position: relative;
    button {
      color: white;
      line-height: 1.1;
      text-decoration: none;
      font-weight: 500;

      &:focus {
        border-radius: 0;
      }
      > .uc-icon {
        pointer-events: none;
      }

      &:hover::before {
        content: "";
        position: absolute;
        bottom: 1px;
        height: 1px;
        width: 100%;
        background-color: white;
        &::after {
          text-decoration: none;
        }
      }
    }

    &_list {
      padding: 8px 12px;
      transform: translate(calc(-50% + 40px));
      min-width: 24ch !important;
      > .white-triangle {
        left: calc(50% - 20px);
      }

      &-item > a {
        color: var(--blue) !important;
        border-color: var(--blue) !important;
      }
    }
  }
}
.uc-top-bar--bg-primary {
  .uc-top-bar {
    background-color: $primary;
    * .admission-button-top > a {
      color: white !important;
    }
  }
}
// .uc-btn.flag-es {
//   .uc-icon::before {
//     content: "(ES)";
//     color: $darkgray-a;
//     font-size: 12px;
//     font-weight: bold;
//     margin-right: 5px;
//     font-family: sans-serif;
//     vertical-align: text-bottom;
//   }
// }

.uc-footer_list .flag-es::after,
.top-bar_links .flag-es::after,
.uc-menu_list.first-level .flag-es::after {
  content: "(ES)";
  color: $yellow;
  text-decoration: none;
  font-family: sans-serif;
}

.top-bar_links .flag-es::after {
  font-size: 9px;
  margin-left: 3px;
  vertical-align: super;
}

.admission-button-top > a {
  text-transform: uppercase;
  color: $yellow;
  &::after {
    text-transform: none;
  }
}
