<div class="uc-accordion-v2">
  <div class="uc-accordion-v2__item">
    <button
      class="uc-accordion-v2__item-heading"
      data-uc-collapsable-trigger-for="accordion-example-01"
      data-uc-collapsable-close-group="accordion-example-group"
    >
      <span class="uc-h4">Título primer acordeón</span>
      <div class="uc-btn btn-inline ml-auto">
        <span data-uc-collapsable-hide-when-opened>Ver más</span>
        <span data-uc-collapsable-hide-when-closed>Ver menos</span>
        <i
          data-uc-collapsable-rotate-when-opened
          class="uc-icon icon-shape--rounded"
        >
          keyboard_arrow_down
        </i>
      </div>
    </button>
    <div
      class="uc-accordion-v2__item-content"
      data-uc-collapsable-id="accordion-example-01"
    >
      <div class="uc-accordion-v2__item-content-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad aspernatur at consectetur eius eos fuga hic, maiores maxime modi
          mollitia obcaecati perspiciatis quam quas quis repellendus tenetur
          vitae voluptas?
        </p>
      </div>
    </div>
  </div>
  <div class="uc-accordion-v2__item">
    <button
      class="uc-accordion-v2__item-heading"
      data-uc-collapsable-trigger-for="accordion-example-02"
      data-uc-collapsable-close-group="accordion-example-group"
    >
      <span class="uc-h4">Título segundo acordeón</span>
      <div class="uc-btn btn-inline ml-auto">
        <span data-uc-collapsable-hide-when-opened>Ver más</span>
        <span data-uc-collapsable-hide-when-closed>Ver menos</span>
        <i
          class="uc-icon icon-shape--rounded"
          data-uc-collapsable-rotate-when-opened
        >
          keyboard_arrow_down
        </i>
      </div>
    </button>
    <div
      class="uc-accordion-v2__item-content"
      data-uc-collapsable-id="accordion-example-02"
    >
      <div class="uc-accordion-v2__item-content-body">
        <p>
          <button class="uc-btn btn-primary">
            <span>boton</span>
          </button>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad aspernatur at consectetur eius eos fuga hic, maiores maxime modi
          mollitia obcaecati perspiciatis quam quas quis repellendus tenetur
          vitae voluptas?
        </p>
      </div>
    </div>
  </div>
  <div class="uc-accordion-v2__item">
    <button
      class="uc-accordion-v2__item-heading"
      data-uc-collapsable-trigger-for="accordion-example-03"
      data-uc-collapsable-close-group="accordion-example-group"
    >
      <span class="uc-h4">Título tercer acordeón</span>
      <div class="uc-btn btn-inline ml-auto">
        <span data-uc-collapsable-hide-when-opened>Ver más</span>
        <span data-uc-collapsable-hide-when-closed>Ver menos</span>
        <i
          class="uc-icon icon-shape--rounded"
          data-uc-collapsable-rotate-when-opened
        >
          keyboard_arrow_down
        </i>
      </div>
    </button>
    <div
      class="uc-accordion-v2__item-content"
      data-uc-collapsable-id="accordion-example-03"
    >
      <div class="uc-accordion-v2__item-content-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad aspernatur at consectetur eius eos fuga hic, maiores maxime modi
          mollitia obcaecati perspiciatis quam quas quis repellendus tenetur
          vitae voluptas?
        </p>
      </div>
    </div>
  </div>
  <div class="uc-accordion-v2__item">
    <button
      class="uc-accordion-v2__item-heading"
      data-uc-collapsable-trigger-for="accordion-example-04"
      data-uc-collapsable-close-group="accordion-example-group"
    >
      <span class="uc-h4">Título cuarto acordeón</span>
      <div class="uc-btn btn-inline ml-auto">
        <span data-uc-collapsable-hide-when-opened>Ver más</span>
        <span data-uc-collapsable-hide-when-closed>Ver menos</span>
        <i
          class="uc-icon icon-shape--rounded"
          data-uc-collapsable-rotate-when-opened
        >
          keyboard_arrow_down
        </i>
      </div>
    </button>
    <div
      class="uc-accordion-v2__item-content"
      data-uc-collapsable-id="accordion-example-04"
    >
      <div class="uc-accordion-v2__item-content-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad aspernatur at consectetur eius eos fuga hic, maiores maxime modi
          mollitia obcaecati perspiciatis quam quas quis repellendus tenetur
          vitae voluptas?
        </p>
      </div>
    </div>
  </div>
</div>
