<button>tab before</button>
<section>
  <h1 id="carousel-title">carousel</h1>
  <div class="uc-carousel-v2" aria-labelledby="#carousel-title">
    <div class="uc-carousel-v2__controls container">
      <button class="uc-carousel-v2__skip-navigation"></button>
      <button class="uc-carousel-v2__play"></button>
      <div class="d-flex align-items-center" style="gap: 16px">
        <div class="d-flex align-items-center">
          <button class="uc-carousel-v2__prev">Prev</button>
          <button class="uc-carousel-v2__next">Next</button>
        </div>
        <div class="uc-carousel-v2__shortcuts"></div>
      </div>
    </div>
    <div class="uc-carousel-v2__viewport">
      <div class="uc-carousel-v2__container">
        <div class="uc-carousel-v2__slide">
          <div class="test-slide">
            <h1>Slide 1</h1>
            <div>contenido de un carousel</div>

            <div><button>elemento focuseable</button></div>
          </div>
        </div>
        <div class="uc-carousel-v2__slide">
          <div class="test-slide">
            <div>Slide 2</div>
            <div><button>elemento focuseable</button></div>
          </div>
        </div>
        <div class="uc-carousel-v2__slide">
          <div class="test-slide">
            <h1>Slide 3</h1>
            <div><button>elemento focuseable</button></div>
          </div>
        </div>
        <div class="uc-carousel-v2__slide">
          <div class="test-slide">
            <h1>Slide 4</h1>
            <div>Contenido de un carousel</div>
          </div>
        </div>
        <div class="uc-carousel-v2__slide">
          <div class="test-slide">
            <h1>Slide 5</h1>
            <div><button>elemento focuseable</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<button>tab after</button>
