<section>
  <h1 id="carousel-title">carousel v2 - cards</h1>
  <div
    class="uc-carousel-v2"
    data-uc-carousel-type="cards"
    aria-labelledby="#carousel-title"
  >
    <div class="uc-carousel-v2__controls justify-content-end container">
      <button class="uc-carousel-v2__skip-navigation"></button>

      <div class="d-flex align-items-center" style="gap: 16px">
        <div class="d-flex align-items-center">
          <button class="uc-carousel-v2__prev">Prev</button>
          <button class="uc-carousel-v2__next">Next</button>
        </div>
      </div>
    </div>
    <div class="uc-carousel-v2__viewport">
      <div class="uc-carousel-v2__container">
        <div
          class="uc-carousel-v2__slide"
          data-uc-content-label="Slide número 1"
        >
          <div
            class="uc-card card-bg--image card-gradient--bottom-blue"
            style="max-width: 380px"
          >
            <a href="#prueba1" class="card-bg--image__outline">
              <img
                class="uc-card-img"
                src="https://dummyimage.com/800x700/e0e0e0/b8b8b8.jpg"
                alt="Dummy image"
              />

              <div class="uc-card_body uc-card_body--absolute">
                <div class="uc-card card-bg--white mt-auto">
                  <div class="uc-card_body">
                    <h3 class="color-black">
                      Sol Serrano: la primera mujer galardonada con el Premio
                      Nacional de Historia.
                    </h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="#prueba2" class="uc-tag tag-fixed">Carrera de Pregrado</a>
          </div>
        </div>
        <div
          class="uc-carousel-v2__slide"
          data-uc-content-label="Slide número 2"
        >
          <div
            class="uc-card card-bg--image card-gradient--bottom-blue"
            style="max-width: 380px"
          >
            <a href="#prueba1">
              <img
                class="uc-card-img"
                src="https://dummyimage.com/800x700/e0e0e0/b8b8b8.jpg"
                alt="Dummy image"
              />

              <div class="uc-card_body uc-card_body--absolute">
                <div class="uc-card card-bg--white mt-auto">
                  <div class="uc-card_body">
                    <h3 class="color-black">
                      Sol Serrano: la primera mujer galardonada con el Premio
                      Nacional de Historia.
                    </h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="#prueba2" class="uc-tag tag-fixed">Carrera de Pregrado</a>
          </div>
        </div>
        <div
          class="uc-carousel-v2__slide"
          data-uc-content-label="Slide número 3"
        >
          <div
            class="uc-card card-bg--image card-gradient--bottom-blue"
            style="max-width: 380px"
          >
            <a href="#prueba1">
              <img
                class="uc-card-img"
                src="https://dummyimage.com/800x700/e0e0e0/b8b8b8.jpg"
                alt="Dummy image"
              />

              <div class="uc-card_body uc-card_body--absolute">
                <div class="uc-card card-bg--white mt-auto">
                  <div class="uc-card_body">
                    <h3 class="color-black">
                      Sol Serrano: la primera mujer galardonada con el Premio
                      Nacional de Historia.
                    </h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="#prueba2" class="uc-tag tag-fixed">Carrera de Pregrado</a>
          </div>
        </div>
        <div
          class="uc-carousel-v2__slide"
          data-uc-content-label="Slide número 4"
        >
          <div
            class="uc-card card-bg--image card-gradient--bottom-blue"
            style="max-width: 380px"
          >
            <a href="#prueba1">
              <img
                class="uc-card-img"
                src="https://dummyimage.com/800x700/e0e0e0/b8b8b8.jpg"
                alt="Dummy image"
              />

              <div class="uc-card_body uc-card_body--absolute">
                <div class="uc-card card-bg--white mt-auto">
                  <div class="uc-card_body">
                    <h3 class="color-black">
                      Sol Serrano: la primera mujer galardonada con el Premio
                      Nacional de Historia.
                    </h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="#prueba2" class="uc-tag tag-fixed">Carrera de Pregrado</a>
          </div>
        </div>

        <div
          class="uc-carousel-v2__slide"
          data-uc-content-label="Slide número 5"
        >
          <div
            class="uc-card card-bg--image card-gradient--bottom-blue"
            style="max-width: 380px"
          >
            <a href="#prueba1">
              <img
                class="uc-card-img"
                src="https://dummyimage.com/800x700/e0e0e0/b8b8b8.jpg"
                alt="Dummy image"
              />

              <div class="uc-card_body uc-card_body--absolute">
                <div class="uc-card card-bg--white mt-auto">
                  <div class="uc-card_body">
                    <h3 class="color-black">
                      Sol Serrano: la primera mujer galardonada con el Premio
                      Nacional de Historia.
                    </h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="#prueba2" class="uc-tag tag-fixed">Carrera de Pregrado</a>
          </div>
        </div>

        <div
          class="uc-carousel-v2__slide"
          data-uc-content-label="Slide número 5"
        >
          <div
            class="uc-card card-bg--image card-gradient--bottom-blue"
            style="max-width: 380px"
          >
            <a href="#prueba1">
              <img
                class="uc-card-img"
                src="https://dummyimage.com/800x700/e0e0e0/b8b8b8.jpg"
                alt="Dummy image"
              />

              <div class="uc-card_body uc-card_body--absolute">
                <div class="uc-card card-bg--white mt-auto">
                  <div class="uc-card_body">
                    <h3 class="color-black">
                      Sol Serrano: la primera mujer galardonada con el Premio
                      Nacional de Historia.
                    </h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="#prueba2" class="uc-tag tag-fixed">Carrera de Pregrado</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 
<section>
  <h1 id="carousel-title">carousel v2</h1>
  <div
    class="uc-carousel-v2 uc-focus--outline-white"
    aria-labelledby="#carousel-title"
  >
    <div class="uc-carousel-v2__controls container">
      <button class="uc-carousel-v2__skip-navigation"></button>
      <button class="uc-carousel-v2__play"></button>
      <div class="d-flex align-items-center" style="gap: 16px">
        <div class="d-flex align-items-center">
          <button class="uc-carousel-v2__prev">Prev</button>
          <button class="uc-carousel-v2__next">Next</button>
        </div>
        <div class="uc-carousel-v2__shortcuts d-none d-md-flex"></div>
      </div>
    </div>
    <div class="uc-carousel-v2__viewport">
      <div class="uc-carousel-v2__container">
        <div
          class="uc-carousel-v2__slide"
          data-uc-content-label="Slide número 1"
        >
          <div class="uc-hero">
            <img
              class="uc-hero__bg-img"
              src="https://dummyimage.com/1440x508/e0e0e0/b8b8b8.jpg"
              alt="Dummy image"
              loading="lazy"
            />
            <div class="uc-hero__dark-gradient"></div>
            <div
              class="uc-hero__content uc-hero__content--center uc-hero__text--center"
            >
              <div class="col-lg-8">
                <a href="#" class="uc-tag">Texto tag</a>
                <div id="slide-1-title" class="h1 color-white my-20">
                  Slide #1
                </div>
                <p class="mb-28 color-white d-none d-lg-block">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
                  aliquam, purus sit amet luctus venenatis, lectus magna
                  fringilla urna, porttitor rhoncus dolor purus non enim
                </p>
                <a href="#" class="uc-btn btn-inline">
                  <span class="color-white">Ir al artículo</span>
                  <i class="uc-icon icon-shape--rounded">arrow_forward</i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="uc-carousel-v2__slide"
          data-uc-content-label="Slide número 2"
        >
          <div class="uc-hero">
            <img
              class="uc-hero__bg-img"
              src="https://dummyimage.com/1440x508/e0e0e0/b8b8b8.jpg"
              alt="Dummy image"
              loading="lazy"
            />
            <div class="uc-hero__dark-gradient"></div>
            <div
              class="uc-hero__content uc-hero__content--center uc-hero__text--center"
            >
              <div class="col-lg-8">
                <a href="#" class="uc-tag">Texto tag</a>
                <div id="slide-2-title" class="h1 color-white my-20">
                  Slide #2
                </div>
                <p class="mb-28 color-white d-none d-lg-block">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
                  aliquam, purus sit amet luctus venenatis, lectus magna
                  fringilla urna, porttitor rhoncus dolor purus non enim
                </p>
                <a href="#" class="uc-btn btn-inline">
                  <span class="color-white">Ir al artículo</span>
                  <i class="uc-icon icon-shape--rounded">arrow_forward</i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="uc-carousel-v2__slide"
          data-uc-content-label="Slide número 3"
        >
          <div class="uc-hero">
            <img
              class="uc-hero__bg-img"
              src="https://dummyimage.com/1440x508/e0e0e0/b8b8b8.jpg"
              alt="Dummy image"
              loading="lazy"
            />
            <div class="uc-hero__dark-gradient"></div>
            <div
              class="uc-hero__content uc-hero__content--center uc-hero__text--center"
            >
              <div class="col-lg-8">
                <a href="#" class="uc-tag">Texto tag</a>
                <div id="slide-3-title" class="h1 color-white my-20">
                  Slide #3
                </div>
                <p class="mb-28 color-white d-none d-lg-block">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
                  aliquam, purus sit amet luctus venenatis, lectus magna
                  fringilla urna, porttitor rhoncus dolor purus non enim
                </p>
                <a href="#" class="uc-btn btn-inline">
                  <span class="color-white">Ir al artículo</span>
                  <i class="uc-icon icon-shape--rounded">arrow_forward</i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="uc-carousel-v2__slide"
          data-uc-content-label="Slide número 4"
        >
          <div class="uc-hero">
            <img
              class="uc-hero__bg-img"
              src="https://dummyimage.com/1440x508/e0e0e0/b8b8b8.jpg"
              alt="Dummy image"
              loading="lazy"
            />
            <div class="uc-hero__dark-gradient"></div>
            <div
              class="uc-hero__content uc-hero__content--center uc-hero__text--center"
            >
              <div class="col-lg-8">
                <a href="#" class="uc-tag">Texto tag</a>
                <div id="slide-4-title" class="h1 color-white my-20">
                  Slide #4
                </div>
                <p class="mb-28 color-white d-none d-lg-block">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
                  aliquam, purus sit amet luctus venenatis, lectus magna
                  fringilla urna, porttitor rhoncus dolor purus non enim
                </p>
                <a href="#" class="uc-btn btn-inline">
                  <span class="color-white">Ir al artículo</span>
                  <i class="uc-icon icon-shape--rounded">arrow_forward</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
