<div>
  <h1>uc-sidebar</h1>
  <p>
    Interaccion completa, falta normar los estilos del sidebar y los
    collapsables, normar si deberia llevar doble icono (personalmente no me
    gusta)
  </p>
  <p>
    PD: el boton, al ser el elemento que revela una lista, no debe ser un enlace
  </p>
</div>
<hr />
<div class="row">
  <div class="col-lg-3">
    <p>colapsables agrupados, se cierra uno si se abre otro</p>
    <ul class="uc-sidebar">
      <li class="uc-sidebar__item">
        <a href="#" class="uc-sidebar__link">
          <span class="d-flex align-items-center">
            <i class="uc-icon icon-size--sm pr-4"> home </i> Link
          </span>
        </a>
      </li>
      <li class="uc-sidebar__item">
        <a href="#" class="uc-sidebar__link">
          <span class="d-flex align-items-center">
            <i class="uc-icon icon-size--sm pr-4"> home </i> Link
          </span>
        </a>
      </li>

      <li class="uc-sidebar__item">
        <button
          class="uc-sidebar__button"
          data-uc-collapsable-trigger-for="collapsable-uc-1"
          data-uc-collapsable-close-group="sidebar-collapsables"
        >
          <span class="d-flex align-items-center">
            <i class="uc-icon icon-size--sm pr-4"> home </i> Button
          </span>
          <div class="uc-btn btn-inline ml-auto">
            <i
              data-uc-collapsable-rotate-when-opened
              class="uc-icon icon-size--sm"
            >
              keyboard_arrow_down
            </i>
          </div>
        </button>
        <div data-uc-collapsable-id="collapsable-uc-1">
          <ul class="uc-sidebar__sublist">
            <li class="uc-sidebar__subitem">
              <a href="#" class="uc-sidebar__sublink">
                <span>
                  <i class="uc-icon icon-size--sm pr-4"> home </i>
                  Link
                </span>
              </a>
            </li>
            <li class="uc-sidebar__subitem">
              <a href="#" class="uc-sidebar__sublink">
                <span>
                  <i class="uc-icon icon-size--sm pr-4"> home </i>
                  Link
                </span>
              </a>
            </li>
            <li class="uc-sidebar__subitem">
              <a href="#" class="uc-sidebar__sublink">
                <span>
                  <i class="uc-icon icon-size--sm pr-4"> home </i>
                  Link
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="uc-sidebar__item">
        <a href="#" class="uc-sidebar__link">
          <span>
            <i class="uc-icon icon-size--sm pr-4"> home </i>
            Link
          </span>
        </a>
      </li>
      <li class="uc-sidebar__item">
        <a href="#" class="uc-sidebar__link">
          <span>
            <i class="uc-icon icon-size--sm pr-4"> home </i>
            Link
          </span>
        </a>
      </li>
      <li class="uc-sidebar__item">
        <button
          class="uc-sidebar__button"
          data-uc-collapsable-trigger-for="collapsable-uc-2"
          data-uc-collapsable-close-group="sidebar-collapsables"
          data-uc-collapsable-animation-duration="250"
        >
          <span class="d-flex align-items-center">
            <i class="uc-icon icon-size--sm pr-4"> home </i>
            Button
          </span>
          <div class="uc-btn btn-inline ml-auto">
            <i
              data-uc-collapsable-rotate-when-opened
              class="uc-icon icon-size--sm"
            >
              keyboard_arrow_down
            </i>
          </div>
        </button>
        <div data-uc-collapsable-id="collapsable-uc-2">
          <ul class="uc-sidebar__sublist">
            <li class="uc-sidebar__subitem">
              <a href="#" class="uc-sidebar__sublink">
                <span>
                  <i class="uc-icon icon-size--sm pr-4"> home </i>
                  Link
                </span>
              </a>
            </li>
            <li class="uc-sidebar__subitem">
              <a href="#" class="uc-sidebar__sublink">
                <span>
                  <i class="uc-icon icon-size--sm pr-4"> home </i>
                  Link
                </span>
              </a>
            </li>
            <li class="uc-sidebar__subitem">
              <a href="#" class="uc-sidebar__sublink">
                <span>
                  <i class="uc-icon icon-size--sm pr-4"> home </i>
                  Link
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="uc-sidebar__item">
        <a href="#" class="uc-sidebar__link">
          <span>
            <i class="uc-icon icon-size--sm pr-4"> home </i>
            Link
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-lg-3">
    <p>
      colapsables independientes, ignoran si otros estan abiertos o cerrados
    </p>
    <ul class="uc-sidebar">
      <li class="uc-sidebar__item">
        <a href="#" class="uc-sidebar__link">
          <span class="d-flex align-items-center">
            <i class="uc-icon icon-size--sm pr-4"> home </i> Link
          </span>
        </a>
      </li>
      <li class="uc-sidebar__item">
        <a href="#" class="uc-sidebar__link">
          <span class="d-flex align-items-center">
            <i class="uc-icon icon-size--sm pr-4"> home </i> Link
          </span>
        </a>
      </li>

      <li class="uc-sidebar__item">
        <button
          class="uc-sidebar__button"
          data-uc-collapsable-trigger-for="collapsable-uc-1a"
        >
          <span class="d-flex align-items-center">
            <i class="uc-icon icon-size--sm pr-4"> home </i> Button
          </span>
          <div class="uc-btn btn-inline ml-auto">
            <i
              data-uc-collapsable-rotate-when-opened
              class="uc-icon icon-size--sm"
            >
              keyboard_arrow_down
            </i>
          </div>
        </button>
        <div data-uc-collapsable-id="collapsable-uc-1a">
          <ul class="uc-sidebar__sublist">
            <li class="uc-sidebar__subitem">
              <a href="#" class="uc-sidebar__sublink">
                <span>
                  <i class="uc-icon icon-size--sm pr-4"> home </i>
                  Link
                </span>
              </a>
            </li>
            <li class="uc-sidebar__subitem">
              <a href="#" class="uc-sidebar__sublink">
                <span>
                  <i class="uc-icon icon-size--sm pr-4"> home </i>
                  Link
                </span>
              </a>
            </li>
            <li class="uc-sidebar__subitem">
              <a href="#" class="uc-sidebar__sublink">
                <span>
                  <i class="uc-icon icon-size--sm pr-4"> home </i>
                  Link
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="uc-sidebar__item">
        <a href="#" class="uc-sidebar__link">
          <span>
            <i class="uc-icon icon-size--sm pr-4"> home </i>
            Link
          </span>
        </a>
      </li>
      <li class="uc-sidebar__item">
        <a href="#" class="uc-sidebar__link">
          <span>
            <i class="uc-icon icon-size--sm pr-4"> home </i>
            Link
          </span>
        </a>
      </li>
      <li class="uc-sidebar__item">
        <button
          class="uc-sidebar__button"
          data-uc-collapsable-trigger-for="collapsable-uc-2a"
          data-uc-collapsable-animation-duration="250"
        >
          <span class="d-flex align-items-center">
            <i class="uc-icon icon-size--sm pr-4"> home </i>
            Button
          </span>
          <div class="uc-btn btn-inline ml-auto">
            <i
              data-uc-collapsable-rotate-when-opened
              class="uc-icon icon-size--sm"
            >
              keyboard_arrow_down
            </i>
          </div>
        </button>
        <div data-uc-collapsable-id="collapsable-uc-2a">
          <ul class="uc-sidebar__sublist">
            <li class="uc-sidebar__subitem">
              <a href="#" class="uc-sidebar__sublink">
                <span>
                  <i class="uc-icon icon-size--sm pr-4"> home </i>
                  Link
                </span>
              </a>
            </li>
            <li class="uc-sidebar__subitem">
              <a href="#" class="uc-sidebar__sublink">
                <span>
                  <i class="uc-icon icon-size--sm pr-4"> home </i>
                  Link
                </span>
              </a>
            </li>
            <li class="uc-sidebar__subitem">
              <a href="#" class="uc-sidebar__sublink">
                <span>
                  <i class="uc-icon icon-size--sm pr-4"> home </i>
                  Link
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="uc-sidebar__item">
        <a href="#" class="uc-sidebar__link">
          <span>
            <i class="uc-icon icon-size--sm pr-4"> home </i>
            Link
          </span>
        </a>
      </li>
    </ul>
  </div>

  <div class="col-lg-3">
    <p>colapsables independientes sin iconos</p>
    <ul class="uc-sidebar">
      <li class="uc-sidebar__item">
        <a href="#" class="uc-sidebar__link">
          <span class="d-flex align-items-center"> Link </span>
        </a>
      </li>
      <li class="uc-sidebar__item">
        <a href="#" class="uc-sidebar__link">
          <span class="d-flex align-items-center"> Link </span>
        </a>
      </li>

      <li class="uc-sidebar__item">
        <button
          class="uc-sidebar__button"
          data-uc-collapsable-trigger-for="collapsable-uc-1b"
        >
          <span class="d-flex align-items-center"> Button </span>
          <div class="uc-btn btn-inline ml-auto">
            <i
              data-uc-collapsable-rotate-when-opened
              class="uc-icon icon-size--sm"
            >
              keyboard_arrow_down
            </i>
          </div>
        </button>
        <div data-uc-collapsable-id="collapsable-uc-1b">
          <ul class="uc-sidebar__sublist">
            <li class="uc-sidebar__subitem">
              <a href="#" class="uc-sidebar__sublink">
                <span> Link </span>
              </a>
            </li>
            <li class="uc-sidebar__subitem">
              <a href="#" class="uc-sidebar__sublink">
                <span> Link </span>
              </a>
            </li>
            <li class="uc-sidebar__subitem">
              <a href="#" class="uc-sidebar__sublink">
                <span> Link </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="uc-sidebar__item">
        <a href="#" class="uc-sidebar__link">
          <span> Link </span>
        </a>
      </li>
      <li class="uc-sidebar__item">
        <a href="#" class="uc-sidebar__link">
          <span> Link </span>
        </a>
      </li>
      <li class="uc-sidebar__item">
        <button
          class="uc-sidebar__button"
          data-uc-collapsable-trigger-for="collapsable-uc-2b"
          data-uc-collapsable-animation-duration="250"
        >
          <span class="d-flex align-items-center"> Button </span>
          <div class="uc-btn btn-inline ml-auto">
            <i
              data-uc-collapsable-rotate-when-opened
              class="uc-icon icon-size--sm"
            >
              keyboard_arrow_down
            </i>
          </div>
        </button>
        <div data-uc-collapsable-id="collapsable-uc-2b">
          <ul class="uc-sidebar__sublist">
            <li class="uc-sidebar__subitem">
              <a href="#" class="uc-sidebar__sublink">
                <span> Link </span>
              </a>
            </li>
            <li class="uc-sidebar__subitem">
              <a href="#" class="uc-sidebar__sublink">
                <span> Link </span>
              </a>
            </li>
            <li class="uc-sidebar__subitem">
              <a href="#" class="uc-sidebar__sublink">
                <span> Link </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="uc-sidebar__item">
        <a href="#" class="uc-sidebar__link">
          <span> Link </span>
        </a>
      </li>
    </ul>
  </div>
</div>
