<section style="height: 130dvh" class="pt-80">
  <div class="container mb-32">
    <h1 class="mb-20">Tooltip <code>v2</code></h1>

    <p>
      Los tooltips son una forma de mostrar información adicional cuando el
      usuario pasa el mouse sobre un elemento o hace focus sobre el. Los
      tooltips pueden ser utilizados para mostrar información adicional sobre un
      elemento, como descripciones de botones, etiquetas de formulario, etc.
    </p>

    <p>
      Un tooltip no puede tener ningun elemento clickable ni focuseable, fallara
      su ejecusion si este tiene un boton o un enlace, estan pensados para
      textos explicativos
    </p>

    <p>
      Esta nueva implementacion hace uso de
      <a href="https://floating-ui.com/" target="_blank">Floating UI</a>, Y
      contamos con los siguientes modificadores:
    </p>
    <ul>
      <li>
        <strong>Delay</strong>: el tiempo que se demora en abrir el tooltip, se
        demora la mitad en cerrar
      </li>
      <li>
        <strong>Placement</strong>: el lugar donde se prefiere que vaya el
        tooltip, aunque este puede ser sobreescrito si no tiene el espacio para
        ser desplegado, puede ser
      </li>
      <li>
        <strong>Shift Padding</strong>: corresponde al padding entre el viewport
        y el tooltip, rara vez deberia ser utilizado, es un numero en que se lee
        como pixeles
      </li>
      <li>
        <strong>AutoPlacement</strong>: hace uso del
        <a href="https://floating-ui.com/docs/autoPlacement" target="_blank"
          >Middleware AutoPlacement
        </a>
        de floating UI, que se encarga de posicionar el tooltip donde haya mas
        espacio disponible, independientemente de si el tooltip cabe dentro del
        espacio disponible para los otros placement, esto es en contraposicion
        de la estrategia por defecto, que seria el
        <a href="https://floating-ui.com/docs/flip" target="_blank"
          >Middleware Flip</a
        >.
      </li>
    </ul>

    <p>
      los modificadores se asignan como data attributes al elemento que tiene el
      tooltip, de la siguiente manera:
    </p>
    <ul>
      <li>data-uc-tooltip-shift-padding="300"</li>
      <li>data-uc-tooltip-delay="1000"</li>
      <li>data-uc-tooltip-placement="left"</li>
    </ul>

    <ul>
      <li>
        <h2>Tooltip simple</h2>
        <strong>[data-uc-tooltip-content]</strong>
        <p>
          es la manera mas simple de usar el tooltip, solo se necesita agregar
          el atributo <strong>[data-uc-tooltip-content]</strong> con el
          contenido que se quiere mostrar, no puede ser un elemento html, solo
          texto simple.
        </p>
      </li>
      <li>
        <h2>Tooltip avanzado</h2>
        <strong>[data-uc-tooltip-content-element-id]</strong>
        <p>
          cuando se requiere un tooltip mas complejo, se puede agregar una
          referencia a un elemento html que exista dentro del DOM, que debe
          tener el correspondiente
          <strong>[data-uc-tooltip-content-id]</strong> con el mismo valor que
          el <strong>[data-uc-tooltip-content-element-id]</strong>
        </p>
      </li>
    </ul>
  </div>
  <section class="d-flex flex-column justify-content-around">
    <div class="container my-40">
      <pre class="flex" style="border: 1px solid #eaeaea; padding: 20px">
&lt;button
<strong>data-uc-tooltip-content='Lorem ipsum dolor sit amet ...'
data-uc-tooltip-shift-padding='300'
data-uc-tooltip-delay='1000'
data-uc-tooltip-placement='left-start'</strong>
class='uc-btn btn-primary'
&gt;
    Boton con tooltip
&lt;/button&gt;
         </pre>

      <button
        data-uc-tooltip-content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, sed! Reprehenderit, ea! Voluptates alias cum ab similique! Doloremque commodi, voluptas aliquam accusantium reprehenderit, quod, iste ut quae veniam minima harum."
        data-uc-tooltip-shift-padding="300"
        data-uc-tooltip-delay="1000"
        data-uc-tooltip-placement="left-start"
        class="uc-btn btn-primary"
      >
        Boton con tooltip
      </button>
    </div>

    <div class="container my-40">
      <pre class="flex" style="border: 1px solid #eaeaea; padding: 20px">
  &lt;button
  <strong>data-uc-tooltip-content-element-id='tooltip_id_1'</strong>
  class='uc-btn btn-primary'
  &gt;
      Boton con tooltip
  &lt;/button&gt;

  &lt;div <strong>data-uc-tooltip-content-id='tooltip_id_1'</strong>&gt;
    &lt;h4&gt;Título&lt;/h4&gt;
    &lt;div class='text-divider primary'&gt;&lt;/div&gt;
    &lt;strong&gt;Bajada&lt;/strong&gt;
  &lt;/div&gt;
  </pre
      >

      <button
        data-uc-tooltip-content-element-id="tooltip_id_1"
        class="uc-btn btn-primary"
      >
        Boton con tooltip
      </button>

      <div data-uc-tooltip-content-id="tooltip_id_1">
        <h4>Título</h4>
        <div class="text-divider primary"></div>
        <strong>Bajada</strong>
      </div>
    </div>

    <div class="container my-40 mb-160">
      <pre class="flex" style="border: 1px solid #eaeaea; padding: 20px">
    &lt;button
    <strong>data-uc-tooltip-content-element-id='tooltip_id_2'
    data-uc-tooltip-auto-placement='true'</strong>
    class='uc-btn btn-primary'
    &gt;
        Boton con tooltip
    &lt;/button&gt;
  
    &lt;div <strong>data-uc-tooltip-content-id='tooltip_id_2'</strong>&gt;
      &lt;h4&gt;Título 2&lt;/h4&gt;
      &lt;div class='text-divider primary'&gt;&lt;/div&gt;
      &lt;strong&gt;Bajada 2&lt;/strong&gt;
    &lt;/div&gt;
    </pre
      >

      <button
        data-uc-tooltip-content-element-id="tooltip_id_2"
        data-uc-tooltip-auto-placement="true"
        class="uc-btn btn-primary"
      >
        Boton con tooltip
      </button>

      <div data-uc-tooltip-content-id="tooltip_id_2">
        <h4>Título 2</h4>
        <div class="text-divider primary"></div>
        <strong>Bajada 2</strong>
      </div>
    </div>
  </section>
</section>

<script>
  // every button had an alert on click
  document.querySelectorAll("button").forEach((button) => {
    button.addEventListener("click", () => {
      console.log("clicked");
    });
  });
</script>
