<!-- sitios de interés -->
<section class="home-sitios-interes mt-80">
  <div class="container">
    <div class="heading-container mb-36">
      <h2>Sitios de interés</h2>
      <div class="uc-heading-decoration"></div>
    </div>
    <div class="uc-carousel-cards " data-carousel="uc-carousel-interest_sites" data-type="cards"
      data-items="4" data-sm-items="2" data-slideby="1" data-loop="false" data-controls="true" data-speed="500"
      data-autoplay-text="true" data-prev-button=".sites-controls .prev" data-next-button=".sites-controls .next"
      data-counter="true" data-track="true">
      <div class="uc-carousel-interest_sites">
        <div class="item">

          <a href="https://interculturalidad.uc.cl/" alt="Programa de Interculturalidad" target="_blank"
            class="uc-card card-bg--image" style="background-image: url(''); height: 180px;">
            <img loading="lazy" class="uc-card-img"
              src="/site/assets/files/6515/programa_interculturalidad_uc.560x350.jpg" alt="">
          </a>
        </div>
        <div class="item">

          <a href="https://cursos.canvas.uc.cl/" alt="Canvas UC" target="_blank" class="uc-card card-bg--image"
            style="background-image: url(''); height: 180px;">
            <img loading="lazy" class="uc-card-img" src="/site/assets/files/10516/canvas-uc_560x350-1.560x350.jpg"
              alt="">
          </a>
        </div>
        <div class="item">

          <a href="/proceso-constituyente/" alt="La UC en el Proceso Constituyente" target="_blank"
            class="uc-card card-bg--image" style="background-image: url(''); height: 180px;">
            <img loading="lazy" class="uc-card-img"
              src="/site/assets/files/14444/banner_560x350_constituyente.560x350.jpg" alt="">
          </a>
        </div>
        
        <div class="item">

          <a href="/uc-contra-el-coronavirus/" alt="Especial UC Covid-19" target="_blank" class="uc-card card-bg--image"
            style="background-image: url(''); height: 180px;">
            <img loading="lazy" class="uc-card-img" src="/site/assets/files/16215/banner_covid_es_1.560x350.jpg" alt="">
          </a>
        </div>
      </div>
      <div class="carousel-track d-block d-lg-none">
        <div class="carousel-progress-indicator"></div>
      </div>
      <div class="sites-controls carousel-controls d-none d-lg-flex">
        <div class="prev">
          <svg width="48px" height="16px" viewBox="0 0 48 16" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-272.000000, 0.000000)" fill="#0176DE">
                <path
                  d="M319.999999,7.99862356 C320,7.9990823 320,7.99954111 320,8 C320,8.00045889 320,8.0009177 319.999999,8.00137644 C319.999683,8.23695673 319.918232,8.47244231 319.755645,8.65920128 L313.646473,15.6766505 C313.296166,16.0790401 312.698312,16.1101069 312.311129,15.7460401 C311.923947,15.3819733 311.894054,14.7606376 312.244362,14.3582479 L316.909085,9 L273.088579,9 C272.487374,9 272,8.55228475 272,8 C272,7.44771525 272.487374,7 273.088579,7 L316.909085,7 L312.244362,1.64175206 C311.894054,1.23936242 311.923947,0.618026698 312.311129,0.253959882 C312.698312,-0.110106935 313.296166,-0.0790401485 313.646473,0.323349491 L319.755645,7.34079872 C319.918232,7.52755769 319.999683,7.76304327 319.999999,7.99862356 Z"
                  id="arrow-forward"></path>
              </g>
            </g>
          </svg>
        </div>
        <div class="uc-carousel_index">
          <span class="index-current current"></span> / <span class="index-total"></span>
        </div>
        <div class="next">
          <svg width="48px" height="16px" viewBox="0 0 48 16" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-272.000000, 0.000000)" fill="#0176DE">
                <path
                  d="M319.999999,7.99862356 C320,7.9990823 320,7.99954111 320,8 C320,8.00045889 320,8.0009177 319.999999,8.00137644 C319.999683,8.23695673 319.918232,8.47244231 319.755645,8.65920128 L313.646473,15.6766505 C313.296166,16.0790401 312.698312,16.1101069 312.311129,15.7460401 C311.923947,15.3819733 311.894054,14.7606376 312.244362,14.3582479 L316.909085,9 L273.088579,9 C272.487374,9 272,8.55228475 272,8 C272,7.44771525 272.487374,7 273.088579,7 L316.909085,7 L312.244362,1.64175206 C311.894054,1.23936242 311.923947,0.618026698 312.311129,0.253959882 C312.698312,-0.110106935 313.296166,-0.0790401485 313.646473,0.323349491 L319.755645,7.34079872 C319.918232,7.52755769 319.999683,7.76304327 319.999999,7.99862356 Z"
                  id="arrow-forward"></path>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>