<div class="container">
    <style>
        .caja {
  border: 1px solid grey;
  background: #eee;
  border-radius: 4px;
  width: 100%;
  max-width: 400px;
  
}
.body-caja {
  padding: 24px;
}

body {
  padding-top:40px;
}
    </style>
    <div class="row">
      <div class="col-lg-6">
        <div class="caja">
          <div class="body-caja">
            <h1>Caja 1</h1>
            <p>Sin atributo data-toggle</p>
            <a href="#" class="uc-btn btn-cta"> Ingresa aquí </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="caja" data-toggle="validator">
          <div class="body-caja">
            <h1>Caja 2</h1>
            <p>Con atributo data-toggle</p>
            <a href="#" class="uc-btn btn-cta"> Ingresa aquí </a>
          </div>
        </div>
      </div>
    </div>
</div>
