<table class="uc-table-secondary">
  <thead>
    <tr>
      <th style="width: 120px">Hora</th>
      <th>Sección</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>9:00 - 9:30</strong></td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
    </tr>
    <tr>
      <td><strong>9:00 - 9:30</strong></td>
      <td>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut
        justo non eros convallis rhoncus. Nunc sit amet cursus felis. Aliquam
        ultricies lacus ut mollis placerat.
      </td>
    </tr>
    <tr>
      <td><strong>9:00 - 9:30</strong></td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
    </tr>
    <tr>
      <td><strong>9:00 - 9:30</strong></td>
      <td>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut
        justo non eros convallis rhoncus. Nunc sit amet cursus felis. Aliquam
        ultricies lacus ut mollis placerat.
      </td>
    </tr>
  </tbody>
</table>
