<div class="uc-hero uc-hero--md-660">
  <img
    class="uc-hero__bg-img"
    src="https://dummyimage.com/1440x508/e0e0e0/b8b8b8.jpg"
    alt="Dummy image"
    loading="lazy"
  />
  <div class="uc-hero__dark-gradient--bottom"></div>
  <div
    class="uc-hero__content uc-hero__content--bottom container uc-hero__content--no-padding"
  >
    <div class="col-md-8 uc-hero__low-wide-container">
      <a href="#" class="uc-tag">Cuadernos.info</a>
      <h1 class="color-white my-24">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
        purus sit.
      </h1>

      <a href="#" class="uc-btn btn-inline btn-inline--bold">
        <span class="color-white">Más información</span>
        <i class="uc-icon icon-shape--rounded">arrow_forward</i>
      </a>
    </div>
  </div>
</div>
