<div class="uc-hero ">
  <video
    autoplay
    muted
    loop
    class="uc-background-video"
    data-bg-video-id="unique-id-2"
  >
    <source src="https://www.w3schools.com/howto/rain.mp4" type="video/mp4" />
    Su navegador no soporta videos HTML5.
  </video>

  <div class="uc-hero__dark-gradient"></div>
  <div class="uc-hero__content container">
  <div class="col-md-5 uc-hero__card-container uc-hero__card-container--with-controls">
      <div class="uc-card">
        <div class="uc-card_body">
          <h1 class="color-black mb-16 uc-hero__content--no-padding">
            Consectetur adipiscing elit urna mi diam
          </h1>

          <p class="no-margin uc-hero__card-bajada">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna mi
            diam bibendum vitae, molestie eu diam aliquam, suscipit.
          </p>
          <a
            href="#"
            class="uc-btn btn-inline btn-inline--bold btn-inline--icon-adjacent mt-16 no-margin-on-mobile"
          >
            <span>Más información</span>
            <i class="uc-icon icon-shape--rounded">arrow_forward</i>
          </a>
        </div>
      </div>
    </div>
    <div class="uc-hero__video-control uc-hero__video-control--with-card">
      <button
        class="uc-background-video__control"
        data-bg-video-control-id="unique-id-2"
      ></button>
    </div>
  </div>

  </div>
</div>
