<div class="uc-hero">
  <img
    class="uc-hero__bg-img"
    src="https://dummyimage.com/1440x508/e0e0e0/b8b8b8.jpg"
    alt="Dummy image"
    loading="lazy"
  />

  <div class="uc-hero__content container no-padding">
    <div class="col-md-6 col-lg-5 uc-hero__card-container">
      <div class="uc-card">
        <div class="uc-card_body">
          <h1 class="color-black mb-16 uc-hero__content--no-padding">
            Consectetur adipiscing elit urna mi diam
          </h1>

          <p class="no-margin uc-hero__card-bajada">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna mi
            diam bibendum vitae, molestie eu diam aliquam, suscipit.
          </p>
          <a
            href="#"
            class="uc-btn btn-inline btn-inline--bold btn-inline--icon-adjacent mt-16 no-margin-on-mobile"
          >
            <span>Más información</span>
            <i class="uc-icon icon-shape--rounded">arrow_forward</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
