<div class="uc-hero">
  <video
    autoplay
    muted
    loop
    class="uc-background-video"
    data-bg-video-id="unique-id-1"
  >
    <source src="https://www.w3schools.com/howto/rain.mp4" type="video/mp4" />
    Su navegador no soporta videos HTML5.
  </video>

  <div class="uc-hero__dark-gradient"></div>
  <div class="uc-hero__content uc-hero__content--center uc-hero__text--center">
    <div class="col-lg-8">
      <a href="#" class="uc-tag">Texto tag</a>
      <h1 class="color-white my-20">
        Estrategias de comunicación en redes sociodigitales
      </h1>
      <p class="mb-28 color-white uc-hero__card-bajada--visible-on-mobile">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
        purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor
        rhoncus dolor purus non enim
      </p>
      <a href="#" class="uc-btn btn-inline btn-inline--bold">
        <span class="color-white">Ir al artículo</span>
        <i class="uc-icon icon-shape--rounded">arrow_forward</i>
      </a>
    </div>
    <div class="uc-hero__video-control">
      <button
        class="uc-background-video__control"
        data-bg-video-control-id="unique-id-1"
      ></button>
    </div>
  </div>
</div>
