<div class="uc-hero">
  <img
    class="uc-hero__bg-img"
    src="https://dummyimage.com/1440x508/e0e0e0/b8b8b8.jpg"
    alt="Dummy image"
    loading="lazy"
  />
  <div class="uc-hero__blue-gradient--right"></div>
  <div class="uc-hero__content uc-hero__content--right container">
    <div class="col-md-5 uc-hero__content-margin">
      <a href="#" class="uc-tag">Texto tag</a>
      <h1 class="color-white my-20">Título o llamado principal</h1>
      <p class="mb-28 color-white">
        Bajada o llamado a la acción. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit.
      </p>
      <a href="#" class="uc-btn btn-inline  btn-inline--bold ">
        <span class="color-white">Más información</span>
        <i class="uc-icon icon-shape--rounded">arrow_forward</i>
      </a>
    </div>
  </div>
</div>
