<div class="uc-hero uc-hero--sm-380">
  <img
    class="uc-hero__bg-img"
    src="https://dummyimage.com/1440x508/e0e0e0/b8b8b8.jpg"
    alt="Dummy image"
    loading="lazy"
  />
  <div class="uc-hero__blue-gradient--quote-left"></div>
  <div class="uc-hero__content container">
    <div class="uc-hero__quote-container color-white">
      <p class="uc-quote quote-lg my-20">
        “Queremos recibir y entregar lo mejor de cada uno, en un camino de
        formación universitaria con apertura”
      </p>
      <h6>Dr. Juan Pérez</h6>
      <p class="mb-28">Director de facultad</p>
      <a href="#" class="uc-btn btn-inline  btn-inline--bold ">
        <span class="color-white">Más información</span>
        <i class="uc-icon icon-shape--rounded">arrow_forward</i>
      </a>
    </div>
  </div>
</div>
<div class="uc-hero__sm-card-container">
  <div class="uc-card">
    <div class="uc-card_body--lg">
      <p class="uc-quote quote-lg mb-16">
        “Queremos recibir y entregar lo mejor de cada uno, en un camino de
        formación universitaria con apertura”
      </p>
      <h6>Dr. Juan Pérez</h6>
      <p class="mb-16">Director de facultad</p>
      <div class="">
        <a href="#" class="uc-btn btn-inline  btn-inline--bold  btn-inline  btn-inline--bold --icon-adjacent">
          <span class="color-blue">Más información</span>
          <i class="uc-icon icon-shape--rounded">arrow_forward</i>
        </a>
      </div>
    </div>
  </div>
</div>
