<div class="uc-hero uc-hero--sm-600">
  <img
    class="uc-hero__bg-img"
    src="https://dummyimage.com/1440x508/e0e0e0/b8b8b8.jpg"
    alt="Dummy image"
    loading="lazy"
  />
  <div class="uc-hero__dark-gradient"></div>
  <div
    class="uc-hero__content uc-hero__content--center uc-hero__content--sm-col container"
  >
    <div class="col-md-6">
      <div class="uc-hero__video-container">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube-nocookie.com/embed/Xpad_H9NB_k"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="col-md-5 uc-hero__text--sm-center">
      <h1 class="color-white my-20">
        Consectetur adipiscing elit urna mi diam
      </h1>
      <p class="mb-28 color-white">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna mi diam
        bibendum vitae, molestie eu diam aliquam, suscipit.
      </p>
      <a href="#" class="uc-btn btn-inline btn-inline--bold">
        <span class="color-white">Más información</span>
        <i class="uc-icon icon-shape--rounded">arrow_forward</i>
      </a>
    </div>
  </div>
</div>
