<div class="uc-hero">
  <img
    class="uc-hero__bg-img"
    src="https://dummyimage.com/1440x508/e0e0e0/b8b8b8.jpg"
    alt="Dummy image"
    loading="lazy"
  />
  <div class="uc-hero__dark-gradient"></div>
  <div class="uc-hero__content uc-hero__content--center uc-hero__text--center">
    <div class="col-lg-8">
      <a href="#" class="uc-tag">Texto tag</a>
      <h1 class="color-white my-20">
        Estrategias de comunicación en redes sociodigitales
      </h1>
      <p class="mb-28 color-white" >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
        purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor
        rhoncus dolor purus non enim
      </p>
      <a href="#" class="uc-btn btn-inline  btn-inline--bold ">
        <span class="color-white">Ir al artículo</span>
        <i class="uc-icon icon-shape--rounded">arrow_forward</i>
      </a>
    </div>
  </div>
</div>
