<div class="uc-alert info mb-12">
  <div class="uc-alert_content">
    <i class="uc-icon icon-size--sm">info</i>
    <span class="p p-size--sm bold ml-8">Información, descripción</span>
  </div>
  <div class="uc-alert_close">
    <i class="uc-icon icon-size--sm">close</i>
  </div>
</div>

<div class="uc-alert success mb-12">
  <div class="uc-alert_content">
    <i class="uc-icon icon-size--sm">check_circle</i>
    <span class="p p-size--sm bold ml-8">Éxito, descripción</span>
  </div>
  <div class="uc-alert_close">
    <i class="uc-icon icon-size--sm">close</i>
  </div>
</div>

<div class="uc-alert warning mb-12">
  <div class="uc-alert_content">
    <i class="uc-icon icon-size--sm">warning</i>
    <span class="p p-size--sm bold ml-8">Alerta, descripción</span>
  </div>
  <div class="uc-alert_close">
    <i class="uc-icon icon-size--sm">close</i>
  </div>
</div>

<div class="uc-alert error mb-12">
  <div class="uc-alert_content">
    <i class="uc-icon icon-size--sm">cancel</i>
    <span class="p p-size--sm bold ml-8">Error, descripción</span>
  </div>
  <div class="uc-alert_close">
    <i class="uc-icon icon-size--sm">close</i>
  </div>
</div>
