<button type="button" class="uc-btn btn-cta" data-mtarget="modalExample">
  Abrir modal
</button>
<div data-modal="modalExample" class="uc-modal" open>
  <div class="uc-modal_content uc-message success mb-32">
    <button class="uc-message_close-button" data-mclosed>
      <i class="uc-icon">close</i>
    </button>
    <div class="uc-message_body">
      <h2 class="mb-24">
        <i class="uc-icon warning-icon">info</i> Mensaje de éxito
      </h2>
      <p class="no-margin">
        Ante el aviso de una posible bomba, y como medida de precaución, se
        solicita a la comunidad UC de Campus San Joaquín , evacuar el campus a
        la brevedad. Todos deben dirigirse a la salida más cercana y seguir las
        instrucciones del personal de seguridad. Carabineros ya está en el lugar
        evaluando la situación.
      </p>
      <hr class="uc-hr my-32" />
      <div class="row align-items-center">
        <div class="col-md-6">
          <p class="no-margin">Emergencias uc</p>
          <a href="#" class="uc-link uc-btn btn-inline"
            ><i class="uc-icon no-margin">phone</i> (56)22354 5000</a
          >
        </div>
        <div class="col-md-6 text-right">
          <a href="#" class="uc-link uc-btn btn-inline">
            Más información
            <i class="uc-icon icon-shape--rounded">arrow_forward</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
