<div class="uc-message success mb-32">
  <a href="#" class="uc-message_close-button"><i class="uc-icon">close</i></a>
  <div class="uc-message_body">
    <h2 class="mb-24">
      <i class="uc-icon warning-icon">check_circle</i> Mensaje de éxito
    </h2>
    <p class="no-margin">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, inventore
      iusto nemo odio officiis quaerat soluta? Alias deserunt dicta doloremque
      facere nostrum? Accusamus alias facere illum nihil, nostrum quos tenetur.
    </p>
  </div>
</div>
