<button type="button" class="uc-btn cta" data-mtarget="modalExample01">
  Abrir modal
</button>
<div data-modal="modalExample01" class="uc-modal">
  <div class="uc-modal_content uc-message">
    <button class="uc-message_close-button" data-mclosed>
      <i class="uc-icon">close</i>
    </button>
    <div class="uc-message_body">
      <p>otro contenido de ejemplo</p>
    </div>
  </div>
</div>
