<div class="uc-message">
  <a href="#" class="uc-message_close-button"><i class="uc-icon">close</i></a>
  <div class="uc-message_body">
    <h2 class="mb-24">Evacuación por posible bomba</h2>
    <p class="no-margin">
      Ante el aviso de una posible bomba, y como medida de precaución, se
      solicita a la comunidad UC de Campus San Joaquín , evacuar el campus a la
      brevedad. Todos deben dirigirse a la salida más cercana y seguir las
      instrucciones del personal de seguridad. Carabineros ya está en el lugar
      evaluando la situación.
    </p>
  </div>
</div>
