<div class="row">
  <div class="col-md-12 mb-24">
    <div class="uc-form-group mb-0">
      <label for="name">Nombre</label>
      <input
        id="name"
        type="text"
        class="uc-input-style"
        placeholder="Nombre"
      />
    </div>
  </div>
  <div class="col-md-12 mb-24">
    <div class="uc-form-group mb-0">
      <label for="lastname">Apellido</label>
      <input
        id="lastname"
        type="text"
        class="uc-input-style"
        placeholder="Apellido"
      />
    </div>
  </div>
  <div class="col-md-12 mb-36">
    <div class="uc-form-group mb-0">
      <label for="message">Mensaje</label>
      <textarea
        name="message"
        id="message"
        class="uc-input-style"
        rows="4"
      ></textarea>
    </div>
  </div>
  <div class="col-md-12">
    <div class="text-right">
      <a href="#" class="uc-btn btn-cta btn-inline">Enviar</a>
    </div>
  </div>
</div>
