<div class="container mt-60">
  <div class="row">
    <div class="col-xl-9 col-lg-12">
      <div class="uc-card mb-160 p-32">
        <form class="row">
          <div class="col-md-12 mb-36">
            <h4>Iniciar sesión</h4>
            <div class="uc-text-divider divider-secondary mt-16 mb-0"></div>
          </div>
          <div class="col-md-12 mb-24">
            <div class="uc-form-group mb-0">
              <label for="email" class="mb-4">Email</label>
              <input
                id="email"
                type="email"
                class="uc-input-style"
                placeholder="Ej: correo@uc.cl"
              />
            </div>
          </div>
          <div class="col-md-12">
            <div class="uc-form-group">
              <label for="lastname" class="mb-4">Contraseña</label>
              <input
                id="lastname"
                type="password"
                class="uc-input-style"
                placeholder="Contraseña"
              />
            </div>
          </div>
          <div class="col-md-12">
            <div class="row justify-content-between mt-24">
              <div class="col-md-4 col-lg-3 mb-0">
                <button
                  type="submit"
                  class="uc-btn btn-cta"
                  style="width: 100%"
                >
                  Iniciar sesión
                </button>
              </div>
              <div
                class="col-md-6 d-flex justify-content-end align-items-center text-weight--medium my-8"
              >
                <a class="mr-20" href="#">Recuperar contraseña</a>
                <a class="" href="#">Registrarse</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
