<div class="container mt-60">
  <div class="row">
    <div class="col-xl-9 col-lg-12">
      <div class="uc-card mb-160 p-32">
        <form class="row">
          <div class="col-md-12">
            <h4>Formulario de inscripción</h4>
            <div class="uc-text-divider divider-secondary mt-16 mb-4"></div>
            <p class="p-size--sm p-text--condensed p-color--gray mb-0 mt-32">
              (*) Campos obligatorios necesarios para procesar tu suscripción en
              la lista correcta.
            </p>
          </div>
          <hr class="uc-hr mx-16 mb-24" />
          <div class="col-md-6 mb-24">
            <div class="uc-form-group mb-0">
              <label for="name" class="mb-4">
                Nombre
                <span aria-label="Requerido">*</span>
              </label>
              <input
                id="name"
                type="text"
                class="uc-input-style"
                required
              />
            </div>
          </div>
          <div class="col-md-6 mb-24">
            <div class="uc-form-group mb-0">
              <label 
                for="lastname" class="mb-4"
                aria-label="Campo requerido"
              >Apellido*</label>
              <input
                id="lastname"
                type="text"
                class="uc-input-style"
                required
              />
            </div>
          </div>
          <div class="col-md-12 mb-24">
            <div class="uc-form-group mb-0">
              <label for="Email" class="mb-4">
                Email
                <span aria-hidden>*</span>
              </label>
              <input
                id="email"
                type="email"
                class="uc-input-style"
                placeholder="Email"
                required
                aria-label="Campo obligatorio"
              />
            </div>
          </div>
          <div class="col-md-12 uc-form-group mb-0">
            <label for="radio-group-profile" class="mb-4"
              >Unidad a la que perteneces</label
            >
            <div class="uc-form-group mb-0">
              <select class="uc-input-style">
                <option selected="">Seleccione su unidad</option>
                <option value="1">Unidad 01</option>
                <option value="2">Unidad 02</option>
                <option value="3">Unidad 03</option>
              </select>
            </div>
          </div>
          <hr class="uc-hr my-36 mx-16" />
          <div class="col-md-12 mb-16">
            <div
              class="p-24"
              style="border: 1px solid #eaeaea; border-radius: 4px"
            >
              <p class="p-color--gray mb-16">
                Autorizo expresamente a la UC para tratar los datos personales
                necesarios para esta suscripción, los que serán informados a la
                unidad que la organiza. Los datos personales será usados
                solamente para esta finalidad y podrán ser eliminados por medio
                de la suscripción directa del titular en el link de
                desuscripción.
              </p>
              <div class="uc-form-check">
                <input id="privacy" type="checkbox" value="true" />
                <label for="privacy" class="mb-0 col-12 col-lg-10"
                  >* Acepto que la UC trate mis datos personales para “esta
                  actividad” y he leído y acepto la
                  <a href="#">Política de Privacidad UC </a></label
                >
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div
              class="p-24"
              style="border: 1px solid #eaeaea; border-radius: 4px"
            >
              <p class="p-color--gray mb-16">
                Si desea recibir más información de actividades o seminarios UC,
                marque la siguiente casilla.
              </p>
              <div class="uc-form-check">
                <input id="suscription" type="checkbox" value="true" />
                <label for="suscription" class="mb-0 col-12 col-lg-10"
                  >* Acepto recibir más información de actividades o seminarios
                  UC (opcional)
                </label>
              </div>
            </div>
          </div>
          <div
            class="d-flex flex-column flex-md-row col-md-12 justify-content-between align-items-center"
          >
            <div class="mt-36">
              <svg
                class=""
                width="307px"
                height="80px"
                viewBox="0 0 307 80"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <title>default</title>
                <defs>
                  <rect
                    id="path-1"
                    x="0"
                    y="0"
                    width="303"
                    height="76"
                    rx="3"
                  ></rect>
                  <filter
                    x="-1.2%"
                    y="-3.3%"
                    width="102.3%"
                    height="109.2%"
                    filterUnits="objectBoundingBox"
                    id="filter-2"
                  >
                    <feOffset
                      dx="0"
                      dy="1"
                      in="SourceAlpha"
                      result="shadowOffsetOuter1"
                    ></feOffset>
                    <feGaussianBlur
                      stdDeviation="1"
                      in="shadowOffsetOuter1"
                      result="shadowBlurOuter1"
                    ></feGaussianBlur>
                    <feComposite
                      in="shadowBlurOuter1"
                      in2="SourceAlpha"
                      operator="out"
                      result="shadowBlurOuter1"
                    ></feComposite>
                    <feColorMatrix
                      values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.101137908 0"
                      type="matrix"
                      in="shadowBlurOuter1"
                    ></feColorMatrix>
                  </filter>
                  <path
                    d="M16.3738145,0 C23.6125691,-3.36492738e-15 27.4243267,4.92597133 27.8070597,5.44671687 L30.5732748,2.6120061 L30.7281895,14.7091284 L18.8619963,14.6108153 L22.6918801,10.6873875 C22.3499681,10.1880157 20.4374015,7.65525566 16.5838145,7.27437191 C15.2406088,7.14161112 14.0331106,7.43595979 13.0084957,7.90232958 L8.73729489,2.04184726 C10.6352988,0.942263883 13.1904622,7.39888982e-16 16.3738145,0 Z"
                    id="path-3"
                  ></path>
                  <filter
                    x="-6.8%"
                    y="-10.2%"
                    width="113.6%"
                    height="120.4%"
                    filterUnits="objectBoundingBox"
                    id="filter-4"
                  >
                    <feOffset
                      dx="0"
                      dy="0"
                      in="SourceAlpha"
                      result="shadowOffsetOuter1"
                    ></feOffset>
                    <feGaussianBlur
                      stdDeviation="0.5"
                      in="shadowOffsetOuter1"
                      result="shadowBlurOuter1"
                    ></feGaussianBlur>
                    <feColorMatrix
                      values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0"
                      type="matrix"
                      in="shadowBlurOuter1"
                    ></feColorMatrix>
                  </filter>
                  <path
                    d="M15.65001,0.0407786058 L15.5516969,11.9069718 L11.6736637,8.12000585 C11.2354354,8.41496305 8.62477342,10.3265314 8.23760351,14.2437184 C8.13618887,15.2697799 8.28400453,16.2166522 8.56734457,17.0633067 L1.22011545,17.2790992 C1.05708443,16.4004826 0.963231598,15.4583854 0.963231598,14.4537184 C0.963231598,7.09486389 6.05401496,3.27766598 6.43218744,3.00425493 L3.55288771,0.195693379 L15.65001,0.0407786058 Z"
                    id="path-5"
                  ></path>
                  <filter
                    x="-10.2%"
                    y="-8.7%"
                    width="120.4%"
                    height="117.4%"
                    filterUnits="objectBoundingBox"
                    id="filter-6"
                  >
                    <feOffset
                      dx="0"
                      dy="0"
                      in="SourceAlpha"
                      result="shadowOffsetOuter1"
                    ></feOffset>
                    <feGaussianBlur
                      stdDeviation="0.5"
                      in="shadowOffsetOuter1"
                      result="shadowBlurOuter1"
                    ></feGaussianBlur>
                    <feColorMatrix
                      values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0"
                      type="matrix"
                      in="shadowBlurOuter1"
                    ></feColorMatrix>
                  </filter>
                  <path
                    d="M1,15.1726619 L12.8661932,15.270975 L9.03630947,19.1944028 C9.37822139,19.6937746 11.2907881,22.2265346 15.144375,22.6074184 C19.4229261,23.0303051 22.3245455,19.1196043 22.3245455,19.1196043 L22.3245455,19.1196043 L27.0189205,24.4505396 C27.0189205,24.4505396 22.9971023,29.8817903 15.354375,29.8817903 C8.11562045,29.8817903 4.30386286,24.9558189 3.92112982,24.4350734 L1.15491477,27.2697842 L1,15.1726619 Z"
                    id="path-7"
                  ></path>
                  <filter
                    x="-5.8%"
                    y="-10.2%"
                    width="111.5%"
                    height="120.4%"
                    filterUnits="objectBoundingBox"
                    id="filter-8"
                  >
                    <feOffset
                      dx="0"
                      dy="0"
                      in="SourceAlpha"
                      result="shadowOffsetOuter1"
                    ></feOffset>
                    <feGaussianBlur
                      stdDeviation="0.5"
                      in="shadowOffsetOuter1"
                      result="shadowBlurOuter1"
                    ></feGaussianBlur>
                    <feColorMatrix
                      values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.382529438 0"
                      type="matrix"
                      in="shadowBlurOuter1"
                    ></feColorMatrix>
                  </filter>
                </defs>
                <g
                  id="Main-UI"
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <g
                    id="Sticker-Sheet"
                    transform="translate(-62.000000, -63.000000)"
                  >
                    <g id="default" transform="translate(64.000000, 64.000000)">
                      <g id="bg-box">
                        <use
                          fill="black"
                          fill-opacity="1"
                          filter="url(#filter-2)"
                          xlink:href="#path-1"
                        ></use>
                        <rect
                          stroke="#D6D6D6"
                          stroke-width="1"
                          stroke-linejoin="square"
                          fill="#FAFAFA"
                          fill-rule="evenodd"
                          x="0.5"
                          y="0.5"
                          width="302"
                          height="75"
                          rx="3"
                        ></rect>
                      </g>
                      <g
                        id="reCAPTCHA"
                        transform="translate(235.000000, 11.000000)"
                      >
                        <text
                          font-family="ArialMT, Arial"
                          font-size="9.57090909"
                          font-weight="normal"
                          fill="#A5A5A5"
                        >
                          <tspan x="0" y="43.4460432">reCAPTCHA</tspan>
                        </text>
                        <text
                          id="Privacy---Terms"
                          font-family="ArialMT, Arial"
                          font-size="8.14545455"
                          font-weight="normal"
                          fill="#A5A5A5"
                        >
                          <tspan x="0" y="54.9784173">Privacy - Terms</tspan>
                        </text>
                        <g
                          transform="translate(11.421818, 0.000000)"
                          id="Combined-Shape"
                        >
                          <g>
                            <use
                              fill="black"
                              fill-opacity="1"
                              filter="url(#filter-4)"
                              xlink:href="#path-3"
                            ></use>
                            <use
                              fill="#2B4CB9"
                              fill-rule="evenodd"
                              xlink:href="#path-3"
                            ></use>
                          </g>
                          <g>
                            <use
                              fill="black"
                              fill-opacity="1"
                              filter="url(#filter-6)"
                              xlink:href="#path-5"
                            ></use>
                            <use
                              fill="#5A96F6"
                              fill-rule="evenodd"
                              xlink:href="#path-5"
                            ></use>
                          </g>
                          <g>
                            <use
                              fill="black"
                              fill-opacity="1"
                              filter="url(#filter-8)"
                              xlink:href="#path-7"
                            ></use>
                            <use
                              fill="#BEBEBE"
                              fill-rule="evenodd"
                              xlink:href="#path-7"
                            ></use>
                          </g>
                        </g>
                      </g>
                      <text
                        id="I’m-not-a-robot"
                        font-family="Helvetica"
                        font-size="14"
                        font-weight="normal"
                        fill="#000000"
                      >
                        <tspan x="52" y="42">I’m not a robot</tspan>
                      </text>
                      <rect
                        id="checkbox"
                        stroke="#C1C1C1"
                        stroke-width="2"
                        fill="#FFFFFF"
                        x="13"
                        y="25"
                        width="26"
                        height="26"
                        rx="2"
                      ></rect>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <div class="col-6 col-md-4 mt-36">
              <a href="#" class="uc-btn btn-cta w-full"> Enviar </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
