<div class="uc-form-group" style="max-width: 360px">
  <label class="uc-label-help" for="message">
    Mensaje
    <span class="uc-tooltip" data-tippy-content="Texto de ayuda">
      <i class="uc-icon">info</i>
    </span>
  </label>
  <textarea name="message" id="message" class="uc-input-style" rows="4"></textarea>
  <div class="uc-form-feedback">
    Texto de ayuda
  </div>
</div>