<div class="uc-form-group uc-form-group--error" style="width: 350px;">
  <label>Switch toggle</label>
  <div class="uc-form-feedback">
    <i class="uc-icon">error</i>
    Debes habilitar el micrófono para ingresar a la conversación
  </div>
  <div class="uc-form-check uc-form-switch">
    <input type="checkbox" id="switch-1" />
    <label for="switch-1">Habilitar micrófono</label>
  </div>
</div>