<div class="uc-form-group" style="max-width: 360px">
  <label class="uc-label-help" for="ucsearch">
    Nombre del input
    <span class="uc-tooltip" data-tippy-content="Información importante">
      <i class="uc-icon">info</i>
    </span>
  </label>
  <input id="ucsearch" type="text" class="uc-input-style" placeholder="Nombre" />
  <div class="uc-form-feedback">
    Debes seleccionar una opción
  </div>
</div>