<div class="uc-form-group" style="width: 350px;">
  <label class="uc-label-help">
    Barra de desplazamiento
    <span class="uc-tooltip" data-tippy-content="Texto de ayuda">
      <i class="uc-icon">info</i>
    </span>
  </label>
  <div class="uc-form-slider">
    <label for="range-1">Calificación de satisfacción</label>
    <input type="range" min="1" max="20" value="9" id="range-1"/>
  </div>
</div>