<div class="uc-form-group uc-form-group--warning" style="max-width: 360px">
  <label for="campus">Campus</label>
  <select id="campus" name="campus" class="uc-input-style" >
    <option selected="" disabled>Seleccionar</option>
    <option value="1">Casa Central </option>
    <option value="2">Lo Contador</option>
    <option value="3">Campus Oriente</option>
    <option value="4">San Joaquín</option>
    <option value="5">Campus Villarrica</option>
  </select>
  <div class="uc-form-feedback">
    <i class="uc-icon">warning</i>
    Mensaje de advertencia
  </div>
</div>
