<div class="uc-form-group" style="width: 320px;">
  <label class="uc-label-help">
    Lista de opciones
    <span class="uc-tooltip" data-tippy-content="Texto de ayuda">
      <i class="uc-icon">info</i>
    </span>
  </label>
  <div class="uc-form-check">
    <input id="radio2-1" tabindex="1" type="radio" value="select an op" name="radio2-group" checked>
    <label for="radio2-1">Estudiantes</label>
    <input id="radio2-2" type="radio" value="between these" name="radio2-group">
    <label for="radio2-2"> Estudiantes nuevos </label>
    <input id="radio2-3" type="radio" value="between these" name="radio2-group">
    <label for="radio2-3"> Estudiantes de pregrado </label>
    <input id="radio2-4" type="radio" value="between these" name="radio2-group">
    <label for="radio2-4"> Estudiantes de postgrado</label>
  </div>
</div>