<div class="uc-form-group uc-form-group--error" style="max-width: 360px">
  <label for="title">Label o titulo</label>
  <input id="title" type="text" class="uc-input-style" placeholder="Texto" />
  <div class="uc-form-feedback">
    <i class="uc-icon">error</i>
    Debes completar este campo
  </div>
</div>
