<div class="uc-form-group" style="width: 320px;">
  <label for="checkbox">Seleccione al menos dos opciones:</label>
  <div class="uc-form-check">
    <input id="checkbox-1" type="checkbox" value="0" disabled/>
    <label for="checkbox-1">Estudiantes</label>
    <input id="checkbox-2" type="checkbox" value="1" disabled/>
    <label for="checkbox-2">Estudiantes nuevos</label>
    <input id="checkbox-3" type="checkbox" value="2" disabled/>
    <label for="checkbox-3">Estudiantes pregrado</label>
    <input id="checkbox-4" type="checkbox" value="3" disabled checked/>
    <label for="checkbox-4">Estudiantes postgrado</label>
  </div>
</div>