<div class="uc-form-group" style="max-width: 360px">
  <label for="ucinput">Etiqueta</label>
  <input
    id="ucinput"
    type="text"
    class="uc-input-style"
    placeholder="Ejemplo: nombre"
    disabled
  />
</div>
