<div class="uc-form-group" style="max-width: 360px">
  <label class="uc-label-help" for="campus">
    Lista de opciones
    <span class="uc-tooltip" data-tippy-content="Texto de ayuda">
      <i class="uc-icon">info</i>
    </span>
  </label>
  <select id="campus" name="campus" class="uc-input-style" >
    <option selected="" disabled>Seleccionar</option>
    <option value="1">Casa Central </option>
    <option value="2">Lo Contador</option>
    <option value="3">Campus Oriente</option>
    <option value="4">San Joaquín</option>
    <option value="5">Campus Villarrica</option>
  </select>
  <div class="uc-form-feedback">
    Debes seleccionar una opción
  </div>
</div>
