<div class="uc-form-group uc-form-group--success" style="max-width: 360px">
  <label for="username">Nombre de usuario</label>
  <input id="username" type="text" class="uc-input-style" placeholder="Texto" value="username" />
  <div class="uc-form-feedback">
    <i class="uc-icon">check_circle</i>
    Nombre de usuario disponble
  </div>
</div>