<div class="uc-form-group uc-form-group--error" style="max-width: 360px">
  <label for="message">Mensaje</label>
  <div class="uc-form-feedback">
    <i class="uc-icon">error</i>
    Debes completar este campo
  </div>
  <textarea class="uc-input-style" name="message" id="message" rows="4" ></textarea>
</div>