<div class="uc-form-group uc-radio-group">
  <input type="radio" id="switch_1" name="switch" value="si" class="uc-orig-radio" checked="" />
  <label for="switch_1" class="uc-radio-button"> Facultades </label>
  <input type="radio" id="switch_2" name="switch" value="no" class="uc-orig-radio" />
  <label for="switch_2" class="uc-radio-button"> Áreas </label>
  <input type="radio" id="switch_3" name="switch" value="maybe" class="uc-orig-radio" />
  <label for="switch_3" class="uc-radio-button"> Escuelas </label>
</div>