<div class="uc-form-group" style="width: 350px;">
  <label>Barra de desplazamiento</label>
  <div class="uc-form-slider">
    <label for="range-1" class="disabled">Calificación de satisfacción</label>
    <input type="range" min="1" max="20" value="9" id="range-1" disabled/>
  </div>
</div>