<div class="uc-form-group" style="max-width: 360px">
  <label for="campus">
    Lista de opciones
  </label>
  <select id="campus" name="campus" class="uc-input-style" disabled>
    <option selected="">Seleccionar</option>
    <option value="1">Opción 01</option>
    <option value="2">Opción 02</option>
    <option value="3">Opción 03</option>
  </select>
</div>
