<div class="uc-form-group" style="max-width: 360px">
  <label class="uc-label-help" for="ucsearch">
    Nombre del input
    <span class="uc-tooltip" data-tippy-content="Información importante">
      <i class="uc-icon">info</i>
    </span>
  </label>
  <!-- Input -->
</div>
