<div class="uc-form-group uc-form-group--warning" style="width: 320px;">
  <label for="checkbox">Grupo de checkbox</label>
  <div class="uc-form-feedback">
    <i class="uc-icon">warning</i>
    Debes seleccionar al menos 3 
  </div>
  <div class="uc-form-check">
    <input id="checkbox-1" type="checkbox" value="0" checked />
    <label for="checkbox-1">Benjamin Streich</label>
    <input id="checkbox-2" type="checkbox" value="1" />
    <label for="checkbox-2">Sally Bogan</label>
    <input id="checkbox-3" type="checkbox" value="2" />
    <label for="checkbox-3">Suzanne Wisoky</label>
    <input id="checkbox-4" type="checkbox" value="3" />
    <label for="checkbox-4">Clay Bogisich</label>
    <input id="checkbox-5" type="checkbox" value="4" />
    <label for="checkbox-5">Stewart Bahringer</label>
  </div>
</div>