<div class="uc-form-group" style="max-width: 360px">
  <label for="lastname">Segundo apellido</label>
  <input id="lastname" type="text" class="uc-input-style" placeholder="Apellido" disabled/>
</div>