<div class="uc-form-group uc-form-group--warning" style="width: 350px;">
  <label>Barra de desplazamiento</label>
  <div class="uc-form-slider">
    <label for="range-1">Calificación de satisfacción</label>
    <input type="range" min="1" max="20" value="9" id="range-1"/>
  </div>
  <div class="uc-form-feedback">
    <i class="uc-icon">warning</i>
    Mensaje de advertencia
  </div>
</div>