<div class="uc-form-group" style="max-width: 360px">
  <label for="message">Mensaje</label>
  <textarea
    name="message"
    id="message"
    class="uc-input-style"
    rows="4"
    disabled
  ></textarea>
</div>