<div class="uc-form-group" style="width: 320px;">
  <label class="uc-label-help" for="checkbox">
    Lista de opciones
    <span class="uc-tooltip" data-tippy-content="Texto de ayuda">
      <i class="uc-icon">info</i>
    </span>
  </label>
  <div class="uc-form-check">
    <input id="checkbox-1" type="checkbox" value="1" />
    <label for="checkbox-1">Opción 1</label>
    <input id="checkbox-2" type="checkbox" value="2" />
    <label for="checkbox-2">Opción 2 </label>
    <input id="checkbox-3" type="checkbox" value="3" />
    <label for="checkbox-3">Opción 3 </label>
    <input id="checkbox-4" type="checkbox" value="-1" disabled />
    <label for="checkbox-4">Opción deshabilitada</label>
  </div>
</div>