<div class="uc-form-group uc-form-group--warning" style="width: 320px;">
  <label>Tipo de estudiante </label>
  <div class="uc-form-feedback">
    <i class="uc-icon">warning</i>
    Mensaje de advertencia
  </div>
  <div class="uc-form-check">
    <input id="radio2-1" type="radio" value="select an op" name="uc-radio-group">
    <label for="radio2-1"> Estudiantes nuevos </label>
    <input id="radio2-3" type="radio" value="between these" name="uc-radio-group">
    <label for="radio2-3"> Estudiante de pregrado </label>
    <input id="radio2-4" type="radio" value="between these" name="uc-radio-group">
    <label for="radio2-4"> Estudiante de postgrado</label>
  </div>
</div>