<div class="uc-form-group" style="max-width: 360px">
  <label for="ucsearch">Buscar</label>
  <input
    id="ucsearch"
    type="text"
    class="uc-input-style w-icon search"
    placeholder="Buscar por"
  />
  <span class="w-icon search"></span>
</div>
