<section>
  <h1 class="mb-20">#uc-global-topbar</h1>

  <div class="mb-32" style="border: 1px solid gray">
    <div class="d-flex">
      <div class="p-12">
        <strong>#uc-global-topbar</strong>
      </div>
      <div class="p-12" style="border-left: 1px solid grey">
        Por defecto (Para sitios que no son el Portal)
      </div>
    </div>
    <div
      style="
        padding: 20px;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
      "
    >
      <div id="uc-global-topbar"></div>
    </div>
    <div style="padding: 20px">
      &lt;div <strong>id="uc-global-topbar"</strong>&gt;&lt;/div&gt;
    </div>
  </div>

  <div class="mb-32" style="border: 1px solid gray">
    <div class="d-flex">
      <div class="p-12">
        <strong>#uc-global-topbar</strong>
      </div>
      <div class="p-12" style="border-left: 1px solid grey">
        Para el Portal UC
      </div>
    </div>
    <div
      style="
        padding: 20px;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
      "
    >
      <div id="uc-global-topbar" data-uc-is-portal-site></div>
    </div>
    <div style="padding: 20px">
      &lt;div
      <strong>id="uc-global-topbar" data-uc-is-portal-site</strong
      >&gt;&lt;/div&gt;
    </div>
  </div>

  <div class="mb-32" style="border: 1px solid gray">
    <div class="d-flex">
      <div class="p-12">
        <strong>#uc-global-topbar</strong>
      </div>
      <div class="p-12" style="border-left: 1px solid grey">
        Con botón para sitio en inglés
      </div>
    </div>
    <div
      style="
        padding: 20px;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
      "
    >
      <div id="uc-global-topbar" data-uc-english-url="/en"></div>
    </div>
    <div style="padding: 20px">
      &lt;div
      <strong>id="uc-global-topbar" data-uc-english-url="/en"</strong
      >&gt;&lt;/div&gt;
    </div>
  </div>

  <div class="mb-32" style="border: 1px solid gray">
    <div class="d-flex">
      <div class="p-12">
        <strong>#uc-global-topbar</strong>
      </div>
      <div class="p-12" style="border-left: 1px solid grey">
        Ocultar enlace de inicio
      </div>
    </div>
    <div
      style="
        padding: 20px;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
      "
    >
      <div id="uc-global-topbar" data-uc-hide-home-link></div>
    </div>
    <div style="padding: 20px">
      &lt;div
      <strong>id="uc-global-topbar" data-uc-hide-home-link</strong
      >&gt;&lt;/div&gt;
    </div>
  </div>
</section>
<hr class="my-40" />
<section>
  <h1 class="mb-20">#uc-global-topbar-en</h1>

  <div class="mb-32" style="border: 1px solid gray">
    <div class="d-flex">
      <div class="p-12">
        <strong>#uc-global-topbar-en</strong>
      </div>
      <div class="p-12" style="border-left: 1px solid grey">
        Por defecto (Para sitios en inglés)
      </div>
    </div>
    <div
      style="
        padding: 20px;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
      "
    >
      <div id="uc-global-topbar-en"></div>
    </div>
    <div style="padding: 20px">
      &lt;div <strong>id="uc-global-topbar-en"</strong>&gt;&lt;/div&gt;
    </div>
  </div>

  <div class="mb-32" style="border: 1px solid gray">
    <div class="d-flex">
      <div class="p-12">
        <strong>#uc-global-topbar-en</strong>
      </div>
      <div class="p-12" style="border-left: 1px solid grey">
        Con URL en español
      </div>
    </div>
    <div
      style="
        padding: 20px;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
      "
    >
      <div id="uc-global-topbar-en" data-uc-spanish-url="/"></div>
    </div>
    <div style="padding: 20px">
      &lt;div
      <strong>id="uc-global-topbar-en" data-uc-spanish-url="/"</strong
      >&gt;&lt;/div&gt;
    </div>
  </div>

  <div class="mb-32" style="border: 1px solid gray">
    <div class="d-flex">
      <div class="p-12">
        <strong>#uc-global-topbar-en</strong>
      </div>
      <div class="p-12" style="border-left: 1px solid grey">
        Para el Portal UC
      </div>
    </div>
    <div
      style="
        padding: 20px;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
      "
    >
      <div id="uc-global-topbar-en" data-uc-is-portal-site></div>
    </div>
    <div style="padding: 20px">
      &lt;div
      <strong>id="uc-global-topbar-en" data-uc-is-portal-site</strong
      >&gt;&lt;/div&gt;
    </div>
  </div>

  <div class="mb-32" style="border: 1px solid gray">
    <div class="d-flex">
      <div class="p-12">
        <strong>#uc-global-topbar-en</strong>
      </div>
      <div class="p-12" style="border-left: 1px solid grey">
        Ocultar enlace de inicio
      </div>
    </div>
    <div
      style="
        padding: 20px;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
      "
    >
      <div id="uc-global-topbar-en" data-uc-hide-home-link></div>
    </div>
    <div style="padding: 20px">
      &lt;div
      <strong>id="uc-global-topbar-en" data-uc-hide-home-link</strong
      >&gt;&lt;/div&gt;
    </div>
  </div>
</section>
<hr class="my-40" />
<section>
  <h1 class="mb-20">#uc-global-topbar-ucchile</h1>

  <div class="mb-32" style="border: 1px solid gray">
    <div class="d-flex">
      <div class="p-12">
        <strong>#uc-global-topbar-ucchile</strong>
      </div>
      <div class="p-12" style="border-left: 1px solid grey">
        Por defecto (Para sitios que no son el Portal)
      </div>
    </div>
    <div
      style="
        padding: 20px;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
      "
    >
      <div id="uc-global-topbar-ucchile"></div>
    </div>
    <div style="padding: 20px">
      &lt;div <strong>id="uc-global-topbar-ucchile"</strong>&gt;&lt;/div&gt;
    </div>
  </div>

  <div class="mb-32" style="border: 1px solid gray">
    <div class="d-flex">
      <div class="p-12">
        <strong>#uc-global-topbar-ucchile</strong>
      </div>
      <div class="p-12" style="border-left: 1px solid grey">
        Para el Portal UC
      </div>
    </div>
    <div
      style="
        padding: 20px;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
      "
    >
      <div id="uc-global-topbar-ucchile" data-uc-is-portal-site></div>
    </div>
    <div style="padding: 20px">
      &lt;div
      <strong>id="uc-global-topbar-ucchile" data-uc-is-portal-site</strong
      >&gt;&lt;/div&gt;
    </div>
  </div>

  <div class="mb-32" style="border: 1px solid gray">
    <div class="d-flex">
      <div class="p-12">
        <strong>#uc-global-topbar-ucchile</strong>
      </div>
      <div class="p-12" style="border-left: 1px solid grey">
        Con botón para sitio en inglés
      </div>
    </div>
    <div
      style="
        padding: 20px;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
      "
    >
      <div id="uc-global-topbar-ucchile" data-uc-english-url="/en"></div>
    </div>
    <div style="padding: 20px">
      &lt;div
      <strong>id="uc-global-topbar-ucchile" data-uc-english-url="/en"</strong
      >&gt;&lt;/div&gt;
    </div>
  </div>

  <div class="mb-32" style="border: 1px solid gray">
    <div class="d-flex">
      <div class="p-12">
        <strong>#uc-global-topbar-ucchile</strong>
      </div>
      <div class="p-12" style="border-left: 1px solid grey">
        Ocultar enlace de inicio
      </div>
    </div>
    <div
      style="
        padding: 20px;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
      "
    >
      <div id="uc-global-topbar-ucchile" data-uc-hide-home-link></div>
    </div>
    <div style="padding: 20px">
      &lt;div
      <strong>id="uc-global-topbar-ucchile" data-uc-hide-home-link</strong
      >&gt;&lt;/div&gt;
    </div>
  </div>
</section>
