<!-- 
Si tiene un sitio en ingles puede usar el atributo 
data-spanish-url="https://uc.cl/es" para especificar 
la ruta de su sitio en español.    
    
<div id="uc-global-topbar-en" data-english-url="https://uc.cl/es"></div> 
<div id="uc-global-topbar-en" data-english-url="/es"></div> 
-->

<div id="uc-global-topbar-en"></div>
