<!-- 
Si tiene un sitio en inglés puede usar el atributo
data-english-url="https://uc.cl/en" para especificar
la ruta de su sitio en inglés.   

<div id="uc-global-topbar" data-english-url="https://uc.cl/en"></div> 
<div id="uc-global-topbar" data-english-url="/en"></div> 
-->

<div id="uc-portal-topbar"></div>
