<div class="row">
  <div class="col-md-4">
    <div class="uc-card" style="max-height: 320px">
      <div class="uc-card_body">
        <h4>
          Lorem ipsum dolor sit, consectetur adipiscing aliquet elit.
          <span class="uc-badge uc-badge--inline uc-badge--text mx-8">
            nuevo
          </span>
        </h4>
        <div class="uc-text-divider divider-primary my-12"></div>
        <p class="no-margin">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta
          pellentesque finibus. In porttitor est augue, at aliquet massa
          tristique in. Donec viverra enim eget lacus consectetur, eu
          scelerisque metus congue.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="uc-card">
      <img
        src="https://dummyimage.com/300x190/edeaed/0076de.png"
        class="uc-card-img"
        alt="imagen de card"
      />
      <div class="uc-card_body">
        <h4>
          Lorem ipsum dolor sit amet
          <span class="uc-badge uc-badge--inline uc-badge--text mx-8">
            nuevo
          </span>
        </h4>
        <div class="uc-text-divider divider-primary my-12"></div>
        <p class="no-margin">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta
          pellentesque finibus. In porttitor est augue, at aliquet massa
          tristique in. Donec viverra enim eget lacus consectetur, eu
          scelerisque metus congue.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="uc-card card-bg--image card-gradient--bottom-blue">
      <a href="#prueba1">
        <img
          class="uc-card-img"
          src="https://dummyimage.com/800x700/edeaed/0076de.png"
          alt="Dummy image"
        />

        <div class="uc-card_body uc-card_body--absolute">
          <div class="uc-card card-bg--white mt-auto">
            <div class="uc-card_body">
              <p class="text-size--sm text-color--gray text--condensed">
                18 Marzo 2018
                <span class="uc-badge uc-badge--inline uc-badge--text mx-8">
                  nuevo
                </span>
              </p>
              <h3 class="color-black">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                porta pellentesque finibus.
              </h3>
            </div>
          </div>
        </div>
      </a>
      <a href="#prueba2" class="uc-tag tag-fixed">Carrera de Pregrado</a>
    </div>
  </div>
</div>
