<div style="max-width:70%">
  <a href="#" class="uc-btn btn-listed">
    <div>
      Texto
      <span class="uc-badge uc-badge--inline uc-badge--text mx-8"> nuevo </span>
    </div>
    <i class="uc-icon icon-size--sm">launch</i>
  </a>

  <a href="#" class="uc-btn btn-listed">
    <div>
      Texto
      <span class="uc-badge uc-badge--inline uc-badge--number mx-8">1</span>
    </div>
    <i class="uc-icon icon-size--sm">arrow_forward</i>
  </a>

  <a href="#" class="uc-btn btn-listed">
    <div>
      Texto
      <span class="uc-badge uc-badge--inline mx-8"></span>
    </div>
    <i class="uc-icon icon-size--sm">arrow_forward</i>
  </a>
</div>
