<div class="d-flex" style="gap: 15px">
  <a href="#" class="uc-btn btn-featured mb-12">
    <div>
      Texto
      <span class="uc-badge uc-badge--text uc-badge--inline mx-8"> nuevo </span>
    </div>
    <i class="uc-icon icon-shape--rounded">arrow_forward</i>
  </a>
  <a href="#" class="uc-btn btn-featured mb-12">
    <div>
      Texto
      <span class="uc-badge uc-badge--inline uc-badge--number mx-8">1</span>
    </div>
    <i class="uc-icon icon-shape--rounded">arrow_forward</i>
  </a>
  <a href="#" class="uc-btn btn-featured mb-12">
    <div>
      Texto
      <span class="uc-badge uc-badge--inline mx-8"></span>
    </div>
    <i class="uc-icon icon-shape--rounded">arrow_forward</i>
  </a>
</div>
