<div>
  <div class="d-flex align-items-center">
    <div style="position: relative">
      <div class="m-16 avatar avatar--grey avatar--blank"></div>
      <span class="uc-badge uc-badge--avatar uc-badge--text">nuevo</span>
    </div>
    <div style="position: relative">
      <div class="m-16 avatar avatar--grey avatar--md avatar--blank"></div>
      <span class="uc-badge uc-badge--avatar-md"></span>
    </div>
    <div style="position: relative">
      <div class="m-16 avatar avatar--grey avatar--s avatar--blank"></div>
      <span class="uc-badge uc-badge--icon uc-badge--avatar-s"
        ><i class="uc-icon">account_balance</i></span
      >
    </div>
    <div style="position: relative">
      <div class="m-16 avatar avatar--grey avatar--xs avatar--blank"></div>
      <span class="uc-badge uc-badge--number uc-badge--avatar-xs">1</span>
    </div>
  </div>
</div>
<div>
  <div class="d-flex align-items-center">
    <div style="position: relative">
      <div class="m-16 avatar avatar--circle avatar--yellow">
        <div class="avatar--initials">AA</div>
      </div>
      <span
        class="uc-badge uc-badge--avatar-circle uc-badge--text uc-badge--bottom-right"
      >
        nuevo
      </span>
    </div>
    <div style="position: relative">
      <div class="m-16 avatar avatar--circle avatar--md avatar--yellow">
        <div class="avatar--initials">AA</div>
      </div>
      <span
        class="uc-badge uc-badge--avatar-circle-md uc-badge--bottom-right"
      ></span>
    </div>
    <div style="position: relative">
      <div class="m-16 avatar avatar--circle avatar--s avatar--yellow">
        <div class="avatar--initials">AA</div>
      </div>
      <span
        class="uc-badge uc-badge--avatar-circle-s uc-badge--icon uc-badge--bottom-right"
      >
        <i class="uc-icon">person</i>
      </span>
    </div>
    <div style="position: relative">
      <div class="m-16 avatar avatar--circle avatar--xs avatar--yellow">
        <div class="avatar--initials">AA</div>
      </div>
      <span
        class="uc-badge uc-badge--avatar-circle-xs uc-badge--number uc-badge--bottom-right"
        >1</span
      >
    </div>
  </div>
</div>
