<div style="background-color: var(--blue)">
  <section class="py-80 container">
    <div class="color-white">
      <p class="" style="margin-bottom: -4px">
        <span class="text-weight--bold"> VRI Informa </span>
        pertenece a
      </p>
      <h2 class="text-font--serif text-weight--bold">
        Vicerrectoría de Investigación
      </h2>

      <div class="uc-text-divider divider-secondary mb-32 mt-8 px-32"></div>
    </div>
    <div class="row">
      <div class="col-lg-4 color-white">
        <p class="pb-20">
          Unidad encargada de elaborar y ejecutar las políticas de doctorado,
          investigación e innovación, publicaciones académicas, creación
          artística, propiedad intelectual, y de coordinar toda la investigación
          multidisciplinaria que se desarrolla a través de centros.
        </p>
        <div class="d-flex mb-32">
          <a class="uc-btn btn-secondary" href="#">
            Sitio de la unidad
            <i class="uc-icon color-white ml-8">launch</i>
          </a>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="uc-accordion text-start" data-accordion>
          <div class="uc-collapse uc-card">
            <button
              class="uc-collapse_heading py-28"
              data-collapse="collapseExample01"
            >
              <span class="d-flex align-items-center">
                <i class="uc-icon mr-16" style="font-size: 22px"> book</i>
                <h4 class="text-start">Direcciones</h4>
              </span>

              <span class="uc-btn btn-inline ml-auto">
                <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i>
              </span>
            </button>
            <div class="uc-collapse_body" data-toggle="collapseExample01">
              <div class="px-60 py-32">
                <div class="col-12 p-0">
                  <h6
                    class="mb-12 text-color--primary"
                    style="line-height: 16px"
                  >
                    Escuelas e Institutos
                  </h6>
                  <a
                    href="#"
                    class="uc-btn btn-listed btn-listed btn-listed--border-top btn-listed--small"
                  >
                    Dirección Ejecutiva
                    <span class="uc-badge uc-badge--inline uc-badge--text"
                      >Estás aquí</span
                    >
                  </a>
                  <a
                    href="#"
                    class="uc-btn btn-listed btn-listed btn-listed--small"
                  >
                    Escuela de Graduados
                    <i class="uc-icon icon-size--sm"> launch </i>
                  </a>
                  <a href="#" class="uc-btn btn-listed btn-listed--small">
                    Dirección de Investigación
                    <i class="uc-icon icon-size--sm"> launch </i>
                  </a>
                  <a href="#" class="uc-btn btn-listed btn-listed--small">
                    Artes y Cultura
                    <i class="uc-icon icon-size--sm"> launch </i>
                  </a>
                  <a href="#" class="uc-btn btn-listed btn-listed--small">
                    Transferencia y Desarrollo
                    <i class="uc-icon icon-size--sm"> launch </i>
                  </a>
                  <a href="#" class="uc-btn btn-listed btn-listed--small">
                    Centro de Innovación
                    <i class="uc-icon icon-size--sm"> launch </i>
                  </a>
                  <a href="#" class="uc-btn btn-listed btn-listed--small">
                    Ética y seguridad
                    <i class="uc-icon icon-size--sm"> launch </i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="uc-collapse uc-card">
            <button
              class="uc-collapse_heading py-28"
              data-collapse="collapseExample02"
            >
              <span class="d-flex align-items-center">
                <i class="uc-icon mr-16" style="font-size: 22px"> book</i>
                <h4 class="text-start">Centros de Excelencia</h4>
              </span>

              <span class="uc-btn btn-inline ml-auto">
                <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i>
              </span>
            </button>
            <div class="uc-collapse_body" data-toggle="collapseExample02">
              <div class="uc-card_body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Accusantium ad aspernatur at consectetur eius eos fuga hic,
                  maiores maxime modi mollitia obcaecati perspiciatis quam quas
                  quis repellendus tenetur vitae voluptas?
                </p>
              </div>
            </div>
          </div>
          <div class="uc-collapse uc-card">
            <button
              class="uc-collapse_heading py-28"
              data-collapse="collapseExample03"
            >
              <span class="d-flex align-items-center">
                <i class="uc-icon mr-16" style="font-size: 22px"> book</i>
                <h4 class="text-start">Centros UC</h4>
              </span>

              <span class="uc-btn btn-inline ml-auto">
                <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i>
              </span>
            </button>
            <div class="uc-collapse_body" data-toggle="collapseExample03">
              <div class="uc-card_body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Accusantium ad aspernatur at consectetur eius eos fuga hic,
                  maiores maxime modi mollitia obcaecati perspiciatis quam quas
                  quis repellendus tenetur vitae voluptas?
                </p>
              </div>
            </div>
          </div>
          <div class="uc-collapse uc-card">
            <button
              class="uc-collapse_heading py-28"
              data-collapse="collapseExample04"
            >
              <span class="d-flex align-items-center">
                <i class="uc-icon mr-16" style="font-size: 22px"> book</i>
                <h4 class="text-start">Estaciones regionales</h4>
              </span>

              <span class="uc-btn btn-inline ml-auto">
                <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i>
              </span>
            </button>
            <div class="uc-collapse_body" data-toggle="collapseExample04">
              <div class="uc-card_body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Accusantium ad aspernatur at consectetur eius eos fuga hic,
                  maiores maxime modi mollitia obcaecati perspiciatis quam quas
                  quis repellendus tenetur vitae voluptas?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<style>
  .py-28 {
    padding-top: 28px !important;
    padding-bottom: 28px !important;
  }
</style>
