<div>
  <section class="py-32 py-md-80 container">
    <p class="mb-8">
      <span class="text-weight--bold"> VRI Informa </span>
      pertenece a
    </p>
    <h2 class="text-font--serif text-weight--bold">
      Vicerrectoría de Investigación
    </h2>
    <div class="uc-text-divider divider-secondary my-20 px-32"></div>
    <p class="mb-24 mb-md-32">
      Unidad encargada de elaborar y ejecutar las políticas de doctorado,
      investigación e innovación, publicaciones académicas, creación artística,
      propiedad intelectual, y de coordinar toda la investigación
      multidisciplinaria que se desarrolla a través de centros.
    </p>
    <div class="d-flex mb-60">
      <a class="uc-btn btn-secondary" href="#">
        Vicerrectoría de Investigación
        <i class="uc-icon color-white ml-8"> launch </i>
      </a>
    </div>
    <div class="pb-32">
      <span class="uc-subtitle p-text--condensed"
        >Unidades de la Vicerectoría</span
      >
    </div>
    <div class="uc-table-list">
      <ul class="uc-table-list_content border-0 p-0">
        <li class="row">
          <div
            class="uc-btn align-items-center btn-listed flex flex-wrap"
            style="min-height: 88px; padding: 28px 16px; gap: 12px 0px"
          >
            <h3
              class="text-weight--medium col-md-4 p-0 d-flex align-items-center mb-0"
            >
              <i class="uc-icon icon-small mr-8">school</i>
              <span>Escuela de Graduados</span>
            </h3>
            <div
              class="text-weight--regular col-md-5 line-height-24 px-0 mb-12 mb-0"
              style="font-size: 1rem"
            >
              Dedicado a la vinculación con las empresas y el mercado
            </div>
            <div class="col-md-3 px-0 d-flex justify-content-md-end">
              <a class="uc-btn btn-inline" href="#" style="font-size: 1rem">
                Ir al sitio
                <i class="uc-icon">launch</i>
              </a>
            </div>
          </div>
        </li>

        <li class="row">
          <div
            class="uc-btn align-items-center btn-listed py-auto flex flex-wrap"
            style="min-height: 88px; padding: 28px 16px; gap: 12px 0px"
          >
            <h3
              class="text-weight--medium col-md-4 px-0 d-flex align-items-center mb-0"
            >
              <i class="uc-icon icon-small mr-8">notification_important</i>
              <span> VRI informa</span>
            </h3>
            <div
              class="text-weight--regular col-md-5 line-height-24 px-0 mb-0"
              style="font-size: 1rem"
            >
              Dedicado a la vinculación con las empresas y el mercado
            </div>
            <div
              class="col-md-3 d-flex justify-content-md-end px-0"
              style="font-size: 1rem"
            >
              <span class="uc-badge uc-badge--text uc-badge--inline mx-0">
                Estás aquí
              </span>
            </div>
          </div>
        </li>

        <li class="row">
          <div
            class="uc-btn align-items-center btn-listed py-auto flex flex-wrap"
            style="min-height: 88px; padding: 28px 16px; gap: 12px 0px"
          >
            <h3
              class="text-weight--medium col-md-4 mb-0 d-flex align-items-center px-0"
            >
              <i class="uc-icon icon-small mr-8">youtube_searched_for</i>
              <span>Dirección de Investigación</span>
            </h3>
            <div
              class="text-weight--regular col-md-5 line-height-24 px-0"
              style="font-size: 1rem"
            >
              Dedicada a promover y financiar la investigación básica
            </div>
            <div class="col-md-3 d-flex justify-content-md-end px-0">
              <a class="uc-btn btn-inline" href="#" style="font-size: 1rem">
                Ir al sitio
                <i class="uc-icon">launch</i>
              </a>
            </div>
          </div>
        </li>

        <li class="row height-88">
          <div
            class="uc-btn align-items-center btn-listed py-auto flex flex-wrap"
            style="min-height: 88px; padding: 28px 16px; gap: 12px 0px"
          >
            <h3
              class="text-weight--medium col-md-4 d-flex align-items-center px-0"
            >
              <i class="uc-icon icon-small mr-8">color_lens</i>
              <span>Artes y Cultura</span>
            </h3>
            <div
              class="text-weight--regular col-md-5 line-height-24 px-0"
              style="font-size: 1rem"
            >
              Dedicada a la investigación y creación artística
            </div>
            <div class="col-md-3 d-flex justify-content-md-end px-0">
              <a class="uc-btn btn-inline" href="#" style="font-size: 1rem">
                Ir al sitio
                <i class="uc-icon">launch</i>
              </a>
            </div>
          </div>
        </li>

        <li class="row">
          <div
            class="uc-btn align-items-center btn-listed py-auto flex flex-wrap"
            style="min-height: 88px; padding: 28px 16px; gap: 12px 0px"
          >
            <h3 class="text-weight--medium col-md-4 px-0 d-flex align-items-center">
              <i class="uc-icon icon-small mr-8">copyright</i>
              <span> Transferencia y Desarrollo</span>
            </h3>
            <div
              class="text-weight--regular col-md-5 line-height-24 px-0"
              style="font-size: 1rem"
            >
              Dedicada a la transferencia de la investigación hacia la sociedad
              a través de patentes
            </div>
            <div class="col-md-3 d-flex justify-content-md-end px-0">
              <a class="uc-btn btn-inline" href="#" style="font-size: 1rem">
                Ir al sitio
                <i class="uc-icon">launch</i>
              </a>
            </div>
          </div>
        </li>
        <li class="row">
          <div
            class="uc-btn align-items-center btn-listed py-auto flex flex-wrap"
            style="min-height: 88px; padding: 28px 16px; gap: 12px 0px"
          >
            <h3 class="text-weight--medium col-md-4 mb-0 px-0 d-flex align-items-center">
              <i class="uc-icon icon-small mr-8">domain</i>
              <span> Centro de Innovación</span>
            </h3>
            <div
              class="text-weight--regular col-md-5 line-height-24 px-0 mb-0"
              style="font-size: 1rem"
            >
              Dedicado a la vinculación con las empresas y el mercado
            </div>
            <div class="col-md-3 d-flex justify-content-md-end px-0">
              <a class="uc-btn btn-inline" href="#" style="font-size: 1rem">
                Ir al sitio
                <i class="uc-icon">launch</i>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="pb-32 pt-48">
      <span class="uc-subtitle p-text--condensed">
        Unidades de la Vicerectoría
      </span>
    </div>

    <div class="row">
      <div class="col-lg-4 mb-16">
        <div class="uc-card card-height--same">
          <div class="uc-card_body">
            <div><i class="uc-icon icon-size--lg mb-12">group_work</i></div>
            <h3 class="h4">Dirección Ejecutiva</h3>
            <div class="uc-text-divider divider-secondary my-12 px-40"></div>
            <p class="no-margin">
              Unidad transversal a cargo de la gestión administrativa, económica
              y financiera de la vicerrectoría, que presta apoyo al Vicerrector
              de Investigación y a las direcciones asociadas.
            </p>
            <div class="text-right mt-auto pt-32">
              <a href="#" class="uc-btn btn-primary" href="#">
                Conócelos
                <i class="uc-icon icon-shape--rounded">arrow_forward</i></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-16">
        <div class="uc-card card-height--same">
          <div class="uc-card_body">
            <div><i class="uc-icon icon-size--lg mb-12">comment</i></div>
            <h3 class="h4">Unidad de divulgación de la ciencia</h3>
            <div class="uc-text-divider divider-secondary my-12 px-40"></div>
            <p class="no-margin">
              Unidad transversal a cargo de la gestión administrativa, económica
              y financiera de la vicerrectoría, que presta apoyo al Vicerrector
              de Investigación y a las direcciones asociadas.
            </p>
            <div class="text-right mt-auto pt-32">
              <a href="#" class="uc-btn btn-primary" href="#">
                Conócelos
                <i class="uc-icon icon-shape--rounded">arrow_forward</i></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-16">
        <div class="uc-card card-height--same">
          <div class="uc-card_body">
            <div><i class="uc-icon icon-size--lg mb-12">verified_user</i></div>
            <h3 class="h4">Ética y Seguridad de la Investigación</h3>
            <div class="uc-text-divider divider-secondary my-12 px-40"></div>
            <p class="no-margin">
              Unidad transversal dedicada a articular el actuar ético de los
              investigadores y sus procesos de investigación
            </p>
            <div class="text-right mt-auto pt-32">
              <a href="#" class="uc-btn btn-primary" href="#">
                Conócelos
                <i class="uc-icon icon-shape--rounded">arrow_forward</i></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<style>
  .border-0 {
    border: none !important;
  }

  .py-auto {
    padding-top: auto !important;
    padding-bottom: auto !important;
  }

  .px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .line-height-24 {
    line-height: 24px;
  }
</style>
