<div style="background-color: var(--blue)">
  <section class="py-80 container">
    <div class="color-white">
      <p class="" style="margin-bottom: -4px">
        <span class="text-weight--bold"> Escuela de Gobierno </span>
        pertenece simultáneamente a
      </p>
      <h2 class="text-font--serif text-weight--bold">Múltiples Facultades</h2>
      <div class="uc-text-divider divider-secondary mb-32 mt-8 px-32"></div>
    </div>
    <div class="row">
      <div class="col-lg-4 color-white">
        <p class="pb-20">
          La Escuela de Gobierno UC es una unidad académica de carácter
          interdisciplinario, que nace el año 2016 y que pertenece
          simultáneamente a las Facultades de Ciencias Sociales; Economia y
          Administración; Derecho; Ingeniería; e Historia, Geografía y Ciencia
          Política.
        </p>
      </div>
      <div class="col-lg-8">
        <div class="uc-accordion" data-accordion>
          <div class="uc-collapse uc-card">
            <button
              class="uc-collapse_heading py-28"
              data-collapse="collapseExample01"
            >
              <span class="d-flex align-items-center">
                <i class="uc-icon mr-16" style="font-size: 22px">book</i>
                <h4 class="text-start">Facultad de Ciencias Sociales</h4>
              </span>

              <span class="uc-btn btn-inline ml-auto">
                <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i>
              </span>
            </button>
            <div class="uc-collapse_body" data-toggle="collapseExample01">
              <div class="px-60 py-32">
                <div class="col-12 p-0">
                  <p>
                    Forman parte de esta facultad la Escuela de Psicología, la
                    Escuela de Trabajo Social, el Instituto de Sociología y la
                    Escuela de Antropología. Incluye una variada oferta en
                    carreras de pregrado, postgrado, diplomados y cursos. La
                    Escuela de Gobierno también pertenece a esta facultad como
                    uno de los programas interdisciplinarios de la Universidad.
                  </p>
                  <div class="d-flex mb-32">
                    <a class="uc-btn btn-secondary" href="#">
                      Sitio de la facultad
                      <i class="uc-icon color-white ml-8">launch</i>
                    </a>
                  </div>
                  <h6
                    class="mb-12 text-color--primary"
                    style="line-height: 16px"
                  >
                    Escuelas e Institutos
                  </h6>
                  <a
                    href="#"
                    class="uc-btn btn-listed btn-listed btn-listed--border-top btn-listed--small"
                  >
                    Escuela de Gobierno
                    <span class="uc-badge uc-badge--inline uc-badge--text"
                      >Estás aquí</span
                    >
                  </a>
                  <a
                    href="#"
                    class="uc-btn btn-listed btn-listed btn-listed--small"
                  >
                    Escuela de Psicología
                    <i class="uc-icon icon-size--sm"> launch </i>
                  </a>
                  <a href="#" class="uc-btn btn-listed btn-listed--small">
                    Escuela de Trabajo Social
                    <i class="uc-icon icon-size--sm"> launch </i>
                  </a>
                  <a href="#" class="uc-btn btn-listed btn-listed--small">
                    Instituto de Sociología
                    <i class="uc-icon icon-size--sm"> launch </i>
                  </a>
                  <a href="#" class="uc-btn btn-listed btn-listed--small">
                    Escuela de Antropología.
                    <i class="uc-icon icon-size--sm"> launch </i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="uc-collapse uc-card">
            <button
              class="uc-collapse_heading py-28"
              data-collapse="collapseExample02"
            >
              <span class="d-flex align-items-center">
                <i class="uc-icon mr-16" style="font-size: 22px">book</i>
                <h4 class="text-start">
                  Facultad de Economia y Administración
                </h4>
              </span>

              <span class="uc-btn btn-inline ml-auto">
                <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i>
              </span>
            </button>
            <div class="uc-collapse_body" data-toggle="collapseExample02">
              <div class="uc-card_body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Accusantium ad aspernatur at consectetur eius eos fuga hic,
                  maiores maxime modi mollitia obcaecati perspiciatis quam quas
                  quis repellendus tenetur vitae voluptas?
                </p>
              </div>
            </div>
          </div>
          <div class="uc-collapse uc-card">
            <button
              class="uc-collapse_heading py-28"
              data-collapse="collapseExample03"
            >
              <span class="d-flex align-items-center">
                <i class="uc-icon mr-16" style="font-size: 22px">book</i>
                <h4 class="text-start">Facultad de Derecho</h4>
              </span>

              <span class="uc-btn btn-inline ml-auto">
                <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i>
              </span>
            </button>
            <div class="uc-collapse_body" data-toggle="collapseExample03">
              <div class="uc-card_body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Accusantium ad aspernatur at consectetur eius eos fuga hic,
                  maiores maxime modi mollitia obcaecati perspiciatis quam quas
                  quis repellendus tenetur vitae voluptas?
                </p>
              </div>
            </div>
          </div>
          <div class="uc-collapse uc-card">
            <button
              class="uc-collapse_heading py-28"
              data-collapse="collapseExample04"
            >
              <span class="d-flex align-items-center">
                <i class="uc-icon mr-16" style="font-size: 22px"> book</i>
                <h4 class="text-start">Facultad de Ingeniería</h4>
              </span>

              <span class="uc-btn btn-inline ml-auto">
                <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i>
              </span>
            </button>
            <div class="uc-collapse_body" data-toggle="collapseExample04">
              <div class="uc-card_body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Accusantium ad aspernatur at consectetur eius eos fuga hic,
                  maiores maxime modi mollitia obcaecati perspiciatis quam quas
                  quis repellendus tenetur vitae voluptas?
                </p>
              </div>
            </div>
          </div>

          <div class="uc-collapse uc-card">
            <button
              class="uc-collapse_heading py-28"
              data-collapse="collapseExample05"
            >
              <span class="d-flex align-items-center">
                <i class="uc-icon mr-16" style="font-size: 22px">book</i>
                <h4 class="text-start">
                  Facultad de Historia, Geografía y Ciencia Política.
                </h4>
              </span>

              <span class="uc-btn btn-inline ml-auto">
                <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i>
              </span>
            </button>
            <div class="uc-collapse_body" data-toggle="collapseExample05">
              <div class="uc-card_body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Accusantium ad aspernatur at consectetur eius eos fuga hic,
                  maiores maxime modi mollitia obcaecati perspiciatis quam quas
                  quis repellendus tenetur vitae voluptas?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<style>
  .py-28 {
    padding-top: 28px !important;
    padding-bottom: 28px !important;
  }
</style>
