<header class="uc-header mb-24">
  <nav class="uc-navbar">
    <!-- Menú para versión Escritorio -->
    <div class="container d-none d-lg-block">
      <div class="row align-items-center">
        <div class="col-lg-3 col-xl-2">
          <img
            src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/logo-uc-azul.svg"
            alt="Pontificia Universidad Católica de Chile"
            class="img-fluid"
          />
        </div>
        <div class="col-lg-8 col-xl-9">
          <div class="h2 text-font--serif text-color--blue mt-24">Nombre</div>
          <div class="d-flex">
            <div class="text-color--gray p-size--lg mb-0">
            para desplegar el componente de ecosistema de sitio
            <button
            type="button"
            class=" uc-btn btn-inline text-color--primary p-0 btn-underline"
            style="position: inherit;"
            data-mtarget="modalEcosistemaMultipleExample"
          >
          Hacer clic aquí
          <span>
         <i class="uc-icon uc-icon--inline m-0">more_vert</i>
        </span>
          </button>
          </div>
      
          </div>
        </div>
      </div>
      <ul class="uc-navbar_nav">
        <li class="nav-item uc-navbar-dropdown">
          <a href="#" class="uc-btn btn-inline"
            >Ítem del menú <i class="uc-icon">arrow_drop_down</i></a
          >
          <ul class="uc-navbar-dropdown_menu">
            <li class="dropdown_item--heading">
              <a href="" class="uc-btn">Item 1</a>
            </li>
            <li class="dropdown_item--heading">
              Radiología
              <ul class="uc-navbar-dropdown_child">
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Radiología</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Anatomía Patólogica</a>
                </li>
              </ul>
            </li>
            <li class="dropdown_item--heading">
              <a href="#" class="uc-btn">Anatomía Patólogica</a>
              <ul class="uc-navbar-dropdown_child">
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Radiología</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Anatomía Patólogica</a>
                </li>
              </ul>
            </li>
            <li class="dropdown_item--heading">
              <a href="#" class="uc-btn">Laboratorios Clínicos</a>
            </li>
            <li class="dropdown_item--heading">
              <a href="#" class="uc-btn">Medicina</a>
            </li>
            <li class="dropdown_item--heading">
              <a href="#" class="uc-btn">Dermatología</a>
            </li>
            <li class="dropdown_item--heading">
              <a href="#" class="uc-btn">Enfermedades Respiratorias</a>
            </li>
            <li class="dropdown_item--heading">
              <a href="#" class="uc-btn">Gastroenterología</a>
            </li>
            <li class="dropdown_item--heading">
              <a href="#" class="uc-btn">Especialidades Médicas</a>
            </li>
          </ul>
        </li>
        <li class="nav-item uc-navbar-dropdown">
          <a href="#" class="uc-btn btn-inline"
            >Ítem 1 <i class="uc-icon">arrow_drop_down</i></a
          >
          <ul class="uc-navbar-dropdown_menu">
            <li class="dropdown_item--heading">
              <a href="#" class="uc-btn">Anatomía Patólogica</a>
              <ul class="uc-navbar-dropdown_child">
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Radiología</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Anatomía Patólogica</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Anatomía Patólogica</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Anatomía Patólogica</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="http://google.com" class="uc-btn btn-inline">Item 3</a>
        </li>
        <li class="nav-item">
          <a href="#" class="uc-btn btn-inline">Item 4</a>
        </li>
        <li class="nav-item uc-navbar-dropdown">
          <a href="#" class="uc-btn btn-inline"
            >Ítem del menú <i class="uc-icon">arrow_drop_down</i></a
          >
          <ul class="uc-navbar-dropdown_menu">
            <li class="dropdown_item--heading">
              <a href="#" class="uc-btn">Anatomía Patólogica</a>
              <ul class="uc-navbar-dropdown_child">
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn"
                    >Imágenes, Laboratorios y Patologías</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Radiología</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Anatomía Patólogica</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Laboratorios Clínicos</a>
                </li>
              </ul>
            </li>
            <li class="dropdown_item--heading">
              <a href="#" class="uc-btn">Medicina</a>
              <ul class="uc-navbar-dropdown_child">
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Dermatología</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Endrocrinología</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn"
                    >Enfermedades Infecciosas del Adulto</a
                  >
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Enfermedades Respiratorias</a>
                </li>
              </ul>
            </li>
            <li class="dropdown_item--heading">
              <a href="#" class="uc-btn">Especialidades Derivadas</a>
              <ul class="uc-navbar-dropdown_child">
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Cómo Postular</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Residentes</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Reglamento e instructivos</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Programas de Magíster</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Magíster en Bioética</a>
                </li>
                <li class="uc-navbar-dropdown_item">
                  <a href="#" class="uc-btn">Magíster en Educación</a>
                </li>
              </ul>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Médica y Ciencias de la Salud</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Imágenes, Laboratorios y Patologías</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Radiología</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Anatomía Patólogica</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Laboratorios Clínicos</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Medicina</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Dermatología</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Endrocrinología</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Enfermedades Infecciosas del Adulto</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Enfermedades Respiratorias</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Gastroenterología</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Especialidades Médicas</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Especialidades Primarias</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Especialidades Derivadas</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Cómo Postular</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Residentes</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Reglamento e instructivos</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Programas de Magíster</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Magíster en Bioética</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Magíster en Educación</a>
            </li>
            <li class="uc-navbar-dropdown_item">
              <a href="#" class="uc-btn">Médica y Ciencias de la Salud</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Menú para versión Móvil -->
    <div class="uc-navbar_mobile d-block d-lg-none">
      <div class="uc-navbar_mobile-bar navbar-brand">
        <div class="uc-navbar_mobile-logo navbar-light">
          <div class="h2 text-font--serif text-color--blue">Título</div>
        </div>
        <a
          href="javascript:void(0);"
          class="uc-navbar_mobile-button js-accordion-title"
          data-collapse="collapseMobileNav3"
        >
          <span class="uc-icon"></span>
          Menú
        </a>
      </div>
      <div
        class="uc-navbar_mobile-content js-accordion-content"
        data-toggle="collapseMobileNav3"
        data-open="false"
        style="height: 0"
      >
        <div class="uc-navbar_mobile-list">
          <a href="#" class="list-item">Item 1</a>
          <a href="#" class="list-item">Item 2</a>
          <a href="#" class="list-item">Item 3</a>
          <a href="#" class="list-item">Item 4</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<footer class="uc-footer">
  <div class="container pb-80">
    <div class="row align-items-center justify-content-between " >
      <!-- Logo -->
      <div class="col-4 col-lg-3 col-xl-2">
        <img
          src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/logo-uc-blanco.svg"
          alt="Pontificia Universidad Católica de Chile"
          class="img-fluid"
        />
      </div>
      <!-- nombre + bajada -->
      <div class="col-12 col-lg-6">
        <div class="h2 text-font--serif mt-24 d-none d-lg-block">Nombre</div>
        <div class="h2 text-font--serif mt-40 d-block d-lg-none">Nombre</div>
        <div class="d-flex">
          <div class="color-white p-size--lg mb-0">
          Para desplegar el componente de ecosistema
        <button
          type="button"
          class=" uc-btn btn-inline color-white p-0 btn-underline"
          style="position: inherit;"
          data-mtarget="modalEcosistemaMultipleExample"
        >
          Hacer clic aquí
          <span>
         <i class="uc-icon uc-icon--inline m-0">more_vert</i>
        </span>
        </button>
        </div>

    
        </div>
      </div>
      <!-- direccion + redes -->
      <div class="text-left text-lg-right px-16 col-12 col-lg-3 mt-12">
        <div>
          <div>Avda. Libertador Bernando O'Higgins 340, Santiago, Chile.</div>
          <div class="p-size--lg pt-1">(56) 2354 2000  /  2354 1882 </div>
        </div>
        <ul class="uc-footer_social">
          <!-- agregar enlaces a redes sociales correspondientes -->
          <li>
            <a href="#">
              <img
                src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-twitter.svg"
                alt="Twitter"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-facebook.svg"
                alt="Facebook"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-instagram.svg"
                alt="Instagram"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-linkedin.svg"
                alt="Linkedin"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-youtube.svg"
                alt="Youtube"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-flickr.svg"
                alt="Flickr"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div data-modal="modalEcosistemaMultipleExample" class="uc-modal">
  <div class="uc-modal_content mb-32">
    <div class="uc-ecosistema">
      <div class="uc-ecosistema__header pb-0">
        <span class="uc-subtitle col-10 p-0 ">
          Pertenece simultáneamente a las Facultades de
        </span>
        </span>
        <div class="uc-ecosistema__absolute-close">      
          <button class="uc-btn btn-inline" data-mclosed>
            <i class="uc-icon m-0">close</i>
          </button> 
        </div>
      </div>
      <div class="uc-ecosistema__body">
        <div class="uc-tabs-v2">
          <div
            role="tablist"
            aria-labelledby="tablist-1"
            class="uc-tabs-v2__tablist mt-0 mb-0"
          >
            <button
              class="uc-tabs-v2__tab"
              id="tab-1"
              type="button"
              role="tab"
              aria-selected="true"
              aria-controls="tabpanel-1"
            >
              <span class="focus">Ciencias Sociales</span>
            </button>
            <button
              class="uc-tabs-v2__tab"
              id="tab-2"
              type="button"
              role="tab"
              aria-selected="false"
              aria-controls="tabpanel-2"
              tabindex="-1"
            >
              <span class="focus">Economia y Administración</span>
            </button>
            <button
              class="uc-tabs-v2__tab"
              id="tab-3"
              type="button"
              role="tab"
              aria-selected="false"
              aria-controls="tabpanel-3"
              tabindex="-1"
            >
              <span class="focus">Derecho</span>
            </button>
            <button
              class="uc-tabs-v2__tab"
              id="tab-4"
              type="button"
              role="tab"
              aria-selected="false"
              aria-controls="tabpanel-4"
              tabindex="-1"
            >
              <span class="focus">Ingeniería</span>
            </button>
            <button
             class="uc-tabs-v2__tab"
              id="tab-5"
              type="button"
              role="tab"
              aria-selected="false"
              aria-controls="tabpanel-5"
              tabindex="-1"
            >
              <span class="focus">Historia, Geografía y Ciencia Política</span>
            </button>
          </div>
          <div
            id="tabpanel-1"
            role="tabpanel"
            aria-labelledby="tab-1"
            class="uc-tabs-v2__tabpanel p-0"

        
          >
            <div class="uc-ecosistema__content">
              <div class="col-12 col-md-6 p-0">
                <div class="mb-24">
                  <h3>Facultad de Ciencias Sociales</h3>
                  <div class="uc-text-divider divider-secondary mt-8"></div>
                </div>
                <p class="pb-16 col-12 col-md-11 p-0">
                  1 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Animi aspernatur beatae consequatur cum dolorum eveniet in
                  inventore, iusto magnam necessitatibus officia officiis
                  provident, sint velit, vitae. In iste laboriosam vero.
                </p>
                <div class="d-flex mt-16">
                  <a href="#" class="uc-btn btn-secondary col-12 col-md-6 ">
                    Sitio de la Facultad
                    <i class="uc-icon ml-4">launch</i>
                  </a>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0">
                <h6 class="mb-12" style="line-height: 16px;">Escuelas</h6>
                <a
                  href="#"
                  class="uc-btn btn-listed btn-listed btn-listed--border-top btn-listed--small"
                >
                  Escuela de Gobierno
                  <span class="uc-badge uc-badge--inline uc-badge--text"
                    >Estás aquí</span
                  >
                </a>
                <a
                  href="#"
                  class="uc-btn btn-listed btn-listed btn-listed--small"
                >
                  Escuela de Psicología
                  <i class="uc-icon icon-size--sm"> launch </i>
                </a>
                <a href="#" class="uc-btn btn-listed btn-listed--small">
                  Escuela de Trabajo Social
                  <i class="uc-icon icon-size--sm"> launch </i>
                </a>
                <a href="#" class="uc-btn btn-listed btn-listed--small">
                  Instituto de Sociología
                  <i class="uc-icon icon-size--sm"> launch </i>
                </a>
                <a href="#" class="uc-btn btn-listed btn-listed--small">
                  Escuela de Antropología.
                  <i class="uc-icon icon-size--sm"> launch </i>
                </a>
              </div>
            </div>
          </div>
          <div
            id="tabpanel-2"
            role="tabpanel"
            aria-labelledby="tab-2"
            class="uc-tabs-v2__tabpanel is-hidden p-0"
          >
          <div class="uc-ecosistema__content">
            <div class="col-12 col-md-6 p-0">
                <div class="mb-24">
                  <h3>Facultad de Economia y Administración</h3>
                  <div class="uc-text-divider divider-secondary mt-8"></div>
                </div>

                <p class="pb-16 col-12 col-md-11 p-0">
                  1 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Animi aspernatur beatae consequatur cum dolorum eveniet in
                  inventore, iusto magnam necessitatibus officia officiis
                  provident, sint velit, vitae. In iste laboriosam vero. in
                  inventore, iusto magnam necessitatibus officia officiis
                  provident, sint velit, vitae. In iste laboriosam vero.
                </p>
                <div class="d-flex mt-16">
                  <a href="#" class="uc-btn btn-secondary">
                    Sitio de la Facultad
                    <i class="uc-icon ml-4">launch</i>
                  </a>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0">
                <h6 class="mb-12" style="line-height: 16px;">Escuelas</h6>
                <a
                  href="#"
                  class="uc-btn btn-listed btn-listed btn-listed--border-top btn-listed--small"
                >
                  Escuela de Gobierno
                  <span class="uc-badge uc-badge--inline uc-badge--text"
                    >Estás aquí</span
                  >
                </a>
                <a
                  href="#"
                  class="uc-btn btn-listed btn-listed btn-listed--small"
                >
                  Escuela de Psicología
                  <i class="uc-icon icon-size--sm"> launch </i>
                </a>
                <a href="#" class="uc-btn btn-listed btn-listed--small">
                  Escuela de Trabajo Social
                  <i class="uc-icon icon-size--sm"> launch </i>
                </a>
                <a href="#" class="uc-btn btn-listed btn-listed--small">
                  Instituto de Sociología
                  <i class="uc-icon icon-size--sm"> launch </i>
                </a>
                <a href="#" class="uc-btn btn-listed btn-listed--small">
                  Escuela de Antropología.
                  <i class="uc-icon icon-size--sm"> launch </i>
                </a>
              </div>
            </div>
          </div>
          <div
            id="tabpanel-3"
            role="tabpanel"
            aria-labelledby="tab-3"
            class="uc-tabs-v2__tabpanel is-hidden p-0"
          >
          <div class="uc-ecosistema__content">
            <div class="col-12 col-md-6 p-0">
                <div class="mb-24">
                  <h3>Facultad de Derecho</h3>
                  <div class="uc-text-divider divider-secondary mt-8"></div>
                </div>

                <p class="pb-16 col-12 col-md-11 p-0">
                  1 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Animi aspernatur beatae consequatur cum dolorum eveniet in
                  inventore
                </p>
                <div class="d-flex mt-16">
                  <a href="#" class="uc-btn btn-secondary">
                    Sitio de la Facultad
                    <i class="uc-icon ml-4">launch</i>
                  </a>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0">
                <h6 class="mb-12" style="line-height: 16px;">Escuelas</h6>
                <a
                  href="#"
                  class="uc-btn btn-listed btn-listed btn-listed--border-top btn-listed--small"
                >
                  Escuela de Gobierno
                  <span class="uc-badge uc-badge--inline uc-badge--text"
                    >Estás aquí</span
                  >
                </a>
                <a
                  href="#"
                  class="uc-btn btn-listed btn-listed btn-listed--small"
                >
                  Escuela de Psicología
                  <i class="uc-icon icon-size--sm"> launch </i>
                </a>
              </div>
            </div>
          </div>
          <div
            id="tabpanel-4"
            role="tabpanel"
            aria-labelledby="tab-4"
            class="uc-tabs-v2__tabpanel is-hidden p-0"
          >
          <div class="uc-ecosistema__content">
            <div class="col-12 col-md-6 p-0">
                <div class="mb-24">
                  <h3>Facultad de Ingeniería</h3>
                  <div class="uc-text-divider divider-secondary mt-8"></div>
                </div>
                <p class="pb-16 col-12 col-md-11 p-0">
                  1 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Animi aspernatur beatae consequatur cum dolorum eveniet in
                  inventore, iusto magnam necessitatibus officia officiis
                  provident, sint velit, vitae. In iste laboriosam vero.
                </p>
                <div class="d-flex mt-16">
                  <a href="#" class="uc-btn btn-secondary">
                    Sitio de la Facultad
                    <i class="uc-icon ml-4">launch</i>
                  </a>
                </div>
              </div>
            
              <div class="col-12 col-md-6 p-0">
                <h6 class="mb-12" style="line-height: 16px;">Escuelas</h6>
                <a
                  href="#"
                  class="uc-btn btn-listed btn-listed btn-listed--border-top btn-listed--small"
                >
                  Escuela de Gobierno
                  <span class="uc-badge uc-badge--inline uc-badge--text"
                    >Estás aquí</span
                  >
                </a>
                <a
                  href="#"
                  class="uc-btn btn-listed btn-listed btn-listed--small"
                >
                  Escuela de Psicología
                  <i class="uc-icon icon-size--sm"> launch </i>
                </a>
                <a href="#" class="uc-btn btn-listed btn-listed--small">
                  Escuela de Trabajo Social
                  <i class="uc-icon icon-size--sm"> launch </i>
                </a>
                <a href="#" class="uc-btn btn-listed btn-listed--small">
                  Instituto de Sociología
                  <i class="uc-icon icon-size--sm"> launch </i>
                </a>
                <a href="#" class="uc-btn btn-listed btn-listed--small">
                  Escuela de Antropología.
                  <i class="uc-icon icon-size--sm"> launch </i>
                </a>
              </div>
            </div>
          </div>
          <div
            id="tabpanel-5"
            role="tabpanel"
            aria-labelledby="tab-5"
            class="uc-tabs-v2__tabpanel is-hidden p-0"
          >
          <div class="uc-ecosistema__content">
            <div class="col-12 col-md-6 p-0">
                <div class="mb-24">
                  <h3>Facultad de Historia, Geografía y Ciencia Política</h3>
                  <div class="uc-text-divider divider-secondary mt-8"></div>
                </div>

                <p class="pb-16 col-12 col-md-11 p-0">
                  1 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Animi aspernatur beatae consequatur cum dolorum eveniet in
                  inventore, iusto magnam necessitatibus officia officiis
                  provident, sint velit, vitae. In iste laboriosam vero.
                </p>
                <div class="d-flex mt-16">
                  <a href="#" class="uc-btn btn-secondary">
                    Sitio de la Facultad
                    <i class="uc-icon ml-4">launch</i>
                  </a>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0">
                <h6 class="mb-12" style="line-height: 16px;">Escuelas</h6>
                <a
                  href="#"
                  class="uc-btn btn-listed btn-listed btn-listed--border-top btn-listed--small"
                >
                  Escuela de Gobierno
                  <span class="uc-badge uc-badge--inline uc-badge--text"
                    >Estás aquí</span
                  >
                </a>
                <a
                  href="#"
                  class="uc-btn btn-listed btn-listed btn-listed--small"
                >
                  Escuela de Psicología
                  <i class="uc-icon icon-size--sm"> launch </i>
                </a>
                <a href="#" class="uc-btn btn-listed btn-listed--small">
                  Escuela de Trabajo Social
                  <i class="uc-icon icon-size--sm"> launch </i>
                </a>
                <a href="#" class="uc-btn btn-listed btn-listed--small">
                  Instituto de Sociología
                  <i class="uc-icon icon-size--sm"> launch </i>
                </a>
                <a href="#" class="uc-btn btn-listed btn-listed--small">
                  Escuela de Antropología.
                  <i class="uc-icon icon-size--sm"> launch </i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
