<div style="background-color: var(--lightgray-c)">
  <section class="py-32 py-md-80 container">
    <p class="mb-8">
      <span class="text-weight--bold"> VRI Informa </span>
      pertenece a
    </p>

    <h2 class="text-font--serif text-weight--bold">
      Vicerrectoría de Investigación
    </h2>
    <div class="uc-text-divider divider-secondary my-20 px-32"></div>
    <p class="mb-24 mb-md-32">
      Unidad encargada de elaborar y ejecutar las políticas de doctorado,
      investigación e innovación, publicaciones académicas, creación artística,
      propiedad intelectual, y de coordinar toda la investigación
      multidisciplinaria que se desarrolla a través de centros.
    </p>
    <div class="d-flex">
      <a class="uc-btn btn-secondary" href="#">
        Vicerrectoría de Investigación
        <i class="uc-icon color-white ml-8"> launch </i>
      </a>
    </div>
    <div>
      <div class="mt-40 mt-md-48 mb-20 mb-md-32 d-flex">
        <span class="uc-subtitle">
          Direcciones de la Vicerrectoría de Investigación
        </span>
      </div>
      <div class="col-12">
        <div class="row mb-12 mb-md-32 gap-12 gap-md-32">
          <a href="" class="uc-btn btn-featured col-md text-weight--bold">
            Escuela de Graduados <i class="uc-icon">launch</i>
          </a>
          <a href="" class="uc-btn btn-featured col-md text-weight--bold">
            Dirección de Investigación <i class="uc-icon">launch</i>
          </a>
          <a href="" class="uc-btn btn-featured col-md text-weight--bold">
            Artes y Cultura <i class="uc-icon">launch</i>
          </a>
        </div>
        <div class="row gap-12 gap-md-32">
          <a href="" class="uc-btn btn-featured col-md text-weight--bold">
            Transferencia y desarrollo <i class="uc-icon">launch</i>
          </a>
          <a href="" class="uc-btn btn-featured col-md text-weight--bold">
            Centro de innovación <i class="uc-icon">launch</i>
          </a>
          <div
            class="uc-btn btn-featured col-md text-weight--bold btn-disabled"
          >
            VRI informa
            <span class="uc-badge uc-badge--text uc-badge--inline mx-8">
              Estás aquí
            </span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="mt-32 mt-md-48 mb-20 mb-md-32 d-flex">
        <span class="uc-subtitle">
          Direcciones transversales de la Vicerrectoría de Investigación
        </span>
      </div>
      <div class="col-12">
        <div class="row gap-12 gap-md-32">
          <a href="" class="uc-btn btn-featured col-md text-weight--bold">
            Dirección Ejecutiva <i class="uc-icon">launch</i>
          </a>
          <a href="" class="uc-btn btn-featured col-md text-weight--bold">
            Unidad de divulgación de la ciencia <i class="uc-icon">launch</i>
          </a>
          <a href="" class="uc-btn btn-featured col-md text-weight--bold">
            Ética y Seguridad de la Investigación <i class="uc-icon">launch</i>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

<style>
  :root {
    --md: 768px;
  }
  .gap-md-32 {
    @media (min-width: var(--md)) {
      gap: 32px;
    }
  }
  .mb-md-32 {
    @media (min-width: var(--md)) {
      margin-bottom: 32px;
    }
  }
  .gap-12 {
    gap: 12px;
  }
  .mb-md-32 {
    @media (min-width: var(--md)) {
      margin-bottom: 32px;
    }
  }
  .mt-md-48 {
    @media (min-width: var(--md)) {
      margin-top: 48px;
    }
  }
  .py-md-80 {
    @media (min-width: var(--md)) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
</style>
