<div class="container">
  <div
    class="d-flex align-items-center uc-png-background"
    style="width: fit-content; padding-right: 16px"
  >
    <div class="m-16 avatar avatar--blank"></div>
    <div class="m-16 avatar avatar--blank avatar--md"></div>
    <div class="m-16 avatar avatar--blank avatar--s"></div>
    <div class="m-16 avatar avatar--blank avatar--xs"></div>
  </div>

  <div class="d-flex align-items-center">
    <div class="m-16 avatar avatar--grey avatar--blank"></div>
    <div class="m-16 avatar avatar--grey avatar--md avatar--blank"></div>
    <div class="m-16 avatar avatar--grey avatar--s avatar--blank"></div>
    <div class="m-16 avatar avatar--grey avatar--xs avatar--blank"></div>
  </div>

  <div class="d-flex align-items-center">
    <div class="m-16 avatar avatar--yellow avatar--blank"></div>
    <div class="m-16 avatar avatar--yellow avatar--md avatar--blank"></div>
    <div class="m-16 avatar avatar--yellow avatar--s avatar--blank"></div>
    <div class="m-16 avatar avatar--yellow avatar--xs avatar--blank"></div>
  </div>

  <div
    class="d-flex align-items-center uc-png-background"
    style="width: fit-content; padding-right: 16px"
  >
    <div class="m-16 avatar avatar--circle avatar--blank"></div>
    <div class="m-16 avatar avatar--circle avatar--md avatar--blank"></div>
    <div class="m-16 avatar avatar--circle avatar--s avatar--blank"></div>
    <div class="m-16 avatar avatar--circle avatar--xs avatar--blank"></div>
  </div>

  <div class="d-flex align-items-center">
    <div class="m-16 avatar avatar--circle avatar--grey avatar--blank"></div>
    <div
      class="m-16 avatar avatar--circle avatar--md avatar--grey avatar--blank"
    ></div>
    <div
      class="m-16 avatar avatar--circle avatar--s avatar--grey avatar--blank"
    ></div>
    <div
      class="m-16 avatar avatar--circle avatar--xs avatar--grey avatar--blank"
    ></div>
  </div>

  <div class="d-flex align-items-center">
    <div class="m-16 avatar avatar--circle avatar--yellow avatar--blank"></div>
    <div
      class="m-16 avatar avatar--circle avatar--md avatar--yellow avatar--blank"
    ></div>
    <div
      class="m-16 avatar avatar--circle avatar--s avatar--yellow avatar--blank"
    ></div>
    <div
      class="m-16 avatar avatar--circle avatar--xs avatar--yellow avatar--blank"
    ></div>
  </div>

  <div
    class="d-flex align-items-center uc-png-background"
    style="width: fit-content; padding-right: 16px"
  >
    <div class="m-16 avatar"><div class="avatar--initials">AA</div></div>
    <div class="m-16 avatar avatar--md">
      <div class="avatar--initials">AA</div>
    </div>
    <div class="m-16 avatar avatar--s">
      <div class="avatar--initials">AA</div>
    </div>
    <div class="m-16 avatar avatar--xs">
      <div class="avatar--initials">AA</div>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <div class="m-16 avatar avatar--grey">
      <div class="avatar--initials">AA</div>
    </div>
    <div class="m-16 avatar avatar--grey avatar--md">
      <div class="avatar--initials">AA</div>
    </div>
    <div class="m-16 avatar avatar--grey avatar--s">
      <div class="avatar--initials">AA</div>
    </div>
    <div class="m-16 avatar avatar--grey avatar--xs">
      <div class="avatar--initials">AA</div>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <div class="m-16 avatar avatar--yellow">
      <div class="avatar--initials">AA</div>
    </div>
    <div class="m-16 avatar avatar--yellow avatar--md">
      <div class="avatar--initials">AA</div>
    </div>
    <div class="m-16 avatar avatar--yellow avatar--s">
      <div class="avatar--initials">AA</div>
    </div>
    <div class="m-16 avatar avatar--yellow avatar--xs">
      <div class="avatar--initials">AA</div>
    </div>
  </div>

  <div
    class="d-flex align-items-center uc-png-background"
    style="width: fit-content; padding-right: 16px"
  >
    <div class="m-16 avatar avatar--circle">
      <div class="avatar--initials">AA</div>
    </div>
    <div class="m-16 avatar avatar--circle avatar--md">
      <div class="avatar--initials">AA</div>
    </div>
    <div class="m-16 avatar avatar--circle avatar--s">
      <div class="avatar--initials">AA</div>
    </div>
    <div class="m-16 avatar avatar--circle avatar--xs">
      <div class="avatar--initials">AA</div>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <div class="m-16 avatar avatar--circle avatar--grey">
      <div class="avatar--initials">AA</div>
    </div>
    <div class="m-16 avatar avatar--circle avatar--md avatar--grey">
      <div class="avatar--initials">AA</div>
    </div>
    <div class="m-16 avatar avatar--circle avatar--s avatar--grey">
      <div class="avatar--initials">AA</div>
    </div>
    <div class="m-16 avatar avatar--circle avatar--xs avatar--grey">
      <div class="avatar--initials">AA</div>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <div class="m-16 avatar avatar--circle avatar--yellow">
      <div class="avatar--initials">AA</div>
    </div>
    <div class="m-16 avatar avatar--circle avatar--md avatar--yellow">
      <div class="avatar--initials">AA</div>
    </div>
    <div class="m-16 avatar avatar--circle avatar--s avatar--yellow">
      <div class="avatar--initials">AA</div>
    </div>
    <div class="m-16 avatar avatar--circle avatar--xs avatar--yellow">
      <div class="avatar--initials">AA</div>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <div class="m-16 avatar avatar--circle avatar--bg">
      <img src="https://dummyimage.com/200x200/edeaed/0076de.png" />
    </div>
    <div class="m-16 avatar avatar--circle avatar--bg avatar--md">
      <img src="https://dummyimage.com/200x200/edeaed/0076de.png" />
    </div>
    <div class="m-16 avatar avatar--circle avatar--bg avatar--s">
      <img src="https://dummyimage.com/200x200/edeaed/0076de.png" />
    </div>
    <div class="m-16 avatar avatar--circle avatar--bg avatar--xs">
      <img src="https://dummyimage.com/200x200/edeaed/0076de.png" />
    </div>
  </div>

  <div class="d-flex align-items-center">
    <div class="m-16 avatar avatar--bg">
      <img src="https://dummyimage.com/200x200/edeaed/0076de.png" />
    </div>
    <div class="m-16 avatar avatar--bg avatar--md">
      <img src="https://dummyimage.com/200x200/edeaed/0076de.png" />
    </div>
    <div class="m-16 avatar avatar--bg avatar--s">
      <img src="https://dummyimage.com/200x200/edeaed/0076de.png" />
    </div>
    <div class="m-16 avatar avatar--bg avatar--xs">
      <img src="https://dummyimage.com/200x200/edeaed/0076de.png" />
    </div>
  </div>
</div>
