<div class="uc-gallery" style="max-width: 800px;">
  <a
    href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-2500.jpg"
    data-pswp-width="1669"
    data-pswp-height="2500"
    data-cropped="true"
    target="_blank"
  >
    <img
      src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-200.jpg"
      alt=""
      title=" Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis debitis amet iste provident c"
    />
  </a>

  <a
    href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/7/img-2500.jpg"
    data-pswp-width="1875"
    data-pswp-height="2500"
    data-cropped="true"
    target="_blank"
  >
    <img
      src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/7/img-200.jpg"
      alt=""
      title=" Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis debitis amet iste provident consequatur ea pariatur a architecto quod adipisci est ipsam neque quisquam, porro sed nam accusantium corporis? Asperiores"
    />
  </a>

  <a
    href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/3/img-2500.jpg"
    data-pswp-width="2500"
    data-pswp-height="1666"
    data-cropped="true"
    target="_blank"
  >
    <img
      src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/3/img-200.jpg"
      alt=""
      title=" Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis debitis amet iste provident consequatur ea pariatur a architecto quod adipisci est ipsam neque quisquam, porro sed nam accusantium corporis? Asperiores"
    />
  </a>
  <a
    href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-2500.jpg"
    data-pswp-width="1669"
    data-pswp-height="2500"
    data-cropped="true"
    target="_blank"
  >
    <img
      src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-200.jpg"
      alt=""
      title=" Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis debitis amet iste provident c"
    />
  </a>

  <a
    href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/7/img-2500.jpg"
    data-pswp-width="1875"
    data-pswp-height="2500"
    data-cropped="true"
    target="_blank"
  >
    <img
      src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/7/img-200.jpg"
      alt=""
      title=" Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis debitis amet iste provident consequatur ea pariatur a architecto quod adipisci est ipsam neque quisquam, porro sed nam accusantium corporis? Asperiores"
    />
  </a>

  <a
    href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-2500.jpg"
    data-pswp-width="1669"
    data-pswp-height="2500"
    data-cropped="true"
    target="_blank"
  >
    <img
      src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-200.jpg"
      alt=""
      title=" Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis debitis amet iste provident c"
    />
  </a>
  <a
    href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/7/img-2500.jpg"
    data-pswp-width="1875"
    data-pswp-height="2500"
    data-cropped="true"
    target="_blank"
  >
    <img
      src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/7/img-200.jpg"
      alt=""
      title=" Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis debitis amet iste provident consequatur ea pariatur a architecto quod adipisci est ipsam neque quisquam, porro sed nam accusantium corporis? Asperiores"
    />
  </a>

  <a
    href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/3/img-2500.jpg"
    data-pswp-width="2500"
    data-pswp-height="1666"
    data-cropped="true"
    target="_blank"
  >
    <img
      src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/3/img-200.jpg"
      alt=""
      title=" Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis debitis amet iste provident consequatur ea pariatur a architecto quod adipisci est ipsam neque quisquam, porro sed nam accusantium corporis? Asperiores"
    />
  </a>
</div>
