<div class="uc-dropdown">
  <button class="uc-btn btn-inline dropbtn" data-dtarget="id_de_prueba_unico">
    Ítem del menú <i class="uc-icon">arrow_drop_down</i>
  </button>
  <div data-dropdown="id_de_prueba_unico" class="uc-dropdown_list">
    <div class="white-triangle"></div>
    <div class="uc-dropdown_list-item">
      <a href="#" class="uc-btn">Construcción y vivienda</a>
    </div>
    <div class="uc-dropdown_list-item">
      <a href="#" class="uc-btn">Educación</a>
    </div>
    <div class="uc-dropdown_list-item">
      <a href="#" class="uc-btn">Fortalecimiento de organizaciones</a>
    </div>
    <div class="uc-dropdown_list-item">
      <a href="#" class="uc-btn">Pastoral</a>
    </div>
  </div>
</div>
