<section>
  <!-- Header global -->
  <header class="uc-header">
    <nav class="uc-navbar">
      <!-- Menú para versión Escritorio -->
      <div class="container d-none d-lg-block">
        <div class="row align-items-center">
          <div class="col-lg-3 col-xl-2">
            <img
              src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/logo-uc-azul.svg"
              alt="Pontificia Universidad Católica de Chile"
              class="img-fluid"
            />
          </div>
          <div class="col-lg-8 col-xl-9 pl-60">
            <div class="h2 text-font--serif text-color--blue mt-24">
              Facultad o unidad
            </div>
            <div class="text-color--gray p-size--lg">Bajada</div>
          </div>
        </div>
        <ul class="uc-navbar_nav" style="position: relative; z-index: 99">
          <li class="nav-item">
            <a href="/" class="uc-btn btn-inline">Inicio </a>
          </li>
          <li class="nav-item uc-navbar-dropdown">
            <a href="#" class="uc-btn btn-inline"
              >Quienes somos <i class="uc-icon">arrow_drop_down</i>
            </a>
            <ul class="uc-navbar-dropdown_menu">
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Misión e Historia</a>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Contacto</a>
              </li>
            </ul>
          </li>
          <li class="nav-item uc-navbar-dropdown">
            <a href="#programas-de-estudio/" class="uc-btn btn-inline active">
              Paginas
              <i class="uc-icon">arrow_drop_down</i>
            </a>
            <ul class="uc-navbar-dropdown_menu">
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn active">Página padre</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 1</a>
                  </li>

                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 2</a>
                  </li>

                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 3</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn active">Pagina 4</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 5</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 6</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Página padre 2</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 7</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 8</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 9</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 11</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 12</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 13</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 14</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 15</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 16</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 17</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 18</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 19</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 20</a>
                  </li>

                </ul>
              </li>
              <li class="dropdown_item--heading">
                <a href="#" class="uc-btn">Página padre 3</a>
                <ul class="uc-navbar-dropdown_child">
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 21</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 22</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 23</a>
                  </li>
                  <li class="uc-navbar-dropdown_item">
                    <a href="#" class="uc-btn">Pagina 24</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="uc-btn btn-inline">Calendario</a>
          </li>
          <li class="nav-item">
            <a href="#" class="uc-btn btn-inline">Contacto</a>
          </li>
        </ul>
      </div>
      <!-- Menú para versión Móvil -->
      <div class="uc-navbar_mobile navbar_mobile-slide d-block d-lg-none">
        <div class="uc-navbar_mobile-bar navbar-brand">
          <div class="uc-navbar_mobile-logo navbar-light">
            <div class="h2 text-font--serif text-color--blue">
              Kit Digital de la UC
            </div>
          </div>
          <a href="javascript:void(0);" class="uc-navbar_mobile-button">
            <span class="uc-icon"></span>
          </a>
        </div>
        <div class="uc-navbar_mobile-content">
          <ul class="uc-navbar_mobile-list">
            <li class="list-item has-list-children">
              <a class="list-open" href="#">
                Pregrado
                <i class="uc-icon icon-size--sm">arrow_forward_ios</i>
              </a>
              <ul class="list-item list-children">
                <li class="list-item">
                  <a href="#" class="list-close">
                    <div class="uc-icon icon-size--sm">arrow_back_ios</div>
                    Pregrado
                  </a>
                </li>
                <!-- loop de elementos -->
                <li class="list-item has-list-children">
                  <a href="#" class="list-open">
                    Item 1
                    <i class="uc-icon icon-size--sm">arrow_forward_ios</i>
                  </a>
                  <ul class="list-children">
                    <li class="list-item">
                      <a href="#" class="list-close text-color--gray">
                        <span class="uc-icon">arrow_back_ios</span>
                        Item child
                      </a>
                    </li>
                    <li class="list-item">
                      <a href="/">Item child</a>
                    </li>
                    <li class="list-item">
                      <a href="/">Item child</a>
                    </li>
                  </ul>
                </li>
                <li class="list-item">
                  <a href="/">
                    Item child
                    <i class="uc-icon">launch</i>
                  </a>
                </li>
                <li class="list-item">
                  <a href="/">Item child</a>
                </li>
                <li class="list-item">
                  <a href="/">Item child</a>
                </li>
              </ul>
            </li>
            <li class="list-item">
              <a href="#">Item 2</a>
            </li>
            <li class="list-item has-list-children">
              <a class="list-open" href="#">
                Desplegable 2
                <i class="uc-icon icon-size--sm">arrow_forward_ios</i>
              </a>
              <ul class="list-item list-children">
                <li class="list-item">
                  <a href="#" class="list-close">
                    <div class="uc-icon icon-size--sm">arrow_back_ios</div>
                    Desplegable 2
                  </a>
                </li>
                <!-- loop de elementos -->
                <li class="list-item">
                  <a href="#">Item 1</a>
                </li>
                <li class="list-item">
                  <a href="#">Item 2</a>
                </li>
                <li class="list-item">
                  <a href="#">Item 3</a>
                </li>
              </ul>
            </li>
            <li class="list-item">
              <a href="#">Item 4</a>
            </li>
            <li class="list-item">
              <a href="#">Item 5</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</section>
