<div class="uc-top-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a href="#" class="uc-link external">
          Ir al sitio UC
          <span class="uc-icon">launch</span>
        </a>
      </div>
      <div class="col-md-8 text-right">
        <a href="#" class="uc-link external">
          Biblioteca
          <span class="uc-icon">launch</span>
        </a>
        <a href="#" class="uc-link external">
          Correo
          <span class="uc-icon">launch</span>
        </a>
        <a href="#" class="uc-link external">
          Mi Portal UC
          <span class="uc-icon">launch</span>
        </a>
        <a href="#" class="uc-link external">
          Correo
          <span class="uc-icon">launch</span>
        </a>
      </div>
    </div>
  </div>
</div>
