<div class="uc-tooltip" style="display: inline-block">
  <div class="tooltip-body">
    <div class="white-triangle"></div>
    <h4>Título</h4>
    <div class="text-divider primary"></div>
    <strong>Bajada</strong>
  </div>
</div>
