<a href="#" class="uc-btn btn-listed btn-disabled">
  Text
  <i class="uc-icon icon-shape--rounded icon-size--sm">arrow_forward</i>
</a>
<a href="#" class="uc-btn btn-listed btn-disabled">
  Text
  <i class="uc-icon icon-shape--rounded icon-size--sm">arrow_forward</i>
</a>
<a href="#" class="uc-btn btn-listed btn-disabled">
  Text
  <i class="uc-icon icon-shape--rounded icon-size--sm">arrow_forward</i>
</a>
<a href="#" class="uc-btn btn-listed btn-disabled">
  Text
  <i class="uc-icon icon-shape--rounded icon-size--sm">arrow_forward</i>
</a>
