<div class="d-flex justify-content-around p-20" style="background: #173f8a">
  <div>
    <a class="uc-btn btn-ghost btn-disabled">
      <i class="uc-icon icon-color--white mr-8">launch</i>
      Texto
    </a>
  </div>
  <div>
    <a class="uc-btn btn-ghost btn-disabled">
      Texto
      <i
        class="uc-icon icon-shape--rounded icon-size--sm icon-background--white ml-8"
      >
        arrow_forward
      </i>
    </a>
  </div>
  <div>
    <a class="uc-btn btn-ghost btn-disabled">
      <i
        class="uc-icon icon-shape--rounded icon-size--sm icon-background--white mr-8"
      >
        arrow_forward
      </i>
      Texto
    </a>
  </div>
  <div>
    <a class="uc-btn btn-ghost btn-disabled"> Texto </a>
  </div>
</div>
