<footer class="uc-footer">
  <div class="container pb-80">
    <div class="row no-gutters" data-accordion>
      <div class="col-lg-3">
        <div class="mb-40">
          <a href="/">
            <img
              src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/logo-uc-blanco.svg"
              alt="Pontificia Universidad Católica de Chile"
              class=""
              style="width: 180px"
            />
          </a>
          <p class="my-24 mr-28">
            Avda. Libertador Bernando O’Higgins 340, Santiago - Chile
          </p>
          <a href="#">¿Cómo llegar?</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="uc-footer_list-title footer-collapse-title"
          data-collapse="footerNavExample01"
        >
          La universidad
        </div>
        <ul
          class="uc-footer_list footer-collapse"
          data-toggle="footerNavExample01"
        >
          <li><a href="#">Programas de estudio</a></li>
          <li><a href="#">Investigación</a></li>
          <li><a href="#">Investigación</a></li>
          <li><a href="#">Extensión</a></li>
          <li><a href="#">La Universidad</a></li>
          <li><a href="#">Código de Honor</a></li>
          <li><a href="#">Donaciones</a></li>
          <li><a href="#">Admisión</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <div
          class="uc-footer_list-title footer-collapse-title"
          data-collapse="footerNavExample02"
        >
          Servicios
        </div>
        <ul
          class="uc-footer_list footer-collapse"
          data-toggle="footerNavExample02"
        >
          <li><a href="#">Red Salud UC</a></li>
          <li><a href="#">Validación de Certificados</a></li>
          <li><a href="#">Pago de Matrículas</a></li>
          <li><a href="#">Pago de Créditos</a></li>
          <li><a href="#">Trabaja en la UC</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="uc-global-footer"></div>
</footer>


