<div class="uc-dev-footer">
  <div class="container">
    <ul class="uc-footer-dev_content">
      <li>
        Diseño y Desarrollo:
        <a href="#" target="_blank">(Proveedor)</a>
      </li>
      <li>
        Sitio administrado por:
        <a href="#" target="_blank">(unidad correspondiente)</a>
      </li>
      <li>
        Utilizando el
        <a href="https://kitdigital.uc.cl/">Kit Digital UC</a>
      </li>
    </ul>
  </div>
</div>
