<div class="uc-dev-footer">
  <div class="container">
    <ul class="uc-footer-dev_content">
      <li>
        Diseño y desarrollo
        <a href="http://asimov.cl" target="_blank">Asimov Consultores</a>
      </li>
      <li>
        Utilizando el
        <a href="https://kitdigital.uc.cl/">Kit Digital UC</a>
      </li>
    </ul>
  </div>
</div>
