<footer class="uc-footer">
  <div class="container pb-80">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-4 mb-32">
        <a href="/">
          <img
            src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/logo-uc-submarca.svg"
            alt="Logo UC"
            class="img-fluid"
          />
        </a>
      </div>
      <div class="col-lg-4 text-left text-lg-right">
        <div class="uc-subtitle color-white mb-16">Centro UC</div>
        <div class="mb-16">El Comendador 1916, Providencia.</div>
        <div class="mb-16">¿Cómo llegar?</div>
        <div class="mb-16"><i class="uc-icon">phone</i> (56)23545534</div>
        <ul class="uc-footer_social">
          <!-- agregar enlaces a redes sociales correspondientes -->
          <li>
            <a href="#">
              <img
                src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-twitter.svg"
                alt="Twitter"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-facebook.svg"
                alt="Facebook"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-instagram.svg"
                alt="Instagram"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-linkedin.svg"
                alt="Linkedin"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-youtube.svg"
                alt="Youtube"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-flickr.svg"
                alt="Flickr"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="uc-global-footer"></div>
</footer>
