<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/css/uc-kitdigital.css" />
  <title>Componentes Kit Digital</title>
</head>

<body>
  <div class="container my-40">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1>Componentes Kit Digital</h1>
        <code><%= version %></code>
        <hr class="uc-hr my-28" />
        <div class="p-size--lg mb-80">
          <p class="">
            Pagina de inicio de los componentes web del
            <a href="https://kitdigital.uc.cl/">kitdigital.uc.cl</a>. 
          </p>
          <p>
            Estos pagina es autogenerada a partir del la carpeta
            <code class="uc-class">docs/components-html/</code>
          </p>
        </div>
        <% documentTreeFolder.children.forEach(function(folder) { %>
          <div class="mb-32">
            <h5 class="mb-24">
              <%= folder.name; %>
            </h5>
            <ul class="nav uc-navbar-side">
              <% folder.children.forEach(function(file) { %>
                <li>
                  <a href="<%= `src/vanilla-components/docs/${folder.name}/${file.name}` %>" class="uc-navbar-side_label">
                    <%= file.name; %>
                      <i class="uc-icon icon-small">keyboard_arrow_right</i>
                  </a>
                </li>
                <% }) %>
            </ul>
          </div>
          <% }) %>
      </div>
    </div>
  </div>
</body>
<script deferer src="/js/uc-kitdigital.js"></script>

</html>