<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/uc-kitdigital.css" />
    <title>Component: <%= pathFile %></title>
  </head>
  <body>
    <% if (removeContainer) { %>
      <%- include(`../${pathFile}`) %>
    <% } else { %>
      <div class="container my-40">
        <%- include(`../${pathFile}`) %>
      </div>
    <% }  %>
  </body>
  <script deferer src="/js/uc-kitdigital.js"></script>
</html>
